In [1]:
# takes 3m or 6s per file
# download tables from https://www.bridgepowerratings.com/prhome.htm
# use acbl api to convert Name into player_id.
# create dicts helpful to converting Name->player_id and player_id->Name.
# deal with duplicate names and missing player_ids.

# previous steps:
# none

# next steps:
# merge bpr data in acbl_pair_summaries.ipynb and useful places.

# todo:
# implement teams (4+ players) similar to list used in pair_ids.
# should keys in acbl_player_name_to_id_dict use casefold() or not?

In [2]:
import pandas as pd
import pathlib
from collections import defaultdict
import mlBridgeLib

In [3]:
# override pandas display options
mlBridgeLib.pd_options_display()

In [4]:
rootPath = pathlib.Path('e:/bridge/data')
acblPath = rootPath.joinpath('acbl')
acblPath.mkdir(parents=True,exist_ok=True)
bprPath = rootPath.joinpath('bpr')
bprPath.mkdir(parents=True,exist_ok=True)

In [5]:
# takes 4s per file
# create dataframes from bridgepowerratings.com webpage tables.
# experimenting with flavor='bs4'. seems to be faster for this webpage.
pages = ['WEBPAGES/allmps.htm','WEBPAGES/allpr.htm','WEBPAGES/improv6.htm','WEBPAGES/improv12.htm','WEBPAGES/improv24.htm','WEBPAGES/underate.htm','WEBPAGES/urpairs.htm']
pages += [f'WEBPAGES/DISTRICT/d{d}rank.htm' for d in range(1,26)] + ['WEBPAGES/DISTRICT/d99rank.htm'] # include districts 1-25, 99
dfsd = {}
for p in pages:
    url = f'https://www.bridgepowerratings.com/{p}'
    print(f'Reading: {url}')
    # read_html() retuns a list of dataframes. The dataframes are populated from tables embedded in the html.
    dfs = pd.read_html(url, flavor='bs4', encoding='UTF8')
    print(f'Table count: {len(dfs)}')
    dfs = [v for v in dfs if len(set(v.iloc[0])) != len(v.iloc[0])] # kludgy way to detect and bypass any tables which are composed of shortcuts to names.
    row1_cols = dfs[0].iloc[0]
    ncols = len(row1_cols)
    nnames = len(set(row1_cols))
    col_names = row1_cols[:nnames]
    #print(row1_cols,ncols,nnames,col_names)
    df = pd.concat([pd.DataFrame(df.iloc[1:,ncol:ncol+nnames].values,columns=col_names) for df in dfs for ncol in range(0,ncols,nnames)],ignore_index=True).dropna()
    # use url to create a filename
    n = pathlib.Path(url).stem
    dfsd[n] = df
    display(df)

Reading: https://www.bridgepowerratings.com/WEBPAGES/allmps.htm
Table count: 53

0     Rank      MP's Unit                     Name
0        1  92862.58  128         Meckstroth, Jeff
1        2  87910.58  176            Passell, Mike
2        3  78168.46  128            Rodwell, Eric
3        4  76525.13  174              Wold, Eddie
4        5  71817.34  210               Lair, Mark
5        6  62350.16  538           Itabashi, Mark
6        7  51506.72  373           Hampson, Geoff
7        8  50419.44  176           Compton, Chris
8        9  47550.39  373            Levin, Robert
9       10  46419.44  373            Cheek, Curtis
10      11  45553.16  373            Jacobus, Marc
11      12  44616.04  147          Robinson, Steve
12      13  44544.18  147              LaSota, Leo
13      14  44328.07  179              Said, Chuck
14      15  44315.39  128         Berkowitz, David
15      16  43328.01  373          Ferguson, Bruce
16      17  43321.59  147             Sontag, Alan
17      18  39358.73  123               Smith, Ron
18      19  39250.62  161           Siebert, Allan
19      20  38882.81  176              Hamman, Bob
20      21  37940.10  373           Hamilton, Fred
21      22  37283.55  373            Miller, Billy
22      23  36506.64  508            Simpson, Gene
23      24  35925.64  128              Stout, Alan
24      25  35174.67  128        Cappelletti, Mike
...    ...       ...  ...                      ...
4975  4976   3958.93  108           Charron, Grace
4976  4977   3958.33  207         Mahajan, Swadesh
4977  4978   3958.17  192            McKellar, Jim
4978  4979   3958.10  351     Quenneville, Charles
4979  4980   3957.10  123            Erickson, Sue
4980  4981   3956.61  109     Hagenlocker, Richard
4981  4982   3956.16  355            Hanna, Janice
4982  4983   3955.42  176              Chan, Molan
4983  4984   3955.12  533           Grubb, Roberta
4984  4985   3954.72  244        Bumgardner, Bobby
4985  4986   3954.22  351                Yee, Lily
4986  4987   3953.24  360             Black, James
4987  4988   3951.54  123           Ralston, Gitta
4988  4989   3950.92  505            Fein, Sheldon
4989  4990   3950.41  513             Sacks, Harry
4990  4991   3949.38  451             Epley, Karen
4991  4992   3949.14  507           Talia, Panette
4992  4993   3949.11  168          Sheaffer, Andie
4993  4994   3949.05  146       Kennedy, J Darrell
4994  4995   3948.40  160            Horak, George
4995  4996   3947.79  354       Abinanti, Marigail
4996  4997   3947.44  109              Burrus, Ann
4997  4998   3945.79  128            Gordon, James
4998  4999   3945.35  141  Rubinstien, Yacob(Jacob
4999  5000   3944.89  103             Okubo, Randy

[5000 rows x 4 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/allpr.htm
Table count: 51

0     Rank     PR Games Unit                 Name
0        1  72.09   137  108    Grossack, Zachary
1        2  71.27    60  174          Wold, Eddie
2        3  71.14    86  373          Shi, Sylvia
3        4  71.02   201  538       Itabashi, Mark
4        5  71.01   164  128    Cappelletti, Mike
5        6  70.76    47  128     Meckstroth, Jeff
6        7  70.28   131  151    Pollack, Frederic
7        8  69.67    77  155         Nathan, Marc
8        9  69.59    69  128      Stamatov, Jerry
9       10  69.37   198  155       Rotaru, Iulian
10      11  69.37   117  525         Gao, Sherman
11      12  69.34   153  155         Nistor, Radu
12      13  69.13    50  128        Rodwell, Eric
13      14  69.13   119  155            Grue, Joe
14      15  68.99    36  210           Lair, Mark
15      17  68.76   170  239         Snyder, Jack
16      18  68.64    81  176       Compton, Chris
17      19  68.62    50  108       Grossack, Adam
18      20  68.47    49  172    Koneru, Venkatrao
19      21  68.45   150  155          Radin, Judi
20      22  68.43    28  119     Ayyagari, Murthy
21      23  68.40    34  155           Hurd, John
22      24  68.38    66  243    Pavlicek, Richard
23      25  68.18    36  144      Oshlag, Richard
24      26  67.98   163  373   Kovachev, Valentin
...    ...    ...   ...  ...                  ...
4828  4902  55.45    62  354  KIRKPATRICK, Thomas
4829  4903  55.45   144  448         Coones, Beth
4830  4904  55.45   106  470           Choi, Jean
4831  4905  55.45    24  128    Wentworth, Cassie
4832  4906  55.45    75  452         Sather, John
4833  4907  55.45    36  128       Saiman, Martin
4834  4908  55.45    34  539     Lawrence, Pamela
4835  4909  55.45    68  243       Abern, Wendell
4836  4910  55.45   118  240     Goodman, Stanley
4837  4911  55.44    46  374     Zimmerman, Susan
4838  4912  55.44    31  247        Tyler, Robbie
4839  4913  55.44   129  437       Ulrich, Joseph
4840  4914  55.44    74  140       Bauman, Edward
4841  4915  55.44   142  205    Woodfine, William
4842  4916  55.44    17  117       Schmidt, Ellen
4843  4917  55.44    47  219    Polangin, Richard
4844  4918  55.44    33  539  Beckerman, Madeline
4845  4919  55.44    47  147       Schepps, Hanna
4846  4920  55.44    89  123         Harris Jr, W
4847  4921  55.44    50  151        Adelson, Gail
4848  4922  55.43    33  562       Virgo, Carolyn
4849  4923  55.43    79  144    Lightman, Stephen
4850  4924  55.43    21  354         Kasle, Carol
4851  4925  55.43   135  562            Lee, Dawn
4852  4926  55.43    89  246    Greenberg, Hilton

[4853 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/improv6.htm
Table count: 52

0     Rank last/PR old/PR PR/inc Unit                  Name
0        1   55.48  49.81   5.67  114         Cone, Cynthia
1        2   50.50  44.90   5.60  243         Chance, Doris
2        3   61.08  55.65   5.43  128          Land, Jeanne
3        4   40.47  35.14   5.34  159          Warach, Jane
4        5   56.37  51.06   5.31  128     Baniewicz, Jeanne
5        6   49.62  44.70   4.92  246    McGrath, Kimberley
6        7   51.58  46.69   4.88  547           Acutt, Iris
7        8   60.78  55.93   4.86  189  Zamierowski, Barbara
8        9   47.83  42.99   4.84  114       Bedgood, Cheryl
9       10   50.31  45.54   4.78  128    Wallace, Constance
10      11   50.77  46.13   4.64  189   Fitzpatrick, Bonnie
11      12   49.84  45.24   4.60  439       Maxson, William
12      13   45.41  40.88   4.53  144         Stanton, Joan
13      14   53.21  48.69   4.52  140         Armus, Nadine
14      15   58.65  54.16   4.49  201     Fisher, Ernestine
15      16   53.29  48.90   4.39  102            Jhee, Yoon
16      17   49.50  45.13   4.37  128         Noles, Bonita
17      18   57.32  53.05   4.27  224       Sadler, Michael
18      19   44.05  39.78   4.27  112     Lipari, Ann Marie
19      20   52.39  48.17   4.22  240           Gurley, Eva
20      21   45.23  41.04   4.19  354         Fishman, Rose
21      22   43.94  39.80   4.14  128          Joyce, Karen
22      23   58.37  54.25   4.12  128        Schmetz, Diane
23      24   53.23  49.15   4.08  201           Rising, Lou
24      25   60.94  56.91   4.03  155         Dinoff, Frank
...    ...     ...    ...    ...  ...                   ...
4919  4976   49.92  49.26   0.66  562       Haines, Barbara
4920  4977   45.69  45.03   0.66  174       Annenkova, Vera
4921  4978   46.73  46.07   0.66  151       Poplaw, Beverly
4922  4979   44.97  44.32   0.66  124            Jung, Elva
4923  4980   60.44  59.78   0.66  507        Langlois, Bill
4924  4981   59.28  58.62   0.66  487   Coquillette, Connie
4925  4982   49.47  48.82   0.66  126           Kuzma, Ruth
4926  4983   64.00  63.35   0.66  130        Fidler, Marcia
4927  4984   56.34  55.68   0.66  161        Hodges, Evelyn
4928  4985   56.84  56.19   0.66  205       White, Mary Ann
4929  4986   53.57  52.91   0.66  139        Kelly, Carolyn
4930  4987   61.53  60.87   0.66  425          Rais, Edward
4931  4988   61.28  60.62   0.66  119      Ehrenhaft, Henry
4932  4989   52.04  51.38   0.66  557         Renkus, Linda
4933  4990   57.92  57.27   0.65  128       Musinsky, Irene
4934  4991   51.80  51.15   0.65  476      McClellan, Betty
4935  4992   50.41  49.75   0.65  103          Santa, Betty
4936  4993   47.32  46.67   0.65  130         Stone, Daniel
4937  4994   61.26  60.60   0.65  133          Bell, Walter
4938  4995   56.84  56.19   0.65  354       Pientka, D'Anne
4939  4996   58.08  57.42   0.65  506          Porter, Gary
4940  4997   52.20  51.54   0.65  119       Davison, Edward
4941  4998   55.98  55.33   0.65  128           Weiss, Fran
4942  4999   53.02  52.37   0.65  186        Goldman, Ilene
4943  5000   55.70  55.04   0.65  547        Brett, Marilyn

[4944 rows x 6 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/improv12.htm
Table count: 52

0     Rank last/PR old/PR PR/inc Unit                  Name
0        1   50.77  43.24   7.52  189   Fitzpatrick, Bonnie
1        2   47.76  40.89   6.87  373    Koziol, Malgorzata
2        3   56.37  49.53   6.84  128     Baniewicz, Jeanne
3        4   49.91  43.30   6.61  452     Krasovic, Valarie
4        5   53.21  46.70   6.51  140         Armus, Nadine
5        6   58.14  51.74   6.39  128          Lieser, John
6        7   58.65  52.27   6.38  201     Fisher, Ernestine
7        8   51.58  45.21   6.37  547           Acutt, Iris
8        9   61.69  55.53   6.16  470      Williams, Busaba
9       10   46.73  40.67   6.06  219           Cox, Ronald
10      11   57.32  51.28   6.05  224       Sadler, Michael
11      12   47.83  41.91   5.92  114       Bedgood, Cheryl
12      13   49.08  43.41   5.67  128          Cohn, Donald
13      14   40.47  35.02   5.45  159          Warach, Jane
14      15   56.65  51.21   5.44  141       Gilbert, Claire
15      16   55.92  50.59   5.33  103       Burkley, Pamela
16      17   55.27  50.17   5.10  155           Warren, Mee
17      18   63.18  58.12   5.06  179      Strayhorn, David
18      19   52.96  47.91   5.05  178     Holmquist, George
19      20   60.78  55.75   5.03  189  Zamierowski, Barbara
20      21   56.62  51.63   4.99  160    PRITCHARD, Carolyn
21      22   48.83  43.90   4.92  114         Macfie, Sissy
22      23   60.94  56.02   4.92  128             Hornak, J
23      24   63.08  58.18   4.90  243     Feinstein, Marvin
24      25   48.44  43.56   4.89  195       Swanson, Maxine
...    ...     ...    ...    ...  ...                   ...
4925  4976   48.68  47.83   0.85  128          Wilkey, Sari
4926  4977   60.08  59.22   0.85  128       Jabbour, Sharon
4927  4978   45.32  44.47   0.85  412        Deck, Christie
4928  4979   55.02  54.17   0.85  557         Baccus, Verna
4929  4980   51.06  50.21   0.85  128          Hazan, Donna
4930  4981   52.59  51.73   0.85  533      Rappaport, Frank
4931  4982   58.89  58.04   0.85  503            Huang, Tom
4932  4983   48.36  47.50   0.85  374         French, Janet
4933  4984   52.20  51.35   0.85  139         Hartman, Paul
4934  4985   58.12  57.26   0.85  155          Yellis, Lisa
4935  4986   42.63  41.77   0.85  240         Fox, Patricia
4936  4987   45.38  44.53   0.85  143          Eiger, Susan
4937  4988   53.62  52.77   0.85  165         Wright, Jerry
4938  4989   48.75  47.90   0.85  114           Cruse, Jane
4939  4990   49.80  48.94   0.85  525     Lehrfeld, Michael
4940  4991   49.15  48.30   0.85  128      Darnell, Richard
4941  4992   42.12  41.27   0.85  487         Kessler, Mary
4942  4993   52.52  51.67   0.85  174         Hink, Phyllis
4943  4994   48.54  47.69   0.85  243          Kalen, Trudy
4944  4995   52.33  51.47   0.85  242     Blumenfeld, Peggy
4945  4996   57.85  57.00   0.85  179        Lowen, Rebecca
4946  4997   47.76  46.91   0.85  130       Trudgen, Thelma
4947  4998   58.93  58.08   0.85  356          Lewis, Kevin
4948  4999   58.95  58.10   0.85  155       Steinberg, Nina
4949  5000   51.12  50.27   0.85  354          Davis, Merri

[4950 rows x 6 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/improv24.htm
Table count: 3

0   Rank last/PR old/PR PR/inc Unit                  Name
0      1   63.74  57.30   6.45  503         Kemper, Carol
1      2   68.27  61.88   6.39  119      Ayyagari, Murthy
2      3   55.95  49.73   6.21  196           Drabek, Yan
3      4   60.36  54.20   6.17  425      Schmahl, Michael
4      5   66.46  60.92   5.54  132         Kopper, David
5      6   60.73  55.23   5.50  531      Denny, Christine
6      7   58.49  53.04   5.45  373      Williams, Daniel
7      8   58.11  52.66   5.44  136          Harner, Lori
8      9   62.27  56.91   5.36  506           Chen, Chris
9     10   62.79  57.66   5.12  374         Harris, Cindy
10    11   63.47  58.47   5.00  207     McMinn III, Wiley
11    12   56.34  51.52   4.83  243         Franco, Jorge
12    13   60.06  55.32   4.75  207        Naimoli, Peter
13    14   62.50  57.86   4.65  114           Mabee, Carl
14    15   63.36  58.73   4.63  172       Jackson, Daniel
15    16   62.38  57.87   4.51  207         Langer, Jarek
16    17   64.19  59.75   4.44  128   McClendon, Robert L
17    18   58.07  53.86   4.21  361          Carson, Skip
18    19   60.16  55.97   4.19  503        Schireson, Max
19    20   57.40  53.29   4.11  114          Stalvey, Ray
20    21   58.93  54.83   4.10  126            Wu, Vivian
21    22   46.33  42.34   3.99  172            Tom, Nancy
22    23   60.60  56.70   3.89  500      Jeyakumar, Rajan
23    24   55.85  52.13   3.71  108     Srimurthy, Vikram
24    25   70.38  66.73   3.65  525          Gao, Sherman
..   ...     ...    ...    ...  ...                   ...
220  222   58.35  58.12   0.23  142    Frobouck, Reanette
221  223   54.53  54.31   0.22  360       Nicholos, Linda
222  224   63.20  62.99   0.21  143      Oppenheimer, Tom
223  225   63.73  63.52   0.21  502      Barrere, Crispin
224  226   53.33  53.13   0.20  396             Fink, Ray
225  227   57.89  57.70   0.19  179          Sloan, Chris
226  228   59.50  59.33   0.17  207            Black, Joe
227  229   53.13  52.96   0.17  165    Maliyekkel, Ittoop
228  231   56.77  56.61   0.16  356        Couchman, Doug
229  232   58.57  58.41   0.16  174        Starzec, Betty
230  233   58.75  58.60   0.16  361           Newlin, Flo
231  234   59.90  59.75   0.15  498        Chasalow, Fred
232  235   59.08  58.95   0.14  108   Rubenstein, Stewart
233  236   62.20  62.08   0.11  207          Tobias, Paul
234  237   59.66  59.55   0.11  153           Brown, Judy
235  238   57.25  57.15   0.10  128   Terajewicz, Ru Hong
236  239   58.41  58.31   0.09  360  Van Arsdale, Marilee
237  240   59.32  59.23   0.09  207       Watkins, George
238  241   61.46  61.39   0.08  441       Woodard, Ronald
239  242   61.23  61.16   0.07  525     Feigenbaum, Ellis
240  243   53.86  53.81   0.05  360        Shepard, Sally
241  244   69.39  69.34   0.04  155             Grue, Joe
242  245   59.37  59.34   0.03  354   Weiner, Renay Danto
243  246   60.72  60.70   0.01  174      Gates, Georgiana
244  247   64.13  64.12   0.01  108         McDevitt, Pat

[245 rows x 6 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/underate.htm
Table count: 52

0     Rank     UR PR/MP's   MP's     PR Unit                   Name
0        1  19.01    7231      1  59.22  128           Olster, Evan
1        2  18.80    6908      2  59.03  246            Rosin, Leah
2        3  17.70    8321     42  59.86  128           Lieser, John
3        4  17.57    9528     69  60.57  473      Grijalva, Rolando
4        5  17.39    5095      9  57.97  431             Kelly, Ken
5        6  15.94   51547    818  66.87  123    Lishkov, Aleksandar
6        7  15.56    9573    158  60.60  139         Popkin, Arnold
7        8  14.01    5827    128  58.40  222             Renz, Greg
8        9  13.95    9284    244  60.43  559        Zappaterreno, R
9       10  13.90    5228    116  58.05  188        Zoulis, Michael
10      11  13.82    2978     31  55.47  999         Deva, Yogendra
11      12  13.71    3948     66  56.65  431       Couture, Michael
12      13  13.63   22405    490  62.55  207         Litwin, Stuart
13      14  13.62   20452    462  62.29  128              Hornak, J
14      15  13.45    2074      4  53.77  128     Liebowitz, Jeffrey
15      16  13.42   52367   1971  67.00  130             Cory, Matt
16      17  13.39    8453    249  59.94  128      Baniewicz, Jeanne
17      18  13.38   39219   1081  65.00  507                Ge, Xin
18      19  13.38    2023      3  53.68  139             Waid, John
19      20  13.02    2653     36  54.86  175        Ammann, Matthew
20      21  13.01   10923    387  60.98  360           Cannon, Fred
21      22  12.93    3844     92  56.52  208           Quigg, David
22      23  12.90    4509    129  57.32  503       Steele, Patricia
23      24  12.87    5200    164  58.03  135        Kohlman, Walter
24      25  12.75   46435   1844  66.10  128          Yousry, Ahmed
...    ...    ...     ...    ...    ...  ...                    ...
4928  4974   2.39    4891   2939  57.78  174            Cuneo, Paul
4929  4975   2.39   11219   6210  61.02  571           Harris, Judy
4930  4976   2.39     421    198  48.29  506        Robbins, Sallie
4931  4977   2.39     352    168  47.65  188          Meyers, Barry
4932  4978   2.39    4871   2927  57.76  128            Zohar, Edna
4933  4979   2.39     586    305  49.61  155         Abelow, Sallie
4934  4980   2.39   32085  14930  63.92  147          Kales, Eugene
4935  4981   2.39    1353    631  52.32  188     Cleveland, Barbara
4936  4982   2.39    2484   1289  54.54  208      Rabjohns, Camilla
4937  4983   2.39     475    237  48.78  531     McInerny, Nicholas
4938  4984   2.39    1811    803  53.28  243        Michelsen, Geri
4939  4985   2.38     993    499  51.39  141   Van Adelsberg, Bunny
4940  4986   2.38    1780    781  53.22  124          Zurborg, Mary
4941  4987   2.38    3149   1823  55.69  143      Siegfried, Helene
4942  4988   2.38    1330    623  52.26  123       Rosenberg, Harry
4943  4989   2.38    2899   1626  55.32  356         McKethen, John
4944  4991   2.38    2960   1688  55.43  354           Kasle, Carol
4945  4992   2.38    6533   3769  58.81  114          Ogden, Evelyn
4946  4993   2.38    2861   1590  55.25  128  Linett-Huether, Betty
4947  4994   2.38    1417    656  52.48  442           Fritz, Lucie
4948  4995   2.38     316    153  47.32  473            Walz, Diane
4949  4996   2.38    1388    646  52.41  108         Banerjee, Gora
4950  4997   2.38    3488   2044  56.09  243          Aiken, Arnita
4951  4998   2.38     595    314  49.68  222          Slesar, Paula
4952  5000   2.38    2889   1620  55.30  139          Layman, Alice

[4953 rows x 7 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/urpairs.htm
Table count: 78

0     Rank     UR PR/MP's   MP's  PairR     Unit                                       Name
0        1  18.80   37191    146  61.68  999/999        Robinson, Claire - Bakhshi, Heather
1        2  16.20   37598    404  62.06  999/999              Sherman, David - Capal, Tracy
2        3  15.69    8152     41  56.80  533/533                    Hu, Xiaodan - Wang, Jun
3        4  15.52    7353     28  56.32  446/446              Walsh, John - Rasmussen, Pete
4        5  15.46   77953   1854  64.47  155/155        Questembert, Patrick - Tadmor, Ilan
5        6  14.83   12999    218  58.77  999/999          Shapochnik, Gersh - Yadadov, Rami
6        7  14.35    7608     84  56.48  150/150       Woodard, Wendell - Cummings, William
7        8  13.79   80306   1956  65.14  123/123      Poska, Gediminas - Vitukynaite, Daiva
8        9  13.42   53307    624  59.75  999/506               Guven, Metin - Bichara, Rita
9       10  13.41    4235     12  53.85  151/151       Lavoie, Pierre-Andre - Dame, Jacques
10      11  13.15   83234   3281  65.44  999/446             King, Phillip - Castner, Kevin
11      12  12.90   66896   1857  64.12  503/507                 Hu, Michael - Zhou, Arthur
12      13  12.45   43802   1336  61.22  999/999                Bird, Nigel - Senior, Brian
13      14  12.43    6416    163  55.76  191/191              Snedecor, Dan - Francis, Mark
14      15  12.02    3865     56  53.51  128/128        Polisetty, Rayudu - Polisetty, Usha
15      16  11.97   32420   1433  58.45  246/246             Jarman, John - Epworth, Howard
16      17  11.80    7249    262  56.26  141/141                    Guo, Lee - Zhang, Jason
17      18  11.73   70333   2973  64.38  141/190     Foerster, Thomas - Marlow, Christopher
18      19  11.60    5831    197  55.35  354/354                  Gyde, Rita - Gyde, Steven
19      20  11.54    8036    335  56.73  151/151            Babin, Simon - Anhoury, Youssef
20      21  11.54    5166    157  54.46  137/137              Wiedmayer, Eric - Wang, Jason
21      22  11.36   58265   1432  58.35  115/115              Harding, Charles - Rizzi, Tom
22      23  11.23   50232   2371  60.94  573/573               Nattrass, Wayne - Yao, Warke
23      24  11.22   12832    664  58.58  999/999             Vidigal, Caru - Menezes, Lucia
24      25  11.09    4115    116  53.74  356/356             Gensler, Hal - Ettenger, Allen
...    ...    ...     ...    ...    ...      ...                                        ...
4905  4976   2.84    1485    741  50.67  132/132               Button, Steve - Kimmel, John
4906  4977   2.84    1821    767  50.63  562/562            Riklin, Matthew - Levitt, Harry
4907  4978   2.84    9845   4584  57.02  108/108             Cohen, Martin - Paxhia, Steven
4908  4979   2.84    6687   1772  53.86  128/108            Gellman, Marc - Eby, Jacqueline
4909  4980   2.84    2233   1003  51.71  128/128            Storper, Fran - Himmel, Marilyn
4910  4981   2.84   70861  24730  63.73  179/179          McGinnis, Coley - Birnbaum, David
4911  4982   2.84    2939   1452  52.45  219/219               Lalas, Cynthia - Askew, Jean
4912  4983   2.84    1731    827  51.06  128/128         Jackson Jr, Carl - Poliquin, James
4913  4984   2.84    4290   1745  53.76  155/155            Ochlan, Nick - Fazzolari, James
4914  4985   2.84   33598   8510  59.86  242/242                 Gueli, Carl - Cirker, Bart
4915  4986   2.84     606    185  46.39  128/128             Birdt, Lynne - Coneys, Barbara
4916  4987   2.84   54629  22431  63.24  147/147         Marshall, Linda - Schatzow, Steven
4917  4988   2.84    1327    630  50.15  253/253       Battaglia, Russell - Hicks, Marjorie
4918  4989   2.84    4291   1738  53.91  195/195            Terrana, Clara - Terrana, Terry
4919  4990   2.84   75323  36391  64.30  155/155              Hurd, John - Miniter, Gillian
4920  4991   2.84    6579   2944  55.35  539/539            Hastie, Chris - Rossman, Ross L
4921  4992   2.84    1298    613  50.05  192/192  Maisonneuve Car, Ginett - Carrier, Gerald
4922  4993   2.84     612    246  47.13  240/240          Brenneman, Carol - Radigan, Diane
4923  4994   2.84    6435   3150  55.44  487/487           Vorenkamp, Steven - Gantz, David
4924  4995   2.84    1853    811  50.98  128/128           Karpf, David - Schwartz, Michael
4925  4996   2.84     862    365  48.38  141/140          Griffin, Naomi - Feldman, Carolyn
4926  4997   2.84   34015   5766  57.46  503/503                Karr, Ron - Rubenfeld, Rita
4927  4998   2.84    6382   3079  55.34  155/155               Yoon, David - Schargel, Gail
4928  4999   2.84    3984   1179  50.02  195/195               Baille, Helen - Braciak, Ted
4929  5000   2.84   10070   5774  57.89  374/108                Bose, Ranjit - Negro, James

[4930 rows x 7 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d1rank.htm
Table count: 4

0   Rank     PR Games Unit                Name
0      1  70.28   131  151   Pollack, Frederic
1      2  66.74    96  151    Menachi, Ghassan
2      3  65.29    58  151    Carriere, Ronald
3      4  64.66   113  151    Chartrand, Andre
4      5  64.29    30  151       Dobrin, Ronny
5      6  63.43    36  194  Parmenter, Michael
6      7  62.62    52  151     Feinstein, Ruth
7      8  62.47    17  151   Bedoucha, Norbert
8      9  62.40   194  151   Saltsman, Barbara
9     10  62.16   109  230      Colter, George
10    11  62.13   154  151      Schwartz, Alan
11    12  62.07    42  151       Lesage, Denis
12    13  61.97    46  194         Eisner, Ken
13    14  61.71    59  151     Bernstein, Gary
14    15  61.49    38  194    Eastwood, Stuart
15    16  61.25   117  194          Perry, Roy
16    17  61.23    88  194      Giza, Virginia
17    18  60.40    51  194      Collins, Brian
18    19  60.33    78  151     Felsky, Heather
19    20  60.31    74  151       Jast, Zygmunt
20    21  60.30   121  151     Marcus, Dorothy
21    22  60.10    62  194        Withers, Ted
22    23  59.88    54  194       Murphy, Denis
23    24  59.87    54  194        Dale, Thomas
24    25  59.77    67  194       Shankel, Hugh
..   ...    ...   ...  ...                 ...
217  220  49.54    90  151         Bell, Recia
218  221  49.52    99  801       ALTER, Arlene
219  222  49.47    56  194      Collins, Alice
220  223  49.35    45  194      Follett, Susan
221  224  49.24   168  151  Bernstein, Barbara
222  225  49.16    70  194         Kenny, Gwen
223  226  49.08    57  151     Freedman, Pearl
224  227  49.06    46  194      Burden, Carole
225  228  49.05    30  151          Kay, Cindy
226  229  48.94    48  151      Fremeth, Havie
227  230  48.79   113  151    Reinhart, Gloria
228  231  48.74    41  151    Bernstein, Helen
229  232  48.61    93  151        Levy, Bryant
230  233  48.52    85  151   Shatzky, Michelle
231  234  48.51    98  151     Glickman, Edith
232  235  48.46    84  151       Karass, Edith
233  236  48.41    49  194     Dooling, Esther
234  237  48.33    55  151        Yufe, Arlene
235  238  48.30    47  151    Markovits, Irene
236  239  48.30    37  194   Jablonski, Gwenda
237  240  48.25    34  194     Stiner, Maureen
238  241  48.20    85  151       Shapiro, Rita
239  242  47.93    78  151     Kravitz, Helene
240  243  47.85    76  151         Rosen, Myra
241  244  47.85   154  151        Ambar, Doris

[242 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d2rank.htm
Table count: 5

0   Rank     PR Games Unit                 Name
0      1  67.94    20  249   Kleinplatz, Morrie
1      3  65.58    78  246   Cafferata, Michael
2      4  65.11    24  255        Stevens, John
3      5  64.77    50  166       Freeman, Jacob
4      6  64.64    31  166        Andrews, Doug
5      7  64.53    47  249        Onslow, Barry
6      8  64.08   100  246       Sewell, Robert
7      9  63.93   149  246       Kenny, Michael
8     10  63.39    50  166        Fogel, Harvey
9     11  63.28   116  246        Unger, Steven
10    12  63.15    79  246        Janicki, Paul
11    13  62.88   138  249       Bender, Dwight
12    15  62.53    52  166  Steinberg, Jonathan
13    16  62.14    55  166      Shinehoft, Jack
14    17  61.92    42  246         MacIver, Ian
15    18  61.83    58  212      Boston, William
16    19  61.83    63  246         Jarman, John
17    20  61.82    19  249          Hooyer, Ben
18    21  61.74    39  166       Wolpert, Hazel
19    22  61.48    26  249     Howe, Mary Lynne
20    23  61.45    97  166       Wynston, Linda
21    24  61.35    45  166        Mehta, Steven
22    25  61.29    42  166     Cunningham, John
23    26  61.25    75  166    Richardson, Lewis
24    27  61.21    74  249            Potter, M
..   ...    ...   ...  ...                  ...
349  356  49.02    74  246        CAPLER, Greta
350  357  48.94   194  249       Newman, Andrew
351  358  48.92   170  249    St Amand, Cecilie
352  359  48.88    32  249      Davenport, Iris
353  360  48.87    90  246          Garel, Mark
354  361  48.84   142  246        MORRIS, Allan
355  362  48.84    39  166           Van, Susan
356  363  48.83   111  246       Tavasoli, Mina
357  364  48.82   117  249              Fill In
358  365  48.79    83  246      Thornham, Nancy
359  366  48.73    79  246      Lopresti, Nancy
360  367  48.64   427  249     Pearce, Anna Mae
361  368  48.58    79  249      Bibbings, Betty
362  369  48.58    34  249      Dimond, Michael
363  370  48.56    36  246         Gibbs, Jayde
364  371  48.55   317  249              Fill In
365  372  48.50    26  249      Turnbull, Sally
366  373  48.49    53  246     Pepperall, Karen
367  374  48.48    34  246            Ives, Jan
368  375  48.42   102  246     Olcsvary, Sandor
369  376  48.42   132  249        Butters, Rita
370  377  48.40    67  246         Weston, John
371  378  48.40    58  246     STORTON, Marilyn
372  379  48.34   171  249        BRENNAN, Jack
373  380  48.32   140  802        JULIAN, Terry

[374 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d3rank.htm
Table count: 6

0   Rank     PR Games Unit                   Name
0      1  67.67   112  188         Newman, Dennis
1      2  66.94    83  115        Neuhart, Robert
2      3  66.75   116  188        Zucker, Richard
3      4  66.43    58  188             Aker, Jeff
4      5  66.31    78  188             Hawa, Fred
5      7  65.82    24  140           Powell, Alan
6      8  65.33    56  115   Magdon-Ismail, Malik
7     10  64.66   125  106      Friedman, Charles
8     11  64.54    48  140        Leznicki, Jacek
9     12  64.53    86  188           Fischer, Ron
10    13  63.90    81  115      Bernhardt, Arthur
11    14  63.76   109  106      Helfgott, Leonard
12    15  63.70   117  106       Whitman, William
13    16  63.55    67  140       Allen, Alexander
14    17  63.42    47  140           Perlin, Alex
15    18  63.39    65  106          Miller, Irwin
16    19  63.38    94  106       France, Nicholas
17    20  63.25    42  236          Otte, Michael
18    21  63.17    90  188         McKellar, Arch
19    22  63.02    86  140            Gupta, Mani
20    23  63.01    84  140       Freedman, Sumner
21    24  63.00   105  140         Reisman, Jesse
22    25  62.72    39  106  Linnemeyer, Frederick
23    26  62.44    36  140           Stein, Peter
24    27  62.38    63  188            Lewis, Paul
..   ...    ...   ...  ...                    ...
442  452  49.87    56  236      Glanzman, Bertram
443  453  49.82    45  140          Gatta, Connie
444  454  49.82   116  106         Luckey, Andrea
445  455  49.82    47  106        Mattikow, Sally
446  456  49.80    86  186             Lang, Lois
447  457  49.78    71  106    Machorek, Christine
448  458  49.68    25  140             Fass, Jeff
449  459  49.67    31  106           Bauer, Allan
450  460  49.64    40  115       Accardi, Carolyn
451  461  49.63   126  140       Steckelman, Ruth
452  462  49.62    39  140         Philips, Susan
453  463  49.55    34  140          Egerer, Jared
454  464  49.50    62  140           Carle, Susan
455  465  49.48    59  140          Stier, Judith
456  466  49.47    75  140        Goldman, Arleen
457  467  49.46    49  186           Odell, Tamar
458  468  49.42    55  115        August, Charles
459  469  49.41   112  106        Giannella, Mary
460  470  49.41    43  188           Radin, Erika
461  471  49.39    26  140       Asch, Mary Ellen
462  472  49.38    86  140        Losman, Michele
463  473  49.38    43  115         Urbano, Amelia
464  474  49.36    94  140      Shelkowitz, Debra
465  475  49.33    48  140          Cohen, Judith
466  476  49.32    60  106           Dudas, Linda

[467 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d4rank.htm
Table count: 7

0   Rank     PR Games Unit                 Name
0      2  66.57    36  141       Labovitz, Marc
1      3  66.08   153  141  Chatzinoff, Kenneth
2      4  65.38    64  141   Rabinowitz, Martin
3      5  64.87    44  190         Taylor, Anne
4      6  64.38    30  190      Popper, Richard
5      7  64.23    77  168        Gorski, Barry
6      8  63.87    94  112          Maitra, Sam
7      9  63.87    50  190    Venetianer, David
8     10  63.22    69  141      O'Brien, Dennis
9     11  63.20    34  112       Geibel, Philip
10    12  62.96    33  121  Bingaman Jr, Albert
11    13  62.83    56  141        Kotkin, Meyer
12    14  62.77   100  190      Henderson, Mark
13    15  62.73   141  141           Bell, Gail
14    16  62.63    67  141         Satten, Neal
15    17  62.47    26  133        Kresge, David
16    18  62.39    41  141     Lieberman, Bruce
17    19  62.32    33  141     Ronderos, Alvaro
18    20  62.32   124  190        Rowland, Rick
19    21  61.91    94  190      Gillespie, Fred
20    22  61.78    52  190   Taylor Jr, Francis
21    23  61.76    69  141     Jacobson, Daniel
22    24  61.74    85  112          Marks, Gene
23    25  61.62    49  141        Wilke, Robert
24    26  61.55    62  190          Ruben, Jeff
..   ...    ...   ...  ...                  ...
496  501  48.51    34  141        Cherry, Sandy
497  502  48.51    74  112          Koch, Nancy
498  503  48.40    50  112      Flanagan, Janet
499  504  48.35    31  141          Gates, Judy
500  505  48.34    53  141         Davis, James
501  506  48.33    97  112         Farris, Judy
502  507  48.33    52  112         Manning, Sue
503  508  48.28    30  112     Klausner, Angela
504  509  48.27    42  168     Burkhart, Marvin
505  510  48.20   111  190          Hayes, Sugi
506  511  48.20    58  141      Rosenberg, Myra
507  512  48.18    63  190    Retherford, Carol
508  513  48.15   132  141  Umphlet, Jacqueline
509  514  48.07    75  112      Powell, Suzanne
510  515  48.07    27  190       Spicer, Teresa
511  516  48.06   102  141         Waters, John
512  517  48.03    79  112           Smith, Pat
513  518  48.02    60  190      Humphrey, Sally
514  519  48.01    54  190       Schwenk, Karin
515  520  47.98    37  141        Morris, Anita
516  521  47.97    39  190    Fulweiler, Kimmie
517  522  47.97    70  112       Statton, Debra
518  523  47.92    53  141     Hoffman, Barbara
519  524  47.80    90  190     Schenkel, Debbie
520  525  47.77    40  190   Lochiatto, Phyllis

[521 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d5rank.htm
Table count: 2

0  Rank     PR Games Unit                    Name
0     1  64.15    65  116               Levy, Jay
1     2  62.88    65  129             Tordella, W
2     3  61.83    39  116         Colligan, David
3     4  61.17   111  116           Fetouh, Saleh
4     5  60.59    41  148               Pierce, D
5     6  60.35    39  125       Greenspan, Bernie
6     7  60.17    68  116      Urbanek, Christine
7     8  59.16    44  116          Sinclair, John
8     9  58.21    76  142      Frobouck, Reanette
9    10  58.02    68  116            Benz, Sharon
10   11  57.48   127  125            Kung, Edward
11   12  57.39    59  116            Petrov, Dian
12   13  56.87    40  116               Finton, E
13   14  56.47    89  111         Merkich, Brenda
14   15  56.42    35  116          Bergman, Susan
15   16  55.99    83  111      Sostarich, Pauline
16   17  55.53    40  111       McDowell, Jo Anne
17   18  55.20    35  142  Schwarzwaelder, Steven
18   19  55.08    49  125            Butler, Lois
19   20  54.85    50  111            Singer, Gary
20   21  54.48    34  142           Sobol, Evelyn
21   22  54.16    64  125          Rudolph, Lynne
22   23  54.07    31  111          Carter, Ronald
23   24  53.46   120  226         Timpe, Margaret
24   25  53.45    98  111        Powers, Franklin
25   26  53.38    65  226             Dunn, Helen
26   27  53.31    80  142        Metosky, Stewart
27   28  53.01    29  125             Hanna, Judy
28   29  52.96    35  111           Sobota, Sally
29   30  52.94    57  116       Henrikson, Ronald
30   31  52.57    24  142            Ludwig, Judy
31   32  51.43    83  125        Whitney, Chantal
32   33  51.39    70  111             Rich, Carol
33   34  51.25    44  229       Matrazzo, Anthony
34   35  51.24    85  111          Fishbeck, Dale
35   36  50.61    62  111           Black, Thomas
36   37  50.43    61  111   Goldthwait, Elizabeth
37   38  50.28    24  142                Tam, Amy
38   39  49.10    71  127          Klapthor, Rick

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d6rank.htm
Table count: 4

0   Rank     PR Games Unit                   Name
0      1  67.54    56  147           Jones, Aaron
1      2  67.18    60  218           Hindman, Hal
2      3  66.13    48  147            Boyd, Peter
3      4  65.69    49  135         Peters, Thomas
4      5  65.37    32  135          Becker, R Jay
5      6  64.56   121  135         Diener, Stuart
6      7  64.41    54  147        Ruderman, David
7      8  64.06    30  147     Wilmot Jr, Vincent
8      9  64.03    61  147        Pettis, William
9     10  64.02    28  218          Connors, Ryan
10    11  63.99    52  135          Baum, Richard
11    12  63.92    74  147          Kales, Eugene
12    13  63.88    61  147        Gofreed, Andrew
13    14  63.58   139  147       Caponiti, Alfred
14    15  63.48    57  147         Falgout, Barry
15    16  63.44    62  139          Lane, Michael
16    17  63.41   135  218         Davis, Kenneth
17    18  63.32    87  135         Brafman, Larry
18    19  63.15    62  147        Marshall, Linda
19    20  63.11    86  218         Gookin, Robert
20    21  63.08    59  147           Bell, Robert
21    22  63.07    30  147          Beller, James
22    23  62.89    38  139            Antrobus, C
23    24  62.83    90  109             Dahl, Mark
24    25  62.78   100  147         Benedict, Paul
..   ...    ...   ...  ...                    ...
256  263  49.86    40  135         Moran, Barbara
257  264  49.72    85  135            Blum, Ilene
258  265  49.59   120  135          Rounds, Edgar
259  266  49.54    43  218            Espo, David
260  267  49.53    80  135           Gueter, Gili
261  268  49.48    67  147             Smith, Kim
262  269  49.46    26  135          Bowser, Donna
263  270  49.44    66  135      Blaustein, Sandra
264  271  49.36    23  139          Bell, Heidi V
265  272  49.33    41  135        Teitel, Marlene
266  273  49.33   100  135     Ehrhardt, Caroline
267  274  49.27    61  135          Coplin, Merry
268  275  49.25    59  135           Riesel, Edna
269  276  49.23    35  147          Dolkart, Jane
270  277  49.23    98  218   Mazarella, Francesca
271  278  49.20   214  218       Verell, Ruth Ann
272  280  49.16   112  147         Lewit, Harriet
273  281  49.12   106  139         Nunge, Richard
274  282  49.05    47  147         Cheary, Nadyne
275  283  49.05    71  139  Deodhar, Frances Glee
276  284  49.05    80  139         Bright, Michie
277  285  49.02    34  218           Cohen, Grace
278  286  48.95    43  135      Rashbaum, Beverly
279  287  48.95    46  139      Aquilino, Michael
280  288  48.93    46  218         Tonnesen, Dave

[281 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d7rank.htm
Table count: 11

0   Rank     PR Games Unit                  Name
0      1  68.43    28  119      Ayyagari, Murthy
1      2  66.61    70  160        Griffin, James
2      3  66.46    47  253        Collins, Kevin
3      4  65.72    42  253         Marks, Samuel
4      5  65.71    49  165           Heller, Bob
5      6  65.61    71  119          Hudson, Alex
6      7  65.55    58  191       Robinson, Craig
7      8  65.29    59  253      Strickland, Fred
8      9  64.78    52  153        Brunk, William
9     10  64.35    44  165      Redheffer, James
10    11  64.35    38  253           Dhir, Arjun
11    12  64.22   248  253        Kulbersh, Bill
12    13  64.14    77  169  Boyd-Bowman, Peter J
13    14  64.09   125  253       Feagin Jr, Jack
14    15  63.48    90  253    Sankaran, Baskaran
15    16  63.14    87  160        Brown Jr, Hugh
16    17  63.09    94  153           Tebha, Anam
17    18  63.05   106  160      Bitonti, Michael
18    19  62.95    61  253          Hubert, Olin
19    20  62.81    48  253          Blum, Donald
20    21  62.79    39  119           Menges, Tom
21    22  62.78   146  253      Fendrick, Robert
22    23  62.69    61  114           Mabee, Carl
23    24  62.57    72  191            Joyce, Kay
24    25  62.53   105  119          Snow, George
..   ...    ...   ...  ...                   ...
847  858  47.96    70  160         Shallo, Frank
848  859  47.96    58  160      Paschall, Yancey
849  860  47.95   190  253         Cody, Barbara
850  861  47.92    75  206         Crouch, Susan
851  862  47.92    61  119           Berry, Lila
852  863  47.92    73  160        Wardlow, Shela
853  864  47.91    60  114         Freant, Sarah
854  865  47.90    89  253        Ricketts, Lynn
855  866  47.89    33  165          O'Dell, Myra
856  867  47.88    50  253         Fagin, Howard
857  868  47.88    37  160          Joseph, Mary
858  869  47.87    29  153        Kerwin, Marcia
859  870  47.85   107  114         Boggan, Peggy
860  871  47.82    33  253           McEver, Bob
861  872  47.82    67  160            Hurt, Bibs
862  873  47.80    57  153           Glass, John
863  874  47.77    24  160      Meadows, Melissa
864  875  47.75    45  253         Mittel, Carol
865  876  47.74    48  153      Barnes, Veronica
866  878  47.72    56  114          Moore, Roger
867  879  47.71    31  165         Hamrick, Alda
868  880  47.68    83  153         Stewart, Lynn
869  881  47.67    54  206          Levine, Mary
870  882  47.66    78  253      Kraitzick, Wendy
871  883  47.66    53  253       Berlin, Dolores

[872 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d8rank.htm
Table count: 4

0   Rank     PR Games Unit                   Name
0      1  68.76   170  239           Snyder, Jack
1      2  67.89   187  143                Xie, En
2      3  64.85    37  143             Moses, Tod
3      4  64.37    59  143         Giacaman, Mike
4      5  64.32    42  208          Pestien, Rich
5      6  63.69   154  143       Oppenheimer, Tom
6      7  63.61    63  239      Whitsitt, Richard
7      8  62.68    35  143          Zellmer, Mark
8      9  62.57    96  143        Schaffer, Carol
9     10  62.50    93  143         Zlatic, Milton
10    11  62.46    79  143         Ashbacher, Ron
11    12  62.37    51  143        Hastings, C Lee
12    13  62.20    94  239            Malone, Don
13    14  62.18   166  143      Vongsvivut, Arbha
14    15  62.01    98  208         Freehill, Zach
15    16  61.54   134  143         Bland, Kenneth
16    17  61.50    38  143            Kniest, Tom
17    18  61.15    76  143         Londeree, Rick
18    19  61.12    77  143          Zenk, Stephen
19    20  61.10    48  208         Heins, Michael
20    21  61.02    28  143          Sander, Marie
21    22  60.98   157  143           Bryant, Jack
22    23  60.98    33  239            Hill, Platt
23    24  60.96   231  239            Engel, Will
24    25  60.85   157  143          Boswell, Mark
..   ...    ...   ...  ...                    ...
230  237  50.04    96  239           Owens, Kathy
231  238  50.03    55  143  Jategaonkar, Shrikant
232  239  50.01    57  208           Lamb, Layton
233  240  49.94    89  143         Risch, Bertram
234  241  49.88    46  143            Nunn, James
235  242  49.85    79  143        Sarver, Shelley
236  243  49.84    49  143         Sandler, Joann
237  244  49.65    41  143          Yokota, Chuck
238  245  49.46    69  208          Steffen, Lynn
239  246  49.42    77  143           Krell, Barry
240  247  49.40    89  208            Hitz, James
241  248  49.39    90  143         Winstral, Judi
242  249  49.31    78  143      Hawkins, Loughery
243  250  49.25    48  239            Dolak, Mary
244  251  49.23    41  143        Dixson, Beverly
245  252  49.21    64  208         Smith, William
246  253  49.17    36  223           Sharp, Terry
247  254  49.03    61  143             Pass, Judy
248  255  48.98   129  143         D'Amato, Terry
249  256  48.92    59  143       Schreiber, Susan
250  257  48.92    76  239       Hartlieb, Martin
251  258  48.88    40  208     Tomlianovich, Mike
252  259  48.87    84  143            Bosse, Ruth
253  260  48.85    44  143      Redington, Jeanne
254  261  48.79   143  239        Musser, Cynthia

[255 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d9rank.htm
Table count: 34

0     Rank     PR Games Unit                   Name
0        1  71.01   164  128      Cappelletti, Mike
1        2  70.76    47  128       Meckstroth, Jeff
2        3  69.59    69  128        Stamatov, Jerry
3        4  69.13    50  128          Rodwell, Eric
4        5  68.38    66  243      Pavlicek, Richard
5        6  67.42    97  243         Castillo, Juan
6        7  67.35    65  128     Kristinsson, Jakob
7        8  67.12    48  128         Wolpert, Gavin
8        9  66.77   181  128          Ganness, Sean
9       10  66.69    47  128         Stauber, Allan
10      11  66.59   113  128          Hanson, Keith
11      12  66.47   150  128          Krantz, Corey
12      13  66.39    69  128         Tornay, Claire
13      14  66.36   198  243        Silverman, Neil
14      15  66.14   121  219           Todd, Robert
15      16  66.10   131  128          Yousry, Ahmed
16      17  66.05    47  128        Danailov, Diyan
17      18  65.92    85  243        Shenkin, Barnet
18      19  65.76   132  128          Hanlon, Ellie
19      20  65.69   165  128          Macrae, David
20      21  65.53   110  243  Seamon-Molson, Janice
21      22  65.45    39  128           Ehlers, Will
22      23  65.36    48  128        Bathurst, Kevin
23      24  65.29    66  128       Davidson, Ranald
24      25  65.26   119  243      Kislitsyna, Irina
...    ...    ...   ...  ...                    ...
3074  3102  47.35    89  219            Ross, Nancy
3075  3103  47.34    74  128        Jarchow, Ronald
3076  3104  47.34   107  240             Davis, Dot
3077  3105  47.34    71  102          Shander, Fred
3078  3106  47.33    84  128             Hume, Noni
3079  3107  47.33    83  128      Kitchens, Allison
3080  3108  47.33   118  128        Gilman, Deborah
3081  3109  47.33    77  128    Williamson, Theresa
3082  3110  47.32    49  128         Twitty, Tricia
3083  3111  47.32    75  128         Schrand, Susan
3084  3112  47.32    87  240         Gelberg, Ellen
3085  3113  47.31   103  128           Schloss, Mel
3086  3114  47.31    84  128          Dutton, Anton
3087  3115  47.30    56  243       Pennington, Jill
3088  3116  47.30   121  128     Nightingale, Ginny
3089  3117  47.30    86  128       Rosado, Cristina
3090  3118  47.30    30  240        Lambert, Louise
3091  3119  47.29    53  128      Kasen, Jacqueline
3092  3120  47.29    41  128          Porter, Larry
3093  3121  47.29    38  128      McCloskey, Margie
3094  3122  47.29    22  128          Albin, Sidney
3095  3123  47.29    68  128           Zaczek, Leon
3096  3124  47.29   128  240     Radcliffe, Rosalie
3097  3125  47.28    20  128      Black, Van Thomas
3098  3126  47.28    48  128            Fox, Thomas

[3099 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d10rank.htm
Table count: 6

0   Rank     PR Games Unit                    Name
0      1  68.18    36  144         Oshlag, Richard
1      2  67.07   139  179         Birnbaum, David
2      3  65.80    93  232  Eythorsdottir, Hjordis
3      4  65.37   197  179             Said, Chuck
4      5  64.67   120  161          Siebert, Allan
5      6  64.66    26  179     Panagopoulos, Chris
6      7  64.27   116  144              Cook, Mike
7      8  64.04    67  161        Higgins, Richard
8      9  62.66    78  144             Eason, Jane
9     10  62.61    86  161             Irving, Ned
10    11  62.47    81  179           Hanson, Linda
11    12  62.21    53  179        Strayhorn, David
12    13  62.06    52  161      Auvenshine, Robert
13    14  61.95    91  179         Averbuch, Larry
14    15  61.88    31  161              Lucas, Jay
15    16  61.79    59  161          Lowens, Elaine
16    18  61.59   118  179          Lefko, William
17    19  61.47   149  232        Olafsson, Magnus
18    20  61.44   153  161             Frank, Greg
19    21  61.39    73  144        Hudgins Jr, Jack
20    22  61.34   145  179       Reeslund, Michael
21    23  61.28   115  144    Chakraborty, Ranajit
22    24  61.19    38  138            Lyell, Henry
23    25  61.11    35  161        Finch Jr, Curtis
24    26  60.78    70  161        Melchior, Bonnie
..   ...    ...   ...  ...                     ...
363  371  48.63    75  179         McMahan, Roslyn
364  372  48.61    59  161         Mueller, Pamela
365  373  48.60    77  161           Rogers, Becky
366  374  48.54    77  161            Harter, June
367  375  48.51    94  161             Dierks, Kay
368  376  48.51    82  161          Turner, Steven
369  377  48.50    72  161               Hagen, Lu
370  378  48.50    32  179           Patton, Robin
371  379  48.49   142  179           Beesley, Ella
372  380  48.49    73  161      Dethardt, Marianne
373  381  48.48    51  179           Albrecht, Pat
374  382  48.48    84  161           Kauffman, Tim
375  383  48.47    67  161        Mackenzie, Cindy
376  384  48.47    53  161            Sierra, Jade
377  385  48.46    49  161       Albright, Barbara
378  386  48.41    32  179          Niewold, Laura
379  387  48.40    45  138         Holmes, Loretta
380  389  48.34   105  179        Brostrom, Walter
381  390  48.31    85  161            Speer, Nancy
382  392  48.19    60  157        Steeves, Malcolm
383  393  48.08    29  138       Abdalla, Jennifer
384  394  48.07   115  179      Belfiglio, Barbara
385  395  48.05   122  179           Derrick, Beth
386  396  47.98    53  161          Phillips, Dean
387  397  47.97   110  161           Vernon, Clark

[388 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d11rank.htm
Table count: 6

0   Rank     PR Games Unit                  Name
0      1  67.49    36  130        Clerkin, Jerry
1      2  67.00    40  130            Cory, Matt
2      3  65.37    85  124        Vogel, Stephen
3      4  64.40    58  124   Granovetter, Pamela
4      5  63.61    86  130        Fidler, Marcia
5      6  63.33    62  164             Gordon, H
6      7  63.15    70  124      Higgins, William
7      8  63.14    92  193       Lambert, Phelps
8      9  63.11    57  164            Moss, Paul
9     10  62.82   105  130        Brown, Beverly
10    11  62.48    53  130             Lyon, Bob
11    12  62.36    54  124       Raturi, Amitabh
12    13  62.34   100  164          Rice, Joseph
13    14  62.14    62  130           David, Jeff
14    15  62.08   136  130      Hellmer, Michael
15    16  61.69    75  124       Schultz, Dennis
16    17  61.69    89  136     Gargrave, Jeffrey
17    18  61.60    45  124       Stephani, Isaac
18    19  61.59   123  130     Van Vlack, Wagner
19    20  61.50    91  136            Stitt, Bob
20    21  61.45   106  122      Kostal Jr, Irwin
21    22  61.37    22  124     Cummings, Deborah
22    23  61.19    67  136          Harner, Lori
23    24  61.17    45  136        Shoup, Russell
24    25  61.16    34  124           Fisher, Amy
..   ...    ...   ...  ...                   ...
427  436  49.27    41  136      Schlaack, Edward
428  437  49.22    38  124         Lubow, Judith
429  438  49.20    46  124          Hodesh, Rica
430  439  49.18    46  136         Pavlo, Marcie
431  440  49.16    46  130  Winsor Neal, Shirley
432  441  49.16    64  136         Kiralfy, Joan
433  442  49.14    71  117    Carpenter, Carolyn
434  443  49.13    80  164       Hynson, Marilyn
435  444  49.11    48  193   FRANKLIN, JosephJef
436  445  49.08    86  130             Day, Doug
437  446  49.07    47  136        Findlay, Joann
438  447  49.06    39  117        Gottbrath, Joe
439  448  49.01    76  164        Keslin, Thomas
440  449  49.01    34  117   Carpenter, Marjorie
441  450  49.00    59  164         Keller, Linda
442  451  48.99    47  130           Beltz, John
443  452  48.91    52  130        Taylor, Connie
444  453  48.86   149  124          Barron, Judy
445  454  48.86    35  164       Loeffler, Donna
446  455  48.83    71  117        Tonini, Denise
447  456  48.81    37  124    Tillinghast, Helga
448  457  48.78    31  130       Trudgen, Thelma
449  458  48.76    66  193   Franklin Jr, Joseph
450  459  48.74    62  193          Kruse, Larry
451  460  48.73    78  193       Schultz, Pamela

[452 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d12rank.htm
Table count: 4

0   Rank     PR Games Unit                   Name
0      1  67.13    23  137        Perlman, Howard
1      2  67.12    99  195           Molt, Joanne
2      3  66.71    88  195        Curley, Michael
3      4  66.17   131  137      Hirschman, Martin
4      5  65.83    38  105     Treiber III, Frank
5      6  65.19    81  105         Benedict, Gene
6      7  65.16    52  105        Brandow, Robert
7      8  64.79   120  137             Lien, Owen
8      9  64.58    75  203      Mendelson, Robert
9     10  64.57    89  203      Grossman, Jerrold
10    11  63.98    82  195           Bodish, John
11    12  63.46   131  195      Northrop, William
12    13  63.12   181  137           Newman, Bert
13    14  63.01   189  137  Fleischmann, Jonathan
14    15  62.97   107  137         Perlman, Linda
15    16  62.87    77  137            Webber, Bob
16    17  62.64    68  137           Arbit, Julie
17    18  62.58    75  137             Monro, Joe
18    19  62.36    18  137     Rosenstein, Irving
19    20  62.22    45  137            Loeb, Allan
20    21  62.16    54  137       Birnholtz, Sandy
21    22  62.04    57  203           Zeine, Samir
22    23  61.81    54  137         Shumer, Steven
23    24  61.75    53  203         Crane, Michael
24    26  61.70    36  203      Alioto, Michael D
..   ...    ...   ...  ...                    ...
263  269  49.18    69  137         Whims, Marilyn
264  270  49.11    66  154       Hurwich, Candace
265  271  49.08    52  137          Monro, Rhonda
266  272  49.05    36  137       Overmire, Thomas
267  273  49.02    59  195               Purdy, R
268  274  48.87    33  195        Hayward, Billie
269  275  48.64    55  137       Alvord, Lorraine
270  276  48.63    35  195          Wagner, Larry
271  277  48.59    58  137           Conti, Maria
272  278  48.37    49  195       Wardrop, Barbara
273  279  48.36    57  195         Parsons, Brent
274  280  48.32    52  195        Thiebout, Helen
275  281  48.23   100  195           Subers, Ruth
276  282  48.22    77  195          Allman, Diane
277  283  48.18    51  195          Baldwin, Anne
278  284  48.18    98  154          Metzger, Hugh
279  285  48.16    76  195         Schlage, James
280  286  48.15    30  195           Thoen, Inger
281  287  48.13    66  154         Skurski, Roger
282  288  48.11   110  105       Wellstein, Diane
283  289  48.06    71  195          Giddings, Bob
284  290  48.03    70  195        Degroot, Herman
285  291  48.02    74  195           Lipari, Lori
286  292  48.00    63  203          Rosen, Evelyn
287  293  48.00    30  195            Harvey, Ena

[288 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d13rank.htm
Table count: 4

0   Rank     PR Games Unit                 Name
0      1  67.62    61  123      Ginossar, Eldad
1      2  66.94    54  123         Cohen, Larry
2      3  66.87   119  123  Lishkov, Aleksandar
3      4  66.74    52  149       Ranaldi, Paolo
4      5  65.71    71  123       Ginsburg, Mark
5      6  65.52    56  123     Donahue, Stephen
6      7  64.19    58  123      Poliquin, Jerry
7      8  64.04    50  123       Stokes, Joseph
8      9  63.98    31  123           Cohen, Don
9     10  63.67    38  123        Pancoe, Frank
10    11  63.41    81  123      Kutska, Michael
11    12  62.84    68  123         Fogarty, Tom
12    13  62.82    72  149   Bleskachek, George
13    14  62.70    60  123         Ogut, Serdar
14    15  62.59    28  123        Tatz, Kenneth
15    16  62.57    39  123         Allen, Craig
16    17  62.10   110  123        Diebel, James
17    18  61.99    75  123    Phillips, L James
18    19  61.86    68  123          Lussky, Don
19    20  61.69    51  123         Goring, John
20    21  61.66   104  222          Karas, Paul
21    22  61.56    64  123     Fortney, Charles
22    23  61.46    42  123         Goyal, Sarik
23    24  61.26    35  222      Schroeder, Paul
24    25  61.25    92  222     Dorfman, Richard
..   ...    ...   ...  ...                  ...
240  245  50.29   111  123       Cesario, Genny
241  246  50.12    41  222  Debbink, Lois Ellen
242  247  50.05    84  123           White, Les
243  248  49.97   120  222     Lieberman, Nancy
244  249  49.86    80  222     Myers, Harriette
245  250  49.85    45  123   Champagne, Maurice
246  251  49.77    95  222      Backus, Marlene
247  252  49.68    77  222        Slesar, Paula
248  253  49.67    92  123      Zolla, Marjorie
249  254  49.64    59  123        Thorne, Carol
250  255  49.55    61  123       Diamond, Susan
251  256  49.54    70  149        Buschen, John
252  257  49.38    79  222         Watson, John
253  258  49.33    88  222         Boyle, Susan
254  259  49.33    86  222    Schuelke, Barbara
255  260  49.30    84  123         Warren, Mary
256  261  49.29    74  222       Malina, Maggie
257  262  49.29    26  222          Perlson, Jo
258  263  49.10    49  222     Derrwaldt, Sally
259  264  49.09    66  222         Ellis, James
260  265  49.06   105  222       Daniels, Susan
261  266  49.03    79  123       English, James
262  267  49.02    46  222      Bosworth, Wendy
263  268  48.96    41  222    Karnowski, Thomas
264  269  48.77    99  222        Nathan, Denis

[265 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d14rank.htm
Table count: 5

0   Rank     PR Games Unit                Name
0      1  66.61   136  103      Beckman, Terry
1      2  65.39   139  178   Meerschaert, Paul
2      4  64.42    93  178   Schachter, Robert
3      5  64.09    84  162   Barrett, G S Jade
4      6  64.09    47  216        Walsh, Gregg
5      7  63.50    89  178     Cassel, Michael
6      8  63.15    33  162       Evans, Vernon
7      9  63.14    76  216     Newell, Richard
8     10  63.03   111  216     Gustafson, John
9     11  62.31    95  178   Knippenberg, Gary
10    12  62.10    80  178          Ames, Tony
11    13  61.99   140  178       Smith, Thomas
12    14  61.94    30  103    Robbins, Richard
13    15  61.88    82  178        Glenn, David
14    16  61.87    74  178    Lutgens, Gregory
15    17  61.75   180  216         White, Toby
16    18  61.68    37  216   Freedman, Richard
17    19  61.44    80  178      Johnson, Roark
18    20  61.27    79  216        Swanson, Jim
19    21  61.22    99  178      Cummins, Chuck
20    22  61.21   126  178     Sapienza, Harry
21    23  60.97    36  103    Lichty, Margaret
22    24  60.93    56  178         Reed, Steve
23    25  60.85    68  103     Van Dyke, Gregg
24    26  60.71    22  178           Blu, John
..   ...    ...   ...  ...                 ...
286  293  49.31    76  162    Thompson, Daniel
287  294  49.29    85  103     Bartlett, Jerry
288  295  49.29    64  178       Hubmayr, Rolf
289  296  49.28    35  178       Koch, Charlie
290  297  49.26    52  216  Leaverton, Phyllis
291  298  49.20    99  103      Heins, Cynthia
292  299  49.20    62  178     Lucht, Hazelann
293  300  49.18    60  178      Holt, Julianne
294  301  49.10   112  178         Gavin, Rick
295  302  49.08   106  178       Nesser, Donna
296  303  49.07   110  103   Miller, Stephanie
297  304  49.01    56  103        Madden, Bill
298  305  48.99    77  103   Grigoleit, Thomas
299  306  48.96    63  216      Garnaas, Faith
300  307  48.96    59  216       Taake, Laurie
301  308  48.93    79  216         Slorah, Lee
302  309  48.92    69  216          Pratt, Ewa
303  310  48.83    28  103    Leclerc, Beverly
304  311  48.73    79  178   Muller, Alexandra
305  312  48.55    41  216        Kriebs, Lois
306  313  48.50    43  216      Henderson, Kay
307  314  48.49    90  103      Larson, Miriam
308  315  48.45    32  178    Sawkins, Analise
309  316  48.38    56  103        Lewis, Joyce
310  317  48.35    47  216         Spong, Paul

[311 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d15rank.htm
Table count: 2

0  Rank     PR Games Unit                Name
0     1  68.99    36  210          Lair, Mark
1     2  66.58    27  101     Huston, Michael
2     3  66.44    21  132       Kopper, David
3     4  62.18    66  132    Carstedt, Robert
4     5  61.76    83  131         Benoit, Tim
5     7  61.45    52  131       Roberts, Gary
6     8  61.41    42  131         Oxley, John
7     9  59.84    59  158        Robin, Henry
8    10  59.22    48  132          Lowry, Don
9    11  59.09    32  132        Jones, Grier
10   12  58.77    57  132        Sites, Roger
11   13  58.77    80  132      George, Harold
12   15  58.01    96  132  Austin Fresh, Gina
13   16  57.94    64  158       Bailey, David
14   17  57.59    89  132        Boyce, Frank
15   18  55.92    74  158         Lowe, Becky
16   19  55.71    77  132      Traudt, Ronald
17   20  55.44    31  247       Tyler, Robbie
18   21  55.43    32  158    Guthery, Jeannie
19   22  55.37    94  132    Houghton, Jeanne
20   23  55.36   103  158        Koble, David
21   24  54.31    42  167      TOLLISON, Dave
22   25  53.86   166  132      Sevick, George
23   26  53.80    79  132     Schoning, Polly
24   27  53.78    49  158     Richmond, Allen
..  ...    ...   ...  ...                 ...
32   35  51.07    44  132       Tolle, Gordon
33   36  50.77    55  132     Phares, Loretta
34   37  50.67    77  158        Helm, Evelyn
35   38  50.51    61  132   Rogers, Elizabeth
36   39  50.30    48  132       Button, Steve
37   40  50.03    33  132   Carduff, L Janice
38   41  50.02    53  132        Kimmel, John
39   42  49.80    39  158          Cook, Fred
40   43  49.58    62  158        Gall, Bonnie
41   44  49.57    55  132       Oetting, Lynn
42   45  49.48    57  132      Tholen, Sandra
43   46  49.44    83  132  Crawford, Margaret
44   47  49.18    60  158   Leverson, Marilyn
45   48  48.98    91  132   Crissman, Dolores
46   49  48.68    60  158      Wedel, Beverly
47   50  48.52    92  132     Bowman, Richard
48   51  48.42    99  132      Johnson, Nonny
49   52  48.39    35  132      Friedel, Joyce
50   54  47.87    76  132    Dooley, Patricia
51   55  46.86    53  132    Wright, Margalee
52   56  46.74    95  132     Van Fleet, Fran
53   57  46.34   104  132      Reel, Patricia
54   58  46.02    95  132      Perrill, Karon
55   59  45.91   140  132      Dumford, Carol
56   60  45.61    28  132   Tejano, Esperanza

[57 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d16rank.htm
Table count: 8

0   Rank     PR Games Unit                 Name
0      1  71.27    60  174          Wold, Eddie
1      2  68.64    81  176       Compton, Chris
2      3  68.47    49  172    Koneru, Venkatrao
3      4  67.57    47  174         Quinn, Shawn
4      5  66.43   159  174       Erkoc, Timucin
5      6  65.60    54  207       Sokolow, David
6      7  65.24   206  174       Breihan, James
7      8  64.99    40  174       St Clair, Bill
8      9  64.87    31  183           Resz, Greg
9     10  64.78    63  174        LaVigne, Jack
10    11  64.22    89  174           Morse, Dan
11    12  64.12    79  172          Hessel, Ira
12    13  63.93   114  174        Lake, Randall
13    14  63.71   125  174           Quinn, Joe
14    15  63.61    72  207    McMinn III, Wiley
15    16  63.60    73  207        Sokolow, Tobi
16    17  63.50    27  174       Nelson, George
17    18  63.44    24  172      Jackson, Daniel
18    19  63.25    63  174    Van Dame, William
19    20  63.14    79  207        Langer, Jarek
20    21  62.69    74  174       Morris, Robert
21    22  62.68    95  207      Humphrey, Scott
22    23  62.59    59  207      Drenning, Shawn
23    24  62.55    34  207       Litwin, Stuart
24    25  62.45    94  174     Grothus, Phillip
..   ...    ...   ...  ...                  ...
607  617  48.67    42  174          Khera, Indu
608  618  48.66    83  207         Potts, Sandy
609  619  48.64   102  174       Strohmer, Hans
610  620  48.60    36  174        Haikin, Ricky
611  621  48.59    65  174      Purgason, Edith
612  622  48.53    69  207       Dayton, Sandra
613  623  48.53    86  174      Springer, Sarah
614  624  48.51   100  174          White, Gigi
615  625  48.50   107  207        Sears, Thomas
616  626  48.49    99  174          Pruthi, Raj
617  627  48.48   100  207  Parmentier, Rebecca
618  628  48.43   123  174        Caudill, John
619  629  48.42    71  172       Hsiau, Yao-Hui
620  630  48.42    56  174      Conover, Connie
621  631  48.42    61  201        Pierce, Patsy
622  632  48.33    79  174   Hanneman, Margaret
623  633  48.32    76  174      Shapiro, Armand
624  634  48.31    28  201      Montgomery, Ann
625  635  48.30   156  207      Breeding, Susan
626  636  48.29   103  174       Marlatt, Roger
627  637  48.27    37  174       Laufman, Lauri
628  638  48.27    56  174      Stephens, Sarah
629  639  48.26    57  205   Mitchell, Patricia
630  640  48.25    28  172   Squires, Carmeline
631  641  48.23    50  207      Simmen, Melinda

[632 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d17rank.htm
Table count: 13

0     Rank     PR Games Unit                   Name
0        1  71.14    86  373            Shi, Sylvia
1        2  67.98   163  373     Kovachev, Valentin
2        3  67.21    18  361         Jones, Spencer
3        4  67.20   201  351  Kristinsson, Bjorgvin
4        5  66.62    33  373          Miller, Billy
5        6  66.25    62  356       Minenko, Nicolai
6        7  65.90    53  354       Sidhu, Harvinder
7        8  65.57    64  354        Tchamitch, Haig
8        9  65.55   113  354        Jones, Markland
9       10  64.47   108  354             Lowe, Leon
10      11  64.36   101  356        Ram, Sundaresan
11      12  63.97    29  361          Herring, Fred
12      13  63.89   122  351         Quiggle, Louis
13      14  63.82    51  374          Harris, Cindy
14      15  63.74    73  356            Tilton, Tim
15      16  63.72    84  351        Anfinson, Larry
16      17  63.66   133  354            Gaer, Jerry
17      18  63.54    73  356        Vickery, Ronald
18      19  63.53    72  359             Ragland, K
19      20  63.45   112  351       Mansfield, Steve
20      21  63.27   151  354          Drake, George
21      22  63.21   150  351         Deserpa, Allan
22      23  63.20   141  354             Marsh, Bud
23      24  62.91    49  361         Vancil, Donald
24      25  62.85   161  354        Litterman, Mark
...    ...    ...   ...  ...                    ...
1061  1084  48.43    59  374          French, Janet
1062  1085  48.43    23  360             Dias, John
1063  1086  48.42    60  363            Crow, Nancy
1064  1087  48.42    48  359            Herz, Karen
1065  1088  48.40    33  354         Zatulove, Paul
1066  1089  48.37    37  361         Borus, Carolyn
1067  1090  48.35    61  354       Victor, Marianne
1068  1091  48.34    62  356       Anderson, Alicia
1069  1092  48.33    49  159         Dangel, Philip
1070  1093  48.33    63  360      Thomas, Sara Lynn
1071  1094  48.32    51  359        Hankin, Susanne
1072  1095  48.31    79  354      Koelling, Marilyn
1073  1096  48.31   103  354         Ehrlich, Linda
1074  1097  48.30    44  360        Towle, Patricia
1075  1098  48.28    64  356           Bonham, Mary
1076  1099  48.28    70  159          Norris, Scott
1077  1100  48.25    32  354         Hjermstad, Dee
1078  1101  48.23    31  363           Wertz, Julie
1079  1102  48.23    55  383        Reynolds, David
1080  1103  48.23    89  351       Cantoni, Lindsay
1081  1104  48.23    76  354      Shimokubo, Janice
1082  1105  48.19    59  354         Farnham, Donna
1083  1106  48.19    50  360        Patrick, Morgan
1084  1107  48.19    46  359         Soares, Lorena
1085  1108  48.18    32  361      Dendinger, Robert

[1086 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d18rank.htm
Table count: 4

0   Rank     PR Games Unit                Name
0      1  65.61    44  573            Gee, Ken
1      2  64.62   103  412    Boreson, Michael
2      3  62.99    53  573        Young, Kevin
3      4  62.55    64  386      Towner, Steven
4      5  61.94    75  417       Halfpap, Brad
5      6  60.93    49  417     Morris, Michael
6      7  60.85    63  417          Hall, Rita
7      8  60.41    50  386  Berkowitz, Michael
8      9  60.01    56  412       Harris, Porki
9     10  59.54    56  390      Johnson, David
10    11  59.18    53  390    Polujan, Jadwiga
11    12  59.03    49  390      Ridgen, Edmund
12    13  58.74    72  390       Adelman, Dave
13    14  58.73    57  386    Gardner, Rosalee
14    15  58.73    76  412      McCully, Tanya
15    16  58.49    54  412    Pellett, William
16    17  58.44    45  395      Yager, Richard
17    18  58.36    81  386        Bowman, Pete
18    19  58.22    78  417        Muench, Paul
19    20  58.17   106  390       Dillen, Helen
20    21  57.98    29  400       Siegel, James
21    22  57.69    98  386      Feller, Myrtle
22    23  57.51   113  390         Wafa, Maged
23    24  57.40    30  386     Waterman, Terry
24    25  57.39    90  417   Brandeberry, John
..   ...    ...   ...  ...                 ...
199  201  48.71   130  390       Evans, Sandra
200  202  48.70    69  412        Gentry, Anne
201  203  48.61    52  396   Danielson, Noreen
202  204  48.57    37  573       Delparte, Kay
203  205  48.50    47  386      Suta, Benjamin
204  206  48.41    85  390      Malo, Kathleen
205  207  48.30    71  386      Coxe III, Fred
206  208  48.25    62  396       Ormond, Carol
207  209  48.18    56  395       Neveau, Patsy
208  210  48.10    54  390   Donaldson, Sharon
209  211  48.10   123  573      Duczek, Angela
210  212  48.09    31  386       Conley, Nancy
211  213  48.08    69  386   Lundgreen, Clysta
212  214  48.05    69  395         Smith, Owen
213  215  47.99    70  417  Dussault, Ann Mary
214  216  47.95    91  390       Chan, Perry H
215  217  47.93    46  573      Laidlaw, Edith
216  218  47.88    98  386     Blackman, Laura
217  219  47.85    42  386    Peterson, Evelyn
218  220  47.76    81  417      Meuchel, Sandy
219  221  47.74    47  395      Izen, Lawrence
220  222  47.63    42  412     Fregerio, Wendy
221  223  47.55    53  396    Henderson, Deane
222  224  47.53    62  417         Fleck, Joan
223  225  47.33    57  573        Ermel, Diana

[224 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d19rank.htm
Table count: 7

0   Rank     PR Games Unit                 Name
0      1  66.83    92  431        Smith, Duncan
1      2  66.64    91  437      Carmichael, Tom
2      3  66.31    54  451          Freeman, Ed
3      4  66.01    65  446       Steiner, Harry
4      5  65.80    53  431         Fraser, Doug
5      6  65.74    48  431       Roche, Michael
6      7  65.59    39  446         Delfs, Bryan
7      8  65.11    76  431     Tradewell, Ernie
8      9  64.71    20  571          Glaser, Leo
9     10  64.21    50  433       Devine, Thomas
10    11  63.87    41  431         Allen, Roger
11    12  63.86    71  448     Bennett, Charles
12    13  63.85    49  446        Ford, Jeffrey
13    14  63.41    62  431         Gray, Donald
14    15  63.02   134  446          Miller, Ray
15    16  62.91    65  448          Adams, John
16    17  62.85    87  451        Epley, Howard
17    18  62.78    48  431        Galand, James
18    19  62.75    62  446       Hartley, Patti
19    20  62.59    87  446         Walker, Dave
20    21  62.49    61  431       Billett, Karen
21    22  62.39    38  433         Moffat, John
22    23  62.39    97  446        Moore, Robert
23    24  62.17   107  448         Hays, G Gard
24    25  61.88    82  430     Moffatt, Michael
..   ...    ...   ...  ...                  ...
520  525  49.29   140  431           Daam, Dolf
521  526  49.19    35  446         Vona, Elaine
522  527  49.18    76  453        Rolfe, Janice
523  528  49.17   100  425      Lariviere, Paul
524  529  49.14    60  453       Muzzall, Joyce
525  530  49.13    88  431           Hall, Joan
526  531  49.12   144  425      Roberts, Monica
527  532  49.00    82  431         Wood, Leslie
528  533  48.99    76  425  Dwinnell, Catherine
529  534  48.95    57  431   Kishkan, Margarita
530  535  48.95    28  425         Mason, Debra
531  536  48.90    64  446     Milstein, Leslie
532  537  48.89    29  446   Etheredge, Kenneth
533  538  48.88    93  431         Nurse, Derek
534  539  48.88    85  451      Canfield, James
535  540  48.83    52  431         Curran, Gina
536  541  48.74    78  442     Curtis, Patricia
537  542  48.73    67  431    Goodchild, Dallas
538  543  48.69    55  446    Dierickx, Marilyn
539  544  48.68    29  425        Kamm, Marilyn
540  545  48.66    42  433        Abrutyn, Eric
541  546  48.62    66  446       McCaslin, John
542  547  48.57   100  431        Raymond, Mark
543  548  48.55    67  446       Urban, Stephen
544  549  48.54   131  441      Delducco, Carla

[545 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d20rank.htm
Table count: 6

0   Rank     PR Games Unit                    Name
0      1  67.28    22  487          Wiegand, Chris
1      2  67.15   177  487  Beauchet, Louis-Amaury
2      3  64.81    79  487            Ashton, John
3      4  64.71    55  470          Chang, Godfrey
4      5  64.11    31  394           Gerould, Romy
5      6  64.08    39  487             Wilson, Joe
6      7  63.04   153  487             Hardy, Bill
7      8  63.04    30  452       Sharples, Hendrik
8      9  63.03    79  487            McNay, Roger
9     10  62.80   187  487           Brower, David
10    11  62.77    51  487             Bomber, Ben
11    12  62.65    72  479            Rowe, Laurie
12    13  62.55    50  490           Levy, Michael
13    14  62.55    48  452            Roll, J. Jay
14    15  62.53    71  487  Montgomery III, Dewitt
15    16  62.51   215  487        Schaeffer, Lynne
16    17  62.50   262  487          Hallee, Gerard
17    18  62.46   104  487             Lee, Edward
18    19  62.26    51  487       Frazier, W Ronald
19    20  62.21    58  452         Soohoo, Richard
20    21  62.20    69  481        Biermann, Brenda
21    22  62.17    67  487           Blumenthal, K
22    23  62.14    60  470            Savara, Arun
23    24  62.12   112  487           Casanova, Amy
24    25  62.00    94  487           Prouser, Rick
..   ...    ...   ...  ...                     ...
361  366  47.63    35  452  Lacombe-Ingham, Sherry
362  367  47.62    48  490            Owens, Susan
363  368  47.61   110  452            Freitag, Sue
364  369  47.59   106  487           Ahern, Thomas
365  370  47.59    87  452     Griffiths, Virginia
366  371  47.58   125  487             Kroupa, Tom
367  372  47.58    31  452         Graham, Darrell
368  373  47.55    51  487          Wilson, Sandra
369  374  47.55    76  452           Rottmann, Joe
370  375  47.52    69  479            Kibbey, Bing
371  376  47.51    68  487         Sweigert, Cloyd
372  377  47.51    51  470           Lunson, Chuck
373  378  47.47    54  479            Spence, Joan
374  379  47.43    90  452          Pyles, Barbara
375  380  47.42    54  487       Thoeresz, Johanna
376  381  47.42    82  487           Johnson, Nely
377  382  47.38    36  487           Gainer, Ginny
378  383  47.36    73  470         Sandell, Sharon
379  384  47.33   145  487        McCarthy, Ginger
380  385  47.31    54  469          River, Marilyn
381  386  47.29    71  470      Maddalena, Claudia
382  387  47.27    66  487          Behles, Sandra
383  388  47.20    30  487            Wandel, Hans
384  389  47.14    29  487           Ball, Barbara
385  390  47.09    45  487           Kopacz, Ginny

[386 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d21rank.htm
Table count: 8

0   Rank     PR Games Unit                   Name
0      1  66.97    63  507            Yokel, Lynn
1      2  66.91    47  508        Thomson, Robert
2      3  66.78    34  506           Roche, Robin
3      4  66.53    28  505               Jones, D
4      5  66.30    68  503      Rosenberg, Debbie
5      6  65.46    27  502             Moss, Mark
6      7  65.27   146  506             Ng, Robert
7      8  65.00    44  507                Ge, Xin
8      9  64.94   135  507         Barlow, Edward
9     10  64.57    35  497          Tuttle, Bruce
10    11  64.43    73  550         Slinger, James
11    12  64.01    82  506          Balas, Robert
12    13  64.00    50  509         Linzner, Erwin
13    14  63.91   104  503        Macgregor, Gary
14    15  63.84    93  502       Barrere, Crispin
15    16  63.62    91  503         Powell, Ronald
16    17  63.56    84  505             Etter, Bob
17    18  63.33    23  503          Kemper, Carol
18    19  63.30    66  501              Wong, Dan
19    20  63.24    61  507        Tsai, Tsao-Tung
20    21  63.21   118  507          Marks, Norman
21    22  63.18    38  498         Raider, Daniel
22    23  63.02    64  503              Karr, Ron
23    24  63.00    55  506            Chen, Chris
24    25  62.93   114  507            Foos, Mindy
..   ...    ...   ...  ...                    ...
580  586  50.34    58  550         Diola, Marilyn
581  587  50.31   168  473       Kornbluth, Bobbi
582  588  50.28    59  473     Greenthal, Richard
583  589  50.26    24  509           Murphy, Dana
584  590  50.26    96  498          Sokolov, Seva
585  591  50.24    45  503         Wheeler, Kathy
586  592  50.23   107  509      Shribbs, Patricia
587  593  50.23    79  509           Marin, Linda
588  594  50.22    36  503     Rosenstock, Norman
589  595  50.20    27  508           Feder, Sonia
590  596  50.16    89  550         Ottenberg, Ann
591  597  50.16    61  507           Chen, Andrew
592  598  50.13    18  506      Lowenthal, Elaine
593  599  50.11   124  499           Chaplin, Mel
594  600  50.09   223  473          Bahry, Sharon
595  601  50.07    26  509        Iapicca, Albert
596  602  50.06    48  530          Quadros, Fred
597  603  50.05    75  507           Ahern, Terry
598  604  50.03    78  501  Wulferdingen, Sharron
599  605  50.02    49  503          Raynor, Donna
600  606  49.98    51  503        Rubenfeld, Rita
601  607  49.93    44  506              Buck, Ron
602  608  49.93    57  498         Broder, Harold
603  609  49.85    38  503       Bialson, Annette
604  610  49.84    39  503          Kelly, Leslie

[605 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d22rank.htm
Table count: 8

0   Rank     PR Games Unit                 Name
0      1  71.02   201  538       Itabashi, Mark
1      2  69.37   117  525         Gao, Sherman
2      3  66.72    54  547       Kolesnik, Finn
3      4  66.11    98  525    Martorina, Nunzio
4      5  65.42    93  547      Clarke, Charles
5      6  65.39   166  539         Johnsen, Jim
6      7  65.38   169  539          Darin, Paul
7      8  65.02   124  539  Madison-Jammal, Sam
8      9  65.00    85  538           Wu, Weishu
9     10  64.95    34  538      Iverson, Dennis
10    11  64.63    75  531          White, Fran
11    12  64.44    58  539         Roeder, Rick
12    13  64.04   137  513         Osborne, Rai
13    14  63.87    93  533         Pineles, Abe
14    15  63.78    24  513         Pei, Weidong
15    16  63.55    90  513      Ravipudi, Subba
16    17  63.47    77  539         Chapman, Pat
17    18  63.36    63  526        Abelow, David
18    19  63.12   101  525      Gupta, Shailesh
19    20  63.11    37  533          Wittes, Jon
20    21  63.10    37  531            Bell, Leo
21    22  63.10   116  525       Gilbert, Brian
22    23  63.04   140  538        Gailfus, Alan
23    24  63.02   183  538        Waldron, Gary
24    25  62.83    41  539     Perlmutter, Mark
..   ...    ...   ...  ...                  ...
609  618  48.54    68  526    Hedenberg, Debbie
610  619  48.53   112  538     Kulkarni, Arvind
611  620  48.52    52  534       Gleason, Janet
612  621  48.52   100  539     Davidson, Donald
613  622  48.49    67  515   Sadai Md, Jonathan
614  623  48.43    64  533        Magaldi, Edna
615  624  48.42    45  538       McCord, Teresa
616  625  48.41    74  538   Cavanaugh, Marilyn
617  626  48.40   104  534        Heberle, John
618  627  48.39   127  525         Kurinsky, Ed
619  628  48.37    38  526       Dinnsen, Sandy
620  629  48.36    66  525         Silva, Marla
621  630  48.33    45  525      SAMUELS, Helene
622  632  48.27   181  538        Foster, Carol
623  633  48.27    62  533       Winick, Marvin
624  634  48.21    63  525       Rochelle, Nola
625  635  48.21    35  539          Hason, Fani
626  636  48.17    66  525        Shapiro, Gail
627  637  48.17    88  533       Peckham, Nancy
628  638  48.05    32  542   Pickett, Catherine
629  639  47.98    23  533      Sielicky, Roger
630  640  47.97   122  533           Larin, Pat
631  641  47.96    84  538          Mays, Susan
632  642  47.95    35  515      Behringer, Cole
633  643  47.95    56  534         Bauer, Bruce

[634 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d23rank.htm
Table count: 5

0   Rank     PR Games Unit                 Name
0      1  67.59   170  562      Baqai, Iftikhar
1      2  66.02   130  561        Dunitz, Mitch
2      3  65.74    75  553    Cardullo, Patrick
3      4  65.72   198  562    Anikovich, Viktor
4      5  65.28    25  556      Markarian, Paul
5      6  65.06    37  562  Kolesnik, Alexander
6      7  65.00   140  562          Wittes, Pam
7      8  64.76    47  559          Shih, Frank
8      9  64.23    70  562   Brownstein, Sidney
9     10  64.11    46  562        Nash, Michael
10    11  63.86   104  557   Schafer Jr, Walter
11    12  63.84   151  562      Kleinman, Danny
12    13  63.83   134  562          Knee, Peter
13    14  63.74    68  568          Welsh, Mike
14    16  63.65    65  562          Ramos, John
15    17  63.51   186  562         Bedros, Aram
16    18  63.48    67  559        Szecsi, Peter
17    19  63.45    74  568        Otsuki, Wayne
18    20  62.72    65  559          Jones, John
19    21  62.70    60  551        Elghamry, Amr
20    22  62.58   182  561       Chokriwala, Om
21    23  62.03   111  562        Shore, Robert
22    24  61.68   189  568         Mager, Steve
23    25  61.47   145  562      Green, Adrienne
24    26  61.33   107  562     Mikyska, Michael
..   ...    ...   ...  ...                  ...
350  358  49.78    83  562    Keaney, Judy Anne
351  359  49.76    92  562         Hausner, Lee
352  360  49.76    38  559           Ryan, Lynn
353  361  49.75   177  568      Gastelum, Laura
354  362  49.65    41  562         Gordon, Paul
355  363  49.64    73  562      Elston, Harriet
356  364  49.50    50  562       Carrier, Ellen
357  365  49.48    91  562    Galante, Huguette
358  366  49.37    58  562       Waisler, Laura
359  367  49.33    44  561         Levin, Carol
360  368  49.33    41  562      Kangas, Stanley
361  369  49.32    75  568      McGory, Michael
362  370  49.31    63  557         Hagman, John
363  371  49.29    55  564       Miller, Sharyn
364  372  49.27    19  557          Alban, Reva
365  373  49.24    54  562        O'Hara, Arlen
366  374  49.20    35  568         Ketz, Gerald
367  375  49.09    44  562          Byrd, Karen
368  376  49.07    44  568       Rudolph, Kathy
369  377  49.02    39  561              Shah, A
370  378  48.98    78  562      Schiff, Michael
371  379  48.94    34  562      Haines, Barbara
372  380  48.92    79  562        Lewin, Doreen
373  381  48.91    78  557         Mullin, Lois
374  382  48.91    60  562          Bub, Sheila

[375 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d24rank.htm
Table count: 10

0   Rank     PR Games Unit                  Name
0      1  69.67    77  155          Nathan, Marc
1      2  69.37   198  155        Rotaru, Iulian
2      3  69.34   153  155          Nistor, Radu
3      4  69.13   119  155             Grue, Joe
4      5  68.45   150  155           Radin, Judi
5      6  68.40    34  155            Hurd, John
6      7  67.97   280  155    Tokay, Mustafa Cem
7      8  67.17   181  155      Wooldridge, Joel
8      9  67.07   110  155           Jansma, Jan
9     10  66.85   224  155        Gurvich, David
10    11  66.76   105  155    Silverstein, Aaron
11    12  66.67    50  155      Willenken, Chris
12    13  66.67    75  155  Fruscoloni, Leonardo
13    14  66.34   175  155       Hendelman, Erez
14    15  66.31    95  155            Hand, Jeff
15    16  66.30    55  155           Yellis, Bob
16    17  66.15   136  155      Grubman, Elliott
17    18  65.99   137  155       Mignocchi, Kent
18    19  65.89    61  155  Zur Campanile, Migry
19    20  65.82   149  155          Amer, Samuel
20    21  65.71   106  155   Allegaert, Winthrop
21    22  65.48    37  155    Lilienstein, Jared
22    23  65.46    87  155      Rimstedt, Sandra
23    24  64.67    40  155     Friedman, Sandrea
24    25  64.66   107  155      Dobrescu, Raluca
..   ...    ...   ...  ...                   ...
750  754  48.40    62  242        Perrin, Steven
751  755  48.39   133  155      Levine, Francine
752  756  48.38    30  155    Inselbuch, Harriet
753  757  48.37    45  242       Krasnoff, Diane
754  758  48.37    34  155           Hess, Peggy
755  759  48.35    90  242      Orticelle, Laura
756  760  48.34   140  242       Lessinger, Ruth
757  761  48.32    31  155        Gordon, Arthur
758  762  48.32    86  155      Gingold, Cynthia
759  763  48.32    29  155        Otero, Maureen
760  764  48.23    63  155     Feingold, Barbara
761  765  48.20   124  242           Cohen, Paul
762  766  48.18    36  155           Rieck, John
763  767  48.17    55  155       Borruso, Elaine
764  768  48.16    42  242         Block, Norman
765  769  48.15   105  242        Lawrence, Teri
766  770  48.14   163  155        Pranzo, Pamela
767  771  48.12   134  155       Tedesco, Angela
768  772  48.10   141  155       Wilcox, Liliane
769  773  48.09   110  242    Shapiro, Elizabeth
770  774  48.08    45  155     Krasker, Francine
771  775  48.07    56  242       Deutsch, Bonnie
772  776  48.06   159  242     Greenwald, Elaine
773  777  48.06    40  155         Buehler, Joan
774  778  48.06    66  155         Adler, Maxine

[775 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d25rank.htm
Table count: 7

0   Rank     PR Games Unit                  Name
0      1  72.09   137  108     Grossack, Zachary
1      2  68.62    50  108        Grossack, Adam
2      3  66.87   114  150        Arvedon, Lloyd
3      5  65.25    37  126         Stiefel, John
4      6  64.90   137  108          Aquino, Mark
5      7  64.79    50  108      Montague, Brenda
6      8  64.41    96  108        Luba, Harrison
7      9  64.19    46  108          Watson, Alan
8     10  64.10    41  113      Hanerfeld, Larry
9     11  63.97    83  126         Doub, Douglas
10    12  63.90    87  108         McDevitt, Pat
11    13  63.89   208  108         Gabay, Sheila
12    14  63.86    46  126          Ehler, David
13    15  63.79    72  126          Ekinci, Omer
14    16  63.42    94  108          Tuncok, Cenk
15    17  63.31   107  108    Gladyszak, Stephen
16    18  63.02   117  126        Brod, Geoffrey
17    19  62.86    37  126      Lockwood, Steven
18    20  62.81   131  126    DeMartino, Richard
19    21  62.63   152  126            Joyce, Tom
20    22  62.58    70  108       Hrones Jr, John
21    23  62.56    44  150        Lushkov, Hanan
22    24  62.56    76  108           Gorsey, Bob
23    25  62.53    59  113          Emond, Bruce
24    26  62.53    71  196         Lavin, Robert
..   ...    ...   ...  ...                   ...
476  481  49.13    66  126         Peled, Joseph
477  482  49.10    61  108      Zimmerman, Ellen
478  483  49.09    69  126           Salve, Joan
479  484  49.08    22  126           Berla, Leia
480  485  49.00    54  108           Aiken, John
481  486  49.00    68  126       Gruskay, Robert
482  487  48.94    98  126        Donohue, Helen
483  488  48.93   114  108     Rutherford, Jayne
484  489  48.91    74  126        Amenta, Joanne
485  490  48.91    24  196          Tamari, Gadi
486  491  48.90    69  108       Saponaro, Susan
487  492  48.90    48  175     Deblasio, Paschal
488  493  48.85    81  126  Winterfield, Michael
489  494  48.84    47  126          Pearl, Libby
490  495  48.83    61  126         Meinke, Ellen
491  496  48.82    30  196        Coburn, Donald
492  497  48.80    92  150        Ogden, Marilyn
493  498  48.80    84  108        Burlock, Tracy
494  499  48.80    23  196        Putnam, Judith
495  500  48.72    55  175       Pettersen, Jody
496  501  48.65    41  126        Kochen, Sharon
497  502  48.64    70  108         Hough, Yumiko
498  503  48.62    80  196        Nejame, Coreen
499  504  48.59    68  108        Haggerty, Lois
500  505  48.56    62  196      Castonguay, John

[501 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d99rank.htm
Table count: 2

0  Rank     PR Games Unit                  Name
0     1  66.76   153  999   Isporski, Vladislav
1     2  64.38    22  999  Sigurjonsson, Julius
2     3  62.90   131  999     Friedlander, Ehud
3     4  62.52    35  999          Zadroga, Jan
4     5  60.71    18  999         Lee, Kang-Won
5     6  59.90    47  999     Greenberg, Shmuel
6     7  55.47    38  999        Deva, Yogendra
7     8  55.26    57  999         SHIELS, Brian
8     9  53.63    93  999        Lapage, Robert
9    10  53.54   101  999     Bruchansky, Peggy
10   11  52.10    17  999      Merchant, Yamini
11   12  50.69    88  999            Traub, Dan

In [6]:
# Reading acbl_player_name_dict which has been created from sql db which was created by club data download.
# This file is the starting point for creating the larger player_id_name_matches_dict which is supplemented with api calls.
if False:
    acbl_player_id_to_name_dict_file = acblPath.joinpath('acbl_player_name_dict.pkl')
    acbl_player_id_to_name_dict = pd.read_pickle(acbl_player_id_to_name_dict_file)
    # Create a list of player_ids for each name. Many players share a common name but each has a unique player_id.
    acbl_player_name_to_id_dict = defaultdict(list)
    for k,v in acbl_player_id_to_name_dict.items():
        acbl_player_name_to_id_dict[v].append(k)

In [7]:
# ignoring acbl_player_id_to_name_dict and using the more complete player_id_name_matches_dict.pkl instead.
if True:
    player_id_name_matches_dict_file = acblPath.joinpath('player_id_name_matches_dict.pkl')
    acbl_player_name_to_id_dict = pd.read_pickle(player_id_name_matches_dict_file) # note name change!
    for k,v in acbl_player_name_to_id_dict.items():
        assert type(k) is str, k
        if type(v) is list:
            v = acbl_player_name_to_id_dict[k] = [str(vv) for vv in v] # todo: temp: force ints in list to be strs.
            assert all(type(vv) is str for vv in v), v
        else:
            assert type(v) is str and v[0] != '[', v

In [8]:
# for player dataframes, create new column containing player_id
# for pair dataframes, create new columns of lists containing pair_ids, Names
for k,df in dfsd.items():
    print(df.columns)
    if 'PairR' in df:
        df['Names'] = df['Name'].map(lambda r: r.split(' - ')) # if 'Name' is missing, re-download dfs
        df['pair_ids'] = df['Names'].map(lambda r: [acbl_player_name_to_id_dict[n] for n in r]) # pair of ids and names
        df.drop('Name',axis='columns',inplace=True)
    else:
        df['player_id'] = df['Name'].map(lambda n: acbl_player_name_to_id_dict[n] if n in acbl_player_name_to_id_dict else []) # scaler id and name
    display(k,df)

Index(['Rank', 'MP's', 'Unit', 'Name'], dtype='object', name=0)

'allmps'

0     Rank      MP's Unit                     Name                                                                       player_id
0        1  92862.58  128         Meckstroth, Jeff                                                                       [4580699]
1        2  87910.58  176            Passell, Mike                                                                       [1622382]
2        3  78168.46  128            Rodwell, Eric                                                                       [5482658]
3        4  76525.13  174              Wold, Eddie                                                                       [3443949]
4        5  71817.34  210               Lair, Mark                                                                       [5830400]
5        6  62350.16  538           Itabashi, Mark                                                                       [6811434]
6        7  51506.72  373           Hampson, Geoff                                                                       [9984488]
7        8  50419.44  176           Compton, Chris                                                                       [8007713]
8        9  47550.39  373            Levin, Robert                                                                       [7279515]
9       10  46419.44  373            Cheek, Curtis                                                                       [2931060]
10      11  45553.16  373            Jacobus, Marc                                                                       [1766945]
11      12  44616.04  147          Robinson, Steve                                                              [2854066, 5977797]
12      13  44544.18  147              LaSota, Leo                                                                       [3852830]
13      14  44328.07  179              Said, Chuck                                                                       [4383974]
14      15  44315.39  128         Berkowitz, David                                                                       [2022508]
15      16  43328.01  373          Ferguson, Bruce                                            [2141965, 9454969, 1640127, 2586363]
16      17  43321.59  147             Sontag, Alan                                                                       [1926845]
17      18  39358.73  123               Smith, Ron  [8092796, 3328600, tmp:e9dec9cb-dc35-49ba-bb7b-6a9568e86a2a, 5792916, 5302935]
18      19  39250.62  161           Siebert, Allan                                                                       [3384802]
19      20  38882.81  176              Hamman, Bob                                                                       [9789944]
20      21  37940.10  373           Hamilton, Fred                                                              [4318552, 7837755]
21      22  37283.55  373            Miller, Billy                                                     [8142114, 5120748, 3367193]
22      23  36506.64  508            Simpson, Gene                                                                       [7274971]
23      24  35925.64  128              Stout, Alan                                                                       [1613707]
24      25  35174.67  128        Cappelletti, Mike                                                                       [2601087]
...    ...       ...  ...                      ...                                                                             ...
4975  4976   3958.93  108           Charron, Grace                                                                       [9323112]
4976  4977   3958.33  207         Mahajan, Swadesh                                                                       [8019258]
4977  4978   3958.17  192            McKellar, Jim                                                                       [1226363]
4978  4979   3958.10  351     Quenneville, Charles                                                                       [4199464]
4979  4980   3957.10  123            Erickson, Sue                                                                       [4766180]
4980  4981   3956.61  109     Hagenlocker, Richard                                                                       [6948774]
4981  4982   3956.16  355            Hanna, Janice                                                                       [6353851]
4982  4983   3955.42  176              Chan, Molan                                                                       [6560296]
4983  4984   3955.12  533           Grubb, Roberta                                                                       [9713263]
4984  4985   3954.72  244        Bumgardner, Bobby                                                                       [4885384]
4985  4986   3954.22  351                Yee, Lily                                                                       [4187458]
4986  4987   3953.24  360             Black, James                                                                       [7556055]
4987  4988   3951.54  123           Ralston, Gitta                                                                       [4175352]
4988  4989   3950.92  505            Fein, Sheldon                                                                       [7940556]
4989  4990   3950.41  513             Sacks, Harry                                                                       [9464018]
4990  4991   3949.38  451             Epley, Karen                                                                       [3410897]
4991  4992   3949.14  507           Talia, Panette                                                                       [4349660]
4992  4993   3949.11  168          Sheaffer, Andie                                                                       [2462494]
4993  4994   3949.05  146       Kennedy, J Darrell                                                                       [2733579]
4994  4995   3948.40  160            Horak, George                                                                       [1454854]
4995  4996   3947.79  354       Abinanti, Marigail                                                                       [8274274]
4996  4997   3947.44  109              Burrus, Ann                                                                       [2737140]
4997  4998   3945.79  128            Gordon, James                                   [3775992, 8509069, 6791336, 8025177, 5886600]
4998  4999   3945.35  141  Rubinstien, Yacob(Jacob                                                                              []
4999  5000   3944.89  103             Okubo, Randy                                                                       [3158721]

[5000 rows x 5 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'allpr'

0     Rank     PR Games Unit                 Name  player_id
0        1  72.09   137  108    Grossack, Zachary  [2250896]
1        2  71.27    60  174          Wold, Eddie  [3443949]
2        3  71.14    86  373          Shi, Sylvia  [5420105]
3        4  71.02   201  538       Itabashi, Mark  [6811434]
4        5  71.01   164  128    Cappelletti, Mike  [2601087]
5        6  70.76    47  128     Meckstroth, Jeff  [4580699]
6        7  70.28   131  151    Pollack, Frederic  [6529224]
7        8  69.67    77  155         Nathan, Marc  [1621807]
8        9  69.59    69  128      Stamatov, Jerry  [9936327]
9       10  69.37   198  155       Rotaru, Iulian  [7066325]
10      11  69.37   117  525         Gao, Sherman  [2510154]
11      12  69.34   153  155         Nistor, Radu  [5123151]
12      13  69.13    50  128        Rodwell, Eric  [5482658]
13      14  69.13   119  155            Grue, Joe  [8542341]
14      15  68.99    36  210           Lair, Mark  [5830400]
15      17  68.76   170  239         Snyder, Jack  [4608402]
16      18  68.64    81  176       Compton, Chris  [8007713]
17      19  68.62    50  108       Grossack, Adam  [8808155]
18      20  68.47    49  172    Koneru, Venkatrao  [3250989]
19      21  68.45   150  155          Radin, Judi  [4389751]
20      22  68.43    28  119     Ayyagari, Murthy  [9146962]
21      23  68.40    34  155           Hurd, John  [2446014]
22      24  68.38    66  243    Pavlicek, Richard  [3565408]
23      25  68.18    36  144      Oshlag, Richard  [1836528]
24      26  67.98   163  373   Kovachev, Valentin  [3380211]
...    ...    ...   ...  ...                  ...        ...
4828  4902  55.45    62  354  KIRKPATRICK, Thomas         []
4829  4903  55.45   144  448         Coones, Beth  [6613535]
4830  4904  55.45   106  470           Choi, Jean  [2694069]
4831  4905  55.45    24  128    Wentworth, Cassie  [1739441]
4832  4906  55.45    75  452         Sather, John  [5546885]
4833  4907  55.45    36  128       Saiman, Martin  [4237420]
4834  4908  55.45    34  539     Lawrence, Pamela  [1810340]
4835  4909  55.45    68  243       Abern, Wendell  [4743555]
4836  4910  55.45   118  240     Goodman, Stanley  [4488466]
4837  4911  55.44    46  374     Zimmerman, Susan  [3441822]
4838  4912  55.44    31  247        Tyler, Robbie  [6848885]
4839  4913  55.44   129  437       Ulrich, Joseph  [5767458]
4840  4914  55.44    74  140       Bauman, Edward  [8164010]
4841  4915  55.44   142  205    Woodfine, William  [3853314]
4842  4916  55.44    17  117       Schmidt, Ellen  [4756223]
4843  4917  55.44    47  219    Polangin, Richard  [3575489]
4844  4918  55.44    33  539  Beckerman, Madeline  [4259793]
4845  4919  55.44    47  147       Schepps, Hanna  [4954149]
4846  4920  55.44    89  123         Harris Jr, W  [6071589]
4847  4921  55.44    50  151        Adelson, Gail  [4051610]
4848  4922  55.43    33  562       Virgo, Carolyn  [2697416]
4849  4923  55.43    79  144    Lightman, Stephen  [3709655]
4850  4924  55.43    21  354         Kasle, Carol  [2424479]
4851  4925  55.43   135  562            Lee, Dawn  [8505497]
4852  4926  55.43    89  246    Greenberg, Hilton  [5478588]

[4853 rows x 6 columns]

Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name'], dtype='object', name=0)

'improv6'

0     Rank last/PR old/PR PR/inc Unit                  Name                                            player_id
0        1   55.48  49.81   5.67  114         Cone, Cynthia                                            [4928725]
1        2   50.50  44.90   5.60  243         Chance, Doris                                            [5571790]
2        3   61.08  55.65   5.43  128          Land, Jeanne                                            [1249495]
3        4   40.47  35.14   5.34  159          Warach, Jane                                            [8043620]
4        5   56.37  51.06   5.31  128     Baniewicz, Jeanne                                            [9442677]
5        6   49.62  44.70   4.92  246    McGrath, Kimberley                                            [9038558]
6        7   51.58  46.69   4.88  547           Acutt, Iris                                            [8671338]
7        8   60.78  55.93   4.86  189  Zamierowski, Barbara                                            [3002217]
8        9   47.83  42.99   4.84  114       Bedgood, Cheryl                                            [6751318]
9       10   50.31  45.54   4.78  128    Wallace, Constance                                            [9074430]
10      11   50.77  46.13   4.64  189   Fitzpatrick, Bonnie                                            [3194043]
11      12   49.84  45.24   4.60  439       Maxson, William                                            [9998004]
12      13   45.41  40.88   4.53  144         Stanton, Joan                                            [5575494]
13      14   53.21  48.69   4.52  140         Armus, Nadine                                            [1974718]
14      15   58.65  54.16   4.49  201     Fisher, Ernestine                                            [2295121]
15      16   53.29  48.90   4.39  102            Jhee, Yoon                                            [4700457]
16      17   49.50  45.13   4.37  128         Noles, Bonita                                            [5529506]
17      18   57.32  53.05   4.27  224       Sadler, Michael                                            [6170218]
18      19   44.05  39.78   4.27  112     Lipari, Ann Marie                                            [4462483]
19      20   52.39  48.17   4.22  240           Gurley, Eva                                            [6728227]
20      21   45.23  41.04   4.19  354         Fishman, Rose                                            [1223186]
21      22   43.94  39.80   4.14  128          Joyce, Karen                                            [3570509]
22      23   58.37  54.25   4.12  128        Schmetz, Diane                                            [2787229]
23      24   53.23  49.15   4.08  201           Rising, Lou                                            [1878905]
24      25   60.94  56.91   4.03  155         Dinoff, Frank                                            [7222734]
...    ...     ...    ...    ...  ...                   ...                                                  ...
4919  4976   49.92  49.26   0.66  562       Haines, Barbara  [tmp:09593a51-84ba-4f40-bae3-18681d646eef, 5121558]
4920  4977   45.69  45.03   0.66  174       Annenkova, Vera                                            [9261397]
4921  4978   46.73  46.07   0.66  151       Poplaw, Beverly                                            [2348411]
4922  4979   44.97  44.32   0.66  124            Jung, Elva                                            [1913670]
4923  4980   60.44  59.78   0.66  507        Langlois, Bill                                            [9073744]
4924  4981   59.28  58.62   0.66  487   Coquillette, Connie                                            [6917038]
4925  4982   49.47  48.82   0.66  126           Kuzma, Ruth                                            [7778333]
4926  4983   64.00  63.35   0.66  130        Fidler, Marcia                                            [4591135]
4927  4984   56.34  55.68   0.66  161        Hodges, Evelyn                                            [6199208]
4928  4985   56.84  56.19   0.66  205       White, Mary Ann                                            [2040026]
4929  4986   53.57  52.91   0.66  139        Kelly, Carolyn                                            [6808395]
4930  4987   61.53  60.87   0.66  425          Rais, Edward                                            [7165846]
4931  4988   61.28  60.62   0.66  119      Ehrenhaft, Henry                                            [6685366]
4932  4989   52.04  51.38   0.66  557         Renkus, Linda                                            [6672043]
4933  4990   57.92  57.27   0.65  128       Musinsky, Irene                                            [7552114]
4934  4991   51.80  51.15   0.65  476      McClellan, Betty                                            [9711635]
4935  4992   50.41  49.75   0.65  103          Santa, Betty                                            [5410584]
4936  4993   47.32  46.67   0.65  130         Stone, Daniel                                            [8753660]
4937  4994   61.26  60.60   0.65  133          Bell, Walter                                            [3196100]
4938  4995   56.84  56.19   0.65  354       Pientka, D'Anne                                                   []
4939  4996   58.08  57.42   0.65  506          Porter, Gary                                            [5509548]
4940  4997   52.20  51.54   0.65  119       Davison, Edward                                            [9340289]
4941  4998   55.98  55.33   0.65  128           Weiss, Fran                                            [8923930]
4942  4999   53.02  52.37   0.65  186        Goldman, Ilene                                            [1600966]
4943  5000   55.70  55.04   0.65  547        Brett, Marilyn                                            [9394052]

[4944 rows x 7 columns]

Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name'], dtype='object', name=0)

'improv12'

0     Rank last/PR old/PR PR/inc Unit                  Name                                                                                            player_id
0        1   50.77  43.24   7.52  189   Fitzpatrick, Bonnie                                                                                            [3194043]
1        2   47.76  40.89   6.87  373    Koziol, Malgorzata                                                                                            [1441426]
2        3   56.37  49.53   6.84  128     Baniewicz, Jeanne                                                                                            [9442677]
3        4   49.91  43.30   6.61  452     Krasovic, Valarie                                                                                            [5511623]
4        5   53.21  46.70   6.51  140         Armus, Nadine                                                                                            [1974718]
5        6   58.14  51.74   6.39  128          Lieser, John                                                                                            [4240464]
6        7   58.65  52.27   6.38  201     Fisher, Ernestine                                                                                            [2295121]
7        8   51.58  45.21   6.37  547           Acutt, Iris                                                                                            [8671338]
8        9   61.69  55.53   6.16  470      Williams, Busaba                                                                                            [2143070]
9       10   46.73  40.67   6.06  219           Cox, Ronald                                                                                            [1794124]
10      11   57.32  51.28   6.05  224       Sadler, Michael                                                                                            [6170218]
11      12   47.83  41.91   5.92  114       Bedgood, Cheryl                                                                                            [6751318]
12      13   49.08  43.41   5.67  128          Cohn, Donald                                                                                   [3213528, 7435266]
13      14   40.47  35.02   5.45  159          Warach, Jane                                                                                            [8043620]
14      15   56.65  51.21   5.44  141       Gilbert, Claire                                                                                            [3139883]
15      16   55.92  50.59   5.33  103       Burkley, Pamela                                                                                            [8280800]
16      17   55.27  50.17   5.10  155           Warren, Mee                                                                                            [9234195]
17      18   63.18  58.12   5.06  179      Strayhorn, David                                                                                            [3386295]
18      19   52.96  47.91   5.05  178     Holmquist, George                                                                                            [3812138]
19      20   60.78  55.75   5.03  189  Zamierowski, Barbara                                                                                            [3002217]
20      21   56.62  51.63   4.99  160    PRITCHARD, Carolyn                                                                                                   []
21      22   48.83  43.90   4.92  114         Macfie, Sissy                                                                                            [1603264]
22      23   60.94  56.02   4.92  128             Hornak, J                                                                                            [2237172]
23      24   63.08  58.18   4.90  243     Feinstein, Marvin                                                                                            [6204619]
24      25   48.44  43.56   4.89  195       Swanson, Maxine                                                                                            [1393006]
...    ...     ...    ...    ...  ...                   ...                                                                                                  ...
4925  4976   48.68  47.83   0.85  128          Wilkey, Sari                                                                                            [2995786]
4926  4977   60.08  59.22   0.85  128       Jabbour, Sharon                                                                                            [6134688]
4927  4978   45.32  44.47   0.85  412        Deck, Christie                                                                                            [3557073]
4928  4979   55.02  54.17   0.85  557         Baccus, Verna                                                                                            [9711686]
4929  4980   51.06  50.21   0.85  128          Hazan, Donna                                                                                            [2222043]
4930  4981   52.59  51.73   0.85  533      Rappaport, Frank                                                                                            [5100534]
4931  4982   58.89  58.04   0.85  503            Huang, Tom                                                                                            [4437896]
4932  4983   48.36  47.50   0.85  374         French, Janet                                                                                   [8369305, 8877394]
4933  4984   52.20  51.35   0.85  139         Hartman, Paul                                                                                            [1424092]
4934  4985   58.12  57.26   0.85  155          Yellis, Lisa                                                                                            [1857266]
4935  4986   42.63  41.77   0.85  240         Fox, Patricia                                                                                            [9758674]
4936  4987   45.38  44.53   0.85  143          Eiger, Susan                                                                                            [9140220]
4937  4988   53.62  52.77   0.85  165         Wright, Jerry                                                                                            [6952526]
4938  4989   48.75  47.90   0.85  114           Cruse, Jane                                                                                            [1871587]
4939  4990   49.80  48.94   0.85  525     Lehrfeld, Michael                                                                                            [8903239]
4940  4991   49.15  48.30   0.85  128      Darnell, Richard                                                                                            [2399024]
4941  4992   42.12  41.27   0.85  487         Kessler, Mary                                                                                            [1367943]
4942  4993   52.52  51.67   0.85  174         Hink, Phyllis                                                                                            [5701678]
4943  4994   48.54  47.69   0.85  243          Kalen, Trudy                                                                                            [4710495]
4944  4995   52.33  51.47   0.85  242     Blumenfeld, Peggy                                                                                            [1227807]
4945  4996   57.85  57.00   0.85  179        Lowen, Rebecca                                                                                            [7785992]
4946  4997   47.76  46.91   0.85  130       Trudgen, Thelma                                                                                            [7755813]
4947  4998   58.93  58.08   0.85  356          Lewis, Kevin  [tmp:2969f368-0ef2-46d5-b02b-440d0d71449d, 3248224, tmp:b8d45e9f-d487-4526-b16e-2cb30953586e, tm...
4948  4999   58.95  58.10   0.85  155       Steinberg, Nina                                                                                            [7885091]
4949  5000   51.12  50.27   0.85  354          Davis, Merri                                                                                            [8467102]

[4950 rows x 7 columns]

Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name'], dtype='object', name=0)

'improv24'

0   Rank last/PR old/PR PR/inc Unit                  Name                                      player_id
0      1   63.74  57.30   6.45  503         Kemper, Carol                                      [4331699]
1      2   68.27  61.88   6.39  119      Ayyagari, Murthy                                      [9146962]
2      3   55.95  49.73   6.21  196           Drabek, Yan                                      [5172713]
3      4   60.36  54.20   6.17  425      Schmahl, Michael                                      [4934148]
4      5   66.46  60.92   5.54  132         Kopper, David                                      [2212501]
5      6   60.73  55.23   5.50  531      Denny, Christine                                      [3225135]
6      7   58.49  53.04   5.45  373      Williams, Daniel                                      [6527051]
7      8   58.11  52.66   5.44  136          Harner, Lori                                      [5399963]
8      9   62.27  56.91   5.36  506           Chen, Chris                                      [3973182]
9     10   62.79  57.66   5.12  374         Harris, Cindy                                      [4997352]
10    11   63.47  58.47   5.00  207     McMinn III, Wiley                                      [5892465]
11    12   56.34  51.52   4.83  243         Franco, Jorge                                      [1052179]
12    13   60.06  55.32   4.75  207        Naimoli, Peter                                      [9232648]
13    14   62.50  57.86   4.65  114           Mabee, Carl                                      [8719071]
14    15   63.36  58.73   4.63  172       Jackson, Daniel           [9743847, 6697542, 8132046, 2420422]
15    16   62.38  57.87   4.51  207         Langer, Jarek                                      [9242880]
16    17   64.19  59.75   4.44  128   McClendon, Robert L                                      [2303264]
17    18   58.07  53.86   4.21  361          Carson, Skip                                      [2337541]
18    19   60.16  55.97   4.19  503        Schireson, Max                                      [9064788]
19    20   57.40  53.29   4.11  114          Stalvey, Ray                                      [9545204]
20    21   58.93  54.83   4.10  126            Wu, Vivian                                      [9244700]
21    22   46.33  42.34   3.99  172            Tom, Nancy                                      [7248075]
22    23   60.60  56.70   3.89  500      Jeyakumar, Rajan                                      [4369335]
23    24   55.85  52.13   3.71  108     Srimurthy, Vikram                                      [4454324]
24    25   70.38  66.73   3.65  525          Gao, Sherman                                      [2510154]
..   ...     ...    ...    ...  ...                   ...                                            ...
220  222   58.35  58.12   0.23  142    Frobouck, Reanette                                      [6385222]
221  223   54.53  54.31   0.22  360       Nicholos, Linda                                      [6120083]
222  224   63.20  62.99   0.21  143      Oppenheimer, Tom                                      [2438232]
223  225   63.73  63.52   0.21  502      Barrere, Crispin                                      [8922497]
224  226   53.33  53.13   0.20  396             Fink, Ray                                      [5529964]
225  227   57.89  57.70   0.19  179          Sloan, Chris                                      [9474218]
226  228   59.50  59.33   0.17  207            Black, Joe                                      [4526511]
227  229   53.13  52.96   0.17  165    Maliyekkel, Ittoop                                      [4206037]
228  231   56.77  56.61   0.16  356        Couchman, Doug                                      [4536096]
229  232   58.57  58.41   0.16  174        Starzec, Betty                                      [1063219]
230  233   58.75  58.60   0.16  361           Newlin, Flo                                      [7189591]
231  234   59.90  59.75   0.15  498        Chasalow, Fred                                      [1059807]
232  235   59.08  58.95   0.14  108   Rubenstein, Stewart                                      [3504859]
233  236   62.20  62.08   0.11  207          Tobias, Paul                                      [1883607]
234  237   59.66  59.55   0.11  153           Brown, Judy  [1715798, 3464873, 2202336, 3779807, 9113622]
235  238   57.25  57.15   0.10  128   Terajewicz, Ru Hong                                      [5328632]
236  239   58.41  58.31   0.09  360  Van Arsdale, Marilee                                      [4417062]
237  240   59.32  59.23   0.09  207       Watkins, George                                      [5204801]
238  241   61.46  61.39   0.08  441       Woodard, Ronald                                      [6145418]
239  242   61.23  61.16   0.07  525     Feigenbaum, Ellis                                      [8888477]
240  243   53.86  53.81   0.05  360        Shepard, Sally                                      [6208037]
241  244   69.39  69.34   0.04  155             Grue, Joe                                      [8542341]
242  245   59.37  59.34   0.03  354   Weiner, Renay Danto                                      [8019045]
243  246   60.72  60.70   0.01  174      Gates, Georgiana                                      [5591562]
244  247   64.13  64.12   0.01  108         McDevitt, Pat                                      [1058061]

[245 rows x 7 columns]

Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PR', 'Unit', 'Name'], dtype='object', name=0)

'underate'

0     Rank     UR PR/MP's   MP's     PR Unit                   Name                                                                                            player_id
0        1  19.01    7231      1  59.22  128           Olster, Evan  [tmp:1bd69b97-671c-498b-9b13-554a2926a285, tmp:6637f30e-5942-4a56-87fb-7b8fc7f60e71, tmp:2ddfbbf...
1        2  18.80    6908      2  59.03  246            Rosin, Leah  [tmp:1c0dd554-02b5-4c03-931c-287c14ed2c79, tmp:617f2476-72a2-4dd1-85b1-20a9347f7beb, tmp:aaca79b...
2        3  17.70    8321     42  59.86  128           Lieser, John                                                                                            [4240464]
3        4  17.57    9528     69  60.57  473      Grijalva, Rolando        [7928378, tmp:dd9921da-821c-40bb-9e35-1cc85b8db6c3, tmp:80eda9d1-a123-467b-ada3-8931c969e76b]
4        5  17.39    5095      9  57.97  431             Kelly, Ken  [tmp:90dfb096-2e5f-495c-8804-eb1c6406843f, tmp:b3e7843c-01f9-4f87-97c1-91358940371c, tmp:940f616...
5        6  15.94   51547    818  66.87  123    Lishkov, Aleksandar                                                                                            [1320998]
6        7  15.56    9573    158  60.60  139         Popkin, Arnold                                                                                            [8230021]
7        8  14.01    5827    128  58.40  222             Renz, Greg                                                                                            [3793281]
8        9  13.95    9284    244  60.43  559        Zappaterreno, R                                                                                            [3616320]
9       10  13.90    5228    116  58.05  188        Zoulis, Michael                                                                                            [6576222]
10      11  13.82    2978     31  55.47  999         Deva, Yogendra  [tmp:6d128041-b217-4a1d-9d4e-af509c91f778, 8447020, tmp:598cb48f-d796-4515-8270-9e85846ee17d, tm...
11      12  13.71    3948     66  56.65  431       Couture, Michael                                                                                            [9243437]
12      13  13.63   22405    490  62.55  207         Litwin, Stuart                                                                                            [3848485]
13      14  13.62   20452    462  62.29  128              Hornak, J                                                                                            [2237172]
14      15  13.45    2074      4  53.77  128     Liebowitz, Jeffrey                                                                                            [1438689]
15      16  13.42   52367   1971  67.00  130             Cory, Matt                                                                                            [7116306]
16      17  13.39    8453    249  59.94  128      Baniewicz, Jeanne                                                                                            [9442677]
17      18  13.38   39219   1081  65.00  507                Ge, Xin                                                                                            [1815695]
18      19  13.38    2023      3  53.68  139             Waid, John  [tmp:d12d180e-0003-486a-b721-858b85d21545, tmp:c24b0014-04a2-4d20-aaab-4b4cfcfc84e9, tmp:5b8d94e...
19      20  13.02    2653     36  54.86  175        Ammann, Matthew                                                                                            [8197288]
20      21  13.01   10923    387  60.98  360           Cannon, Fred                                                                                            [5914671]
21      22  12.93    3844     92  56.52  208           Quigg, David                                                                                            [7807392]
22      23  12.90    4509    129  57.32  503       Steele, Patricia                                                                                            [4236858]
23      24  12.87    5200    164  58.03  135        Kohlman, Walter                                                                                            [1275984]
24      25  12.75   46435   1844  66.10  128          Yousry, Ahmed                                                                                            [2704838]
...    ...    ...     ...    ...    ...  ...                    ...                                                                                                  ...
4928  4974   2.39    4891   2939  57.78  174            Cuneo, Paul                                                                                            [4499891]
4929  4975   2.39   11219   6210  61.02  571           Harris, Judy                                                                 [3189155, 3413721, 6162266, 6695957]
4930  4976   2.39     421    198  48.29  506        Robbins, Sallie                                                                                            [6528945]
4931  4977   2.39     352    168  47.65  188          Meyers, Barry                                                                                            [5928451]
4932  4978   2.39    4871   2927  57.76  128            Zohar, Edna                                                                                            [1138626]
4933  4979   2.39     586    305  49.61  155         Abelow, Sallie                                                                                            [7375891]
4934  4980   2.39   32085  14930  63.92  147          Kales, Eugene                                                                                            [2840847]
4935  4981   2.39    1353    631  52.32  188     Cleveland, Barbara                                                                                            [7050607]
4936  4982   2.39    2484   1289  54.54  208      Rabjohns, Camilla                                                                                            [3896633]
4937  4983   2.39     475    237  48.78  531     McInerny, Nicholas                                                                                                   []
4938  4984   2.39    1811    803  53.28  243        Michelsen, Geri                                                                                            [9562397]
4939  4985   2.38     993    499  51.39  141   Van Adelsberg, Bunny                                                                                            [4648951]
4940  4986   2.38    1780    781  53.22  124          Zurborg, Mary                                                                                            [3804690]
4941  4987   2.38    3149   1823  55.69  143      Siegfried, Helene                                                                                            [9856285]
4942  4988   2.38    1330    623  52.26  123       Rosenberg, Harry                                                                                   [4779568, 8193878]
4943  4989   2.38    2899   1626  55.32  356         McKethen, John                                                                                                   []
4944  4991   2.38    2960   1688  55.43  354           Kasle, Carol                                                                                            [2424479]
4945  4992   2.38    6533   3769  58.81  114          Ogden, Evelyn                                                                                            [6906087]
4946  4993   2.38    2861   1590  55.25  128  Linett-Huether, Betty                                                                                            [3133435]
4947  4994   2.38    1417    656  52.48  442           Fritz, Lucie                                                                                            [2900513]
4948  4995   2.38     316    153  47.32  473            Walz, Diane                                                                                            [8224420]
4949  4996   2.38    1388    646  52.41  108         Banerjee, Gora                                                                                            [3445887]
4950  4997   2.38    3488   2044  56.09  243          Aiken, Arnita                                                                                            [2037882]
4951  4998   2.38     595    314  49.68  222          Slesar, Paula                                                                                            [3758257]
4952  5000   2.38    2889   1620  55.30  139          Layman, Alice                                                                                            [2910691]

[4953 rows x 8 columns]

Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PairR', 'Unit', 'Name'], dtype='object', name=0)

'urpairs'

0     Rank     UR PR/MP's   MP's  PairR     Unit                                       Names                                                                                             pair_ids
0        1  18.80   37191    146  61.68  999/999        [Robinson, Claire, Bakhshi, Heather]                                                                                      [[6025366], []]
1        2  16.20   37598    404  62.06  999/999              [Sherman, David, Capal, Tracy]                                                                                             [[], []]
2        3  15.69    8152     41  56.80  533/533                    [Hu, Xiaodan, Wang, Jun]  [[8237328, tmp:5b2e409e-03b4-44dd-afcf-def8afc94803, tmp:75660f98-02a8-42a8-a5be-2d5a8d4b1a03, t...
3        4  15.52    7353     28  56.32  446/446              [Walsh, John, Rasmussen, Pete]                                                                               [[2235897], [2235978]]
4        5  15.46   77953   1854  64.47  155/155        [Questembert, Patrick, Tadmor, Ilan]                                                                               [[4016424], [8337500]]
5        6  14.83   12999    218  58.77  999/999          [Shapochnik, Gersh, Yadadov, Rami]                                                                                             [[], []]
6        7  14.35    7608     84  56.48  150/150       [Woodard, Wendell, Cummings, William]                                                                                      [[], [9934987]]
7        8  13.79   80306   1956  65.14  123/123      [Poska, Gediminas, Vitukynaite, Daiva]                                                                               [[5128501], [5177944]]
8        9  13.42   53307    624  59.75  999/506               [Guven, Metin, Bichara, Rita]                                                                                      [[], [7703252]]
9       10  13.41    4235     12  53.85  151/151       [Lavoie, Pierre-Andre, Dame, Jacques]  [[tmp:149ca897-2246-41d8-bc66-6dec85f3b11d, tmp:2d20daba-788c-438d-9f8c-a2527f3c1e7c, tmp:09372d...
10      11  13.15   83234   3281  65.44  999/446             [King, Phillip, Castner, Kevin]                                                                                             [[], []]
11      12  12.90   66896   1857  64.12  503/507                 [Hu, Michael, Zhou, Arthur]                                                                               [[2647680], [2852578]]
12      13  12.45   43802   1336  61.22  999/999                [Bird, Nigel, Senior, Brian]                                                                                             [[], []]
13      14  12.43    6416    163  55.76  191/191              [Snedecor, Dan, Francis, Mark]                                                                               [[5331684], [5331692]]
14      15  12.02    3865     56  53.51  128/128        [Polisetty, Rayudu, Polisetty, Usha]                                     [[2202891], [tmp:a991497b-bb77-4290-9d9a-f61edf0133f7, 8357420]]
15      16  11.97   32420   1433  58.45  246/246             [Jarman, John, Epworth, Howard]  [[4956184], [tmp:1eb1c84b-8fc4-4d5f-a987-79d0d0001d7e, tmp:a0d2f529-2bb1-4a7d-9541-5f7453972b92,...
16      17  11.80    7249    262  56.26  141/141                    [Guo, Lee, Zhang, Jason]                                                                               [[3320650], [3352129]]
17      18  11.73   70333   2973  64.38  141/190     [Foerster, Thomas, Marlow, Christopher]                                                                                      [[4938828], []]
18      19  11.60    5831    197  55.35  354/354                  [Gyde, Rita, Gyde, Steven]                                                                                      [[7772866], []]
19      20  11.54    8036    335  56.73  151/151            [Babin, Simon, Anhoury, Youssef]                                                                               [[1303694], [8878293]]
20      21  11.54    5166    157  54.46  137/137              [Wiedmayer, Eric, Wang, Jason]                                                                               [[1155954], [1533479]]
21      22  11.36   58265   1432  58.35  115/115              [Harding, Charles, Rizzi, Tom]                                                                                      [[6690149], []]
22      23  11.23   50232   2371  60.94  573/573               [Nattrass, Wayne, Yao, Warke]                                                                                             [[], []]
23      24  11.22   12832    664  58.58  999/999             [Vidigal, Caru, Menezes, Lucia]                                                                                             [[], []]
24      25  11.09    4115    116  53.74  356/356             [Gensler, Hal, Ettenger, Allen]                                                                               [[1465031], [7892446]]
...    ...    ...     ...    ...    ...      ...                                         ...                                                                                                  ...
4905  4976   2.84    1485    741  50.67  132/132               [Button, Steve, Kimmel, John]                                                                               [[9431810], [9505555]]
4906  4977   2.84    1821    767  50.63  562/562            [Riklin, Matthew, Levitt, Harry]                                                                               [[4611047], [5112524]]
4907  4978   2.84    9845   4584  57.02  108/108             [Cohen, Martin, Paxhia, Steven]                                                                      [[4579119, 6288561], [6136818]]
4908  4979   2.84    6687   1772  53.86  128/108            [Gellman, Marc, Eby, Jacqueline]                                                                               [[1224980], [4292634]]
4909  4980   2.84    2233   1003  51.71  128/128            [Storper, Fran, Himmel, Marilyn]                                                                               [[1772139], [3660664]]
4910  4981   2.84   70861  24730  63.73  179/179          [McGinnis, Coley, Birnbaum, David]                                                                               [[3385086], [4207343]]
4911  4982   2.84    2939   1452  52.45  219/219               [Lalas, Cynthia, Askew, Jean]                                                                               [[5172586], [9896376]]
4912  4983   2.84    1731    827  51.06  128/128         [Jackson Jr, Carl, Poliquin, James]                                                                               [[5520622], [7118775]]
4913  4984   2.84    4290   1745  53.76  155/155            [Ochlan, Nick, Fazzolari, James]                                                                                             [[], []]
4914  4985   2.84   33598   8510  59.86  242/242                 [Gueli, Carl, Cirker, Bart]                                                                               [[1900765], [4514653]]
4915  4986   2.84     606    185  46.39  128/128             [Birdt, Lynne, Coneys, Barbara]                                                                               [[2897008], [9992170]]
4916  4987   2.84   54629  22431  63.24  147/147         [Marshall, Linda, Schatzow, Steven]                                                                      [[3060349, 5416477], [6778895]]
4917  4988   2.84    1327    630  50.15  253/253       [Battaglia, Russell, Hicks, Marjorie]                                                                                             [[], []]
4918  4989   2.84    4291   1738  53.91  195/195            [Terrana, Clara, Terrana, Terry]                                                                               [[1991000], [7041632]]
4919  4990   2.84   75323  36391  64.30  155/155              [Hurd, John, Miniter, Gillian]                                                                               [[2446014], [7355203]]
4920  4991   2.84    6579   2944  55.35  539/539            [Hastie, Chris, Rossman, Ross L]                                                                                      [[3773663], []]
4921  4992   2.84    1298    613  50.05  192/192  [Maisonneuve Car, Ginett, Carrier, Gerald]                                                                                             [[], []]
4922  4993   2.84     612    246  47.13  240/240          [Brenneman, Carol, Radigan, Diane]                                                                               [[1150146], [1150162]]
4923  4994   2.84    6435   3150  55.44  487/487           [Vorenkamp, Steven, Gantz, David]                                                                               [[4340140], [9738673]]
4924  4995   2.84    1853    811  50.98  128/128           [Karpf, David, Schwartz, Michael]                                                             [[4239237], [3917770, 2976528, 6587402]]
4925  4996   2.84     862    365  48.38  141/140          [Griffin, Naomi, Feldman, Carolyn]                                                                      [[7364849], [6644074, 9848533]]
4926  4997   2.84   34015   5766  57.46  503/503                [Karr, Ron, Rubenfeld, Rita]                                                                               [[1707817], [9487654]]
4927  4998   2.84    6382   3079  55.34  155/155               [Yoon, David, Schargel, Gail]                                                                               [[4749952], [5427959]]
4928  4999   2.84    3984   1179  50.02  195/195               [Baille, Helen, Braciak, Ted]                                                                                      [[4489896], []]
4929  5000   2.84   10070   5774  57.89  374/108                [Bose, Ranjit, Negro, James]                                                                               [[3755037], [5563402]]

[4930 rows x 8 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd1rank'

0   Rank     PR Games Unit                Name                                                                                            player_id
0      1  70.28   131  151   Pollack, Frederic                                                                                            [6529224]
1      2  66.74    96  151    Menachi, Ghassan                                                                                            [3081516]
2      3  65.29    58  151    Carriere, Ronald                                                                                            [7494602]
3      4  64.66   113  151    Chartrand, Andre                                                                                            [3280292]
4      5  64.29    30  151       Dobrin, Ronny                                                                                            [7942427]
5      6  63.43    36  194  Parmenter, Michael                                                                                            [1566636]
6      7  62.62    52  151     Feinstein, Ruth                                                                                            [6280307]
7      8  62.47    17  151   Bedoucha, Norbert                                                                                            [5189233]
8      9  62.40   194  151   Saltsman, Barbara                                                                                            [1262017]
9     10  62.16   109  230      Colter, George                                                                                            [6775640]
10    11  62.13   154  151      Schwartz, Alan                                                  [5186617, tmp:c3ec4f75-19ea-4d9f-9c55-ec51ceecc6df]
11    12  62.07    42  151       Lesage, Denis                                                                                            [1233823]
12    13  61.97    46  194         Eisner, Ken                                                                                            [1640178]
13    14  61.71    59  151     Bernstein, Gary                                                                                            [1115456]
14    15  61.49    38  194    Eastwood, Stuart                                                                                            [8272514]
15    16  61.25   117  194          Perry, Roy                                                                                            [3369390]
16    17  61.23    88  194      Giza, Virginia                                                                                            [9058443]
17    18  60.40    51  194      Collins, Brian                                                                                            [5438233]
18    19  60.33    78  151     Felsky, Heather                                                                                            [8233039]
19    20  60.31    74  151       Jast, Zygmunt                                                                                            [6829546]
20    21  60.30   121  151     Marcus, Dorothy                                                                                            [6760961]
21    22  60.10    62  194        Withers, Ted        [1244159, tmp:8f396477-565c-4a3a-91eb-5e0c58367227, tmp:10e2a0d0-264a-4abb-b9a6-b7970f2cdcd8]
22    23  59.88    54  194       Murphy, Denis                                                                                            [4628942]
23    24  59.87    54  194        Dale, Thomas                                                                                            [1289691]
24    25  59.77    67  194       Shankel, Hugh                                                                                            [5020360]
..   ...    ...   ...  ...                 ...                                                                                                  ...
217  220  49.54    90  151         Bell, Recia                                                                                            [8144001]
218  221  49.52    99  801       ALTER, Arlene                                                                                                   []
219  222  49.47    56  194      Collins, Alice                                                                                            [2540533]
220  223  49.35    45  194      Follett, Susan                                                                                            [1979558]
221  224  49.24   168  151  Bernstein, Barbara                                                                          [1761765, 4025377, 9641130]
222  225  49.16    70  194         Kenny, Gwen                                                                                            [1723774]
223  226  49.08    57  151     Freedman, Pearl                                                                                   [1988689, 5791642]
224  227  49.06    46  194      Burden, Carole                                                                                            [2833409]
225  228  49.05    30  151          Kay, Cindy                                                                                   [6541224, 6365698]
226  229  48.94    48  151      Fremeth, Havie                                                                                            [8145733]
227  230  48.79   113  151    Reinhart, Gloria  [tmp:06207b07-18e8-4f01-9043-0100260946c8, tmp:b431599e-1785-4bd8-994e-bd3705bae72d, tmp:cadf73a...
228  231  48.74    41  151    Bernstein, Helen                                                                                            [6373577]
229  232  48.61    93  151        Levy, Bryant                                                                                            [7430671]
230  233  48.52    85  151   Shatzky, Michelle                                                                                            [7476973]
231  234  48.51    98  151     Glickman, Edith                                                                                                   []
232  235  48.46    84  151       Karass, Edith                                                                                            [9180184]
233  236  48.41    49  194     Dooling, Esther                                                                                            [1979574]
234  237  48.33    55  151        Yufe, Arlene                                                                                            [8356947]
235  238  48.30    47  151    Markovits, Irene                                                                                            [7941560]
236  239  48.30    37  194   Jablonski, Gwenda                                                                                            [4504984]
237  240  48.25    34  194     Stiner, Maureen                                                                                            [5381533]
238  241  48.20    85  151       Shapiro, Rita                                                                                            [8132372]
239  242  47.93    78  151     Kravitz, Helene                                                                                                   []
240  243  47.85    76  151         Rosen, Myra                                                                                            [8132410]
241  244  47.85   154  151        Ambar, Doris                                                                                            [3646653]

[242 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd2rank'

0   Rank     PR Games Unit                 Name                                                                                            player_id
0      1  67.94    20  249   Kleinplatz, Morrie                                                                                            [1303600]
1      3  65.58    78  246   Cafferata, Michael                                                                                            [2648113]
2      4  65.11    24  255        Stevens, John                                                                                   [1529242, 2389371]
3      5  64.77    50  166       Freeman, Jacob                                                                                            [7013124]
4      6  64.64    31  166        Andrews, Doug                                                                                   [1572849, 9453474]
5      7  64.53    47  249        Onslow, Barry                                                                                            [4563514]
6      8  64.08   100  246       Sewell, Robert                                                                                   [1305875, 1798308]
7      9  63.93   149  246       Kenny, Michael                                                                                            [6872573]
8     10  63.39    50  166        Fogel, Harvey                                                                                            [4528980]
9     11  63.28   116  246        Unger, Steven                                                                                            [1578154]
10    12  63.15    79  246        Janicki, Paul                                                                                            [2545799]
11    13  62.88   138  249       Bender, Dwight                                                                                            [3637131]
12    15  62.53    52  166  Steinberg, Jonathan                                                                                            [3207293]
13    16  62.14    55  166      Shinehoft, Jack                                                                                            [1560123]
14    17  61.92    42  246         MacIver, Ian                                                                                            [2942216]
15    18  61.83    58  212      Boston, William                                                                                            [4825705]
16    19  61.83    63  246         Jarman, John                                                                                            [4956184]
17    20  61.82    19  249          Hooyer, Ben                                                                                            [1281097]
18    21  61.74    39  166       Wolpert, Hazel                                                                                            [3864952]
19    22  61.48    26  249     Howe, Mary Lynne                                                                                            [3054578]
20    23  61.45    97  166       Wynston, Linda                                                  [6095364, tmp:9cfa5496-382c-44e8-9bbb-67e40d1045c7]
21    24  61.35    45  166        Mehta, Steven                                                                                            [2539217]
22    25  61.29    42  166     Cunningham, John  [tmp:6c0c99e7-1600-4f38-8412-7fadf76950f7, 1558617, 6038131, tmp:e0306729-8618-4ad4-b23b-97f1dc1...
23    26  61.25    75  166    Richardson, Lewis                                                                                            [4241797]
24    27  61.21    74  249            Potter, M                                                                                            [3054586]
..   ...    ...   ...  ...                  ...                                                                                                  ...
349  356  49.02    74  246        CAPLER, Greta                                                                                                   []
350  357  48.94   194  249       Newman, Andrew                                                                                            [4459660]
351  358  48.92   170  249    St Amand, Cecilie                                                                                            [5251443]
352  359  48.88    32  249      Davenport, Iris                                                                                            [6881459]
353  360  48.87    90  246          Garel, Mark                                                                                            [5198658]
354  361  48.84   142  246        MORRIS, Allan                                                                                                   []
355  362  48.84    39  166           Van, Susan                                                                                            [9853006]
356  363  48.83   111  246       Tavasoli, Mina                                                                                            [4938992]
357  364  48.82   117  249              Fill In                                                                                                   []
358  365  48.79    83  246      Thornham, Nancy                                                                                            [3439054]
359  366  48.73    79  246      Lopresti, Nancy                                                                                            [5162742]
360  367  48.64   427  249     Pearce, Anna Mae                                                                                            [7060394]
361  368  48.58    79  249      Bibbings, Betty                                                                                            [8489580]
362  369  48.58    34  249      Dimond, Michael                                                                                                   []
363  370  48.56    36  246         Gibbs, Jayde                                                                                            [2311844]
364  371  48.55   317  249              Fill In                                                                                                   []
365  372  48.50    26  249      Turnbull, Sally                                                                                            [6994296]
366  373  48.49    53  246     Pepperall, Karen                                                                                            [6697798]
367  374  48.48    34  246            Ives, Jan  [tmp:764213e8-0fe5-461b-b54d-335ee2128df7, tmp:cf5af17f-191d-47cb-bff6-39bc838c391a, tmp:437f200...
368  375  48.42   102  246     Olcsvary, Sandor                                                                                            [4967488]
369  376  48.42   132  249        Butters, Rita                                                                                            [4314077]
370  377  48.40    67  246         Weston, John                                                                                            [9486275]
371  378  48.40    58  246     STORTON, Marilyn                                                                                                   []
372  379  48.34   171  249        BRENNAN, Jack                                                                                                   []
373  380  48.32   140  802        JULIAN, Terry                                                                                                   []

[374 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd3rank'

0   Rank     PR Games Unit                   Name                    player_id
0      1  67.67   112  188         Newman, Dennis                    [2951606]
1      2  66.94    83  115        Neuhart, Robert                    [8396493]
2      3  66.75   116  188        Zucker, Richard                    [2074036]
3      4  66.43    58  188             Aker, Jeff                    [3883914]
4      5  66.31    78  188             Hawa, Fred                    [4657268]
5      7  65.82    24  140           Powell, Alan                    [8092761]
6      8  65.33    56  115   Magdon-Ismail, Malik                    [2965585]
7     10  64.66   125  106      Friedman, Charles  [8315973, 9080333, 3555593]
8     11  64.54    48  140        Leznicki, Jacek                    [3277801]
9     12  64.53    86  188           Fischer, Ron                    [2231417]
10    13  63.90    81  115      Bernhardt, Arthur                    [1863975]
11    14  63.76   109  106      Helfgott, Leonard                    [7974779]
12    15  63.70   117  106       Whitman, William           [9788875, 9849963]
13    16  63.55    67  140       Allen, Alexander                    [8005109]
14    17  63.42    47  140           Perlin, Alex                    [8634661]
15    18  63.39    65  106          Miller, Irwin           [6943004, 1293567]
16    19  63.38    94  106       France, Nicholas                    [4119487]
17    20  63.25    42  236          Otte, Michael                    [7906374]
18    21  63.17    90  188         McKellar, Arch                    [1221795]
19    22  63.02    86  140            Gupta, Mani                    [7978995]
20    23  63.01    84  140       Freedman, Sumner                    [6839924]
21    24  63.00   105  140         Reisman, Jesse                    [2000067]
22    25  62.72    39  106  Linnemeyer, Frederick                    [9297685]
23    26  62.44    36  140           Stein, Peter                    [5025966]
24    27  62.38    63  188            Lewis, Paul                    [2006944]
..   ...    ...   ...  ...                    ...                          ...
442  452  49.87    56  236      Glanzman, Bertram                    [6724213]
443  453  49.82    45  140          Gatta, Connie                    [4520920]
444  454  49.82   116  106         Luckey, Andrea                    [8350612]
445  455  49.82    47  106        Mattikow, Sally                    [9570950]
446  456  49.80    86  186             Lang, Lois                    [4689593]
447  457  49.78    71  106    Machorek, Christine                    [9238778]
448  458  49.68    25  140             Fass, Jeff                    [4079507]
449  459  49.67    31  106           Bauer, Allan                    [9817298]
450  460  49.64    40  115       Accardi, Carolyn                    [6765009]
451  461  49.63   126  140       Steckelman, Ruth                    [5366720]
452  462  49.62    39  140         Philips, Susan                    [9748474]
453  463  49.55    34  140          Egerer, Jared                    [5722535]
454  464  49.50    62  140           Carle, Susan                    [2165961]
455  465  49.48    59  140          Stier, Judith                           []
456  466  49.47    75  140        Goldman, Arleen                    [4513371]
457  467  49.46    49  186           Odell, Tamar                    [5397324]
458  468  49.42    55  115        August, Charles                    [1717251]
459  469  49.41   112  106        Giannella, Mary                    [5417570]
460  470  49.41    43  188           Radin, Erika                    [4403487]
461  471  49.39    26  140       Asch, Mary Ellen                    [3997464]
462  472  49.38    86  140        Losman, Michele                    [8648875]
463  473  49.38    43  115         Urbano, Amelia                    [2854228]
464  474  49.36    94  140      Shelkowitz, Debra                    [5945798]
465  475  49.33    48  140          Cohen, Judith                    [7163460]
466  476  49.32    60  106           Dudas, Linda                    [5687187]

[467 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd4rank'

0   Rank     PR Games Unit                 Name                                                                                            player_id
0      2  66.57    36  141       Labovitz, Marc                                                                                            [8439907]
1      3  66.08   153  141  Chatzinoff, Kenneth                                                                                            [1907441]
2      4  65.38    64  141   Rabinowitz, Martin                                                                                            [2313723]
3      5  64.87    44  190         Taylor, Anne                                                                                            [4428277]
4      6  64.38    30  190      Popper, Richard                                                                                            [5887410]
5      7  64.23    77  168        Gorski, Barry                                                                                            [7967713]
6      8  63.87    94  112          Maitra, Sam                                                                                            [2838850]
7      9  63.87    50  190    Venetianer, David                                                                                            [6422535]
8     10  63.22    69  141      O'Brien, Dennis                                         [3423425, 5191939, tmp:17c6b4f5-c2a0-45a8-a700-d5d376689eea]
9     11  63.20    34  112       Geibel, Philip                                                                                            [1314963]
10    12  62.96    33  121  Bingaman Jr, Albert                                                                                            [1731645]
11    13  62.83    56  141        Kotkin, Meyer                                                                                            [1487981]
12    14  62.77   100  190      Henderson, Mark                                                                                            [4385365]
13    15  62.73   141  141           Bell, Gail                                                                                            [1784587]
14    16  62.63    67  141         Satten, Neal                                                                                            [7977263]
15    17  62.47    26  133        Kresge, David                                                                                            [3252949]
16    18  62.39    41  141     Lieberman, Bruce                                                                                            [8598703]
17    19  62.32    33  141     Ronderos, Alvaro                                                                                            [8451648]
18    20  62.32   124  190        Rowland, Rick                                                                                            [1372734]
19    21  61.91    94  190      Gillespie, Fred                                                                                            [5194784]
20    22  61.78    52  190   Taylor Jr, Francis                                                                                            [6763618]
21    23  61.76    69  141     Jacobson, Daniel                                                                                   [2352079, 6540929]
22    24  61.74    85  112          Marks, Gene                                                                                            [1836595]
23    25  61.62    49  141        Wilke, Robert                                                                                            [4700082]
24    26  61.55    62  190          Ruben, Jeff                                                                                            [4231546]
..   ...    ...   ...  ...                  ...                                                                                                  ...
496  501  48.51    34  141        Cherry, Sandy                                                  [6409563, tmp:889b0d66-7963-4623-8809-65b4a397bd84]
497  502  48.51    74  112          Koch, Nancy                                                                                            [7302320]
498  503  48.40    50  112      Flanagan, Janet                                                                                            [2212765]
499  504  48.35    31  141          Gates, Judy                                                                                            [5590159]
500  505  48.34    53  141         Davis, James                                                                                   [4337948, 8762457]
501  506  48.33    97  112         Farris, Judy                                                                                            [5722020]
502  507  48.33    52  112         Manning, Sue                                                                                            [5235901]
503  508  48.28    30  112     Klausner, Angela                                                                                                   []
504  509  48.27    42  168     Burkhart, Marvin                                                                                            [5930421]
505  510  48.20   111  190          Hayes, Sugi                                                                                            [4511530]
506  511  48.20    58  141      Rosenberg, Myra                                                                                   [3636747, 2634082]
507  512  48.18    63  190    Retherford, Carol                                                                                            [3729176]
508  513  48.15   132  141  Umphlet, Jacqueline                                                                                            [7700229]
509  514  48.07    75  112      Powell, Suzanne                                                                                            [8540004]
510  515  48.07    27  190       Spicer, Teresa                                                                                            [9089624]
511  516  48.06   102  141         Waters, John                                                                                            [7307128]
512  517  48.03    79  112           Smith, Pat  [3566056, 5008204, 5480876, 4701399, tmp:3c65beaf-4b62-4d72-a086-812e1edf405b, tmp:91fcc50f-8a0d...
513  518  48.02    60  190      Humphrey, Sally                                                                                   [5253772, 7557469]
514  519  48.01    54  190       Schwenk, Karin                                                                                            [9506020]
515  520  47.98    37  141        Morris, Anita                                                                                            [8472114]
516  521  47.97    39  190    Fulweiler, Kimmie                                                                                            [7968477]
517  522  47.97    70  112       Statton, Debra                                                                                                   []
518  523  47.92    53  141     Hoffman, Barbara                                                                                            [6868541]
519  524  47.80    90  190     Schenkel, Debbie                                                                                            [5886287]
520  525  47.77    40  190   Lochiatto, Phyllis                                                                                            [2718642]

[521 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd5rank'

0  Rank     PR Games Unit                    Name           player_id
0     1  64.15    65  116               Levy, Jay           [2232782]
1     2  62.88    65  129             Tordella, W           [2393433]
2     3  61.83    39  116         Colligan, David           [7943199]
3     4  61.17   111  116           Fetouh, Saleh           [3131505]
4     5  60.59    41  148               Pierce, D           [1443623]
5     6  60.35    39  125       Greenspan, Bernie           [6191894]
6     7  60.17    68  116      Urbanek, Christine           [4109821]
7     8  59.16    44  116          Sinclair, John  [2748037, 1415891]
8     9  58.21    76  142      Frobouck, Reanette           [6385222]
9    10  58.02    68  116            Benz, Sharon           [5203341]
10   11  57.48   127  125            Kung, Edward           [7408285]
11   12  57.39    59  116            Petrov, Dian           [4569695]
12   13  56.87    40  116               Finton, E           [1504606]
13   14  56.47    89  111         Merkich, Brenda           [6773338]
14   15  56.42    35  116          Bergman, Susan           [6093787]
15   16  55.99    83  111      Sostarich, Pauline           [2198967]
16   17  55.53    40  111       McDowell, Jo Anne           [4278178]
17   18  55.20    35  142  Schwarzwaelder, Steven           [7563388]
18   19  55.08    49  125            Butler, Lois           [1258818]
19   20  54.85    50  111            Singer, Gary  [2677644, 1327372]
20   21  54.48    34  142           Sobol, Evelyn           [6483372]
21   22  54.16    64  125          Rudolph, Lynne           [4197224]
22   23  54.07    31  111          Carter, Ronald           [3127966]
23   24  53.46   120  226         Timpe, Margaret           [4594851]
24   25  53.45    98  111        Powers, Franklin           [3741427]
25   26  53.38    65  226             Dunn, Helen           [4272838]
26   27  53.31    80  142        Metosky, Stewart                  []
27   28  53.01    29  125             Hanna, Judy           [3739651]
28   29  52.96    35  111           Sobota, Sally           [4273613]
29   30  52.94    57  116       Henrikson, Ronald           [2564629]
30   31  52.57    24  142            Ludwig, Judy           [7734816]
31   32  51.43    83  125        Whitney, Chantal           [4745949]
32   33  51.39    70  111             Rich, Carol           [5237440]
33   34  51.25    44  229       Matrazzo, Anthony           [7810512]
34   35  51.24    85  111          Fishbeck, Dale           [4181999]
35   36  50.61    62  111           Black, Thomas           [1448854]
36   37  50.43    61  111   Goldthwait, Elizabeth           [5515408]
37   38  50.28    24  142                Tam, Amy           [7382774]
38   39  49.10    71  127          Klapthor, Rick                  []

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd6rank'

0   Rank     PR Games Unit                   Name                                            player_id
0      1  67.54    56  147           Jones, Aaron                                   [7358474, 7412215]
1      2  67.18    60  218           Hindman, Hal                                            [7489609]
2      3  66.13    48  147            Boyd, Peter                                            [2855887]
3      4  65.69    49  135         Peters, Thomas                                            [4411552]
4      5  65.37    32  135          Becker, R Jay                          [3418065, 2255529, 2924064]
5      6  64.56   121  135         Diener, Stuart                                            [2813963]
6      7  64.41    54  147        Ruderman, David                                            [2920522]
7      8  64.06    30  147     Wilmot Jr, Vincent                                            [4348613]
8      9  64.03    61  147        Pettis, William                                            [3062228]
9     10  64.02    28  218          Connors, Ryan                                            [8758913]
10    11  63.99    52  135          Baum, Richard                                   [2790009, 8700303]
11    12  63.92    74  147          Kales, Eugene                                            [2840847]
12    13  63.88    61  147        Gofreed, Andrew                                            [5926521]
13    14  63.58   139  147       Caponiti, Alfred                                            [5671353]
14    15  63.48    57  147         Falgout, Barry                                            [6863140]
15    16  63.44    62  139          Lane, Michael                                   [1036874, 7507534]
16    17  63.41   135  218         Davis, Kenneth                                            [7419678]
17    18  63.32    87  135         Brafman, Larry                                            [5535034]
18    19  63.15    62  147        Marshall, Linda                                   [3060349, 5416477]
19    20  63.11    86  218         Gookin, Robert                                            [2864258]
20    21  63.08    59  147           Bell, Robert                                            [7162162]
21    22  63.07    30  147          Beller, James                                            [6594816]
22    23  62.89    38  139            Antrobus, C                                            [2710048]
23    24  62.83    90  109             Dahl, Mark                                            [7959281]
24    25  62.78   100  147         Benedict, Paul                                            [6129528]
..   ...    ...   ...  ...                    ...                                                  ...
256  263  49.86    40  135         Moran, Barbara                          [3288625, 6401309, 4767322]
257  264  49.72    85  135            Blum, Ilene                                            [8481555]
258  265  49.59   120  135          Rounds, Edgar                                            [9225161]
259  266  49.54    43  218            Espo, David  [6963692, tmp:02f3e770-8d38-4be6-9e6f-f79d9ad526e0]
260  267  49.53    80  135           Gueter, Gili                                            [9679294]
261  268  49.48    67  147             Smith, Kim                                   [6505120, 8882274]
262  269  49.46    26  135          Bowser, Donna                                            [9695737]
263  270  49.44    66  135      Blaustein, Sandra                                            [3029379]
264  271  49.36    23  139          Bell, Heidi V                                            [2877619]
265  272  49.33    41  135        Teitel, Marlene                                            [4750829]
266  273  49.33   100  135     Ehrhardt, Caroline                                            [2136198]
267  274  49.27    61  135          Coplin, Merry                                            [4257774]
268  275  49.25    59  135           Riesel, Edna                                            [5853249]
269  276  49.23    35  147          Dolkart, Jane                                            [2904411]
270  277  49.23    98  218   Mazarella, Francesca                                            [2580918]
271  278  49.20   214  218       Verell, Ruth Ann                                                   []
272  280  49.16   112  147         Lewit, Harriet                                            [8605424]
273  281  49.12   106  139         Nunge, Richard                                            [2010070]
274  282  49.05    47  147         Cheary, Nadyne                                                   []
275  283  49.05    71  139  Deodhar, Frances Glee                                                   []
276  284  49.05    80  139         Bright, Michie                                            [7311834]
277  285  49.02    34  218           Cohen, Grace                                            [2837943]
278  286  48.95    43  135      Rashbaum, Beverly                                            [7729561]
279  287  48.95    46  139      Aquilino, Michael  [tmp:45a94d2d-04f0-49bf-8d26-0777f1b371d5, 7435010]
280  288  48.93    46  218         Tonnesen, Dave                                   [6090265, 7475438]

[281 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd7rank'

0   Rank     PR Games Unit                  Name                                                     player_id
0      1  68.43    28  119      Ayyagari, Murthy                                                     [9146962]
1      2  66.61    70  160        Griffin, James                          [3681262, 7489641, 8063087, 7502648]
2      3  66.46    47  253        Collins, Kevin                                                     [5025486]
3      4  65.72    42  253         Marks, Samuel                                                     [4363965]
4      5  65.71    49  165           Heller, Bob                                                     [4827767]
5      6  65.61    71  119          Hudson, Alex                                                     [5594065]
6      7  65.55    58  191       Robinson, Craig                                                     [2310562]
7      8  65.29    59  253      Strickland, Fred                                                     [3646971]
8      9  64.78    52  153        Brunk, William                                                     [2217252]
9     10  64.35    44  165      Redheffer, James                                                     [3706451]
10    11  64.35    38  253           Dhir, Arjun                                                     [2160153]
11    12  64.22   248  253        Kulbersh, Bill                                                     [2391090]
12    13  64.14    77  169  Boyd-Bowman, Peter J                                                     [2140071]
13    14  64.09   125  253       Feagin Jr, Jack                                                     [3452204]
14    15  63.48    90  253    Sankaran, Baskaran                                                     [2929287]
15    16  63.14    87  160        Brown Jr, Hugh                                                     [2677881]
16    17  63.09    94  153           Tebha, Anam                                                     [9583033]
17    18  63.05   106  160      Bitonti, Michael                                                     [7874715]
18    19  62.95    61  253          Hubert, Olin                                                     [2426625]
19    20  62.81    48  253          Blum, Donald                                                     [3493547]
20    21  62.79    39  119           Menges, Tom                                                     [4121686]
21    22  62.78   146  253      Fendrick, Robert                                                     [2660822]
22    23  62.69    61  114           Mabee, Carl                                                     [8719071]
23    24  62.57    72  191            Joyce, Kay                                                     [2433338]
24    25  62.53   105  119          Snow, George                                                     [2513285]
..   ...    ...   ...  ...                   ...                                                           ...
847  858  47.96    70  160         Shallo, Frank                                                     [4024532]
848  859  47.96    58  160      Paschall, Yancey                                                     [3922235]
849  860  47.95   190  253         Cody, Barbara                                                     [6009816]
850  861  47.92    75  206         Crouch, Susan                                                            []
851  862  47.92    61  119           Berry, Lila                                                     [6928889]
852  863  47.92    73  160        Wardlow, Shela                                                     [5239540]
853  864  47.91    60  114         Freant, Sarah                                                     [6126111]
854  865  47.90    89  253        Ricketts, Lynn                                                     [2314126]
855  866  47.89    33  165          O'Dell, Myra                                                     [4498798]
856  867  47.88    50  253         Fagin, Howard                                                     [3003957]
857  868  47.88    37  160          Joseph, Mary                                                     [9551786]
858  869  47.87    29  153        Kerwin, Marcia                                                     [7735847]
859  870  47.85   107  114         Boggan, Peggy                                                     [9469192]
860  871  47.82    33  253           McEver, Bob                                                     [7351712]
861  872  47.82    67  160            Hurt, Bibs                                                     [6724019]
862  873  47.80    57  153           Glass, John                                                            []
863  874  47.77    24  160      Meadows, Melissa                                                     [7409397]
864  875  47.75    45  253         Mittel, Carol                                                     [6209238]
865  876  47.74    48  153      Barnes, Veronica                                                     [5150558]
866  878  47.72    56  114          Moore, Roger  [4154754, tmp:c8fe8398-c9bb-4c76-9f08-df1b8d0f9caa, 2408244]
867  879  47.71    31  165         Hamrick, Alda                                                     [6757626]
868  880  47.68    83  153         Stewart, Lynn                                                            []
869  881  47.67    54  206          Levine, Mary                                                     [1290649]
870  882  47.66    78  253      Kraitzick, Wendy                                                     [4973348]
871  883  47.66    53  253       Berlin, Dolores                                                     [7354185]

[872 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd8rank'

0   Rank     PR Games Unit                   Name                                                                                            player_id
0      1  68.76   170  239           Snyder, Jack                                                                                            [4608402]
1      2  67.89   187  143                Xie, En                                                                                            [3062538]
2      3  64.85    37  143             Moses, Tod                                                                                            [5872618]
3      4  64.37    59  143         Giacaman, Mike                                                                                            [7912706]
4      5  64.32    42  208          Pestien, Rich                                                                                            [6720773]
5      6  63.69   154  143       Oppenheimer, Tom                                                                                            [2438232]
6      7  63.61    63  239      Whitsitt, Richard                                                                                            [3634760]
7      8  62.68    35  143          Zellmer, Mark                                                                                            [6904505]
8      9  62.57    96  143        Schaffer, Carol                                                  [2442736, tmp:b5823ba2-9005-4f05-b31a-a37b1330f794]
9     10  62.50    93  143         Zlatic, Milton                                                                                            [3456714]
10    11  62.46    79  143         Ashbacher, Ron                                                                                            [4961285]
11    12  62.37    51  143        Hastings, C Lee                                                                                            [2028778]
12    13  62.20    94  239            Malone, Don                                                                                            [2097435]
13    14  62.18   166  143      Vongsvivut, Arbha                                                                                            [8428859]
14    15  62.01    98  208         Freehill, Zach                                                                                            [4164954]
15    16  61.54   134  143         Bland, Kenneth                                                                                            [5440459]
16    17  61.50    38  143            Kniest, Tom                                                                                            [5328071]
17    18  61.15    76  143         Londeree, Rick                                                                                            [1653954]
18    19  61.12    77  143          Zenk, Stephen                                                                                            [1135619]
19    20  61.10    48  208         Heins, Michael                                                                                            [5929407]
20    21  61.02    28  143          Sander, Marie                                                                                            [9946942]
21    22  60.98   157  143           Bryant, Jack                                                                                            [5313767]
22    23  60.98    33  239            Hill, Platt                                                                                            [6089143]
23    24  60.96   231  239            Engel, Will                                                                                            [2462567]
24    25  60.85   157  143          Boswell, Mark                                                                                            [2422573]
..   ...    ...   ...  ...                    ...                                                                                                  ...
230  237  50.04    96  239           Owens, Kathy                                                                                            [8076685]
231  238  50.03    55  143  Jategaonkar, Shrikant                                                                                            [1438557]
232  239  50.01    57  208           Lamb, Layton                                                                                            [4531477]
233  240  49.94    89  143         Risch, Bertram                                                                                            [1596632]
234  241  49.88    46  143            Nunn, James                                                                                            [3893995]
235  242  49.85    79  143        Sarver, Shelley                                                                                            [4778405]
236  243  49.84    49  143         Sandler, Joann                                                                                            [2126834]
237  244  49.65    41  143          Yokota, Chuck                                                                                            [8335753]
238  245  49.46    69  208          Steffen, Lynn                                                                                            [9089985]
239  246  49.42    77  143           Krell, Barry                                                                                            [7822758]
240  247  49.40    89  208            Hitz, James                                                                                            [5591600]
241  248  49.39    90  143         Winstral, Judi  [8551847, tmp:28478dd7-621d-46db-ba90-3798fcd7abef, tmp:bc3aa833-9534-4e85-83eb-d4dfeb04704f, tm...
242  249  49.31    78  143      Hawkins, Loughery                                                                                            [5309719]
243  250  49.25    48  239            Dolak, Mary                                                                                            [2592657]
244  251  49.23    41  143        Dixson, Beverly                                                                                            [4188675]
245  252  49.21    64  208         Smith, William                                      [1855018, 3546675, 4022793, 4773071, 8790639, 5766753, 7787138]
246  253  49.17    36  223           Sharp, Terry                                                                                            [7030983]
247  254  49.03    61  143             Pass, Judy                                                                                            [9856307]
248  255  48.98   129  143         D'Amato, Terry                                                                                            [9237437]
249  256  48.92    59  143       Schreiber, Susan                                                                                            [3916499]
250  257  48.92    76  239       Hartlieb, Martin                                                                                                   []
251  258  48.88    40  208     Tomlianovich, Mike                                                                                            [8473765]
252  259  48.87    84  143            Bosse, Ruth                                                                                            [1304895]
253  260  48.85    44  143      Redington, Jeanne                                                                                            [8253609]
254  261  48.79   143  239        Musser, Cynthia                                                                                                   []

[255 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd9rank'

0     Rank     PR Games Unit                   Name                                                                                            player_id
0        1  71.01   164  128      Cappelletti, Mike                                                                                            [2601087]
1        2  70.76    47  128       Meckstroth, Jeff                                                                                            [4580699]
2        3  69.59    69  128        Stamatov, Jerry                                                                                            [9936327]
3        4  69.13    50  128          Rodwell, Eric                                                                                            [5482658]
4        5  68.38    66  243      Pavlicek, Richard                                                                                            [3565408]
5        6  67.42    97  243         Castillo, Juan                                                                                            [8744475]
6        7  67.35    65  128     Kristinsson, Jakob                                                                                            [4606868]
7        8  67.12    48  128         Wolpert, Gavin                                                                                            [8149887]
8        9  66.77   181  128          Ganness, Sean                                                                                            [8071683]
9       10  66.69    47  128         Stauber, Allan                                                                                            [1481835]
10      11  66.59   113  128          Hanson, Keith                                                                                            [4969073]
11      12  66.47   150  128          Krantz, Corey                                                                                            [4959035]
12      13  66.39    69  128         Tornay, Claire                                                                                            [1869698]
13      14  66.36   198  243        Silverman, Neil                                                                                            [1709925]
14      15  66.14   121  219           Todd, Robert                                                                                            [8886393]
15      16  66.10   131  128          Yousry, Ahmed                                                                                            [2704838]
16      17  66.05    47  128        Danailov, Diyan                                                                                            [4734114]
17      18  65.92    85  243        Shenkin, Barnet                                                                                            [4036956]
18      19  65.76   132  128          Hanlon, Ellie                                                                                            [3548848]
19      20  65.69   165  128          Macrae, David                                                                                            [3761509]
20      21  65.53   110  243  Seamon-Molson, Janice                                                                                            [2216833]
21      22  65.45    39  128           Ehlers, Will                                                                                            [1378279]
22      23  65.36    48  128        Bathurst, Kevin                                                                                            [8270716]
23      24  65.29    66  128       Davidson, Ranald                                                                                            [2503859]
24      25  65.26   119  243      Kislitsyna, Irina                                                                                            [8471908]
...    ...    ...   ...  ...                    ...                                                                                                  ...
3074  3102  47.35    89  219            Ross, Nancy                                                                                   [1361465, 9619240]
3075  3103  47.34    74  128        Jarchow, Ronald                                                                                            [6952143]
3076  3104  47.34   107  240             Davis, Dot                                                                                            [3188094]
3077  3105  47.34    71  102          Shander, Fred                                                                                            [9464743]
3078  3106  47.33    84  128             Hume, Noni                                                                                            [2967189]
3079  3107  47.33    83  128      Kitchens, Allison                                                                                            [2993392]
3080  3108  47.33   118  128        Gilman, Deborah                                                                                            [1244388]
3081  3109  47.33    77  128    Williamson, Theresa                                                                                            [1171151]
3082  3110  47.32    49  128         Twitty, Tricia                                                                                            [5334500]
3083  3111  47.32    75  128         Schrand, Susan                                                                                            [1185829]
3084  3112  47.32    87  240         Gelberg, Ellen                                                                                            [1537407]
3085  3113  47.31   103  128           Schloss, Mel                                                                                            [1238760]
3086  3114  47.31    84  128          Dutton, Anton                                                                                            [1325841]
3087  3115  47.30    56  243       Pennington, Jill  [7717873, tmp:d29d7609-27e6-40ff-9a3d-b2145b4c5b84, 7970854, tmp:f031eb64-a8ae-4065-8b43-b583707...
3088  3116  47.30   121  128     Nightingale, Ginny                                                                                            [9475869]
3089  3117  47.30    86  128       Rosado, Cristina                                                                                            [9076387]
3090  3118  47.30    30  240        Lambert, Louise                                                                                   [5163315, 7834985]
3091  3119  47.29    53  128      Kasen, Jacqueline                                                                                            [3383814]
3092  3120  47.29    41  128          Porter, Larry                                                                                            [5702763]
3093  3121  47.29    38  128      McCloskey, Margie                                                                                            [8776164]
3094  3122  47.29    22  128          Albin, Sidney                                                                                            [2103753]
3095  3123  47.29    68  128           Zaczek, Leon                                                                                            [9502130]
3096  3124  47.29   128  240     Radcliffe, Rosalie                                                                                            [3770575]
3097  3125  47.28    20  128      Black, Van Thomas                                                                                            [2279258]
3098  3126  47.28    48  128            Fox, Thomas  [6559816, tmp:7485252b-2bf7-4a7c-a7a6-157d5a6ef40e, tmp:eb802e86-40a8-4514-8b10-0cbc0a6a9ba1, tm...

[3099 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd10rank'

0   Rank     PR Games Unit                    Name           player_id
0      1  68.18    36  144         Oshlag, Richard           [1836528]
1      2  67.07   139  179         Birnbaum, David           [4207343]
2      3  65.80    93  232  Eythorsdottir, Hjordis           [1638653]
3      4  65.37   197  179             Said, Chuck           [4383974]
4      5  64.67   120  161          Siebert, Allan           [3384802]
5      6  64.66    26  179     Panagopoulos, Chris           [7978812]
6      7  64.27   116  144              Cook, Mike           [6626041]
7      8  64.04    67  161        Higgins, Richard  [8520259, 3932699]
8      9  62.66    78  144             Eason, Jane           [3707113]
9     10  62.61    86  161             Irving, Ned           [4602838]
10    11  62.47    81  179           Hanson, Linda  [3392023, 2486156]
11    12  62.21    53  179        Strayhorn, David           [3386295]
12    13  62.06    52  161      Auvenshine, Robert           [6441742]
13    14  61.95    91  179         Averbuch, Larry           [6628575]
14    15  61.88    31  161              Lucas, Jay           [8024936]
15    16  61.79    59  161          Lowens, Elaine           [3020266]
16    18  61.59   118  179          Lefko, William           [3617572]
17    19  61.47   149  232        Olafsson, Magnus           [3968049]
18    20  61.44   153  161             Frank, Greg           [2132400]
19    21  61.39    73  144        Hudgins Jr, Jack           [2857367]
20    22  61.34   145  179       Reeslund, Michael           [6696880]
21    23  61.28   115  144    Chakraborty, Ranajit           [8221480]
22    24  61.19    38  138            Lyell, Henry           [6671071]
23    25  61.11    35  161        Finch Jr, Curtis           [7699050]
24    26  60.78    70  161        Melchior, Bonnie           [5822270]
..   ...    ...   ...  ...                     ...                 ...
363  371  48.63    75  179         McMahan, Roslyn           [8306656]
364  372  48.61    59  161         Mueller, Pamela           [9049509]
365  373  48.60    77  161           Rogers, Becky           [5047994]
366  374  48.54    77  161            Harter, June           [5567122]
367  375  48.51    94  161             Dierks, Kay           [7293712]
368  376  48.51    82  161          Turner, Steven  [5872111, 7706707]
369  377  48.50    72  161               Hagen, Lu           [9605797]
370  378  48.50    32  179           Patton, Robin           [9098232]
371  379  48.49   142  179           Beesley, Ella           [8392153]
372  380  48.49    73  161      Dethardt, Marianne           [8011753]
373  381  48.48    51  179           Albrecht, Pat           [1255495]
374  382  48.48    84  161           Kauffman, Tim           [3706362]
375  383  48.47    67  161        Mackenzie, Cindy           [3706370]
376  384  48.47    53  161            Sierra, Jade           [9648194]
377  385  48.46    49  161       Albright, Barbara           [9564209]
378  386  48.41    32  179          Niewold, Laura           [3236706]
379  387  48.40    45  138         Holmes, Loretta           [1468634]
380  389  48.34   105  179        Brostrom, Walter           [3247716]
381  390  48.31    85  161            Speer, Nancy           [6182313]
382  392  48.19    60  157        Steeves, Malcolm           [9071350]
383  393  48.08    29  138       Abdalla, Jennifer           [5120497]
384  394  48.07   115  179      Belfiglio, Barbara           [9742794]
385  395  48.05   122  179           Derrick, Beth           [9065547]
386  396  47.98    53  161          Phillips, Dean           [3368963]
387  397  47.97   110  161           Vernon, Clark           [3380165]

[388 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd11rank'

0   Rank     PR Games Unit                  Name                                      player_id
0      1  67.49    36  130        Clerkin, Jerry                                      [6999778]
1      2  67.00    40  130            Cory, Matt                                      [7116306]
2      3  65.37    85  124        Vogel, Stephen                                      [6022197]
3      4  64.40    58  124   Granovetter, Pamela                                      [1990810]
4      5  63.61    86  130        Fidler, Marcia                                      [4591135]
5      6  63.33    62  164             Gordon, H  [4789113, 3718557, 8981205, 3350614, 8994676]
6      7  63.15    70  124      Higgins, William                             [3965589, 5141524]
7      8  63.14    92  193       Lambert, Phelps                                      [6408400]
8      9  63.11    57  164            Moss, Paul                                      [6773028]
9     10  62.82   105  130        Brown, Beverly                             [4195582, 8113076]
10    11  62.48    53  130             Lyon, Bob                                      [7752377]
11    12  62.36    54  124       Raturi, Amitabh                                      [6693431]
12    13  62.34   100  164          Rice, Joseph                             [8252610, 6019870]
13    14  62.14    62  130           David, Jeff                                      [5757991]
14    15  62.08   136  130      Hellmer, Michael                                      [4089774]
15    16  61.69    75  124       Schultz, Dennis                                      [6567622]
16    17  61.69    89  136     Gargrave, Jeffrey                                      [2631741]
17    18  61.60    45  124       Stephani, Isaac                                      [9501185]
18    19  61.59   123  130     Van Vlack, Wagner                                      [1255223]
19    20  61.50    91  136            Stitt, Bob                                      [7632878]
20    21  61.45   106  122      Kostal Jr, Irwin                                      [1923773]
21    22  61.37    22  124     Cummings, Deborah                                      [6867545]
22    23  61.19    67  136          Harner, Lori                                      [5399963]
23    24  61.17    45  136        Shoup, Russell                                      [4333713]
24    25  61.16    34  124           Fisher, Amy                                      [5753171]
..   ...    ...   ...  ...                   ...                                            ...
427  436  49.27    41  136      Schlaack, Edward                                      [9788328]
428  437  49.22    38  124         Lubow, Judith                                      [5067189]
429  438  49.20    46  124          Hodesh, Rica                                      [1812629]
430  439  49.18    46  136         Pavlo, Marcie                                      [8580979]
431  440  49.16    46  130  Winsor Neal, Shirley                                      [6516254]
432  441  49.16    64  136         Kiralfy, Joan                                      [8604290]
433  442  49.14    71  117    Carpenter, Carolyn                                      [7253850]
434  443  49.13    80  164       Hynson, Marilyn                                      [8916608]
435  444  49.11    48  193   FRANKLIN, JosephJef                                             []
436  445  49.08    86  130             Day, Doug                                      [3582280]
437  446  49.07    47  136        Findlay, Joann                                      [4530217]
438  447  49.06    39  117        Gottbrath, Joe                                      [7250282]
439  448  49.01    76  164        Keslin, Thomas                                             []
440  449  49.01    34  117   Carpenter, Marjorie                                      [8057451]
441  450  49.00    59  164         Keller, Linda                                      [5545056]
442  451  48.99    47  130           Beltz, John                                      [7040024]
443  452  48.91    52  130        Taylor, Connie                             [3897508, 9779965]
444  453  48.86   149  124          Barron, Judy                                      [3262235]
445  454  48.86    35  164       Loeffler, Donna                                             []
446  455  48.83    71  117        Tonini, Denise                                      [2561549]
447  456  48.81    37  124    Tillinghast, Helga                                      [5617863]
448  457  48.78    31  130       Trudgen, Thelma                                      [7755813]
449  458  48.76    66  193   Franklin Jr, Joseph                                      [9616969]
450  459  48.74    62  193          Kruse, Larry                                      [9886400]
451  460  48.73    78  193       Schultz, Pamela                                      [2180901]

[452 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd12rank'

0   Rank     PR Games Unit                   Name                                                        player_id
0      1  67.13    23  137        Perlman, Howard                                                        [4388992]
1      2  67.12    99  195           Molt, Joanne                                                        [3174379]
2      3  66.71    88  195        Curley, Michael                                                        [8691436]
3      4  66.17   131  137      Hirschman, Martin                                                        [1925369]
4      5  65.83    38  105     Treiber III, Frank                                                        [4021452]
5      6  65.19    81  105         Benedict, Gene                                                        [2331802]
6      7  65.16    52  105        Brandow, Robert                                                        [6103464]
7      8  64.79   120  137             Lien, Owen                                                        [3124479]
8      9  64.58    75  203      Mendelson, Robert                                                        [4373405]
9     10  64.57    89  203      Grossman, Jerrold                                                        [2853191]
10    11  63.98    82  195           Bodish, John                                                        [2123673]
11    12  63.46   131  195      Northrop, William                                                        [3978206]
12    13  63.12   181  137           Newman, Bert                                                        [4388984]
13    14  63.01   189  137  Fleischmann, Jonathan                                                        [3041727]
14    15  62.97   107  137         Perlman, Linda                                               [8987106, 4258207]
15    16  62.87    77  137            Webber, Bob                                                        [4331311]
16    17  62.64    68  137           Arbit, Julie                                                        [5551536]
17    18  62.58    75  137             Monro, Joe                                                        [8595887]
18    19  62.36    18  137     Rosenstein, Irving                                                        [3004325]
19    20  62.22    45  137            Loeb, Allan                                                        [4416082]
20    21  62.16    54  137       Birnholtz, Sandy                                                        [4245431]
21    22  62.04    57  203           Zeine, Samir                                                        [7482183]
22    23  61.81    54  137         Shumer, Steven                                                        [5274370]
23    24  61.75    53  203         Crane, Michael                                                        [4396979]
24    26  61.70    36  203      Alioto, Michael D                                               [6887880, 2536412]
..   ...    ...   ...  ...                    ...                                                              ...
263  269  49.18    69  137         Whims, Marilyn                                                        [9196161]
264  270  49.11    66  154       Hurwich, Candace                                                        [1646567]
265  271  49.08    52  137          Monro, Rhonda                                                        [7176953]
266  272  49.05    36  137       Overmire, Thomas                                                        [8592632]
267  273  49.02    59  195               Purdy, R  [5139988, 5318327, 5319188, 3122794, 4400305, 3029484, 2546671]
268  274  48.87    33  195        Hayward, Billie                                                        [1392964]
269  275  48.64    55  137       Alvord, Lorraine                                                        [1259075]
270  276  48.63    35  195          Wagner, Larry                                               [6279287, 1084836]
271  277  48.59    58  137           Conti, Maria                                                               []
272  278  48.37    49  195       Wardrop, Barbara                                                        [2921758]
273  279  48.36    57  195         Parsons, Brent                                                        [5448336]
274  280  48.32    52  195        Thiebout, Helen                                                        [5433207]
275  281  48.23   100  195           Subers, Ruth                                                        [2131951]
276  282  48.22    77  195          Allman, Diane                                                        [1947087]
277  283  48.18    51  195          Baldwin, Anne                                               [9495320, 1216244]
278  284  48.18    98  154          Metzger, Hugh                                                        [4776445]
279  285  48.16    76  195         Schlage, James                                                        [9576746]
280  286  48.15    30  195           Thoen, Inger                                                        [7363931]
281  287  48.13    66  154         Skurski, Roger                                                        [5239273]
282  288  48.11   110  105       Wellstein, Diane                                                        [2499827]
283  289  48.06    71  195          Giddings, Bob                                                        [1464884]
284  290  48.03    70  195        Degroot, Herman                                                               []
285  291  48.02    74  195           Lipari, Lori                                                        [4139593]
286  292  48.00    63  203          Rosen, Evelyn                                               [1411799, 6357385]
287  293  48.00    30  195            Harvey, Ena                                                        [5978033]

[288 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd13rank'

0   Rank     PR Games Unit                 Name                                                                                            player_id
0      1  67.62    61  123      Ginossar, Eldad                                                                                            [3858529]
1      2  66.94    54  123         Cohen, Larry                                         [2561255, 4780663, tmp:fd1cf518-b16f-4b01-bae8-95e193d84dc7]
2      3  66.87   119  123  Lishkov, Aleksandar                                                                                            [1320998]
3      4  66.74    52  149       Ranaldi, Paolo                                                                                            [5370957]
4      5  65.71    71  123       Ginsburg, Mark                                                                                            [8009546]
5      6  65.52    56  123     Donahue, Stephen                                                                                            [1379712]
6      7  64.19    58  123      Poliquin, Jerry                                                                                            [1385127]
7      8  64.04    50  123       Stokes, Joseph                                                                                            [3096351]
8      9  63.98    31  123           Cohen, Don                                                                                            [6734049]
9     10  63.67    38  123        Pancoe, Frank                                                                                            [4794680]
10    11  63.41    81  123      Kutska, Michael                                                                                            [5248973]
11    12  62.84    68  123         Fogarty, Tom                                                                                            [5887054]
12    13  62.82    72  149   Bleskachek, George                                                                                            [2422778]
13    14  62.70    60  123         Ogut, Serdar                                                                                            [3770680]
14    15  62.59    28  123        Tatz, Kenneth                                                                                            [1067990]
15    16  62.57    39  123         Allen, Craig                                                                                   [5178630, 3927873]
16    17  62.10   110  123        Diebel, James                                                                                            [8453071]
17    18  61.99    75  123    Phillips, L James                                                                                            [1861190]
18    19  61.86    68  123          Lussky, Don                                                                                            [3719480]
19    20  61.69    51  123         Goring, John                                                                                            [3433773]
20    21  61.66   104  222          Karas, Paul                                                                                            [5799546]
21    22  61.56    64  123     Fortney, Charles                                                                                            [2901536]
22    23  61.46    42  123         Goyal, Sarik                                                                                            [8322759]
23    24  61.26    35  222      Schroeder, Paul                                                                                   [1306618, 2572117]
24    25  61.25    92  222     Dorfman, Richard                                                                                            [3618900]
..   ...    ...   ...  ...                  ...                                                                                                  ...
240  245  50.29   111  123       Cesario, Genny                                                                                            [3594378]
241  246  50.12    41  222  Debbink, Lois Ellen                                                                                                   []
242  247  50.05    84  123           White, Les                                                                                            [2912856]
243  248  49.97   120  222     Lieberman, Nancy                                                                                            [7627912]
244  249  49.86    80  222     Myers, Harriette                                                                                            [2871378]
245  250  49.85    45  123   Champagne, Maurice                                                                                            [4120914]
246  251  49.77    95  222      Backus, Marlene                                                                                            [5486610]
247  252  49.68    77  222        Slesar, Paula                                                                                            [3758257]
248  253  49.67    92  123      Zolla, Marjorie                                                                                            [5195772]
249  254  49.64    59  123        Thorne, Carol                                                                                            [4436946]
250  255  49.55    61  123       Diamond, Susan                                                                                   [8254583, 2676761]
251  256  49.54    70  149        Buschen, John  [tmp:52d59a46-e473-49ac-a49a-2592f6c945e9, tmp:5c4d0317-cfab-45a3-8afd-3983f7468ed6, tmp:8781faa...
252  257  49.38    79  222         Watson, John                                                                                            [2791560]
253  258  49.33    88  222         Boyle, Susan                                                                                            [3797139]
254  259  49.33    86  222    Schuelke, Barbara                                                                                                   []
255  260  49.30    84  123         Warren, Mary                                                                                            [1296620]
256  261  49.29    74  222       Malina, Maggie                                                                                            [2239949]
257  262  49.29    26  222          Perlson, Jo                                                                                                   []
258  263  49.10    49  222     Derrwaldt, Sally                                                                                            [2158345]
259  264  49.09    66  222         Ellis, James                                                                                                   []
260  265  49.06   105  222       Daniels, Susan                                                                                                   []
261  266  49.03    79  123       English, James                                                                                            [6097006]
262  267  49.02    46  222      Bosworth, Wendy                                                                                            [3241998]
263  268  48.96    41  222    Karnowski, Thomas                                                                                                   []
264  269  48.77    99  222        Nathan, Denis                                                                                            [3228010]

[265 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd14rank'

0   Rank     PR Games Unit                Name                    player_id
0      1  66.61   136  103      Beckman, Terry                    [5103010]
1      2  65.39   139  178   Meerschaert, Paul                    [5412374]
2      4  64.42    93  178   Schachter, Robert                    [6767559]
3      5  64.09    84  162   Barrett, G S Jade                    [3530000]
4      6  64.09    47  216        Walsh, Gregg                    [8061718]
5      7  63.50    89  178     Cassel, Michael                    [5895332]
6      8  63.15    33  162       Evans, Vernon                    [4931955]
7      9  63.14    76  216     Newell, Richard                    [1817272]
8     10  63.03   111  216     Gustafson, John                    [4972015]
9     11  62.31    95  178   Knippenberg, Gary                    [6028284]
10    12  62.10    80  178          Ames, Tony                    [5104254]
11    13  61.99   140  178       Smith, Thomas  [6128823, 4215206, 7370008]
12    14  61.94    30  103    Robbins, Richard                    [7574444]
13    15  61.88    82  178        Glenn, David                    [6028926]
14    16  61.87    74  178    Lutgens, Gregory                    [6254578]
15    17  61.75   180  216         White, Toby                    [4780078]
16    18  61.68    37  216   Freedman, Richard                    [8903425]
17    19  61.44    80  178      Johnson, Roark                    [1609408]
18    20  61.27    79  216        Swanson, Jim                    [2441136]
19    21  61.22    99  178      Cummins, Chuck                    [4177509]
20    22  61.21   126  178     Sapienza, Harry                    [5477182]
21    23  60.97    36  103    Lichty, Margaret                    [1253190]
22    24  60.93    56  178         Reed, Steve                    [8122385]
23    25  60.85    68  103     Van Dyke, Gregg                    [2896311]
24    26  60.71    22  178           Blu, John                    [4148290]
..   ...    ...   ...  ...                 ...                          ...
286  293  49.31    76  162    Thompson, Daniel           [5239680, 9989536]
287  294  49.29    85  103     Bartlett, Jerry                    [9970312]
288  295  49.29    64  178       Hubmayr, Rolf                    [7674872]
289  296  49.28    35  178       Koch, Charlie                    [1013777]
290  297  49.26    52  216  Leaverton, Phyllis                    [3600173]
291  298  49.20    99  103      Heins, Cynthia                    [5968046]
292  299  49.20    62  178     Lucht, Hazelann                    [6267599]
293  300  49.18    60  178      Holt, Julianne                    [2067153]
294  301  49.10   112  178         Gavin, Rick                    [6927238]
295  302  49.08   106  178       Nesser, Donna                    [6458092]
296  303  49.07   110  103   Miller, Stephanie           [4404009, 7609507]
297  304  49.01    56  103        Madden, Bill                    [3538400]
298  305  48.99    77  103   Grigoleit, Thomas                    [9159142]
299  306  48.96    63  216      Garnaas, Faith                    [1817051]
300  307  48.96    59  216       Taake, Laurie                    [8542716]
301  308  48.93    79  216         Slorah, Lee                    [1589660]
302  309  48.92    69  216          Pratt, Ewa                    [9089780]
303  310  48.83    28  103    Leclerc, Beverly                    [8065667]
304  311  48.73    79  178   Muller, Alexandra           [9117512, 9827072]
305  312  48.55    41  216        Kriebs, Lois                    [2549646]
306  313  48.50    43  216      Henderson, Kay                    [3660168]
307  314  48.49    90  103      Larson, Miriam                    [1633538]
308  315  48.45    32  178    Sawkins, Analise                    [3400913]
309  316  48.38    56  103        Lewis, Joyce                           []
310  317  48.35    47  216         Spong, Paul                    [6965202]

[311 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd15rank'

0  Rank     PR Games Unit                Name                    player_id
0     1  68.99    36  210          Lair, Mark                    [5830400]
1     2  66.58    27  101     Huston, Michael                    [4329953]
2     3  66.44    21  132       Kopper, David                    [2212501]
3     4  62.18    66  132    Carstedt, Robert                    [5366402]
4     5  61.76    83  131         Benoit, Tim                    [7453485]
5     7  61.45    52  131       Roberts, Gary                    [6067271]
6     8  61.41    42  131         Oxley, John                    [5212790]
7     9  59.84    59  158        Robin, Henry                    [1329960]
8    10  59.22    48  132          Lowry, Don                    [3376842]
9    11  59.09    32  132        Jones, Grier                    [8593914]
10   12  58.77    57  132        Sites, Roger                    [5367182]
11   13  58.77    80  132      George, Harold           [6635547, 6145280]
12   15  58.01    96  132  Austin Fresh, Gina                    [3215121]
13   16  57.94    64  158       Bailey, David                    [2268566]
14   17  57.59    89  132        Boyce, Frank                    [5335019]
15   18  55.92    74  158         Lowe, Becky                    [4450906]
16   19  55.71    77  132      Traudt, Ronald                    [7556144]
17   20  55.44    31  247       Tyler, Robbie                    [6848885]
18   21  55.43    32  158    Guthery, Jeannie                    [6789390]
19   22  55.37    94  132    Houghton, Jeanne                    [5952689]
20   23  55.36   103  158        Koble, David                           []
21   24  54.31    42  167      TOLLISON, Dave                           []
22   25  53.86   166  132      Sevick, George                    [7704836]
23   26  53.80    79  132     Schoning, Polly                    [4560434]
24   27  53.78    49  158     Richmond, Allen                    [7796307]
..  ...    ...   ...  ...                 ...                          ...
32   35  51.07    44  132       Tolle, Gordon                    [8942137]
33   36  50.77    55  132     Phares, Loretta                           []
34   37  50.67    77  158        Helm, Evelyn           [9483810, 9585400]
35   38  50.51    61  132   Rogers, Elizabeth                           []
36   39  50.30    48  132       Button, Steve                    [9431810]
37   40  50.03    33  132   Carduff, L Janice                           []
38   41  50.02    53  132        Kimmel, John                    [9505555]
39   42  49.80    39  158          Cook, Fred                    [9266534]
40   43  49.58    62  158        Gall, Bonnie                    [2685612]
41   44  49.57    55  132       Oetting, Lynn                    [5513774]
42   45  49.48    57  132      Tholen, Sandra                    [9668160]
43   46  49.44    83  132  Crawford, Margaret  [9987444, 5580056, 8710961]
44   47  49.18    60  158   Leverson, Marilyn                           []
45   48  48.98    91  132   Crissman, Dolores                    [5360714]
46   49  48.68    60  158      Wedel, Beverly                    [2528568]
47   50  48.52    92  132     Bowman, Richard                    [5849810]
48   51  48.42    99  132      Johnson, Nonny                    [2002035]
49   52  48.39    35  132      Friedel, Joyce                    [9289488]
50   54  47.87    76  132    Dooley, Patricia                    [9509410]
51   55  46.86    53  132    Wright, Margalee                           []
52   56  46.74    95  132     Van Fleet, Fran                    [2000849]
53   57  46.34   104  132      Reel, Patricia                    [9629742]
54   58  46.02    95  132      Perrill, Karon                    [2591650]
55   59  45.91   140  132      Dumford, Carol                    [2304260]
56   60  45.61    28  132   Tejano, Esperanza                           []

[57 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd16rank'

0   Rank     PR Games Unit                 Name                             player_id
0      1  71.27    60  174          Wold, Eddie                             [3443949]
1      2  68.64    81  176       Compton, Chris                             [8007713]
2      3  68.47    49  172    Koneru, Venkatrao                             [3250989]
3      4  67.57    47  174         Quinn, Shawn                             [5798167]
4      5  66.43   159  174       Erkoc, Timucin                             [4793730]
5      6  65.60    54  207       Sokolow, David                             [4303407]
6      7  65.24   206  174       Breihan, James                             [4672267]
7      8  64.99    40  174       St Clair, Bill                             [3251764]
8      9  64.87    31  183           Resz, Greg                             [7630069]
9     10  64.78    63  174        LaVigne, Jack                             [6762069]
10    11  64.22    89  174           Morse, Dan                             [5573122]
11    12  64.12    79  172          Hessel, Ira                             [2069555]
12    13  63.93   114  174        Lake, Randall                             [1858033]
13    14  63.71   125  174           Quinn, Joe                             [3612937]
14    15  63.61    72  207    McMinn III, Wiley                             [5892465]
15    16  63.60    73  207        Sokolow, Tobi                             [6781950]
16    17  63.50    27  174       Nelson, George                             [4486358]
17    18  63.44    24  172      Jackson, Daniel  [9743847, 6697542, 8132046, 2420422]
18    19  63.25    63  174    Van Dame, William                             [2080680]
19    20  63.14    79  207        Langer, Jarek                             [9242880]
20    21  62.69    74  174       Morris, Robert           [4057163, 5512883, 8888639]
21    22  62.68    95  207      Humphrey, Scott                             [7781180]
22    23  62.59    59  207      Drenning, Shawn                             [6743315]
23    24  62.55    34  207       Litwin, Stuart                             [3848485]
24    25  62.45    94  174     Grothus, Phillip                             [3898105]
..   ...    ...   ...  ...                  ...                                   ...
607  617  48.67    42  174          Khera, Indu                             [9088695]
608  618  48.66    83  207         Potts, Sandy                             [4497171]
609  619  48.64   102  174       Strohmer, Hans                             [9768394]
610  620  48.60    36  174        Haikin, Ricky                             [7600240]
611  621  48.59    65  174      Purgason, Edith                             [7386419]
612  622  48.53    69  207       Dayton, Sandra                                    []
613  623  48.53    86  174      Springer, Sarah                             [7520298]
614  624  48.51   100  174          White, Gigi                             [5931118]
615  625  48.50   107  207        Sears, Thomas                             [8312206]
616  626  48.49    99  174          Pruthi, Raj                             [4873793]
617  627  48.48   100  207  Parmentier, Rebecca                             [9176705]
618  628  48.43   123  174        Caudill, John                             [9559914]
619  629  48.42    71  172       Hsiau, Yao-Hui                                    []
620  630  48.42    56  174      Conover, Connie                             [2917483]
621  631  48.42    61  201        Pierce, Patsy                             [8738017]
622  632  48.33    79  174   Hanneman, Margaret                             [4305698]
623  633  48.32    76  174      Shapiro, Armand                             [8320934]
624  634  48.31    28  201      Montgomery, Ann                             [5046912]
625  635  48.30   156  207      Breeding, Susan                             [2136708]
626  636  48.29   103  174       Marlatt, Roger                             [4079655]
627  637  48.27    37  174       Laufman, Lauri                             [4079736]
628  638  48.27    56  174      Stephens, Sarah                             [9089667]
629  639  48.26    57  205   Mitchell, Patricia           [1825569, 7321104, 5567289]
630  640  48.25    28  172   Squires, Carmeline                                    []
631  641  48.23    50  207      Simmen, Melinda                             [2032414]

[632 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd17rank'

0     Rank     PR Games Unit                   Name                    player_id
0        1  71.14    86  373            Shi, Sylvia                    [5420105]
1        2  67.98   163  373     Kovachev, Valentin                    [3380211]
2        3  67.21    18  361         Jones, Spencer                    [4377028]
3        4  67.20   201  351  Kristinsson, Bjorgvin                    [9612939]
4        5  66.62    33  373          Miller, Billy  [8142114, 5120748, 3367193]
5        6  66.25    62  356       Minenko, Nicolai                    [3003310]
6        7  65.90    53  354       Sidhu, Harvinder                    [7428839]
7        8  65.57    64  354        Tchamitch, Haig                    [4415590]
8        9  65.55   113  354        Jones, Markland                    [8922314]
9       10  64.47   108  354             Lowe, Leon                    [5197554]
10      11  64.36   101  356        Ram, Sundaresan                    [6292658]
11      12  63.97    29  361          Herring, Fred                    [2420856]
12      13  63.89   122  351         Quiggle, Louis                    [8462038]
13      14  63.82    51  374          Harris, Cindy                    [4997352]
14      15  63.74    73  356            Tilton, Tim                    [4502612]
15      16  63.72    84  351        Anfinson, Larry                    [3606449]
16      17  63.66   133  354            Gaer, Jerry                    [5034639]
17      18  63.54    73  356        Vickery, Ronald                    [6842925]
18      19  63.53    72  359             Ragland, K                    [7104332]
19      20  63.45   112  351       Mansfield, Steve                    [8263752]
20      21  63.27   151  354          Drake, George                    [1886673]
21      22  63.21   150  351         Deserpa, Allan                    [2344351]
22      23  63.20   141  354             Marsh, Bud                    [1280228]
23      24  62.91    49  361         Vancil, Donald                    [7217706]
24      25  62.85   161  354        Litterman, Mark                    [5482828]
...    ...    ...   ...  ...                    ...                          ...
1061  1084  48.43    59  374          French, Janet           [8369305, 8877394]
1062  1085  48.43    23  360             Dias, John                    [7595883]
1063  1086  48.42    60  363            Crow, Nancy           [3176193, 5422175]
1064  1087  48.42    48  359            Herz, Karen                    [8664579]
1065  1088  48.40    33  354         Zatulove, Paul                    [4787897]
1066  1089  48.37    37  361         Borus, Carolyn                    [7418477]
1067  1090  48.35    61  354       Victor, Marianne                    [2637960]
1068  1091  48.34    62  356       Anderson, Alicia                    [5652650]
1069  1092  48.33    49  159         Dangel, Philip                    [3682048]
1070  1093  48.33    63  360      Thomas, Sara Lynn                    [1554263]
1071  1094  48.32    51  359        Hankin, Susanne                    [9848886]
1072  1095  48.31    79  354      Koelling, Marilyn                    [9719792]
1073  1096  48.31   103  354         Ehrlich, Linda                    [5661277]
1074  1097  48.30    44  360        Towle, Patricia                    [9432493]
1075  1098  48.28    64  356           Bonham, Mary                           []
1076  1099  48.28    70  159          Norris, Scott                    [1668943]
1077  1100  48.25    32  354         Hjermstad, Dee                    [2068567]
1078  1101  48.23    31  363           Wertz, Julie                    [1273825]
1079  1102  48.23    55  383        Reynolds, David                    [3823857]
1080  1103  48.23    89  351       Cantoni, Lindsay                    [1271296]
1081  1104  48.23    76  354      Shimokubo, Janice                    [1330934]
1082  1105  48.19    59  354         Farnham, Donna                    [9282742]
1083  1106  48.19    50  360        Patrick, Morgan                    [8497125]
1084  1107  48.19    46  359         Soares, Lorena                    [1310674]
1085  1108  48.18    32  361      Dendinger, Robert                    [4544617]

[1086 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd18rank'

0   Rank     PR Games Unit                Name                                      player_id
0      1  65.61    44  573            Gee, Ken                                      [4118944]
1      2  64.62   103  412    Boreson, Michael                                      [2934817]
2      3  62.99    53  573        Young, Kevin                                      [6202411]
3      4  62.55    64  386      Towner, Steven                                      [6560105]
4      5  61.94    75  417       Halfpap, Brad                                      [2679035]
5      6  60.93    49  417     Morris, Michael  [5551811, 8437408, 8861919, 5598168, 4120817]
6      7  60.85    63  417          Hall, Rita                                      [7831617]
7      8  60.41    50  386  Berkowitz, Michael                                      [4037057]
8      9  60.01    56  412       Harris, Porki                                      [8270929]
9     10  59.54    56  390      Johnson, David           [4166221, 7613849, 5987369, 7367171]
10    11  59.18    53  390    Polujan, Jadwiga                                      [9552073]
11    12  59.03    49  390      Ridgen, Edmund                                      [5635535]
12    13  58.74    72  390       Adelman, Dave                                      [3070603]
13    14  58.73    57  386    Gardner, Rosalee                                      [7986424]
14    15  58.73    76  412      McCully, Tanya                                      [6159648]
15    16  58.49    54  412    Pellett, William                                      [7822197]
16    17  58.44    45  395      Yager, Richard                                      [7610777]
17    18  58.36    81  386        Bowman, Pete                                      [4598121]
18    19  58.22    78  417        Muench, Paul                                      [9549234]
19    20  58.17   106  390       Dillen, Helen                                      [6612520]
20    21  57.98    29  400       Siegel, James                             [9504206, 2189267]
21    22  57.69    98  386      Feller, Myrtle                                      [9063390]
22    23  57.51   113  390         Wafa, Maged                                      [1042793]
23    24  57.40    30  386     Waterman, Terry                                      [1216139]
24    25  57.39    90  417   Brandeberry, John                                      [8230889]
..   ...    ...   ...  ...                 ...                                            ...
199  201  48.71   130  390       Evans, Sandra                    [5161762, 8902186, 3893308]
200  202  48.70    69  412        Gentry, Anne                                      [1113283]
201  203  48.61    52  396   Danielson, Noreen                                      [3655385]
202  204  48.57    37  573       Delparte, Kay                                      [2434342]
203  205  48.50    47  386      Suta, Benjamin                                      [2643162]
204  206  48.41    85  390      Malo, Kathleen                                      [9256512]
205  207  48.30    71  386      Coxe III, Fred                                      [8633320]
206  208  48.25    62  396       Ormond, Carol                                             []
207  209  48.18    56  395       Neveau, Patsy                                      [3162036]
208  210  48.10    54  390   Donaldson, Sharon                                      [5504759]
209  211  48.10   123  573      Duczek, Angela                                             []
210  212  48.09    31  386       Conley, Nancy                                      [9454527]
211  213  48.08    69  386   Lundgreen, Clysta                                      [6870201]
212  214  48.05    69  395         Smith, Owen                                      [7756127]
213  215  47.99    70  417  Dussault, Ann Mary                                      [5839467]
214  216  47.95    91  390       Chan, Perry H                                      [6466885]
215  217  47.93    46  573      Laidlaw, Edith                                      [4190254]
216  218  47.88    98  386     Blackman, Laura                                      [1986279]
217  219  47.85    42  386    Peterson, Evelyn                                      [7903537]
218  220  47.76    81  417      Meuchel, Sandy                                      [6122442]
219  221  47.74    47  395      Izen, Lawrence                                      [9159134]
220  222  47.63    42  412     Fregerio, Wendy                                      [8323747]
221  223  47.55    53  396    Henderson, Deane                                      [4686691]
222  224  47.53    62  417         Fleck, Joan                                      [8763704]
223  225  47.33    57  573        Ermel, Diana                                      [7252315]

[224 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd19rank'

0   Rank     PR Games Unit                 Name                                                                                player_id
0      1  66.83    92  431        Smith, Duncan                                                                                [8093873]
1      2  66.64    91  437      Carmichael, Tom                                                                                [6520898]
2      3  66.31    54  451          Freeman, Ed                                                                                [6575692]
3      4  66.01    65  446       Steiner, Harry                                                                                [7951760]
4      5  65.80    53  431         Fraser, Doug                                                                                [1266365]
5      6  65.74    48  431       Roche, Michael                                                                                [3898334]
6      7  65.59    39  446         Delfs, Bryan                                                                                [4081269]
7      8  65.11    76  431     Tradewell, Ernie                                                                                [8094187]
8      9  64.71    20  571          Glaser, Leo                                                                                [4602374]
9     10  64.21    50  433       Devine, Thomas                                                                                [6722261]
10    11  63.87    41  431         Allen, Roger                                                                                [8519927]
11    12  63.86    71  448     Bennett, Charles                                                                                [9885552]
12    13  63.85    49  446        Ford, Jeffrey                                                                                [9212590]
13    14  63.41    62  431         Gray, Donald                                                                       [2109719, 4557573]
14    15  63.02   134  446          Miller, Ray                                                              [6132448, 8465037, 5702615]
15    16  62.91    65  448          Adams, John  [2956004, 7792069, 8449511, tmp:d9c2140b-ad63-4b08-b579-228de6c6d5ff, 6529755, 5387388]
16    17  62.85    87  451        Epley, Howard                                                                                [4555406]
17    18  62.78    48  431        Galand, James                                                                                [2924498]
18    19  62.75    62  446       Hartley, Patti                                                                                [4174151]
19    20  62.59    87  446         Walker, Dave                                                                                [6295576]
20    21  62.49    61  431       Billett, Karen                                                                                [6017703]
21    22  62.39    38  433         Moffat, John                                                                                [5961416]
22    23  62.39    97  446        Moore, Robert                                                                       [1587978, 8262616]
23    24  62.17   107  448         Hays, G Gard                                                                                [8282811]
24    25  61.88    82  430     Moffatt, Michael                                                                                [2099624]
..   ...    ...   ...  ...                  ...                                                                                      ...
520  525  49.29   140  431           Daam, Dolf                                                                                [2687437]
521  526  49.19    35  446         Vona, Elaine                                                                                [8358583]
522  527  49.18    76  453        Rolfe, Janice                                                                                [3891798]
523  528  49.17   100  425      Lariviere, Paul                                                                                [4594371]
524  529  49.14    60  453       Muzzall, Joyce                                                                                [1243713]
525  530  49.13    88  431           Hall, Joan                                                                                [6305008]
526  531  49.12   144  425      Roberts, Monica                                                                                [6093965]
527  532  49.00    82  431         Wood, Leslie                                                                                [3298299]
528  533  48.99    76  425  Dwinnell, Catherine                                                                                [1255053]
529  534  48.95    57  431   Kishkan, Margarita                                                                                [7265395]
530  535  48.95    28  425         Mason, Debra                                                                                [3032116]
531  536  48.90    64  446     Milstein, Leslie                                                                                [8666997]
532  537  48.89    29  446   Etheredge, Kenneth                                                                                [8301085]
533  538  48.88    93  431         Nurse, Derek                                                                                [5355087]
534  539  48.88    85  451      Canfield, James                                                                                       []
535  540  48.83    52  431         Curran, Gina                                                                                [8965978]
536  541  48.74    78  442     Curtis, Patricia                                                                                [3553590]
537  542  48.73    67  431    Goodchild, Dallas                                                                                [7080476]
538  543  48.69    55  446    Dierickx, Marilyn                                                                                [4662784]
539  544  48.68    29  425        Kamm, Marilyn                                                                                [9692509]
540  545  48.66    42  433        Abrutyn, Eric                                                                                [1435213]
541  546  48.62    66  446       McCaslin, John                                                                                [8688389]
542  547  48.57   100  431        Raymond, Mark                                                                                [5900301]
543  548  48.55    67  446       Urban, Stephen                                                                                       []
544  549  48.54   131  441      Delducco, Carla                                                                                       []

[545 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd20rank'

0   Rank     PR Games Unit                    Name                                            player_id
0      1  67.28    22  487          Wiegand, Chris                                            [6520871]
1      2  67.15   177  487  Beauchet, Louis-Amaury                                            [3712672]
2      3  64.81    79  487            Ashton, John                                            [4094697]
3      4  64.71    55  470          Chang, Godfrey                                            [8604363]
4      5  64.11    31  394           Gerould, Romy                                            [7188331]
5      6  64.08    39  487             Wilson, Joe                                            [5362474]
6      7  63.04   153  487             Hardy, Bill                                            [3254526]
7      8  63.04    30  452       Sharples, Hendrik                                            [1585347]
8      9  63.03    79  487            McNay, Roger                                            [6990223]
9     10  62.80   187  487           Brower, David                                            [7956231]
10    11  62.77    51  487             Bomber, Ben                                            [5096014]
11    12  62.65    72  479            Rowe, Laurie                                            [7508832]
12    13  62.55    50  490           Levy, Michael                                            [1879294]
13    14  62.55    48  452            Roll, J. Jay                                            [8425922]
14    15  62.53    71  487  Montgomery III, Dewitt                                            [5949149]
15    16  62.51   215  487        Schaeffer, Lynne                                            [4354885]
16    17  62.50   262  487          Hallee, Gerard                                            [9872086]
17    18  62.46   104  487             Lee, Edward                                   [4058062, 6703933]
18    19  62.26    51  487       Frazier, W Ronald                                            [8872066]
19    20  62.21    58  452         Soohoo, Richard                                            [3259935]
20    21  62.20    69  481        Biermann, Brenda                                            [7237162]
21    22  62.17    67  487           Blumenthal, K                                            [9614028]
22    23  62.14    60  470            Savara, Arun                                            [8152683]
23    24  62.12   112  487           Casanova, Amy                                            [9675574]
24    25  62.00    94  487           Prouser, Rick                                            [2003791]
..   ...    ...   ...  ...                     ...                                                  ...
361  366  47.63    35  452  Lacombe-Ingham, Sherry                                                   []
362  367  47.62    48  490            Owens, Susan                                                   []
363  368  47.61   110  452            Freitag, Sue                                            [1387618]
364  369  47.59   106  487           Ahern, Thomas                                            [7494599]
365  370  47.59    87  452     Griffiths, Virginia                                            [3573109]
366  371  47.58   125  487             Kroupa, Tom                                            [4291182]
367  372  47.58    31  452         Graham, Darrell                                                   []
368  373  47.55    51  487          Wilson, Sandra                                   [3656012, 5549302]
369  374  47.55    76  452           Rottmann, Joe                                            [7385269]
370  375  47.52    69  479            Kibbey, Bing                                            [2698749]
371  376  47.51    68  487         Sweigert, Cloyd                                            [1173081]
372  377  47.51    51  470           Lunson, Chuck                                            [7396082]
373  378  47.47    54  479            Spence, Joan  [3365026, tmp:0fff4971-2486-42d9-964b-dd01a5694e80]
374  379  47.43    90  452          Pyles, Barbara                                            [4517679]
375  380  47.42    54  487       Thoeresz, Johanna                                            [8834571]
376  381  47.42    82  487           Johnson, Nely                                            [5204984]
377  382  47.38    36  487           Gainer, Ginny                                            [4000323]
378  383  47.36    73  470         Sandell, Sharon                                            [9115234]
379  384  47.33   145  487        McCarthy, Ginger                                            [9278613]
380  385  47.31    54  469          River, Marilyn                                            [9500197]
381  386  47.29    71  470      Maddalena, Claudia                                            [4728459]
382  387  47.27    66  487          Behles, Sandra                                            [4825519]
383  388  47.20    30  487            Wandel, Hans                                            [6487645]
384  389  47.14    29  487           Ball, Barbara                                   [4890906, 8478163]
385  390  47.09    45  487           Kopacz, Ginny                                            [1185594]

[386 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd21rank'

0   Rank     PR Games Unit                   Name                                                                                   player_id
0      1  66.97    63  507            Yokel, Lynn                                                                                   [2412764]
1      2  66.91    47  508        Thomson, Robert                                                                                   [3764583]
2      3  66.78    34  506           Roche, Robin                                                                                   [1465120]
3      4  66.53    28  505               Jones, D  [1287273, 1518003, 7003439, 3326810, 6865054, 5401593, 4086279, 5277566, 8788669, 6004709]
4      5  66.30    68  503      Rosenberg, Debbie                                                                                   [8459274]
5      6  65.46    27  502             Moss, Mark                                                                                   [3419614]
6      7  65.27   146  506             Ng, Robert                                                                                   [5978289]
7      8  65.00    44  507                Ge, Xin                                                                                   [1815695]
8      9  64.94   135  507         Barlow, Edward                                                                                   [9011641]
9     10  64.57    35  497          Tuttle, Bruce                                                                                   [9000518]
10    11  64.43    73  550         Slinger, James                                                                                   [4640322]
11    12  64.01    82  506          Balas, Robert                                                                                   [1910582]
12    13  64.00    50  509         Linzner, Erwin                                                                                   [7196415]
13    14  63.91   104  503        Macgregor, Gary                                                                                   [2379783]
14    15  63.84    93  502       Barrere, Crispin                                                                                   [8922497]
15    16  63.62    91  503         Powell, Ronald                                                                          [7274238, 9513221]
16    17  63.56    84  505             Etter, Bob                                                                                   [2629585]
17    18  63.33    23  503          Kemper, Carol                                                                                   [4331699]
18    19  63.30    66  501              Wong, Dan                                                                                   [8709572]
19    20  63.24    61  507        Tsai, Tsao-Tung                                                                                   [6381596]
20    21  63.21   118  507          Marks, Norman                                                                          [1235745, 7954689]
21    22  63.18    38  498         Raider, Daniel                                                                                   [8745986]
22    23  63.02    64  503              Karr, Ron                                                                                   [1707817]
23    24  63.00    55  506            Chen, Chris                                                                                   [3973182]
24    25  62.93   114  507            Foos, Mindy                                                                                   [8557209]
..   ...    ...   ...  ...                    ...                                                                                         ...
580  586  50.34    58  550         Diola, Marilyn                                                                                   [2101289]
581  587  50.31   168  473       Kornbluth, Bobbi                                                                                   [5549337]
582  588  50.28    59  473     Greenthal, Richard                                                                                          []
583  589  50.26    24  509           Murphy, Dana                                         [tmp:ef6f7572-2dcb-4c0f-bae6-f36c6ff11190, 7556497]
584  590  50.26    96  498          Sokolov, Seva                                                                                   [7746261]
585  591  50.24    45  503         Wheeler, Kathy                                                                          [1307630, 9419519]
586  592  50.23   107  509      Shribbs, Patricia                                                                                   [3238342]
587  593  50.23    79  509           Marin, Linda                                                                                   [9434119]
588  594  50.22    36  503     Rosenstock, Norman                                                                                   [3629538]
589  595  50.20    27  508           Feder, Sonia                                                                                   [8152713]
590  596  50.16    89  550         Ottenberg, Ann                                                                                   [2770431]
591  597  50.16    61  507           Chen, Andrew                                                                                   [1601008]
592  598  50.13    18  506      Lowenthal, Elaine                                                                          [1471430, 7454201]
593  599  50.11   124  499           Chaplin, Mel                                                                                   [2544830]
594  600  50.09   223  473          Bahry, Sharon                                                                                   [2728524]
595  601  50.07    26  509        Iapicca, Albert                                                                                   [2129523]
596  602  50.06    48  530          Quadros, Fred                                                                                   [9581529]
597  603  50.05    75  507           Ahern, Terry                                                                                   [4751167]
598  604  50.03    78  501  Wulferdingen, Sharron                                                                                   [5777429]
599  605  50.02    49  503          Raynor, Donna                                                                                   [2068052]
600  606  49.98    51  503        Rubenfeld, Rita                                                                                   [9487654]
601  607  49.93    44  506              Buck, Ron                                                                                   [3356574]
602  608  49.93    57  498         Broder, Harold                                                                                   [9153012]
603  609  49.85    38  503       Bialson, Annette                                                                                   [1182234]
604  610  49.84    39  503          Kelly, Leslie                                                                                   [8565945]

[605 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd22rank'

0   Rank     PR Games Unit                 Name                                                                                            player_id
0      1  71.02   201  538       Itabashi, Mark                                                                                            [6811434]
1      2  69.37   117  525         Gao, Sherman                                                                                            [2510154]
2      3  66.72    54  547       Kolesnik, Finn                                                                                            [7333986]
3      4  66.11    98  525    Martorina, Nunzio                                                                                            [6726399]
4      5  65.42    93  547      Clarke, Charles                                                                                            [2076608]
5      6  65.39   166  539         Johnsen, Jim                                                                                            [8457476]
6      7  65.38   169  539          Darin, Paul                                                                                            [7201974]
7      8  65.02   124  539  Madison-Jammal, Sam                                                                                                   []
8      9  65.00    85  538           Wu, Weishu                                                                                            [8494649]
9     10  64.95    34  538      Iverson, Dennis                                                                                            [9652272]
10    11  64.63    75  531          White, Fran                                                                                            [8656681]
11    12  64.44    58  539         Roeder, Rick                                                                                            [5998476]
12    13  64.04   137  513         Osborne, Rai                                                                                            [1058118]
13    14  63.87    93  533         Pineles, Abe                                                                                            [2114712]
14    15  63.78    24  513         Pei, Weidong                                                                                            [8172498]
15    16  63.55    90  513      Ravipudi, Subba                                                                                            [2695618]
16    17  63.47    77  539         Chapman, Pat                                                                                            [7164084]
17    18  63.36    63  526        Abelow, David                                                                                            [5156025]
18    19  63.12   101  525      Gupta, Shailesh                                                                                            [3332578]
19    20  63.11    37  533          Wittes, Jon                                                                                            [1145452]
20    21  63.10    37  531            Bell, Leo                                                                                            [4717163]
21    22  63.10   116  525       Gilbert, Brian                                                                                            [6224016]
22    23  63.04   140  538        Gailfus, Alan                                                                                            [2952599]
23    24  63.02   183  538        Waldron, Gary                                                                                            [5489962]
24    25  62.83    41  539     Perlmutter, Mark                                                                                            [2543036]
..   ...    ...   ...  ...                  ...                                                                                                  ...
609  618  48.54    68  526    Hedenberg, Debbie                                                                                                   []
610  619  48.53   112  538     Kulkarni, Arvind                                                                                            [9503838]
611  620  48.52    52  534       Gleason, Janet                                                                                            [8651507]
612  621  48.52   100  539     Davidson, Donald                                                                                            [2549743]
613  622  48.49    67  515   Sadai Md, Jonathan                                                                                            [2002906]
614  623  48.43    64  533        Magaldi, Edna                                                                                            [6734111]
615  624  48.42    45  538       McCord, Teresa                                                                                                   []
616  625  48.41    74  538   Cavanaugh, Marilyn                                                                                            [7179979]
617  626  48.40   104  534        Heberle, John                                                                                            [2123878]
618  627  48.39   127  525         Kurinsky, Ed                                                                                            [5547318]
619  628  48.37    38  526       Dinnsen, Sandy                                                                                                   []
620  629  48.36    66  525         Silva, Marla                                                                                            [9845194]
621  630  48.33    45  525      SAMUELS, Helene                                                                                                   []
622  632  48.27   181  538        Foster, Carol                                                           [tmp:9d88c9ee-baa9-43eb-b936-b368e9503767]
623  633  48.27    62  533       Winick, Marvin                                                                                            [5384583]
624  634  48.21    63  525       Rochelle, Nola                                                                                            [9289704]
625  635  48.21    35  539          Hason, Fani                                                                                            [1619594]
626  636  48.17    66  525        Shapiro, Gail                                                                                            [6875025]
627  637  48.17    88  533       Peckham, Nancy                                                                                            [9704833]
628  638  48.05    32  542   Pickett, Catherine  [5516811, tmp:a4657661-a83a-4f1d-a5da-6baaa78a17a2, tmp:52d05f00-59b1-4395-b796-6a3d04a271cb, tm...
629  639  47.98    23  533      Sielicky, Roger                                                                                            [2104512]
630  640  47.97   122  533           Larin, Pat                                                                                            [2156601]
631  641  47.96    84  538          Mays, Susan                                                                                            [1725629]
632  642  47.95    35  515      Behringer, Cole                                                                                            [3840700]
633  643  47.95    56  534         Bauer, Bruce                                                                                            [3673855]

[634 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd23rank'

0   Rank     PR Games Unit                 Name                                            player_id
0      1  67.59   170  562      Baqai, Iftikhar                                            [7532466]
1      2  66.02   130  561        Dunitz, Mitch                                            [4240146]
2      3  65.74    75  553    Cardullo, Patrick                                            [8395969]
3      4  65.72   198  562    Anikovich, Viktor                                            [9145958]
4      5  65.28    25  556      Markarian, Paul                                            [2940574]
5      6  65.06    37  562  Kolesnik, Alexander                                            [2512440]
6      7  65.00   140  562          Wittes, Pam                                            [4790812]
7      8  64.76    47  559          Shih, Frank                                            [3593800]
8      9  64.23    70  562   Brownstein, Sidney                                            [5199247]
9     10  64.11    46  562        Nash, Michael                                            [9627332]
10    11  63.86   104  557   Schafer Jr, Walter                                            [4374037]
11    12  63.84   151  562      Kleinman, Danny                                            [9729739]
12    13  63.83   134  562          Knee, Peter                                            [3612589]
13    14  63.74    68  568          Welsh, Mike                                            [2657651]
14    16  63.65    65  562          Ramos, John                                            [1729918]
15    17  63.51   186  562         Bedros, Aram                                            [2615541]
16    18  63.48    67  559        Szecsi, Peter                                            [4370368]
17    19  63.45    74  568        Otsuki, Wayne                                            [9942297]
18    20  62.72    65  559          Jones, John                                   [1999400, 8633703]
19    21  62.70    60  551        Elghamry, Amr                                            [3105105]
20    22  62.58   182  561       Chokriwala, Om                                            [1398334]
21    23  62.03   111  562        Shore, Robert                                            [5325013]
22    24  61.68   189  568         Mager, Steve                                            [9654828]
23    25  61.47   145  562      Green, Adrienne                                            [3204405]
24    26  61.33   107  562     Mikyska, Michael                                            [1591355]
..   ...    ...   ...  ...                  ...                                                  ...
350  358  49.78    83  562    Keaney, Judy Anne                                            [7771142]
351  359  49.76    92  562         Hausner, Lee                                            [2901455]
352  360  49.76    38  559           Ryan, Lynn                                   [8794618, 3196860]
353  361  49.75   177  568      Gastelum, Laura                                            [1447254]
354  362  49.65    41  562         Gordon, Paul                                            [7763905]
355  363  49.64    73  562      Elston, Harriet                                            [4920171]
356  364  49.50    50  562       Carrier, Ellen                                            [8732272]
357  365  49.48    91  562    Galante, Huguette                                            [2309521]
358  366  49.37    58  562       Waisler, Laura                                            [3072185]
359  367  49.33    44  561         Levin, Carol                                   [8887225, 5881358]
360  368  49.33    41  562      Kangas, Stanley                                                   []
361  369  49.32    75  568      McGory, Michael                                                   []
362  370  49.31    63  557         Hagman, John                                            [4294289]
363  371  49.29    55  564       Miller, Sharyn                                            [1502344]
364  372  49.27    19  557          Alban, Reva                                            [6353940]
365  373  49.24    54  562        O'Hara, Arlen                                            [3699129]
366  374  49.20    35  568         Ketz, Gerald                                            [5163463]
367  375  49.09    44  562          Byrd, Karen                                            [8648255]
368  376  49.07    44  568       Rudolph, Kathy                                            [3876403]
369  377  49.02    39  561              Shah, A                                                   []
370  378  48.98    78  562      Schiff, Michael                                            [2376938]
371  379  48.94    34  562      Haines, Barbara  [tmp:09593a51-84ba-4f40-bae3-18681d646eef, 5121558]
372  380  48.92    79  562        Lewin, Doreen                                            [7304315]
373  381  48.91    78  557         Mullin, Lois                                            [1360299]
374  382  48.91    60  562          Bub, Sheila                                            [2426773]

[375 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd24rank'

0   Rank     PR Games Unit                  Name                                                                                            player_id
0      1  69.67    77  155          Nathan, Marc                                                                                            [1621807]
1      2  69.37   198  155        Rotaru, Iulian                                                                                            [7066325]
2      3  69.34   153  155          Nistor, Radu                                                                                            [5123151]
3      4  69.13   119  155             Grue, Joe                                                                                            [8542341]
4      5  68.45   150  155           Radin, Judi                                                                                            [4389751]
5      6  68.40    34  155            Hurd, John                                                                                            [2446014]
6      7  67.97   280  155    Tokay, Mustafa Cem                                                                                            [2495848]
7      8  67.17   181  155      Wooldridge, Joel                                                                                            [7749511]
8      9  67.07   110  155           Jansma, Jan                                                                                            [4079442]
9     10  66.85   224  155        Gurvich, David                                                                                            [7703325]
10    11  66.76   105  155    Silverstein, Aaron                                                                                            [6672000]
11    12  66.67    50  155      Willenken, Chris                                                                                            [1677047]
12    13  66.67    75  155  Fruscoloni, Leonardo                                                                                            [6053300]
13    14  66.34   175  155       Hendelman, Erez                                                                                            [8670706]
14    15  66.31    95  155            Hand, Jeff                                                                                            [2873885]
15    16  66.30    55  155           Yellis, Bob                                                                                            [2013525]
16    17  66.15   136  155      Grubman, Elliott                                                                                            [2017709]
17    18  65.99   137  155       Mignocchi, Kent                                                                                            [1108549]
18    19  65.89    61  155  Zur Campanile, Migry                                                                                            [9775684]
19    20  65.82   149  155          Amer, Samuel                                                                                            [5407621]
20    21  65.71   106  155   Allegaert, Winthrop                                                                                            [6236685]
21    22  65.48    37  155    Lilienstein, Jared                                                                                            [2552310]
22    23  65.46    87  155      Rimstedt, Sandra                                                                                            [8931372]
23    24  64.67    40  155     Friedman, Sandrea                                                                                            [1135848]
24    25  64.66   107  155      Dobrescu, Raluca                                                                                            [2301601]
..   ...    ...   ...  ...                   ...                                                                                                  ...
750  754  48.40    62  242        Perrin, Steven                                                                                                   []
751  755  48.39   133  155      Levine, Francine                                                                                            [5008840]
752  756  48.38    30  155    Inselbuch, Harriet                                                                                            [8665494]
753  757  48.37    45  242       Krasnoff, Diane                                                                                            [3807894]
754  758  48.37    34  155           Hess, Peggy                                                                                            [1835556]
755  759  48.35    90  242      Orticelle, Laura                                                                                            [4652266]
756  760  48.34   140  242       Lessinger, Ruth                                                                                            [9713050]
757  761  48.32    31  155        Gordon, Arthur                                                                                            [4476816]
758  762  48.32    86  155      Gingold, Cynthia                                                                                            [8401411]
759  763  48.32    29  155        Otero, Maureen                                                                                                   []
760  764  48.23    63  155     Feingold, Barbara                                                                                            [9162755]
761  765  48.20   124  242           Cohen, Paul  [9070850, 2327880, 8058636, tmp:4957ba87-6436-492c-9fb3-d1aa5a08fed7, tmp:d7a5329f-b906-45f7-a8b...
762  766  48.18    36  155           Rieck, John                                                                                            [7504608]
763  767  48.17    55  155       Borruso, Elaine                                                                                            [3757722]
764  768  48.16    42  242         Block, Norman                                                                                            [7256922]
765  769  48.15   105  242        Lawrence, Teri                                                                                            [5060427]
766  770  48.14   163  155        Pranzo, Pamela                                                                                            [4175476]
767  771  48.12   134  155       Tedesco, Angela                                                                                            [9848037]
768  772  48.10   141  155       Wilcox, Liliane                                                                                            [3873021]
769  773  48.09   110  242    Shapiro, Elizabeth                                                                                            [4652258]
770  774  48.08    45  155     Krasker, Francine                                                                                            [3778185]
771  775  48.07    56  242       Deutsch, Bonnie                                                                                            [9599126]
772  776  48.06   159  242     Greenwald, Elaine                                                                                            [4653742]
773  777  48.06    40  155         Buehler, Joan                                                                                            [4792556]
774  778  48.06    66  155         Adler, Maxine                                                                                            [5966469]

[775 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd25rank'

0   Rank     PR Games Unit                  Name           player_id
0      1  72.09   137  108     Grossack, Zachary           [2250896]
1      2  68.62    50  108        Grossack, Adam           [8808155]
2      3  66.87   114  150        Arvedon, Lloyd           [4592433]
3      5  65.25    37  126         Stiefel, John           [4396715]
4      6  64.90   137  108          Aquino, Mark           [3627667]
5      7  64.79    50  108      Montague, Brenda           [9995145]
6      8  64.41    96  108        Luba, Harrison           [5476992]
7      9  64.19    46  108          Watson, Alan           [6167373]
8     10  64.10    41  113      Hanerfeld, Larry           [1303643]
9     11  63.97    83  126         Doub, Douglas           [6981321]
10    12  63.90    87  108         McDevitt, Pat           [1058061]
11    13  63.89   208  108         Gabay, Sheila           [7585721]
12    14  63.86    46  126          Ehler, David           [4104498]
13    15  63.79    72  126          Ekinci, Omer           [3984265]
14    16  63.42    94  108          Tuncok, Cenk           [2534142]
15    17  63.31   107  108    Gladyszak, Stephen           [6039448]
16    18  63.02   117  126        Brod, Geoffrey           [4232283]
17    19  62.86    37  126      Lockwood, Steven           [2007517]
18    20  62.81   131  126    DeMartino, Richard           [1182730]
19    21  62.63   152  126            Joyce, Tom  [5653002, 4919092]
20    22  62.58    70  108       Hrones Jr, John           [4228642]
21    23  62.56    44  150        Lushkov, Hanan           [5545145]
22    24  62.56    76  108           Gorsey, Bob           [4678605]
23    25  62.53    59  113          Emond, Bruce           [9245340]
24    26  62.53    71  196         Lavin, Robert           [2660792]
..   ...    ...   ...  ...                   ...                 ...
476  481  49.13    66  126         Peled, Joseph           [5746809]
477  482  49.10    61  108      Zimmerman, Ellen           [2500515]
478  483  49.09    69  126           Salve, Joan           [1501925]
479  484  49.08    22  126           Berla, Leia           [2458691]
480  485  49.00    54  108           Aiken, John           [1502808]
481  486  49.00    68  126       Gruskay, Robert                  []
482  487  48.94    98  126        Donohue, Helen           [4620011]
483  488  48.93   114  108     Rutherford, Jayne           [9537708]
484  489  48.91    74  126        Amenta, Joanne           [5198623]
485  490  48.91    24  196          Tamari, Gadi           [1187007]
486  491  48.90    69  108       Saponaro, Susan           [3116018]
487  492  48.90    48  175     Deblasio, Paschal           [9074678]
488  493  48.85    81  126  Winterfield, Michael           [3268039]
489  494  48.84    47  126          Pearl, Libby           [7437129]
490  495  48.83    61  126         Meinke, Ellen           [2965062]
491  496  48.82    30  196        Coburn, Donald                  []
492  497  48.80    92  150        Ogden, Marilyn           [9533931]
493  498  48.80    84  108        Burlock, Tracy           [5898641]
494  499  48.80    23  196        Putnam, Judith                  []
495  500  48.72    55  175       Pettersen, Jody           [2055546]
496  501  48.65    41  126        Kochen, Sharon           [2531127]
497  502  48.64    70  108         Hough, Yumiko           [5993326]
498  503  48.62    80  196        Nejame, Coreen           [1244698]
499  504  48.59    68  108        Haggerty, Lois           [3321770]
500  505  48.56    62  196      Castonguay, John           [8230676]

[501 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd99rank'

0  Rank     PR Games Unit                  Name                                                                                            player_id
0     1  66.76   153  999   Isporski, Vladislav                                                                                            [4972619]
1     2  64.38    22  999  Sigurjonsson, Julius                                                                                            [5162823]
2     3  62.90   131  999     Friedlander, Ehud                                                                                            [4074009]
3     4  62.52    35  999          Zadroga, Jan                                                                                            [4410165]
4     5  60.71    18  999         Lee, Kang-Won                                                                                                   []
5     6  59.90    47  999     Greenberg, Shmuel                                                                                            [2268248]
6     7  55.47    38  999        Deva, Yogendra  [tmp:6d128041-b217-4a1d-9d4e-af509c91f778, 8447020, tmp:598cb48f-d796-4515-8270-9e85846ee17d, tm...
7     8  55.26    57  999         SHIELS, Brian                                                                                                   []
8     9  53.63    93  999        Lapage, Robert                                                                                                   []
9    10  53.54   101  999     Bruchansky, Peggy                                                                                                   []
10   11  52.10    17  999      Merchant, Yamini                                                                                            [7243960]
11   12  50.69    88  999            Traub, Dan                                                                                                   []

In [9]:
# create a list of names containing missing player_id or pair_ids.
l = [] # todo: change to list which only allows uniques. setlist?
for k,df in dfsd.items():
    if 'player_id' in df:
        df[df['player_id'].map(len).eq(0)]['Name'].map(lambda n: l.append(n.casefold()))
    elif 'pair_ids' in df:
        df.apply(lambda r: [l.append(name.casefold()) for lpid,name in zip(r['pair_ids'],r['Names']) if len(lpid) == 0],axis='columns')
    else:
        assert False
missing_player_ids = set(l) - acbl_player_name_to_id_dict.keys() # only need to call apis for names not in dict
# todo: should dict contain casefold() or not? Need consistency.
print([n for n in missing_player_ids if n in acbl_player_name_to_id_dict])
assert all([n not in acbl_player_name_to_id_dict for n in missing_player_ids])
len(l),len(missing_player_ids),sorted(missing_player_ids)

[]

(2231,
 99,
 ["a'hearn, beverly",
  'abramson-borson, janet',
  'bacon-rothchild, debora',
  'bennett-perry, patricia',
  'benoit, marie-france',
  'berton, jr, jack',
  'bickel-scribner, susan',
  'bigel-casher, rita',
  'brown, jr, nelson',
  'burgess-strauss, marie',
  'cannamela, jr, r. arthu',
  'coburn, donald',
  'cooper-baker, rebecca',
  "d'amato, ellen",
  "d'amico, james",
  "d'litzenberger, richard",
  "d'souza, lino",
  'day, jo-ann',
  "del'monte, ishmael",
  "dell'osso, john",
  'dickson, jo-beth',
  'el-raheb, ibrahem',
  'emmett, mary-lou',
  'fill in',
  'fu, tsun-sen',
  'fung-a-fat, shirley',
  'goggin, m. gregory',
  'goodrich-baird, sarah',
  'gruskay, robert',
  'hamilton-diesel, stepha',
  'harmon-hanna, e',
  'ho, sun-o',
  'housman jr, w.glover',
  'hsiau, yao-hui',
  'hunt, samuel',
  'hyde, judith',
  'jean-jacques, palau',
  'kay-wolff, judy',
  'keegan, james',
  'ketchum, jr, william',
  'khaitan, viswanath',
  "l'ecuyer, nicolas",
  'lacombe-ingham, sherry',
  'lamothe, jean-guy',
  'lee, kang-won',
  'levine, md, paul',
  'liao, jin-ming',
  'litman-cohen, katherine',
  'lo, ai-tai',
  'luo, luen-jyh',
  'madison-jammal, sam',
  'maja, -',
  'maloney, k.',
  'maresso-paco, frank',
  "mckinney, e.r. 'bud'",
  'michaud, robert',
  'miller, anne-marie',
  'minus,sr, harold',
  'montellese, eileen',
  'muggia, albert',
  'nettles, c. leland',
  'norton-nader, rose mari',
  "o'brien, william",
  "o'connell, james",
  "o'connor wade, nora",
  "o'connor, eleanor",
  "o'connor, timothy",
  "o'donnell, bonnie",
  "o'donnell, kevin",
  "o'hara, susan",
  "o'rourke, lou ann",
  "o'toole, patricia",
  "o'toole, robert",
  'olschefski, phillip',
  'peyton-booth, ellie',
  "pientka, d'anne",
  'player, fill-in',
  'putnam, judith',
  'rubinstien, yacob(jacob',
  'rudikoff, m.d., jeffrey',
  'scott-kerr, michael',
  'sellers, jr, daniel',
  'serio, sandra-leigh',
  'shaffer, anne(nonnie)',
  'sinclair-brooks, virgin',
  'snyder, j.p.',
  'sundaram, k.v.k.',
  'swan, jr., james',
  'tavard, jean-claude',
  'thomas-howie, deborah',
  'tseng, chung-ye',
  'wall-gilletz, susan',
  'weinberg, k. k.',
  'weisz-margules, adam',
  'weld, donald',
  'welton, d. scott',
  'wolff, esquire, deborah',
  'york, j. thomas',
  'zenk, jr, george'])

In [10]:
# read file containing acbl api bearer secret.
bearer_file = pathlib.Path('../../../BridgePowerRatings/acbl_api_authorization_bearer_secret.txt')
with open(bearer_file,'rb') as f:
    bearer = f.read()

In [11]:
# takes 60s per 40 names
# call acbl api to retrieve acbl_number given first_name, last_name.
import requests
import urllib
import time
headers = {'accept':'application/json', 'Authorization':bearer[len('Authorization: '):]}
unmatched_names = []
for nn,n in enumerate(missing_player_ids):
    if n in acbl_player_name_to_id_dict and len(acbl_player_name_to_id_dict[n]):
        #print('found:',n,acbl_player_name_to_id_dict[n])
        continue
    split = n.split(', ')
    if len(split) != 2:
        print('wrong number of commas:',n)
        unmatched_names.append(n)
        continue
    lastname = split[0].split(' ')[0]
    if not lastname.isalnum() or '-' in lastname or '+' in lastname or '.' in lastname or ',' in lastname:
        print('invalid characters in lastname:',lastname,n)
        unmatched_names.append(n)
        continue
    firstname = split[1].split(' ')[0]
    if not firstname.isalnum() or '-' in firstname or '+' in firstname or '.' in firstname or ',' in firstname:
        print('invalid characters in firstname:',firstname,n)
        unmatched_names.append(n)
        continue
    url = 'https://api.acbl.org/v1/player_query'
    query = {'first_name':firstname,'last_name':lastname}
    params = urllib.parse.urlencode(query)
    time.sleep(0.5) # throttle api calling
    print(url,params)
    response = requests.get(url, params=params, headers=headers)
    assert response.status_code == 200, (n, url, params, response.status_code)
    json_response = response.json()
    founds = []
    for data in json_response['data']:
        acbl_number = data['acbl_number']
        assert type(acbl_number) is int
        if firstname.casefold() == data['first_name'].casefold() and lastname.casefold() == data['last_name'].casefold():
            founds += [(n,acbl_number,data['city'])]
    if len(founds) == 1:
        print('found one exact match:',n)
    else:
        founds = [(data['last_name']+', '+data['first_name'],data['acbl_number'],data['city']) for data in json_response['data']]
        unmatched_names.append(n)
    print(nn,len(missing_player_ids),n,founds)
    acbl_player_name_to_id_dict[n] = [n[1] for n in founds]

invalid characters in lastname: o'connor o'connor wade, nora
invalid characters in lastname: el-raheb el-raheb, ibrahem
invalid characters in firstname: e.r. mckinney, e.r. 'bud'
invalid characters in lastname: o'donnell o'donnell, kevin
invalid characters in lastname: bacon-rothchild bacon-rothchild, debora
wrong number of commas: berton, jr, jack
invalid characters in lastname: wall-gilletz wall-gilletz, susan
https://api.acbl.org/v1/player_query first_name=viswanath&last_name=khaitan
found one exact match: khaitan, viswanath
7 99 khaitan, viswanath [('khaitan, viswanath', 5514746, 'Wellesley')]
invalid characters in lastname: weisz-margules weisz-margules, adam
invalid characters in firstname: tsun-sen fu, tsun-sen
invalid characters in lastname: o'rourke o'rourke, lou ann
invalid characters in firstname: w.glover housman jr, w.glover
invalid characters in lastname: lacombe-ingham lacombe-ingham, sherry
invalid characters in lastname: o'connor o'connor, timothy
invalid characters in firstname: ai-tai lo, ai-tai
invalid characters in firstname: j.p. snyder, j.p.
wrong number of commas: brown, jr, nelson
invalid characters in lastname: goodrich-baird goodrich-baird, sarah
invalid characters in firstname: c. nettles, c. leland
invalid characters in lastname: l'ecuyer l'ecuyer, nicolas
wrong number of commas: rudikoff, m.d., jeffrey
invalid characters in firstname: yacob(jacob rubinstien, yacob(jacob
invalid characters in firstname: fill-in player, fill-in
https://api.acbl.org/v1/player_query first_name=donald&last_name=weld
found one exact match: weld, donald
23 99 weld, donald [('weld, donald', 6305385, 'Greenfield')]
invalid characters in lastname: o'toole o'toole, robert
invalid characters in lastname: d'amato d'amato, ellen
invalid characters in firstname: jo-ann day, jo-ann
wrong number of commas: swan, jr., james
invalid characters in lastname: o'connor o'connor, eleanor
invalid characters in lastname: peyton-booth peyton-booth, ellie
invalid characters in lastname: jean-jacques jean-jacques, palau
invalid characters in lastname: abramson-borson abramson-borson, janet
invalid characters in lastname: norton-nader norton-nader, rose mari
invalid characters in firstname: mary-lou emmett, mary-lou
invalid characters in lastname: bennett-perry bennett-perry, patricia
invalid characters in firstname: - maja, -
invalid characters in lastname: del'monte del'monte, ishmael
invalid characters in lastname: cooper-baker cooper-baker, rebecca
https://api.acbl.org/v1/player_query first_name=james&last_name=keegan
38 99 keegan, james [('Keegan, James', 3178978, 'Salmon'), ('Keegan, James', 8749159, 'Boston')]
invalid characters in firstname: anne(nonnie) shaffer, anne(nonnie)
https://api.acbl.org/v1/player_query first_name=donald&last_name=coburn
found one exact match: coburn, donald
40 99 coburn, donald [('coburn, donald', 5648548, 'Monterey')]
wrong number of commas: fill in
invalid characters in firstname: k. maloney, k.
invalid characters in lastname: d'litzenberger d'litzenberger, richard
invalid characters in lastname: minus,sr minus,sr, harold
wrong number of commas: levine, md, paul
wrong number of commas: sellers, jr, daniel
invalid characters in firstname: jean-guy lamothe, jean-guy
invalid characters in firstname: d. welton, d. scott
invalid characters in lastname: bigel-casher bigel-casher, rita
invalid characters in firstname: k.v.k. sundaram, k.v.k.
wrong number of commas: wolff, esquire, deborah
invalid characters in lastname: thomas-howie thomas-howie, deborah
invalid characters in firstname: luen-jyh luo, luen-jyh
invalid characters in firstname: m. goggin, m. gregory
invalid characters in firstname: d'anne pientka, d'anne
invalid characters in firstname: jean-claude tavard, jean-claude
invalid characters in lastname: burgess-strauss burgess-strauss, marie
invalid characters in firstname: marie-france benoit, marie-france
invalid characters in lastname: hamilton-diesel hamilton-diesel, stepha
invalid characters in lastname: o'hara o'hara, susan
invalid characters in firstname: yao-hui hsiau, yao-hui
https://api.acbl.org/v1/player_query first_name=judith&last_name=hyde
62 99 hyde, judith [('Hyde, Judith', 4171985, 'Federal Way'), ('Hyde, Judith', 1199862, 'Northampton')]
invalid characters in lastname: d'amico d'amico, james
invalid characters in firstname: chung-ye tseng, chung-ye
invalid characters in firstname: kang-won lee, kang-won
https://api.acbl.org/v1/player_query first_name=albert&last_name=muggia
found one exact match: muggia, albert
66 99 muggia, albert [('muggia, albert', 6376746, 'Lexington')]
invalid characters in lastname: o'donnell o'donnell, bonnie
invalid characters in lastname: o'brien o'brien, william
invalid characters in lastname: madison-jammal madison-jammal, sam
invalid characters in lastname: kay-wolff kay-wolff, judy
invalid characters in lastname: harmon-hanna harmon-hanna, e
invalid characters in lastname: sinclair-brooks sinclair-brooks, virgin
invalid characters in lastname: o'toole o'toole, patricia
invalid characters in lastname: fung-a-fat fung-a-fat, shirley
invalid characters in firstname: anne-marie miller, anne-marie
invalid characters in firstname: sun-o ho, sun-o
https://api.acbl.org/v1/player_query first_name=robert&last_name=michaud
found one exact match: michaud, robert
77 99 michaud, robert [('michaud, robert', 8332622, 'Sun City West')]
https://api.acbl.org/v1/player_query first_name=eileen&last_name=montellese
found one exact match: montellese, eileen
78 99 montellese, eileen [('montellese, eileen', 5951445, 'Norwalk')]
https://api.acbl.org/v1/player_query first_name=judith&last_name=putnam
found one exact match: putnam, judith
79 99 putnam, judith [('putnam, judith', 5649862, 'Wilbraham')]
https://api.acbl.org/v1/player_query first_name=phillip&last_name=olschefski
found one exact match: olschefski, phillip
80 99 olschefski, phillip [('olschefski, phillip', 9184317, 'Newington')]
invalid characters in lastname: d'souza d'souza, lino
invalid characters in firstname: jin-ming liao, jin-ming
wrong number of commas: cannamela, jr, r. arthu
invalid characters in firstname: k. weinberg, k. k.
invalid characters in lastname: dell'osso dell'osso, john
invalid characters in lastname: scott-kerr scott-kerr, michael
invalid characters in lastname: bickel-scribner bickel-scribner, susan
invalid characters in firstname: sandra-leigh serio, sandra-leigh
invalid characters in lastname: o'connell o'connell, james
invalid characters in firstname: j. york, j. thomas
wrong number of commas: ketchum, jr, william
invalid characters in lastname: a'hearn a'hearn, beverly
wrong number of commas: zenk, jr, george
invalid characters in firstname: jo-beth dickson, jo-beth
invalid characters in lastname: litman-cohen litman-cohen, katherine
invalid characters in lastname: maresso-paco maresso-paco, frank
https://api.acbl.org/v1/player_query first_name=samuel&last_name=hunt
found one exact match: hunt, samuel
97 99 hunt, samuel [('hunt, samuel', 2509180, 'Wellesley')]
https://api.acbl.org/v1/player_query first_name=robert&last_name=gruskay
found one exact match: gruskay, robert
98 99 gruskay, robert [('gruskay, robert', 1087509, 'Bloomfield')]

In [12]:
# use same dict for both player_id->name lookup and name->[player_id] lookup
# key can be either a name or a player_id. value can be either a name or a list of player_ids.
d = {}
name_differences = []
for k,v in acbl_player_name_to_id_dict.items():
    assert type(k) is str, k
    if type(v) is list:
        # v is a list of player_ids. make sure every player_id can retieve its name.
        for pid in v:
            if type(pid) is int:
                pid = str(pid)
            assert type(pid) is str, pid
            if pid in acbl_player_name_to_id_dict:
                if acbl_player_name_to_id_dict[pid] != k:
                    # different names are using the same player_id. what to do?
                    name_differences.append([pid,[k,acbl_player_name_to_id_dict[pid]]])
            else:
                if pid in d:
                    assert d[pid] == k, [d[pid],k]
                else:
                    d[pid] = k
    else:
        assert type(k) is str, k
print('new player_ids to add to dict:',len(d))
acbl_player_name_to_id_dict.update(d)

new player_ids to add to dict: 3

In [13]:
# todo: resolve name differences by making acbl api call to convert player_id to name? Better to keep as is?
print('Name differences:')
for pid,names in name_differences:
    print(pid, names)

Name differences:
1083023 ['Moore, Tom', 'Moore, Loren']
7402872 ['Brantley, Theresa', 'Brantley, Theresa Ann']
6497594 ['Langland, Richard', 'lang, richard']
7749635 ['Walker, Jim', 'Walker, James']
1889443 ['Depner, Garnet', 'De Merchant, Garnet']
7006837 ['Panayotatos, Daniele-Favre', 'Panayotatos, Daniele']
6697151 ['Hendricks, Bob', 'Hendricks, Robert']
1448854 ['Black, Tom', 'Black, Thomas']
3105741 ['Jones, Hal', 'Jones Jr, Hal']
3629538 ['Rosenstock, Norm', 'Rosenstock, Norman']
2376318 ['Scott, Candy', 'Scott, Candace']
1718967 ['Scott, Patsy', 'scott, patricia']
3174603 ['Elson, Jane', 'Elson, Marjorie J']
6094481 ['Kirk, Pat', 'Kirk, Patricia']
5244781 ['Hirshon, Ken', 'Hirshon, Kenneth']
8114978 ['Laslie, MaryPat', 'Laslie, Mary Pat']
3429598 ['Dennis, Leona', 'De Grandpre, Leona']
2050153 ['Andrews, Mike', 'Andrews, Michael']
9999310 ['Sorenson, Eric', 'Sorenson, Steven']
9746129 ['Harker, Bill', 'Harker, William']
4989988 ['Templeton, Max', 'templeton, maxie']
4187458 ['Yee, Lilian', 'Yee, Lily']
5436605 ['Rau, Ken', 'Rau, Kenneth']
3872017 ['Boagni Jr, Kenneth', 'Boagni Jr, K']
1971999 ['Mccain, Bill', 'McCain Jr, William']
5564999 ['Staab, Carolyn', 'St Claire, Carolyn']
1242075 ['Barrett, Robert', 'barrett, robert jay']
3319989 ['Barrett, Robert', 'barrett, robert jay']
8065365 ['Barrett, Robert', 'barrett, robert jay']
4075188 ['McKenzie, Pat', 'mckenzie, patrick']
1353802 ['Greenebaum, Helen', 'greembaum, helen']
9030786 ['Andre, Jim', 'andre, james']
5151872 ['Kreidler, Dave', 'Kreidler, David']
2930145 ['Brower, Toni', 'Brower, Mary']
5868300 ['Dergay, Tom', 'Dergay, Thomas']
4252136 ['Dewitt, Elmer', 'De Witt, Elmer']
8548706 ['Houston, Larry', 'houston, lawrence']
1345818 ['Hause, Betty', 'hause, elizabeth']
2378264 ['Lauterbach, Joyce', 'Lauterbach, J']
8887047 ['Kimmerling, Kathy', 'Kimmerling, Kathryn']
7675321 ['Timberlake, Tom', 'Timberlake, Thomas']
6753744 ['Tessler, Stacey', 'Tessler, Anastasia']
7709528 ['Dinkes, Larry', 'dinkes, lawrence']
4245342 ['Cato, Robert', 'cato, bobby']
2138778 ['Clay, Tom', 'Clay, Thomas']
4827228 ['Hughes, Mike', 'Hughes, Michael']
3583724 ['Brown, Lou', 'Brown, Louis']
7305915 ['VanLeeuwen, Christina', 'van Leeuwen, Christina']
4536495 ['Robins, Marty', 'Robins, Martin']
2351935 ['Pickup, Jr, Robert', 'pickup, robert']
1742655 ['Lamb, Pat', 'Lamb, Patricia']
1292390 ['Shimelman, Susan', 'Shimelman, Sussan']
1383450 ['Roland, Les-Lee', 'Roland, Les Lee']
1850660 ['Feeley, Millie', 'Feeley, M']
6486142 ['Shapiro, Elaine', 'Shapiro, Helen']
1880845 ['Jesteadt, Bill', 'jestead, william']
1636049 ['Pannu, Major', 'Singh Pannu, Daljit']
1023535 ['Gottesfeld, G', 'Gottesfeld, Gloria']
3759210 ['Pittman Cardona, Ida', 'Cardona, Ida']
9187103 ['Geelan, Tom', 'Geelan, Thomas']
5446783 ['Weissberger, Eve', 'Weissberger, Eva']
7161891 ['DeMarco, Mary', 'Demarco, Mary']
5505062 ['Johnson, Frankie', 'Johnson, Frank']
4874064 ['Weissberger, Ron', 'Weissberger, Ronald']
4800885 ['Zuccarelli, BJ', 'Zuccarelli, B']
7581939 ['de Gagne, Serge', 'De Muller, Serge']
5325846 ['Vernia, Jan', 'Vernia, Janice']
5294843 ['Lundy, Ed', 'Lundy, Edmund']
2603772 ['Kinney, Wini', 'kinney, winifred']
9500847 ['DeRasmo, Jim', 'Derasmo, Jim']
6715397 ['Levin, Cindy', 'levin, cynthia']
4298101 ['Levy, Ed', 'Levy, Edward']
6910947 ['Smith, Chris', 'Smith, Christopher']
4078233 ['Ackerman, Steve', 'Ackerman, Steven']
8395098 ['Ackerman, Steve', 'Ackerman, Steven']
3050696 ['Deaton, Cynthia', 'deaton, c michael']
6225977 ['Hawkes, Anne Rahtjen', 'Rahtjen Hawkes, Anne']
2693933 ['Kloke, John', 'Kloke II, John']
7555741 ['Glad, Cindy', 'Glad, Cynthia']
5731615 ['Adams, Vickie', 'adams, victoria']
5495512 ['Dalton, Rick', 'Dalton, E']
4570820 ['Frey, Bob', 'Frey, Robert']
6204864 ['Whiting, Edgar', 'whiting iii, edgar']
3061507 ['McAlear, B. J.', 'McAlear, B J']
3639169 ['Vogel-Wright, Hedwig', 'Vogel Wright, Hedwig']
5664993 ['Knudsen, John', 'Knudsen, John Sverre']
2698889 ['Dunst, Jerry', 'Dunst, Jerome']
3880834 ['Willard, Babara', 'willard, b']
3844366 ['Shah, Hasnukh', 'Shah, Hasmukh']
3268039 ['Winterfield, Mike', 'Winterfield, Michael']
3670120 ['Kohn, Bernhard', 'Kohn Jr, Bernhard']
9437940 ['Macko, Maribeth', 'Macko, Mary']
2061066 ['Melville, Patricia', 'melville, pat']
5653371 ['Keller, Sid', 'Keller, Sidney']
7395507 ['Hsu, Yun Chung', 'Hsu, Yunchung']
1264184 ['Coppa, Gene', 'coppa, eugene']
1252747 ['Hill, Carol', 'hill, kay']
1129457 ['Offsay, Jan', 'offsay, janet']
1023241 ['Sholes, Ronald', 'Sholes, Ron']
5380324 ['Langley, Chuck', 'Langley, Charles']
2391090 ['Kulbersh, William', 'Kulbersh, Bill']
5106001 ['Thompson, Pat', 'Thompson, Patricia']
4540840 ['Ramnath, Ram', 'Ramnath, Mahadeva']
1190776 ['Kronholm, Jim', 'Kronholm, James']
5926564 ['Hoch, Dan', 'hoch, daniel']
6532497 ['Iking, Leo', 'iking, leonardus']
7794711 ['Howard, Ken', 'howard, kenneth']
4588630 ['Tamlyn, Rob', 'Tamlyn, Robert']
5930464 ['Holbrook, Doug', 'holbrook, douglas']
4536770 ['Fuller, Jr, Edwin', 'Fuller Jr, Edwin']
5684358 ['Stemkowski, Tatyana', 'stemkovski, tatyana']
6777635 ['Kindig, Judie', 'kindig, judith']
5482321 ['Bolch, Marykatherin', 'Katherine Bolch, Mary']
8787603 ['Stinnett, Bill', 'stinnett, william']
7643284 ['Bowen, Jim', 'Bowen, James']
8008256 ['Shaw Jr, Richard', 'shaw, richard']
3586057 ['Tipton, Hord', 'Tipton, W']
2361000 ['Kissel, G', 'Kissel, Jerry']
1890549 ['Cousineau, Ray', 'cousineau, raymond']
6308236 ['Turnbull, Kathy', 'turnbull, kathryn']
2444909 ['Von Spreckelsen, Dan', 'Von Spreckelsen, Daniel']
1241400 ['Margraff, Wendy', 'Ripley Margraff, Wendy']
3803708 ['McHann, Annette', 'McHann, Annette Lee']
3637492 ['Craney, J Jody', 'Craney, Jody']
1682601 ['Scharf, Jon', 'Scharf, E Jonathan']
3894614 ['Viviano, Fran', 'Viviano, Frances']
1886185 ['Plummer, Randy', 'Plummer, Richard']
7717369 ['Cobb, D. Brandon', 'Cobb, D Brandon']
3642984 ['Kalishman, Sid', 'Kalishman, Sidney']
5596785 ['Crain, Deborah', 'Crain, Debbie']
5609410 ['Salmela, Steve', 'salmela, steven']
6174183 ['England, Lynn', 'England, Linda']
5631033 ['Staver, Judith', 'Allen Staver, Judith']
3334929 ['Johnston, June', 'johnston, melody']
5631351 ['Gardner, Kathi', 'Gardner, Kathleen']
1416197 ['Harris, Ken', 'Harris, Kenneth']
5090148 ['Harris, Ken', 'Harris, Kenneth']
1823973 ['Harris, Ken', 'Harris, Kenneth']
3116786 ['Klein, Shelley', 'kelley, shelley']
4430638 ['Little, DeVerle', 'Little, Deverle']
5975735 ['Collins, Cyndi', 'Collins, Cynthia']
7711220 ['Gossett, Bill', 'gossett, william']
6352995 ['Reznik, Amy', 'Peterson, Amy']
7821166 ['Dodd, Debbie', 'Dodd, Deborah']
7726449 ['Sweat, Bill', 'sweat, william']
1484540 ['Morgan, Joe', 'Morgan, Joseph']
3162915 ['Bullert, Polly', 'Bullert, Pauline']
2574586 ['Skawronski, Cathy', 'skowronski, cathy']
2418533 ['Willner, Steve', 'willner, steven']
8372705 ['Huntington, Sandra', 'Hunt, Sandra']
5707943 ['Votolato, Al', 'Votolato, Albert']
5084709 ['Mills, Pete', 'Mills, Wilbur']
5732816 ['Seiler, Steve', 'seiler, steven']
7318928 ['Kristensen, Curtis', 'Kristensen, Curt']
4948726 ['Hoekwater, Jim', 'hoekwater, james']
8353859 ['Roos, Miriam', 'Roos, M Therese']
7707622 ['Carroll, Liv', 'carroll, livingston']
5318327 ['Purdy, Dick', 'Purdy, R']
7350066 ['Mastri, Dianne', 'Mastri, Diana']
1402447 ['Shanks, Rick', 'Shanks, Richard']
6668895 ['Bean, Liz', 'bean, erzsebet']
3370518 ['Fields, Jerry', 'Fields, Gerald']
1038486 ['Zamierowski, Jiggs', 'Zamierowski Jr, J']
3238296 ['Gentz, Bob', 'Gentz, Robert']
6024904 ['Foland, Binny', 'Foland, Robena']
6518036 ['Zogg, Clarissa', 'Zogg, Chris']
5247020 ['Furchtenicht, Sue', 'Furchtenicht, Susan']
1382993 ['Giloy, Doug', 'Giloy, Douglas']
6531709 ['Larson, Kyle', 'Larson, Kyle I']
5681111 ['Shair, Dave', 'shair, david k a']
7143885 ['Whitney, Char', 'whitney, charlene']
4864778 ['Carpenter, Bill', 'Carpenter, William']
1877070 ['St John, Doug', 'St John, Douglas']
7848234 ['Abarbanel, Mike', 'Abarbanel, Meyer']
8710880 ['Musser, Cindy', 'musser, cynthia']
5896622 ['Benedict, Pat', 'Benedict, Patricia']
4799801 ['Martenson, Tom', 'martenson, thomas']
2375826 ['Ye, Ginny', 'Ye, Ginney Qian']
4046900 ['Young, Jeff', 'young, jeffrey']
4463463 ['Gardner, Rick', 'Gardner, Richard']
1796283 ['Kelso, Jim', 'Kelso, James']
8105715 ['Cole, Jean', 'Cole, Jean Ann']
1584782 ['Cole, Jean', 'Cole, Jean Ann']
2599856 ['Deaton, Mike', 'deaton, c michael']
7245572 ['Carter, Jackie', 'carter, jacqueline']
6531105 ['Christensen, Mike', 'Christensen, Michael']
1002600 ['DeLong, Brian', 'Delong, Brian']
2489686 ['DeLong, Fran', 'DeLong, Frances']
4990803 ['Lenethen, Pat', 'Lenethen, Patricia']
6994334 ['Johnston, Sef', 'Johnston, Sef W']
5251443 ['St. Amand, Cecilie', 'St Amand, Cecilie']
2648172 ['Hassall, Barb', 'Hassall, Barbara Ann']
1581678 ['Stewart, Jim', 'Stewart, James']
7016913 ['Bryant, Gord', 'Bryant, Gordon']
2655624 ['Hostetler, Nell', 'hostetler, neeltje']
9436073 ['Edwards, Al', 'Edwards, Allan']
1281097 ['Hooyer, B', 'Hooyer, Ben']
5919150 ['Legacy, Liz', 'Legacy, Elizabeth']
1256424 ['TYLER, GORDON', 'Tyler, Gordon']
1241729 ['SMITH, PHIL', 'Smith, Philip']
2100770 ['GOWDY, JOHN', 'Gowdy, John']
3207676 ['NICHOLS, MAUREEN', 'Nichols, Maureen']
3927792 ['DeBaggis, John', 'Debaggis, John']
9136002 ['Laplant, Dave', 'laplante, david']
3206696 ['Webb, Dar', 'webb, d']
5925517 ['Condeluci Jr, William', 'Condeluci, Bill']
2440873 ['Bowen, JoAnn', 'Bowen, Joann']
3353214 ['McNaught, Sue', 'McNaught, Carol Sue']
1607022 ['Stults, Sandy', 'Stults, Sandra']
5648289 ['Phillips, J', 'phillips, john']
1631810 ['Liu, Jim', 'Liu, Jim Jing-Che']
9483136 ['Papermaster, Kathy', 'papermaster, kathryn']
5212804 ['Menezes, E', 'menezes, eunice']
1907263 ['DEIGHTON, SHIONA', 'Deighton, Shiona']
3810402 ['Bushnell, Bill', 'bushnell, william']
3034410 ['Mclaughlin, Malcolm', 'McLaughlin, Malcolm']
1939106 ['Minami, Sumi', 'minami, sumiye']
3913996 ['Riester Jr, William', 'Riester, Bill']
2650363 ['Schlinkert, J', 'Schlinkert, Joan']
3086437 ['Goodgold, Stu', 'Goodgold, Stuart']
4230388 ['Koernig, Dottie', 'Koernig, Dorothy']
4221265 ['Fitzpatrick, Peggy', 'fitzpatrick, peggy case']
3848574 ['Nance, Francis Carter', 'Nance, Francis']
5123372 ['Glaser, Jerry', 'glaser, jeremy']
4518527 ['Szulczewski, Joe', 'Szulczewski, Anthony']
4348141 ['Steeg, Charlie', 'steeg, charles']
8753431 ['Fitzwater, Teddy', 'Fitzwater, Theodora']
7530129 ['Eddy, Steve', 'Eddy, Stephen']
8009031 ['Black, Suzanne', 'Black, Ardean']
5127009 ['Van De Coevering, Art', 'vandecoevering, art']
3348504 ['Thacker, Max', 'Thacker, Anna Maxcine']
1814028 ['Mcdowell, Ann', 'McDowell, Ann']
1632558 ['Clark, Janet M.', 'Clark, Janet']
5866650 ['McDowell, Liz', 'McDowell, Elizabeth']
3523799 ['Penny, Ted', 'penny, edwin']
5916135 ['Goldin, Steve', 'Goldin, Stephen']
3945146 ['MacIntosh, Craig', 'macintosh, craig']
2614812 ['Ling, Yolande', 'ling, yolanda']
3952320 ['Sauro, Joe', 'Sauro, Joseph']
4138023 ['Engelbert, Sue', 'engelbert, susan']
8794669 ['Gravenkemper, Charlie', 'Gravenkemper, Charles']
8252645 ['Setterholm, Dave', 'Setterholm, David']
6749771 ['Ye, Gary', 'ye, gary jun']
2915545 ['Roberts, Stan', 'Roberts, Stanley']
5109337 ['Tone, Sandy', 'tone, sandra']
2987538 ['Campbell, Bill', 'campbell, william']
5999928 ['Scavone, Jim', 'scavone, james']
3380971 ['Collins, Phil', 'collins, philip']
5974127 ['Horn, Robert', 'horn, bob']
8256624 ['Stever, Tom', 'stever, thomas']
2429071 ['Scholes, Kenny', 'Scholes, Ken']
8301085 ['Etheredge, Ken', 'Etheredge, Kenneth']
3577546 ['McKenna, Chris', 'McKenna, Christine']
1936530 ['Hyland, Chris', 'hyland, christopher']
4864360 ['Swanson, Rick', 'Swanson, Richard']
3395081 ['Moen, Peggy', 'Moen, Margaret']
5657032 ['Lewis, Steve', 'lewis, steven mark']
8089434 ['Lewis, Steve', 'lewis, steven mark']
2003961 ['Feldman, Cliff', 'Feldman, Clifford']
9263349 ['Block, Terry', 'Block, Terence']
7822197 ['Pellett, Bill', 'Pellett, William']
5163560 ['Lapage, Alan', 'lapage, robert']
3116735 ['Cheeseman, Bob', 'Cheeseman, Robert']
2071126 ['Patterson, Sindy', 'Patterson, S K (Sindy)']
9073000 ['Lamb, Bud', 'lamb, william']
3445046 ['Hahn, Doug', 'Hahn, Douglas']
3445054 ['Steward, Jeff', 'Steward, Jeffrey']
8018839 ['Thompson, Ken', 'Thompson, Kenneth']
6526748 ['McDonald, Rick', 'mcdonald, richard']
1854623 ['LeVeille, Bettie', 'leveille, bettie']
1241389 ['Benoy, Clyde', 'Benoy III, Clyde']
9250700 ['Atherton, Fred', 'Atherton, Frederick']
2127881 ['Molenda, Chuck', 'Molenda, Charles']
4596846 ['Matthews, Wayne', 'Matthews, Wallace']
3217280 ['Carson, Gwen', 'Carson, Gwendolyn']
5997798 ['Griffin, Eleanor', 'Griffin, Elanor']
3578372 ['Flack, George', 'Flack Jr, George']
5958407 ['Calkins, Jackie', 'Calkins, Jacquelyn']
1112317 ['Connelly, Steve', 'connelly, stephen']
2757826 ['Powell, Judy', 'Powell, Judith']
1643207 ['Powell, Judy', 'Powell, Judith']
5955904 ['Stephenson, Trisha', 'stephenson, patricia']
5189144 ['Terpening, Herb', 'Terpening, Herbert']
7747659 ['Jett, Rick', 'jett, richard']
1399195 ['Watson, Phil', 'watson, philip']
2185946 ['Cox, Cindy', 'cox, cynthia']
5130905 ['Pinter, Tom', 'Pinter, Thomas']
3799565 ['Morris, Harriet Eaton', 'Eaton Morris, Harriet']
2763877 ['McCune, Kim', 'McCune, Haesun Kim']
1695738 ['Simon, Bob', 'Simon, Robert']
4524306 ['Sweeney, E. W.', 'Sweeney, Everett']
4571878 ['Burgess, Bill', 'Burgess, William']
7793766 ['Overton, Taylor', 'overton, william']
5772869 ['Jones, Pam', 'Jones, Pamela']
8384045 ['Bruce, Jan', 'Bruce, Janice']
1477471 ['Leech, Bob', 'leech, robert']
3180581 ['Gaspardo, Lou', 'gaspardo, louis']
7778716 ['Moran, Tom', 'Moran, Thomas']
7239408 ['Vandenburg, Elaine', 'van cura, elaine']
6721109 ['Berg, Mary', 'Berg, Mary Ann']
1340883 ['Koski, Bill', 'Koski, William']
7178808 ['Chapman, Carolyn', 'chapman withrow, caroly']
5482488 ['Elias, Ron', 'elias, ronald']
5495660 ['Lubiner, Florence', 'lubiner, flo']
1639269 ['Khan, Manzoor Ahmad', 'Khan, Manzoor']
5733650 ['Watson, Deering', 'watson, j deering']
7325134 ['DiPaula, Sue', 'Dipaula, Susan']
7537727 ['Kendall, Martha', 'kendall md, martha']
3944719 ['Zerebesky, Bill', 'Zerebesky, Billy']
7416563 ['Water, Bill', 'Marggraf, Betty']
3248089 ['Wright, Gwen', 'Wright, Goentje']
2507846 ['Sachs, Herb', 'Sachs, Herbert']
1438360 ['Owens, James (Jim)', 'owen, james']
3566013 ['Cressy, Sarah', 'Cressy, Sarah Anne']
2788721 ['Mani, Robby', 'mani, r']
1485415 ['Yood, Pam', 'yood, pamela']
2989468 ['DeAnda, Yuen', 'De Anda, Yen']
1694030 ['Boedecker, Wayne', 'Boedecker, George']
9218106 ['Mckinney, Shirly', 'McKinney, Shirley']
2004054 ['Hauser, Cindy', 'Hauser, Cynthia']
5962021 ['McGuire, Bob', 'McGuire, Robert']
2515938 ['Ruskin, Stanley', 'Ruskin, S']
2968940 ['Abelson, Ken', 'Abelson, Kenneth']
8398895 ['Zions, B Z', 'Zions, Bernard']
1249096 ['Bezdek, Mike', 'bezdek, michael']
3210332 ['Buford, Will', 'Burford, Will']
3236633 ['Flanigan, Beth', 'Flanigan, Elizabeth']
2072955 ['Pandjiris, Marcie', 'Pandjiris, Marcia']
5927986 ['Dalpe, Don', 'Dalpe, Donald']
4519965 ['Jones, Ken', 'jones, kenneth']
1630679 ['Lang, Dick', 'lang, richard']
2967189 ['Hume, Nony', 'Hume, Noni']
1772120 ['Melia, Franny', 'Melia, Frances']
8159874 ['VanDamme, Deborah', 'van bourgondien, debora']
2337258 ['Trussell, Jan', 'Trussell, Janis']
8270465 ['Berry, Bill', 'berry, william']
2495880 ['Roberts, Jackie', 'Roberts, Jacqueline']
5880548 ['Spencer, Karen Ross', 'Spencer, Karen']
7434936 ['Nash, Joann', 'nash, joan']
3774775 ['Nash, Joann', 'nash, joan']
5181941 ['Van Rooy, Donny', 'Van Rooy, Donald']
7601166 ['Colvett, Sonny', 'colvett, frank']
2080087 ['Fulton, Dave', 'fulton, david']
5503272 ['Fulton, Dave', 'fulton, david']
1258095 ['Stokdijk, Bill', 'stokdijk, willem']
3881717 ['Braedley, Bob', 'braedley, robert']
5255082 ['MacLean, Ken', 'maclean, kenneth']
8011753 ['Dethardt, Annie', 'Dethardt, Marianne']
4643399 ['Hair, Chip', 'hair jr, george chip']
1479733 ['Van Brunt, Elaine', 'van cura, elaine']
2388375 ['Aranci, Marlene', 'Aranci, M']
9315152 ['Pescador, Mary', 'Pescador, Mary Ellen']
6904793 ['Coens, Joe', 'coens, joseph']
1272489 ['Legallais, David', 'Le Gallais, James David']
6451187 ['Browne, Wally', 'Browne, Wallace']
7170637 ['Lent, Pat', 'Lent, Patricia']
6782221 ['Morris, Pat', 'Morris, Patricia']
5820375 ['Cowen, Stella', 'Cowe, Stella']
5019176 ['Wu, Rick', 'Wu, Rick Wei']
2526026 ['Dennis, Jim', 'dennis, james']
7546750 ['Dyba, Wally', 'dyba, walter']
7609361 ['Tucker, Vickie', 'tucker, victoria']
2606534 ['Macdonald, Eleanor', 'MacDonald, Eleanor']
6578608 ['Riehl, Jeff', 'riehl, jeffrey']
1296272 ['Ralston, B', 'Ralston, Bill']
2752980 ['Wirt, D', 'Wirt, Donna']
8691088 ['DeVaul, Rich', 'DeVaul, Richard']
4231341 ['Rosekrans, Adolf', 'rosekrans, adolph']
5195357 ['Chang, Shirley', 'Chang, Hsuehching']
1496085 ['Mertens, Maury', 'Mertens, Mauris']
3108295 ['Herrerc, Gonzalo', 'Herrera, Gonzalo']
4891376 ['Selchert, Mike', 'Selchert, Michael']
1457772 ['Pratzel, Mike', 'pratzel, michael']
2898268 ['Shannahan, Glenna', 'Shannahan, Glenna Kay']
6751024 ['Hunt, Sandy', 'Hunt, Sandra']
3313360 ['Chapple, Allan', 'Chapple, C Allan']
1418998 ['Diamond, Bill', 'diamond, william']
6620884 ['DeNaples, Donna', 'denaples, donna']
1171488 ['Acker, Ginny', 'Acker, Virginia']
7562551 ['Sweet, Ellie', 'Sweet, Eleanor']
1376675 ['Baker, Jim', 'baker, james']
6991351 ['Wardwell, Forrest', 'Wardwell Jr, Forrest']
1171151 ['Williamson, Terry', 'Williamson, Theresa']
9058354 ['King, Russ', 'King, Russell']
5750571 ['Todd, Marcie', 'todd, marcella']
5750512 ['Bradford, Ken', 'bradford, kenneth']
1686542 ['Golden, Vince', 'Golden, Vincent']
8125716 ['Radley, Jeff', 'Radley, Jeffrey']
6098444 ['Krueger, Bob', 'Krueger, Robert']
7843925 ['East, Deborah', 'moll, deborah']
5240395 ['Davis, Sherry', 'davis, sheryl']
4622502 ['Hofstede, Tony', 'Hofstede Jr, Anton']
3706370 ['MacKenzie, Cindy', 'Mackenzie, Cindy']
3706249 ['Gunn, Tony', 'Gunn, Roam']
8734054 ['Brown, Chris', 'brown, christopher']
1003283 ['Labbe, James', 'La Force, James']
4535189 ['Wasser, Rich', 'Wasser, Richard']
3782905 ['Lane, Marcia', 'lane, m']
5190991 ['Lavery, Bob', 'Lavery, Robert']
2655217 ['Vilker, Vince', 'vilker, vincent']
6418163 ['Lorber, Judy', 'Lorber, Judith']
8749949 ['Hand, Suzie', 'hand, suzanne']
3473384 ['Lum, Al', 'Lum, Albert']
8879575 ['Preece, Rob', 'Preece, Robert']
3679594 ['Byrne, Beth', 'Byrne, Beth Mary']
5942055 ['Mckittrick, Mike', 'mckittrick, mike']
3394336 ['FREEMAN Jr, Lawson', 'Freeman Jr, Lawson Sonn']
3597598 ['ROISEMAN, Richard', 'Roiseman, Richard']
3385086 ['MCGINNIS, Coley', 'McGinnis, Coley']
2056127 ['Ambach, Jack', 'Ambach Jr, Jack']
9114246 ['Helfeich, Sara', 'Helfrich, Sara']
4702808 ['Stanley, Sid', 'Stanley, Sidney']
3095908 ['Mason, Tom', 'Mason, Thomas']
6145426 ['Bacher, Bonnie', 'bacher, masako']
1303988 ['Thompson, Jim', 'thompson, james']
5767458 ['Ulrich, Joe', 'Ulrich, Joseph']
8256187 ['Chinn, Terry', 'Chinn, Terrance']
5698278 ['Buonafede, Toni', 'Buonafede, Antoinette']
7021909 ['Fino, Kathy', 'fino, kathleen']
6733689 ['Burger, Judy', 'burger, judith']
8783071 ['Di Benedetto, Joe', 'DiBenedetto, Joseph']
1731688 ['Mcardle, Mary', 'McArdle, Mary']
3102793 ['Berman, Carole B.', 'berman, carole']
9011668 ['Bernstein, D', 'Bernstein, Dave']
4176677 ['Brodkin, Elliot', 'brodkin, inga']
1270656 ['Gottlieb, Kati', 'Gottlieb, Katalin']
7633378 ['Klugerman, Larry', 'KLUGERMAN, Larry']
1059920 ['Spear, Ed', 'Spear, Edward']
7700695 ['Butera, Peg', 'butera, margaret']
3196100 ['Bell, Walt', 'Bell, Walter']
3561372 ['Heater, Ed', 'heater, edward']
2925745 ['Salter, Tom', 'Salter, Thomas']
5934907 ['Wassel, Rosemary', 'chaiken, janet']
2240912 ['Howard, M B', 'Howard, M']
3399958 ['Crames, Elinor', 'Crames, Ellie']
8071500 ['Fehrenbach, Shelly', 'fehrenbach, shelley']
2189933 ['Schark, Ryerson', 'Schwark, Ryerson']
1949985 ['Dujardin, Debbie', 'dujardin, deborah']
4699718 ['Reznik, Yuri', 'reznik, yury']

2704390 ['Kelly, Rick', 'Kelly, Richard']
7070977 ['Wood, Karen', 'Wood, K']
6762840 ['Dietrick, Bob', 'Dietrick, Robert']
9582452 ['Archer, Wendell', 'Archer, Wendel']
3134539 ['Vernick, Marty', 'vernick, martin']
5726344 ['Hoffman, Roberta', 'hoffman jr, robert']
3806944 ['Roraback, Charlie', 'roraback, charles']
5884691 ['Zoltak, Margaret Mary', 'Zoltak, Margaret']
7334699 ['Carr, Tom', 'carr, thomas']
6083234 ['Overholt, Rich', 'Overholt, Richard']
7395426 ['Burman, Ronnie', 'Burman, Ritambhar']
5723639 ['Baechi, Joe', 'bacchi, joseph']
6434134 ['Siskind, Judy', 'Siskind, Judith']
2066270 ['Steele, Douglas', 'St John, Douglas']
5998840 ['WANG, YAN', 'Wang, Yan']
1349929 ['Snider, Kathy', 'snider, kathleen']
5470196 ['Porter, Steve', 'porter, stephen']
6621201 ['KAPLAN, ELAINE', 'Kaplan, Elaine']
8221480 ['Chakraborty, Chuck', 'Chakraborty, Ranajit']
5773245 ['Bowlan, James R', 'bowlan, james']
3820416 ['Burns, Dan', 'burns, daniel']
1105868 ['Owen, Jim', 'owen, james']
6656404 ['Dressing, Tom', 'Dressing, Thomas']
5992494 ['Berkebile, Lynne', 'berkebile, lynn']
1969110 ['Day, Rebecca', 'Day, R Wilson']
7221274 ['Baillie, Kris', 'baillie, kristin']
6310451 ['Mickelsen, Mike', 'mickelsen, michael']
4301153 ['Quinn, Kathy', 'quinn, katherine']
9231374 ['Cataldo, Larry', 'cataldo, lawrence']
8058385 ['Gibson, Chris', 'Gibson, Christopher']
4924576 ['Schmerl, Sue', 'schmerl, susan']
1473441 ['Genstil, Steve', 'genstil, stephen']
2508184 ['Cripps, Debbie', 'cripps, deborah']
1090062 ['Palmer, Bill', 'Palmer III, William']
9590536 ['Feingold, Ron', 'Feingold, Ronald']
8790272 ['Housley, Don', 'Housley, Donald']
3721051 ['Dyer, Rob', 'dyer, robert']
3147169 ['Abbott, Wally', 'abbott, w wallace']
6176534 ['Kovacevic, Miro', 'kovacevic, miroslav']
9632026 ['Lindholm, Ken', 'lindholm, kenneth']
7783000 ['Stewart, Pam', 'Stewart, Pamela']
4280563 ['Mos, Marty', 'mos, martha']
6046959 ['Owens, Chris', 'Owens, Christine']
9998004 ['Maxson, Bill', 'Maxson, William']
7181396 ['Berry, Dee', 'Berry, Dolores']
5563402 ['Negro, Jim', 'Negro, James']
4523709 ['Yee, Sik Tong', 'Yee, John']
7518927 ['Michaels, Larry', 'michaels, lawrence']
4515994 ['Bullington, Brad', 'Bullington, Brad Allan']
7326475 ['Mays, Richard', 'Mays, Dick']
4535820 ['Corcoran, Sally', 'Corcoran, Sarah']
7422695 ['Swanson, Dick', 'Swanson, Richard']
9521712 ['Tyborowski, Paul', 'tyborowski, c paul']
9062734 ['Ernst, Don', 'ernst, donald']
9907912 ['Spencer, Robert', 'SPENCER, Robert']
9524711 ['Baer, Terri', 'baer, therese']
9496076 ['Cartlidge, Jim', 'Cartlidge, James']
9454497 ['Houlik, Mike', 'Houlik, Michael']
9824170 ['Deyerle, Richard', 'Deyerle, Rick']
5162246 ['Atteberry, Bill', 'Atteberry, William']
7344295 ['Loehnen, Elizabeth', 'loehnen, beth']
5552052 ['Kirsheman, Bill', 'kirsheman, william']
9977120 ['Smith, Sonia', 'Smith, Sonja']
3104338 ['Siegel, Ed', 'siegel, edward']
7489641 ['Griffin, James G', 'Griffin, James']
9163255 ['Blackewll, Patricia', 'blackwell, patricia']
5011639 ['Bourgoin, Bern', 'bourgoin, bernadette']
3900363 ['Slater, Jeff', 'slater, j']
7937431 ['Sanders, Bill', 'Sanders, Billy']
4397533 ['Mikulas, Bill', 'mikulas, william']
7765886 ['Clutterbuck, Tim', 'Clutterbuck, Timothy']
4322487 ['Skawronski, Mark', 'skowronski, mark']
9764372 ['Roby, Katherine', 'roby, kathy']
6498159 ['Hinkley, Bud', 'Hinckley, Bud']
8534365 ['Treiber, Steve', 'Treiber, Steven']
8891621 ['Robie, Jerry', 'Robie, Gerald']
6987478 ['Roman, Ed', 'roman, edmund']
8051321 ['Dubrau, Ken', 'Dubrau, Kenneth']
6853447 ['Dumbacher, Pat', 'dumbacher, patricia']
6645682 ['VanLierop, Gerry', 'Vanlierop, Gerry']
7425988 ['Morrison, Pat', 'Morris, Patricia']
9136010 ['Hicks, Kathy', 'hicks, kathryn']
9619275 ['Thompson, Mike', 'thompson, michael']
5544017 ['Waller, Jim', 'Waller, James']
5491096 ['Caldwell, Robert', 'caldwell iii, robert']
7224141 ['Reicher, Rob', 'reich, robert']
8472564 ['Morse, Rob', 'morse, robert']
5848881 ['Schwering, Fred', 'schwering, godfried']
6750028 ['Ye, Julia', 'ye, julia yan']
8150907 ['Tracy, Ron', 'Tracy, Ronald']
7525672 ['Scholes, Sandy', 'Scholes, Sandra']
7937008 ['Conlon, Tom', 'conlon, thomas']
9436642 ['Levy, Steve', 'Levy, Steven']
8704716 ['Dunn, Pat', 'Dunn, Patrick']
9212590 ['Ford, Jeff', 'Ford, Jeffrey']
6085555 ['Hildebrand, Dave', 'Hildebrand, David']
9520686 ['Van Nest, Tom', 'Van Nest, Thomas']
7536240 ['Darling, Rick', 'darling, richard']
9061088 ['Hubble, Andi', 'hubble, andrea']
9056785 ['Dalrymple, Deby', 'dalrymple, debra']
9193022 ['Shatilla, Don', 'Shatilla, Donald']
7175671 ['Olson, Del', 'olson, ruth']
4118944 ['Gee, Kenny', 'Gee, Ken']
6680372 ['LeBoeuf, Loralee', 'leboeuf, loralee']
7558058 ['Buford, Nan', 'Burford, Nannell']
9660887 ['Ghorayeb, Abe', 'Ghorayeb, Ibrahim']
9459995 ['Mullins, Josh', 'mullins, joshua']
7427166 ['Ater, Bill', 'ater, william']
7208294 ['Amabile, Chris', 'Amabile, Christina']
6904807 ['Coens, Lorrie', 'coens, lorraine']
9253572 ['Mullen, G', 'mullen, gloria']
7034431 ['Leenerts, Jerry', 'Leenerts, Gerald']
6412386 ['Borman, Pat', 'Borman, Patrick']
9616225 ['Philbrook, Parnuma', 'philbrook, pornuma']
7592558 ['Smeed, Bob', 'smeed, robert']
5957095 ['Brown-Hogan, Diana', 'brown, diana']
9106766 ['Houser, Don', 'houser, j donald']
3191508 ['Warren, Carlisle', 'warren, carlislie']
9109145 ['Kennedy, Dick', 'kennedy, richard']
8253323 ['Bacher, Ron', 'bacher, ronald']
9171177 ['Sawyer, Gordy', 'Sawyer, Gordon']
4702662 ['Wasser, Jan', 'wasser, janis']
7631197 ['Gaffney, Matt', 'gaffney, matthew']
5036577 ['Kalat, Nie-Lih', 'Kalat, Nie Lih']
5476976 ['Schomaker, Andi', 'schomaker, andrea']
7613121 ['Giampapa, Tony', 'giampapa, anthony']
7793464 ['Bland, Rick', 'bland, richard']
9695303 ['Westmeyer, Tony', 'westmeyer, edward']
7837259 ['Damrauer, Bev', 'damrauer, beverly']
5296862 ['Trude, Bill', 'trude, william']
8385130 ['Starbuck, Rick', 'Starbuck, Richard A']
8899738 ['Brueggemann, Kathy', 'brueggemann, kathryn']
1122126 ['Vanderhoof, Angela', 'van derhoof, angela']
8872929 ['MacGregor, Bob', 'macgregor, robert grant']
4891104 ['Teitelbaum, Dan', 'teitelbaum, daniel']
9170103 ['Berg, Enith', 'Friedman Berg, Enith']
7408285 ['Kung, Ed', 'Kung, Edward']
7615752 ['Ringel, Manny', 'ringel, emanuel']
9242880 ['Langer, Jaroslaw', 'Langer, Jarek']
7014511 ['Hackenberg, Tom', 'hackenberg, thomas']
1019384 ['Lindsey, Jim', "lindsey, james 'jim'"]
8251150 ['Marquart, Gary', 'Marquart, R Gary']
9827382 ['Cooney, Pamela', 'Cooney, J Pamela']
1699520 ['Warchol, Mike', 'Warchol, Michael']
8473919 ['Welter, Dolly', 'Welter, Delores']
8915512 ['Rodriguez, Kittie', 'Rodriguez, Catherine']
8268436 ['Hayes, Bill', 'hayes, wm']
6119239 ['Kadis, Elaine', 'Kadis, Elayne']
9981896 ['Lopes, James', 'Lopes, Jim']
8164339 ['Gibson, Mike', 'Gibson, Michael']
5042097 ['VanCura, Elaine', 'van cura, elaine']
9508066 ['Kung, Bob', 'kung, robert']
8614717 ['Bard, Jim', 'bard, james']
9144897 ['Ramsey., Coral Lee', 'ramsey, coral lee']
7676034 ['DeMattio, Rhoda', 'demattio, rhoda']
8801711 ['Buchanan, Buck', 'Buchanan, Edward']
9110631 ['Lavin, Don', 'lavin, donald']
8625751 ['Hudson, Dave', 'Hudson, David']
9260315 ['Antetomaso, Roy', 'antetomaso, leroy']
3559491 ['Rivera, Wil', 'rivera, wilson']
7808518 ['Collin, Jan', 'collin, janice']
6153305 ['Chapin, Dan', 'Chapin, D']
8136645 ['Wood, Kate', 'Wood, K']
4565088 ['Kiernan, Mike', 'kiernan, michael']
8438692 ['Spielholz, Gail', 'spielholtz, gail']
6874436 ['Lundblad, Bob', 'lundblad, b']
9790276 ['Plum, Kathy', 'plum, katharine']
8173516 ['Casper, Dave', 'Casper, David']
8283818 ['Reetz, Barb', 'Reetz, Barbara']
4281098 ['Rybak, Ron', 'rybak, ronald']
8961123 ['Silvius, Steve', 'silvius, stephen']
9365664 ['Duffy, Dave', 'duffy, david']
9147330 ['Nielsen, Jerry', 'Nielsen, Gerald']
7466900 ['Carpenter.., Lynn', 'Carpenter, Lynn']
7787790 ['Malouf, Carole', 'malouf, carol']
8412278 ['Paugh, Dwain', 'paugh, m dwain']
7702558 ['Frigon, Mike', 'Frigon, Michael']
6207138 ['Waterman, Randy', 'waterman, randolph']
9598421 ['LYSTER, DENNY', 'lyster, denny']
6208800 ['Doerner, Judy', 'Doerner, Judith']
9255532 ['Adelman, Stan', 'Adelman, Stanley']
9891374 ["O'Brien, Ellen", 'o hara, ellen']
8792208 ['Tumbler, Joe', 'tumbler, joseph']
9710515 ['Goldberg, Roz', 'Goldberg, Roslyn']
6386466 ['Riffel, Patti', 'Riffel, Patty']
8824991 ['Kalisz, Ron', 'Kalisz, Ronald']
7422385 ['Wellington, Betsy', 'wellington, elizabeth']
7800266 ['Schulkin, Nick', 'Schulkin, Nicholas']
9114866 ['Nimz, Kathy', 'Nimz, Kathleen']
8593280 ['Patterson, Don', 'Patterson, Donald']
9706372 ['Raabe Jr, Bud', 'Raabe, Bud']
9504206 ['Siegel, Jim', 'Siegel, James']
8918643 ['MALON, GEORGE', 'malon, george']
3252876 ['Hoffman, Bobbi', 'hoffman jr, robert']
3512479 ['Kehoe, Jan', 'Soules, Jan']
7993935 ['Lenertz, James', 'Lenertz, Jim']
9976167 ['Bull, Geoff', 'Bull, Geoffrey']
9755519 ['Dolan, Heather', 'Breckenridge, Heather']
9614028 ['Blumenthal, Kate', 'Blumenthal, K']
8817936 ['Pryor, Bill', 'pryor, william']
4919785 ['Fancher, Patty', 'fancher, patricia']
8056986 ['Pfohl, Fran', 'pfohl, francine']
9169040 ['Zalar, Liz', 'Zalar, Elizabeth']
3961575 ['Biederman, Ken', 'biederman, kenneth']
9384782 ['Redfern, Dick', 'Redfern, Richard']
9495320 ['Baldwin, Andy', 'Baldwin, Anne']
3206440 ["O'brien, Steve", 'o neil, steve']
8776164 ['McCloskey, Margery', 'McCloskey, Margie']
5025168 ['Warner, Peg', 'Warner, Peggy']
8808171 ['Arce, Bill', 'Arce, G William']
9774599 ['McClellan, Griff', 'McClellan, Griffin']
9200843 ['Vasil, Walt', 'Vasil, Walter']
9105506 ['Lefkowitz, Lew', 'lefkowitz, lewis']
5156394 ['Fisher, Ed', 'fisher, edward']
5935296 ['Eaton, Trish', 'Eaton, Patricia']
3965376 ['Farin, Phil', 'farin, philip']
6640524 ['Brinkman, Bernie', 'Brinkman, Bernard']
9786058 ['Goetz, Vern', 'Goetz, Vernon']
8732620 ['Wiley, Ed', 'wiley, edson']
7859651 ['Epstein, Lou', 'Epstein, Louis']
8810346 ['Rescek, Gerry', 'Rescek, Gerard']
8223440 ["O'Rourke, Paul", 'orourke, paul']
9296522 ['Minder, Doug', 'Minder, Douglas']

9402381 ['Fraser, Robert W', 'fraser, robert']
4777859 ['Briggs, Nancy C.', 'Briggs, Nancy']
3133966 ['Malet, Phil', 'malet, philip']
9512829 ['Dentai, Andrew', 'De Leon, Andrew']
7302851 ['Dalton, Elizabeth', 'Dalton, E']
6048277 ['Leifert, Shirlee', 'Leifert, Shirley']
7757506 ['Simpson, Marvin', 'Simpson, Marty']
9020454 ['Simmons, Lou', 'Simmons, Louis']
9648836 ['Abramson, Larry', 'abramson, laurence']
7672659 ['Patel, Kishorshandra', 'patel, kishor']
5955793 ['Harding, Rene', 'Harding, Irene']
4633539 ['Condon, Gene', 'Condon, Eugene']
8702799 ['Dennerline, Robert', 'denner, robert']
2979772 ['Kirkpatrick, Patty', 'Kirk, Patricia']
7337493 ['Fohey, Mike', 'fohey, michael']
9235574 ['Ries, Andy', 'ries, andrew']
7314752 ['Rossman, Lawrence', 'rossman, ross l']
5986850 ['Chiodo, Fran', 'chiodo, frances']
6971989 ['Prashad, Jai', 'prashad, jaikaran']
8810214 ['Bell, Steve', 'bell, stephen']
5957109 ['Lins, Rich', 'lins, richard']
7326068 ['Dubester, Judy', 'dubester, judith']
6757391 ['Ross-Payne, Amy', 'ross, amy']
4079450 ['Cornelis Van, Prooijen', 'Van Prooijen, Cornelis']
6048161 ['Demou, Simone', 'De Wijs, Simon']
9645314 ['Hupka, Mike', 'Hupka, Michael']
8300674 ['Feldman, Carol', 'Feldman, Carole']
8467919 ['Milam, Jim', 'Milam, James']
9254676 ['Pattie, Marie', 'Parfitt Pattie, Marie']
8936374 ['Whitesel, Bill', 'Whitesel, William']
7314019 ['Haslam, Val', 'haslam, valerie']
5418526 ['Seabring, Bob', 'seabring, robert']
6443354 ['McKenna, Mimi', "mckenna, aileen 'mimi"]
9123490 ['Bishop, Mary', 'bishop, mary frances']
9419446 ['Curry, Steve', 'Curry, Stephen']
5771978 ['Metzger, Larry', 'metzger, lawrence']
9075712 ['Whitmore, Jim', 'whitmore, james']
9924531 ['Triff, Bob', 'Triff, Robert']
9508295 ['Giddon, Don', 'Giddon, Donald']
4877578 ['Mitchell, Deb', 'mitchell, deborah']
9661948 ['Cunningham, Daniel', 'cunningham, d john']
7749562 ['Elliott, Roberta', 'elliott, robert']
5200326 ['Day, Rhona', 'Day, R Wilson']
8442762 ['Braun, Bob', 'braun, robert']
9887660 ['Doubek, Ron', 'Doubek, Ronald']
9557695 ['Schaffner, Steve', 'Schaffner, Steven']
8813698 ['Cohn, Ron', 'Cohn, Ronald']
8488932 ['Gyde, Steve', 'gyde, steven']
9941320 ['Beranek, Al', 'beranek, alexander']
9119043 ['Russell, Thomas', 'russell, tom']
8068062 ['Goulet, Gerry', 'Goulet, Gerard']
6725058 ['Ungureanu, Mike', 'ungureanu, mircea']
8898642 ['Maarouf, Hussein', 'maarouf, hussein ali']
8286086 ['Bockus, Gordon', 'Bock, G James']
9436138 ['Vaughan, Fred', 'vaughan, russell']
8427380 ['Wylie, Tom', 'Wylie, Thomas']
8494797 ['Safapour, Ron', 'safapour, mehran']
5177685 ['Bakshani, Nandkumar', 'Bakshani, Babs']
8169616 ['Yemen, Gary', 'ye, gary jun']
1929763 ['Coffrin, Albert', 'coffrin iii, albert']
5936632 ['Noble, Kayo', 'noble, kayomarz']
7762070 ['Bowen, Frank', 'bowen, f hardy']
7798288 ['Travnicek, Sandy', 'travnicek, sandra']
9300848 ['Morley, David', 'morley, james']
6832318 ['Cross, Chris', 'cross, christopher']
5511623 ['Krasovic, Valarie A', 'Krasovic, Valarie']
1843796 ['Swann, Mary Ann', 'swann, mary']
7964609 ['Conlon III, Thomas', 'conlon, thomas']
7774400 ['Cummins, Tom', 'cummins, thomas tom']
4219082 ['Tway, Pat', 'tway, patricia']
7153465 ['Wood, Donna', 'Lombardini, Donna']
9326340 ['McLean, Robert', 'McLean, R Douglas']
4511581 ['Stevenson, Sue', 'Stevenson, Suzanne']
4783670 ['Gourley, Jeffrey A', 'gourley, jeffrey']
7223137 ['Hoffing, Rick', 'hoffing, richard']
9743138 ['Lynch, Jim', 'lynch, james']
6972381 ['Lewis, Steven', 'lewis, steven mark']
7426186 ['Cunningham, Bob', 'cunningham, robert']
3448053 ['Bragin, Eleanor C', 'bragin, eleanor']
8451648 ['Ronderos, Al', 'Ronderos, Alvaro']
5776031 ['Schutze, Ken', 'Schutze, Kenneth']
7014694 ['Akin, Harry', 'Akin, R Harry']
9532757 ['Hales, Bonnie', 'Hales, Bonita']
6871518 ['Sallee, Steve', 'Sallee, Stephen']
7325665 ['Neren, Mike', 'neren, michael']
8483604 ['Suart Mcgill, Dawn', 'suart, dawn']
2443228 ['Barcus, Steve', 'Barcus, Steven']
7478038 ['Shade, G', 'Shade, Gary']
6264735 ['Simon, Al', 'simon iii, albert']
6952143 ['Jarchow, Ron', 'Jarchow, Ronald']
5320232 ['Kramer, Pat', 'kramer, patricia']
6003222 ['Tooley, Jackie', 'Tooley, Jacque']
3138313 ['Rottmayer, Bill', 'Rottmayer, William']
9627774 ['Smolen, Steve', 'Smolen, Steven']
7324065 ['Mead, Mike', 'mead, michael']
7577060 ['Rosenthal, Richard', 'rosenthal jr, richard']
3196763 ['Mason, GerriAnne', 'Mason, Gerrianne']
8035288 ['Hoffmann, Tom', 'hoffman, thomas']
1436066 ['Krieg, Robert', 'krieg, r']
9096191 ['McDonald, Sandy', 'mcdonald, sandra']
7652216 ['Hoffman, Judy', 'Hoffman, Judith']
7618395 ['Thompson, Gene', 'thom, gene']
9156623 ['Coggeshall, Pete', 'coggeshall, peter']
7646623 ['Wilde, Jeannie', 'wilde, jean']
6097871 ['Kuz, Bob', 'Kuz, Robert']
6159664 ['Goldberg, Kenneth', 'goldberg, ken']
7922051 ['Ju, Boyan', 'ju, zihua']
7458371 ['Fitts, Candice', 'Fitts, CJ']
9132325 ["O'Toole, Susan", 'otoole, susan']
6825621 ['Mattrey, Joe', 'mattrey, joseph']
5399696 ['Jones, Joseph', 'jones, joe']
4924649 ['Schmerl, Jim', 'schmerl, james']
6969062 ['Saxe, Gene', 'Saxe, Eugene']
1164589 ['De Barry, Bruce', 'deberry, bruce']
8705852 ['Lachner, James', 'La Force, James']
6732992 ['Ames, Steve', 'Ames, Stephen']
1287273 ['Jones, D', 'Jones, D Penny']
1518003 ['Jones, D', 'Jones, D Penny']
7003439 ['Jones, D', 'Jones, D Penny']
3326810 ['Jones, D', 'Jones, D Penny']
6865054 ['Jones, D', 'Jones, D Penny']
5401593 ['Jones, D', 'Jones, D Penny']
4086279 ['Jones, D', 'Jones, D Penny']
5277566 ['Jones, D', 'Jones, D Penny']
8788669 ['Jones, D', 'Jones, D Penny']
6004709 ['Jones, D', 'Jones, D Penny']
3595870 ['Lane, Marcella', 'lane, m']
5648068 ['Jacob, Mary Eliza', 'Jacobs, Mary']
7675941 ['Jacob, Mary Eliza', 'Jacobs, Mary']
4715446 ['Jacob, Mary Eliza', 'Jacobs, Mary']
7619286 ['Jacob, Mary Eliza', 'Jacobs, Mary']
2534290 ['Jacob, Mary Eliza', 'Jacobs, Mary']
7966296 ['Jacob, Mary Eliza', 'Jacobs, Mary']
1876740 ['Jacob, Mary Eliza', 'Jacobs, Mary']
6446388 ['Derito, Lawrence', 'de lucia, lawrence dev']
7350929 ['gwaltney, judith', 'gwaltney, j bruce']
4317181 ['berg, richard', 'berger, richard']
3355667 ['berg, richard', 'berger, richard']
5165164 ['berg, richard', 'berger, richard']
9710736 ['berg, richard', 'berger, richard']
3739171 ['lang, richard', 'lange, richard']
5479541 ['way, richard', 'Way, Rick']
8093806 ['brodrick, john', 'Brodrick, J']
9568719 ['gelfand, martin', 'Gelfand, Marty']
2473364 ['lefevre, james', 'Lefevre, Jim']
9222391 ['hudak, nicole', 'Hudak, Nikki']
5824613 ['dekeyser, robert', 'Dekeyser, Bob']
2617552 ['drotar, charlie', 'Drotar, Charles']
2195984 ['wright, ed w j', 'Wright, Ed']
9111522 ['stier, judith', 'Stier, Judy']
9105719 ['riepenhoff, kathleen', 'Riepenhoff, Kathy']
6098290 ['benner, carol', 'Benner, Carolyn']
7060300 ['brennan, jack', 'Brennan, Jack']
9063560 ['brennan, jack', 'Brennan, Jack']
1610686 ['brennan, jack', 'Brennan, Jack']
5080975 ['potter, martha', 'Potter, Marty']
8156301 ['glickman, edith', 'Glickman, Edie']
9348999 ['rodriguez ,jr, r', 'Rodriguez, Robert']
5706742 ['rodriguez ,jr, r', 'Rodriguez, Rupert']
7306962 ['gauthier, andre j', 'Gauthier, Andre']
7289545 ['urban, stephen', 'Urban, Steve']
3574024 ['bridger, janet', 'Bridger, Jan']
4673050 ['fields, elyse', 'Fields, Elyce']
2520788 ['metosky, stewart', 'Metosky, Stuart']
1658239 ['canfield, james', 'Canfield, J']
7418086 ['lemmon, a anne', 'Lemmon, A  Anne']
7255624 ['mclaughlin, julie', 'Mclaughlin, Julie']
2100541 ['weinreb, herbert', 'Weinreb, Herb']
1053752 ['tomkinson, kitty page', 'Tomkinson, Page']
3224902 ['dove sr, john', 'Dove Sr, John H.']
5198089 ['dove sr, john', 'Dover, John']
9067612 ['ellingson, barbara', 'Ellingson, Barb']
1310003 ['kristjansdottir, gerdur', 'Kristiansdottir, Gerdur']
8253544 ['sullenger, barbara', 'Feeley, Barbara']
4518772 ['hance, daniel', 'Hance, Dan']
1527622 ['webster, shirley anne', 'Webster, Shirleyanne']
5130956 ['wendricks, richard', 'Wendricks, Rick']
9167854 ['osborn, donald', 'Osborn, Don']
2270129 ['adler, nathan', 'Adler, Nat']
4246829 ['hickman, pamela', 'Hickman, Pam']
1364162 ['mcnaughton, judy', 'Mc Naughton, Judy']
9741461 ['lindy, judith', 'Lindy, Judy']
7276397 ['lusk, robert', 'Lusk, Randy']
5083885 ['towner, richard', 'Towner, Dick']
3852466 ['shore, judith', 'Shore, Judy']
5240131 ['rosen, herbert', 'Rosen, Herb']
5884179 ['rosen, herbert', 'Rosenthal, Herbert']
3981037 ['franklin, sanford', 'Franklin, Sanford -G']
6502652 ['williams jr, samuel', 'Williams, Sam']
6223168 ['hammond, judy', 'Hammond, Judith']
7642482 ['hawn, benjamin', 'Hawn, Ben']
3264858 ['kazee, william', 'Kazee, Bill']
1492799 ['spitzer, john', 'Spitzer, John']
5459001 ['craig, james', 'Craig, Jim']
1150294 ['kondor, erin', 'Kondor, Tova']
4518764 ['duritsch, donald', 'Duritsch, Don']
6574882 ['hunter, susanna', 'Hunter, Susie']
3108902 ['mayer, david', 'Mayer, Judy']
1073087 ['de byle, myra', 'DeByle, Myra']
9425063 ['tomic, judith', 'Tomic, Judy']
1391399 ['freyer, kay', 'Freyer, K']
4080963 ['mackenzie, dale', 'MacKenzie, Dale']
6840132 ['gellner, r', 'Gellner, Bob']
4936116 ['rowe, steven', 'Rowe, Steve']
6764258 ['biel, jacqueline', 'Biel, J']
7012799 ['huang, jinsheng', 'Huang, Jin Sheng']
3106047 ['bowyer, deb', 'Bowyer, Deborah']
7634773 ['ferrera, barb', 'Ferrera, Barbara']
7838123 ['duff, rose', 'Duff, Rose Marie']
7370768 ['strauss, catherine', 'Strauss, Cathy']
4394674 ['shepherd, rebecca', 'Shepherd, Rebecca E']
9282769 ['neugarten, andrea', 'Neugarten, Andy']
8485712 ['moore, burton', 'Moore, Burt']
2544857 ['draper, phillip', 'Draper, Phil']
3750124 ['visser, suzanne', 'Visser, Sue']
9501673 ['ogura, neil nobuo', 'Ogura, Nobuo']
3115119 ['lavine, daniel', 'Lavine, Dan']
3239284 ['ashbee, william', 'Ashbee, Bill']
7720890 ['o neil, cynthia', "O'Keefe, Cynthia"]
6785239 ['o neil, cynthia', "O'Neil, Cynthia"]
3822702 ['o neil, cynthia', "O'Connell, Cindy"]
7436351 ['o neil, cynthia', 'Oakford, Cynthia']
9867228 ['o neil, cynthia', 'Ogden, Cynthia']
5701864 ['zaller, jeffrey', 'Zaller, Jeff']
6635466 ['mckenna, julianne', 'McKenna, Julie']
4495098 ['ryan, james', 'Ryan, Dennis']
6875068 ['bowman, arthur', 'Bowman, Lowell']
4927125 ['walters, sandra', 'Walters, Sandra J.']
6728189 ['hoffman, stephen', 'Hoffman, Stephen Md']
4765559 ['burns, charles', 'Burns, Chuck']
2961601 ['mette, cam', 'Mette III, Cam']
4921356 ['gold, gerald', 'Gold, Gerry']
9049312 ['adams jr, william', 'Adams, William']
5774659 ['kirsh, miriam', 'Kirsh, Millie']
5907853 ['huffman, edith', 'Huffman, Edie']
3653455 ['beach, sandra', 'Beach, Sandy']
9743642 ['long, roberta', 'Long, Bobbie']
4263405 ['orrange, katharine', 'Orrange, Katharine']
3654028 ['ginter, r', 'Ginter, Roy']
2150077 ['pemberton, leander', 'Pemberton, Mike']
8734143 ['mounger, sara', 'Mounger, Sally']
7694482 ['r, ali', 'Ali, ']
3272877 ['glickman, edwin', 'Glickman, Ed']
4902173 ['chwatsky, harriet', 'Chwatsky, Harriette']
1481177 ['robbins, karen', 'Robbins, Karen S.']
2547724 ['grant, kaydette', 'Safi, Kadette']
2619598 ['black, russell', 'Black, Russ']
2882531 ['verell, ruth ann', 'Verell, Ruthann']
9737847 ['belcher, r gerry', 'Belcher, Gerry']
5184452 ['barton, rebecca', 'Barton, Becky']
6055311 ['barton, rebecca', 'Barton, Becky']
4056361 ['shah, a', 'Shah, A.D.']
4503813 ['drayer, michaele', 'Drayer, Michelle']
6776817 ['collopy, cecilia', 'Collopy, Ceil']
5075017 ['scrivner, mary', 'Scrivner, Mary Jo']
5155827 ['wainberg, l', 'Wainberg, Joan']
5349559 ['harris, sandra', 'Harris, Sandy']
6002242 ['macdonald, cathy', 'MacDonald, Cathy']
5457262 ['goodspeed, joann', 'Goodspeed, JoAnn']
9296530 ['bird, michael', 'Bird, Mike']
8344264 ['dayton, sandra', 'Dayton, Sandy']
5777607 ['dulong, craig', 'DuLong, Craig']
7651678 ['bercuvitz, judith', 'Bercuvitz, Judy']
4745477 ['sopkin, l', 'Sopkin, Louis']
8881960 ['sharma, sisir', 'Sharma, S.K.']
7996942 ['noel, catherine', 'Noel, Cathey']
9657517 ['macallen, patricia', 'MacAllen, Pat']
1918168 ['shulman, martin', 'Schulman, Marty']
5988519 ['swanson, patricia', 'Swanson, Pat']
8770557 ['hutchison, lawton', 'Hutchison, Hutch']
5738768 ['vaughan, stephen', 'Vaughan, Steve']
4863933 ['bruchansky, peggy', 'Bruchansky, Peggy A.']
1058207 ['beazley, benjamin', 'Beazley, Ben']
6248276 ['grafe, leon joseph', 'Grafe, Joe']
5905087 ['pilch, frances', 'Pilch, Fran']
4148282 ['arenson, jeffrey', 'Arenson, Jeff']
4209710 ['elliott, judith', 'Elliott, Judy']
5101980 ['alan, franklin', 'Alan, Frank']
7978421 ['neesvig, jo', 'Nesvig, Jo']
4539230 ['severson, rodney', 'Severson, Rod']
9067604 ['hartlieb, martin', 'Hartlieb, Marty']
5903262 ['turberg, patricia', 'Turberg, Pat']
8507570 ['mc cluer, dick', 'McCluer, Dick']
8317348 ['mc cluer, dick', 'McCumber, Richard']
1659901 ['clarkin, bernard', 'Clarkin, Greg']
5273056 ['diogo, richard', 'Diogo, Dick']
7868243 ['shinn, judith', 'Shinn, Judi']
7939035 ['sharples, karen', 'Sharples, Karen H.']
4946286 ['bullard, bunita', 'Bullard, Bunny']
6750893 ['mcgaffic, catherine', 'Mcgaffic, Catherine']
6810365 ['chianelli, jim', 'Chianelli, James']
2394146 ['esses, beatrice', 'Esses, Bea']
8982635 ['hearn, jeffrey', 'Hearn, Jeff']
9453504 ['dimond, michael', 'Dimond, Mike']
1724061 ['johansen, elmer', 'Johansen, Larry']
8473919 ['welte, d', 'Welter, Delores']
1785699 ['glatt, w mike', 'Glatt, Mike']
9430644 ['glatt, w mike', 'Glatt, William']
3388778 ['wynalek, james', 'Wynalek, Jim']
3782743 ['williams, tiger lili', 'Williams, Tiger LiLi']
4410386 ['rasmussen, donna', 'Rasmusson, Donna']
7143923 ['cart, stephen', 'Cart, Doug']
4288289 ['lustig, daniel', 'Lustig, Dan']
9619615 ['borushok, michael', 'Borushok, Mike']
8356688 ['deodhar, frances glee', 'Deodhar, Glee']
1633325 ['simon, winifred', 'Simon, Winnie']
3873692 ['jordan, martha', 'Jordan, Marcy']
2006634 ['widen, arthur', 'Widen, Art']
4643240 ['baglee, david', 'Baglee, Dave']
6226302 ['abbott, maria', 'Abbott, Marie']
4343476 ['peel, r', 'Peel, Stephen']
3568725 ['glathar, james', 'Glathar, Jim']
2867265 ['tretter, cindy', 'Tretter, Cindy H']
6717276 ['allen jr, ltcol harry', 'Allen, Jr, Harry']
7946058 ['howard, janette', 'Howard, Jan']
5514746 ['khaitan, viswanath', 'Khaitan, Vic']
6305385 ['weld, donald', 'Weld, Don']
8749159 ['keegan, james', 'Keegen, Jim']
1199862 ['hyde, judith', 'Hyde, Judy']
6376746 ['muggia, albert', 'Muggia, Al']
8332622 ['michaud, robert', 'Michaud, Bob']
5951445 ['montellese, eileen', 'Monteuts, Eileen']
5649862 ['putnam, judith', 'Putnam, Judy']
9184317 ['olschefski, phillip', 'Olschefski, Phil']
2509180 ['hunt, samuel', 'Hunt, Sam']
1087509 ['gruskay, robert', 'Gruskay, Bob']

In [14]:
# takes 25s
# write out dicts of matched and unmatched name/player_ids in pkl and excel formats.
player_id_name_matches_file = acblPath.joinpath('player_id_name_matches_dict.pkl')
pd.to_pickle(acbl_player_name_to_id_dict, player_id_name_matches_file) # create dict file
player_id_name_matches_df = pd.DataFrame({'Name':acbl_player_name_to_id_dict.keys(),'player_id':acbl_player_name_to_id_dict.values()})
player_id_name_matches_df.to_excel(player_id_name_matches_file.with_suffix('.xlsx')) # create excel file of matches
player_id_name_unmatches_file = acblPath.joinpath('player_id_name_unmatches_dict.pkl')
player_id_name_unmatches_df = pd.DataFrame({'Name':unmatched_names,'player_id':[None]*len(unmatched_names)})
player_id_name_unmatches_df.to_pickle(player_id_name_unmatches_file) # don't bother creating an unmatched df?
player_id_name_unmatches_df.to_excel(player_id_name_unmatches_file.with_suffix('.xlsx')) # create excel file of unmatches
len(missing_player_ids),len(player_id_name_matches_df),len(player_id_name_unmatches_df),len(acbl_player_name_to_id_dict)

(99, 286189, 89, 286189)

In [15]:
# takes 10s
# for each df, assign any missing player_ids using newly updated dict.
# Some player_ids will be missing because acbl API retrival is flawed e.g. api rejects names containing ' .,+-' etc.
for k,df in dfsd.items():
    print(k,df.columns,k in df.columns)
    if 'player_id' in df:
        df['player_id'] = df.apply(lambda r: r['player_id'] if r['player_id'] else acbl_player_name_to_id_dict[r['Name']] if r['Name'] in acbl_player_name_to_id_dict else [],axis='columns')
        display(k,len(df),'Players missing player_id:',df[df['player_id'].map(lambda pid: len(pid) == 0)])
        df_file = bprPath.joinpath(k+'.pkl')
        df.to_pickle(df_file) # create df file
        df.to_excel(df_file.with_suffix('.xlsx')) # create excel file
    elif 'pair_ids' in df:
        df['pair_ids'] = df.apply(lambda r: [[str(pid) for pid in lpid] if lpid else acbl_player_name_to_id_dict[name] for lpid,name in zip(r['pair_ids'],r['Names'])],axis='columns')
        display(k,len(df),'Pairs missing a player_id:',df[df['pair_ids'].map(lambda llpid: any([len(lpid)==0 for lpid in llpid]))])
        df_file = bprPath.joinpath(k+'.pkl')
        df.to_pickle(df_file) # create df file
        df.to_excel(df_file.with_suffix('.xlsx')) # create excel file
    else:
        assert False
    display(df.head())

allmps Index(['Rank', 'MP's', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'allmps'

5000

'Players missing player_id:'

0     Rank      MP's Unit                     Name player_id
198    199  17664.60  354        O'Rourke, Lou Ann        []
255    256  15961.75  446                Ho, Sun-O        []
470    471  12557.40  151        L'Ecuyer, Nicolas        []
526    527  12166.49  373       Del'Monte, Ishmael        []
846    847  10054.72  999      Jean-Jacques, Palau        []
1331  1332   8231.90  218               Lo, Ai-Tai        []
1531  1532   7653.56  166            D'Souza, Lino        []
1725  1726   7160.18  373          Kay-Wolff, Judy        []
2613  2614   5708.77  253  Cannamela, Jr, R. Arthu        []
2838  2839   5453.64  207         O'Donnell, Kevin        []
2925  2926   5366.23  135   Burgess-Strauss, Marie        []
3194  3195   5126.58  108  Hamilton-Diesel, Stepha        []
3579  3580   4822.27  437         O'Brien, William        []
3619  3620   4794.26  140           Liao, Jin-Ming        []
3747  3748   4692.42  128      Sellers, Jr, Daniel        []
3884  3885   4590.07  171        Brown, Jr, Nelson        []
4210  4211   4366.49  139       Nettles, C. Leland        []
4605  4606   4148.77  154         O'Connell, James        []
4626  4627   4142.43  505        O'Toole, Patricia        []
4998  4999   3945.35  141  Rubinstien, Yacob(Jacob        []

0 Rank      MP's Unit              Name  player_id
0    1  92862.58  128  Meckstroth, Jeff  [4580699]
1    2  87910.58  176     Passell, Mike  [1622382]
2    3  78168.46  128     Rodwell, Eric  [5482658]
3    4  76525.13  174       Wold, Eddie  [3443949]
4    5  71817.34  210        Lair, Mark  [5830400]

allpr Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'allpr'

4853

'Players missing player_id:'

0     Rank     PR Games Unit                     Name player_id
160    165  65.02   124  539      Madison-Jammal, Sam        []
683    694  61.89    34  253  Cannamela, Jr, R. Arthu        []
929    946  61.07    27  140                  Fill In        []
1054  1071  60.71    22  153         Sundaram, K.V.K.        []
1055  1072  60.71    18  999            Lee, Kang-Won        []
1252  1270  60.27   100  246     Weisz-Margules, Adam        []
1303  1321  60.15    69  128       Goggin, M. Gregory        []
1533  1555  59.65    89  128             CALDEN, Gene        []
1720  1743  59.31    41  140                  Fill In        []
1751  1774  59.26    39  102  Litman-Cohen, Katherine        []
1802  1825  59.17    49  106          Dell'osso, John        []
1811  1834  59.15    86  507            Luo, Luen-Jyh        []
2228  2258  58.50    96  119     McKinney, E.R. 'Bud'        []
2433  2468  58.21    47  108         Swan, Jr., James        []
2452  2487  58.18    49  246        KONG, CharlesChan        []
2575  2613  58.00    75  240       CLEVELAND, Bernice        []
2631  2670  57.93    67  194              HORTIE, Joe        []
2772  2817  57.73   109  246          KRUMHOLZ, Danny        []
3060  3107  57.33    37  454  D'Litzenberger, Richard        []
3220  3270  57.12    64  128      Sellers, Jr, Daniel        []
3266  3316  57.08    47  356                  Fill In        []
3430  3482  56.90    20  160       PRITCHARD, Carolyn        []
3621  3674  56.73   158  155             FARMAN, Pari        []
3684  3738  56.67    42  354          Pientka, D'Anne        []
3720  3774  56.62    64  246              CERIT, Nuri        []
3725  3779  56.62    83  530                  Maja, -        []
3883  3938  56.45    59  137          JOHANSEN, Larry        []
3985  4042  56.34    31  117        Stinnett, William        []
4393  4459  55.90    30  102        O'Connor, Timothy        []
4475  4541  55.83   134  135   Burgess-Strauss, Marie        []
4641  4713  55.63   117  128          Bruckman, David        []
4684  4756  55.60    63  243              Maloney, K.        []
4694  4766  55.59   105  141  Wolff, Esquire, Deborah        []
4828  4902  55.45    62  354      KIRKPATRICK, Thomas        []

0 Rank     PR Games Unit               Name  player_id
0    1  72.09   137  108  Grossack, Zachary  [2250896]
1    2  71.27    60  174        Wold, Eddie  [3443949]
2    3  71.14    86  373        Shi, Sylvia  [5420105]
3    4  71.02   201  538     Itabashi, Mark  [6811434]
4    5  71.01   164  128  Cappelletti, Mike  [2601087]

improv6 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'improv6'

4944

'Players missing player_id:'

0     Rank last/PR old/PR PR/inc Unit                     Name player_id
85      87   60.23  56.88   3.35  153         Sundaram, K.V.K.        []
102    104   53.34  50.07   3.27  351      Maresso-Paco, Frank        []
385    390   58.20  55.71   2.49  108         Swan, Jr., James        []
463    470   50.77  48.40   2.37  525               EMAM, Amin        []
546    557   44.37  42.11   2.25  128            KENZER, Ricky        []
572    584   50.33  48.11   2.22  243              FERTIK, Lil        []
622    635   50.99  48.83   2.16  454             HAAS, George        []
629    642   51.22  49.07   2.15  114     Housman Jr, W.Glover        []
684    698   46.99  44.89   2.10  452   Lacombe-Ingham, Sherry        []
723    738   45.43  43.36   2.07  151         SHEFFREN, Hannah        []
791    806   54.16  52.14   2.02  354         Berton, Jr, Jack        []
793    808   56.11  54.10   2.01  243              Maloney, K.        []
955    971   52.61  50.72   1.89  240          Harmon-Hanna, E        []
957    973   56.21  54.32   1.89  117        Stinnett, William        []
1037  1053   57.68  55.84   1.84  530                  Maja, -        []
1063  1079   46.79  44.97   1.82  128           BORNS, Charles        []
1277  1295   59.91  58.23   1.69  128       Goggin, M. Gregory        []
1332  1351   52.58  50.92   1.65  192     Benoit, Marie-France        []
1436  1457   62.37  60.77   1.60  253  Cannamela, Jr, R. Arthu        []
1600  1624   47.37  45.84   1.52  128           REDDY, Bhaskar        []
1644  1668   42.35  40.85   1.50  128       KENZER, RickiTobin        []
1807  1833   56.62  55.19   1.43  160       PRITCHARD, Carolyn        []
1871  1897   52.23  50.82   1.41  128            ENGLISH, Neil        []
1946  1973   40.79  39.41   1.38  246             DHAWAN, Bina        []
2161  2191   47.81  46.50   1.31  128         Dickson, Jo-Beth        []
...    ...     ...    ...    ...  ...                      ...       ...
2573  2608   47.46  46.28   1.18  249               WAUD, June        []
2594  2630   59.72  58.55   1.17  246        KONG, CharlesChan        []
2925  2962   54.12  53.04   1.08  128     Ketchum, Jr, William        []
3292  3335   51.23  50.25   0.99  412              ALEX, Annie        []
3297  3340   59.09  58.11   0.98  106          Dell'osso, John        []
3309  3352   49.72  48.74   0.98  356    Cooper-Baker, Rebecca        []
3329  3372   45.75  44.78   0.97  155   Bickel-Scribner, Susan        []
3622  3666   43.73  42.81   0.92  151               NABI, Ruth        []
3674  3720   49.65  48.74   0.90  151             KATES, Bobbi        []
3745  3792   47.65  46.76   0.89  802             PULLEN, Dora        []
3768  3815   59.87  58.98   0.88  246     Weisz-Margules, Adam        []
3854  3902   43.62  42.76   0.86  801          TEICHER, Rachel        []
3917  3966   45.40  44.55   0.85  243            ENTIUS, Simon        []
3974  4023   50.87  50.03   0.84  359      Serio, Sandra-Leigh        []
4059  4108   43.71  42.89   0.82  128         Levine, Md, Paul        []
4083  4132   60.59  59.77   0.82  999            Lee, Kang-Won        []
4233  4284   51.33  50.54   0.78  155          SHAMASH, Jackie        []
4277  4328   55.85  55.08   0.77  999            SHIELS, Brian        []
4340  4391   57.09  56.33   0.76  356                  Fill In        []
4421  4473   39.97  39.23   0.74  151         WEXELMAN, Ronnie        []
4519  4571   44.56  43.84   0.73  452            ZILLMAN, Dave        []
4624  4678   54.49  53.78   0.71  172       SCHUAKHOFER, Chuck        []
4687  4741   57.44  56.74   0.70  155             FARMAN, Pari        []
4761  4815   55.32  54.64   0.68  354      KIRKPATRICK, Thomas        []
4938  4995   56.84  56.19   0.65  354          Pientka, D'Anne        []

[55 rows x 7 columns]

0 Rank last/PR old/PR PR/inc Unit               Name  player_id
0    1   55.48  49.81   5.67  114      Cone, Cynthia  [4928725]
1    2   50.50  44.90   5.60  243      Chance, Doris  [5571790]
2    3   61.08  55.65   5.43  128       Land, Jeanne  [1249495]
3    4   40.47  35.14   5.34  159       Warach, Jane  [8043620]
4    5   56.37  51.06   5.31  128  Baniewicz, Jeanne  [9442677]

improv12 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'improv12'

4950

'Players missing player_id:'

0     Rank last/PR old/PR PR/inc Unit                     Name player_id
20      21   56.62  51.63   4.99  160       PRITCHARD, Carolyn        []
64      65   46.99  42.80   4.19  452   Lacombe-Ingham, Sherry        []
226    228   50.33  46.92   3.41  243              FERTIK, Lil        []
358    361   47.37  44.27   3.10  128           REDDY, Bhaskar        []
472    476   58.20  55.31   2.89  108         Swan, Jr., James        []
536    541   53.34  50.55   2.79  351      Maresso-Paco, Frank        []
677    687   57.68  55.08   2.60  530                  Maja, -        []
718    728   52.78  50.22   2.56  243          BENNETT, Sophia        []
734    744   51.22  48.68   2.54  114     Housman Jr, W.Glover        []
774    785   60.23  57.75   2.48  153         Sundaram, K.V.K.        []
801    812   56.11  53.66   2.46  243              Maloney, K.        []
914    927   50.99  48.63   2.36  454             HAAS, George        []
921    934   45.27  42.92   2.36  249         KELLESTINE, Mike        []
967    980   46.79  44.48   2.31  128           BORNS, Charles        []
1135  1151   54.12  51.93   2.18  128     Ketchum, Jr, William        []
1242  1259   44.37  42.26   2.11  128            KENZER, Ricky        []
1595  1616   56.21  54.30   1.91  117        Stinnett, William        []
1631  1652   59.91  58.02   1.89  128       Goggin, M. Gregory        []
1677  1699   54.49  52.62   1.87  172       SCHUAKHOFER, Chuck        []
1712  1734   60.59  58.74   1.84  999            Lee, Kang-Won        []
1845  1869   55.32  53.54   1.77  354      KIRKPATRICK, Thomas        []
2031  2056   62.37  60.68   1.69  253  Cannamela, Jr, R. Arthu        []
2067  2093   57.69  56.02   1.67  194              HORTIE, Joe        []
2172  2198   42.35  40.72   1.63  128       KENZER, RickiTobin        []
2310  2336   54.16  52.58   1.58  354         Berton, Jr, Jack        []
...    ...     ...    ...    ...  ...                      ...       ...
2356  2383   51.33  49.77   1.56  155          SHAMASH, Jackie        []
2394  2421   41.62  40.08   1.54  151    Shaffer, Anne(Nonnie)        []
2869  2898   45.75  44.37   1.38  155   Bickel-Scribner, Susan        []
2899  2928   45.26  43.89   1.37  246         HADDRICK, Tricia        []
2911  2940   50.83  49.46   1.37  431      Scott-Kerr, Michael        []
2937  2966   45.43  44.07   1.36  151         SHEFFREN, Hannah        []
2942  2972   42.62  41.27   1.36  802           SIFTON, Louise        []
2988  3018   50.87  49.52   1.34  359      Serio, Sandra-Leigh        []
3079  3111   54.59  53.27   1.32  246          LAMPERT, Glenda        []
3456  3494   50.91  49.69   1.21  141           ROBBINS, Grace        []
3566  3604   52.23  51.04   1.18  128            ENGLISH, Neil        []
3568  3606   39.97  38.78   1.18  151         WEXELMAN, Ronnie        []
3594  3632   52.58  51.40   1.18  192     Benoit, Marie-France        []
3686  3726   48.52  47.36   1.16  356              Day, Jo-Ann        []
3693  3733   56.79  55.63   1.16  137          JOHANSEN, Larry        []
3837  3880   49.65  48.54   1.11  151             KATES, Bobbi        []
3972  4016   47.81  46.73   1.07  128         Dickson, Jo-Beth        []
4138  4183   41.21  40.17   1.04  246             AMINIAN, Rez        []
4150  4196   43.71  42.68   1.03  128         Levine, Md, Paul        []
4198  4244   53.35  52.33   1.02  433  Norton-Nader, Rose Mari        []
4411  4459   46.29  45.32   0.97  155  Bacon-Rothchild, Debora        []
4506  4554   47.07  46.11   0.95  151         FREEDMAN, Stuart        []
4570  4619   49.72  48.78   0.94  356    Cooper-Baker, Rebecca        []
4786  4837   47.46  46.57   0.89  249               WAUD, June        []
4800  4851   47.79  46.91   0.89  364            HEIDEMAN, Joe        []

[51 rows x 7 columns]

0 Rank last/PR old/PR PR/inc Unit                 Name  player_id
0    1   50.77  43.24   7.52  189  Fitzpatrick, Bonnie  [3194043]
1    2   47.76  40.89   6.87  373   Koziol, Malgorzata  [1441426]
2    3   56.37  49.53   6.84  128    Baniewicz, Jeanne  [9442677]
3    4   49.91  43.30   6.61  452    Krasovic, Valarie  [5511623]
4    5   53.21  46.70   6.51  140        Armus, Nadine  [1974718]

improv24 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'improv24'

245

'Players missing player_id:'

Empty DataFrame
Columns: [Rank, last/PR, old/PR, PR/inc, Unit, Name, player_id]
Index: []

0 Rank last/PR old/PR PR/inc Unit              Name  player_id
0    1   63.74  57.30   6.45  503     Kemper, Carol  [4331699]
1    2   68.27  61.88   6.39  119  Ayyagari, Murthy  [9146962]
2    3   55.95  49.73   6.21  196       Drabek, Yan  [5172713]
3    4   60.36  54.20   6.17  425  Schmahl, Michael  [4934148]
4    5   66.46  60.92   5.54  132     Kopper, David  [2212501]

underate Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PR', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'underate'

4953

'Players missing player_id:'

0     Rank     UR PR/MP's  MP's     PR Unit                     Name player_id
67      68  11.34    9769   551  60.71  153         Sundaram, K.V.K.        []
113    114  10.25    2801   151  55.13  126  Rudikoff, M.D., Jeffrey        []
114    115  10.24   39378  2613  65.02  539      Madison-Jammal, Sam        []
231    232   9.13    9769  1067  60.71  999            Lee, Kang-Won        []
366    370   8.38    1838   154  53.33  533        Layne Carr, Suzie        []
392    396   8.24    7285   850  59.26  102  Litman-Cohen, Katherine        []
704    710   7.00    1176   149  51.86  452            O'Hara, Susan        []
991    998   6.32    3330   581  55.90  102        O'Connor, Timothy        []
1471  1481   5.45    8804  2566  60.15  128       Goggin, M. Gregory        []
1505  1516   5.39    7131  2074  59.17  106          Dell'osso, John        []
1509  1520   5.39    3695   826  56.34  117        Stinnett, William        []
1766  1778   5.05    2338   529  54.27  354         Berton, Jr, Jack        []
1895  1910   4.88    1293   312  52.16  515        O'Donnell, Bonnie        []
2331  2350   4.36    1306   372  52.20  351      Maresso-Paco, Frank        []
2432  2452   4.26    3925  1369  56.62  530                  Maja, -        []
2570  2592   4.13    7110  2744  59.15  507            Luo, Luen-Jyh        []
2617  2639   4.08    9010  3562  60.27  246     Weisz-Margules, Adam        []
2622  2644   4.08    5500  2265  58.21  108         Swan, Jr., James        []
3237  3264   3.56   17574  5709  61.89  253  Cannamela, Jr, R. Arthu        []
3474  3505   3.37     403   145  48.12  114     Housman Jr, W.Glover        []
3577  3608   3.29     350   126  47.63  452   Lacombe-Ingham, Sherry        []
3590  3621   3.28     173    41  45.37  446           Evans, Garrism        []
3776  3807   3.14    5995  2921  58.50  119     McKinney, E.R. 'Bud'        []
4082  4117   2.94     143    34  44.72  207          Tseng, Chung-Ye        []
4146  4181   2.89    3075  1504  55.60  243              Maloney, K.        []
4371  4410   2.74    2720  1325  54.98  128     Ketchum, Jr, William        []
4380  4421   2.73     546   254  49.33  562          Kangas, Stanley        []
4429  4470   2.70     139    37  44.63  234      Stebner, Walter Ron        []
4569  4612   2.62    3970  2227  56.67  354          Pientka, D'Anne        []
4814  4859   2.46     645   343  50.03  132        Carduff, L Janice        []
4937  4983   2.39     475   237  48.78  531       McInerny, Nicholas        []
4943  4989   2.38    2899  1626  55.32  356           McKethen, John        []

0 Rank     UR PR/MP's MP's     PR Unit               Name                                                                                            player_id
0    1  19.01    7231    1  59.22  128       Olster, Evan  [tmp:1bd69b97-671c-498b-9b13-554a2926a285, tmp:6637f30e-5942-4a56-87fb-7b8fc7f60e71, tmp:2ddfbbf...
1    2  18.80    6908    2  59.03  246        Rosin, Leah  [tmp:1c0dd554-02b5-4c03-931c-287c14ed2c79, tmp:617f2476-72a2-4dd1-85b1-20a9347f7beb, tmp:aaca79b...
2    3  17.70    8321   42  59.86  128       Lieser, John                                                                                            [4240464]
3    4  17.57    9528   69  60.57  473  Grijalva, Rolando        [7928378, tmp:dd9921da-821c-40bb-9e35-1cc85b8db6c3, tmp:80eda9d1-a123-467b-ada3-8931c969e76b]
4    5  17.39    5095    9  57.97  431         Kelly, Ken  [tmp:90dfb096-2e5f-495c-8804-eb1c6406843f, tmp:b3e7843c-01f9-4f87-97c1-91358940371c, tmp:940f616...

urpairs Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PairR', 'Unit', 'Names', 'pair_ids'], dtype='object', name=0) False

'urpairs'

4930

'Pairs missing a player_id:'

0     Rank     UR PR/MP's   MP's  PairR     Unit                                        Names                                          pair_ids
0        1  18.80   37191    146  61.68  999/999         [Robinson, Claire, Bakhshi, Heather]                                   [[6025366], []]
1        2  16.20   37598    404  62.06  999/999               [Sherman, David, Capal, Tracy]                                          [[], []]
5        6  14.83   12999    218  58.77  999/999           [Shapochnik, Gersh, Yadadov, Rami]                                          [[], []]
6        7  14.35    7608     84  56.48  150/150        [Woodard, Wendell, Cummings, William]                                   [[], [9934987]]
8        9  13.42   53307    624  59.75  999/506                [Guven, Metin, Bichara, Rita]                                   [[], [7703252]]
10      11  13.15   83234   3281  65.44  999/446              [King, Phillip, Castner, Kevin]                                          [[], []]
12      13  12.45   43802   1336  61.22  999/999                 [Bird, Nigel, Senior, Brian]                                          [[], []]
17      18  11.73   70333   2973  64.38  141/190      [Foerster, Thomas, Marlow, Christopher]                                   [[4938828], []]
18      19  11.60    5831    197  55.35  354/354                   [Gyde, Rita, Gyde, Steven]                                   [[7772866], []]
21      22  11.36   58265   1432  58.35  115/115               [Harding, Charles, Rizzi, Tom]                                   [[6690149], []]
22      23  11.23   50232   2371  60.94  573/573                [Nattrass, Wayne, Yao, Warke]                                          [[], []]
23      24  11.22   12832    664  58.58  999/999              [Vidigal, Caru, Menezes, Lucia]                                          [[], []]
26      27  10.93   60676   3292  63.73  242/242           [Krevor, Michael, Bilich, Charles]                                   [[1878433], []]
29      30  10.82    2657     54  52.25  143/143            [Bouchein, David, Graham, Robert]                                   [[], [3833356]]
33      34  10.64    4644    190  54.11  141/141                 [Levin, Mark, Goldberg, Ken]                                   [[5004292], []]
34      35  10.50   26868   1511  60.75  166/166       [Iaboni, Aled Antony, Macaulay, Ethan]                                          [[], []]
37      38  10.48   10526    691  58.07  999/999          [Fougerouse, Pierre, Marland, Jane]                                          [[], []]
38      39  10.45   43047    581  55.68  246/246                    [Wu, Rick Wei, Ju, Zihua]                                   [[5019176], []]
39      40  10.44  104300  14301  67.06  246/503                 [Chan, Richard, Sheng, Ming]                                   [[3905969], []]
46      47  10.20    5078    261  54.64  240/240                 [Jett, Richard, Jett, Janie]                                   [[], [7794495]]
47      48  10.18    5989    321  55.22  507/550             [Kamdar, Bharat, Vaidya, Hemant]                                   [[2936062], []]
50      51   9.99    4557    239  54.16  225/225           [McGown, Gavin, Walton, Roger Max]                                          [[], []]
51      52   9.91   12953    935  58.43  123/123                    [Chen, Patrick, Ng, Ruth]                                   [[7337264], []]
62      63   9.70    6976    473  55.35  153/140           [Tsavaris, Anastasia, Xing, Ruiqi]                                          [[], []]
80      81   9.45    2823    139  52.30  188/188     [Bergold, Martha, McKenna, Aileen 'Mimi]                                   [[3536254], []]
...    ...    ...     ...    ...    ...      ...                                          ...                                               ...
4820  4889   2.88     211     37  43.92  222/149             [Bouldin, G Sid, Burgener, Jean]                                          [[], []]
4821  4890   2.88     225     43  44.05  216/216            [Newton, Alisha, Bittner, Chancy]                                          [[], []]
4831  4901   2.88    3054   1227  52.68  503/503          [Bushnell, William, Cassidy, Leigh]                                   [[], [9288554]]
4833  4903   2.88     617    247  47.18  253/253           [Swan, Ruth, Elia Shaoul, Suzanne]  [[], [tmp:58da9e77-fbec-4ec9-b75e-425c183c6c84]]
4837  4907   2.88     621    265  47.27  153/153      [Thompson III, Loy, Mallard, E Lynwood]                                   [[3281418], []]
4843  4913   2.88    7139   2615  53.91  503/503          [Menezes, Eunice, Menezes, Eusebio]                                   [[], [6717128]]
4855  4925   2.87    2948   1301  51.73  999/431            [Lapage, Robert, Edwards, Louise]                                   [[], [5189683]]
4858  4928   2.87    2416   1018  51.94  207/207       [Caldwell III, Robert, Kalmbach, Bill]                                   [[], [7758812]]
4860  4930   2.87    1172    517  48.94  126/126             [Carbone, Louis, Bucnis, Edward]                                          [[], []]
4863  4933   2.87    6753   3074  55.56  108/108          [Silver, Alan, Carroll, Livingston]                                   [[3537870], []]
4865  4935   2.86     816    280  47.51  515/515               [Rolfes, Kathy, Kayiran, John]                                   [[], [7818335]]
4866  4936   2.86    6761   3385  55.19  150/128              [Tracy, Dick, Carlson, Douglas]                                   [[], [7349084]]
4871  4942   2.86    3958   1710  53.58  126/126               [Hill, Kay, Fliakos, Patricia]                                   [[], [3516350]]
4873  4944   2.86    2222    868  50.90  185/185           [Gourley, Larry, Gourley, Jeffrey]                                   [[1932039], []]
4874  4945   2.86     283     76  44.66  216/216               [Dearinger, Pam, Scoles, Beth]                                   [[], [1955934]]
4891  4962   2.85    5062   2196  54.51  503/503           [Papermaster, Kathryn, Baum, Vera]                                   [[], [9484159]]
4893  4964   2.85    8483   3350  55.88  140/141                  [Charkow, Janis, Ross, Amy]                                   [[4678184], []]
4897  4968   2.85     411    140  45.80  175/175           [Wadhams, Jennie, Norris, Belinda]                                   [[], [1840010]]
4901  4972   2.85    5430   2611  54.71  195/195  [Wade Williams, Rosemary, Larson, Kathleen]                                          [[], []]
4904  4975   2.84    3572   1454  52.64  503/503            [Menezes, Eunice, Hatton, Brenda]                                   [[], [5237033]]
4913  4984   2.84    4290   1745  53.76  155/155             [Ochlan, Nick, Fazzolari, James]                                          [[], []]
4917  4988   2.84    1327    630  50.15  253/253        [Battaglia, Russell, Hicks, Marjorie]                                          [[], []]
4920  4991   2.84    6579   2944  55.35  539/539             [Hastie, Chris, Rossman, Ross L]                                   [[3773663], []]
4921  4992   2.84    1298    613  50.05  192/192   [Maisonneuve Car, Ginett, Carrier, Gerald]                                          [[], []]
4928  4999   2.84    3984   1179  50.02  195/195                [Baille, Helen, Braciak, Ted]                                   [[4489896], []]

[1086 rows x 8 columns]

0 Rank     UR PR/MP's  MP's  PairR     Unit                                 Names                                                                                             pair_ids
0    1  18.80   37191   146  61.68  999/999  [Robinson, Claire, Bakhshi, Heather]                                                                                      [[6025366], []]
1    2  16.20   37598   404  62.06  999/999        [Sherman, David, Capal, Tracy]                                                                                             [[], []]
2    3  15.69    8152    41  56.80  533/533              [Hu, Xiaodan, Wang, Jun]  [[8237328, tmp:5b2e409e-03b4-44dd-afcf-def8afc94803, tmp:75660f98-02a8-42a8-a5be-2d5a8d4b1a03, t...
3    4  15.52    7353    28  56.32  446/446        [Walsh, John, Rasmussen, Pete]                                                                               [[2235897], [2235978]]
4    5  15.46   77953  1854  64.47  155/155  [Questembert, Patrick, Tadmor, Ilan]                                                                               [[4016424], [8337500]]

d1rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd1rank'

242

'Players missing player_id:'

0   Rank     PR Games Unit                  Name player_id
42    43  57.93    67  194           HORTIE, Joe        []
97    98  55.04    44  151     Bercuvitz, Judith        []
108  109  54.54    73  151          Gold, Gerald        []
122  123  53.78    94  801        MAVADDAT, Goli        []
135  138  53.35    53  151           Wainberg, L        []
138  141  53.21    48  192         Galon, Joseph        []
158  161  52.39    29  192  Benoit, Marie-France        []
176  179  51.60    60  194   Colavecchia, Robert        []
181  184  51.30    54  194     Gauthier, Andre J        []
190  193  50.97    64  151         BROWMAN, Rona        []
212  215  49.77    62  194       Hickman, Pamela        []
215  218  49.63    43  151          KATES, Bobbi        []
218  221  49.52    99  801         ALTER, Arlene        []
231  234  48.51    98  151       Glickman, Edith        []
239  242  47.93    78  151       Kravitz, Helene        []

0 Rank     PR Games Unit               Name  player_id
0    1  70.28   131  151  Pollack, Frederic  [6529224]
1    2  66.74    96  151   Menachi, Ghassan  [3081516]
2    3  65.29    58  151   Carriere, Ronald  [7494602]
3    4  64.66   113  151   Chartrand, Andre  [3280292]
4    5  64.29    30  151      Dobrin, Ronny  [7942427]

d2rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd2rank'

374

'Players missing player_id:'

0   Rank     PR Games Unit                   Name player_id
33    36  60.27   100  246   Weisz-Margules, Adam        []
75    80  58.18    49  246      KONG, CharlesChan        []
82    87  57.73   109  246        KRUMHOLZ, Danny        []
108  113  56.62    64  246            CERIT, Nuri        []
145  150  55.21    31  249     ORRANGE, Katharine        []
150  155  55.13    99  246        LAMPERT, Glenda        []
167  172  54.55    60  246      CUKIERMAN, Shelly        []
177  182  54.12    40  166  Thomas-Howie, Deborah        []
219  224  52.98    98  246          SHEPPARD, Ken        []
224  229  52.83    58  246       Macdonald, Cathy        []
230  235  52.65    37  246           SALEH, Sadru        []
233  238  52.51    94  166      Lam, Alan Huttung        []
247  252  52.13   400  249  Webster, Shirley Anne        []
252  257  51.94   147  249         Wright, Ed W J        []
266  271  51.47    63  246         KRIKLER, Becky        []
271  276  51.40    60  246            BEER, Liora        []
275  280  51.30    69  246             Eidt, Ruth        []
280  285  51.10    36  246          SQUIRE, Larry        []
282  287  51.04    39  166        JAMIESON, Linda        []
293  298  50.77    90  246           NIJHAWAN, Om        []
294  299  50.77    72  246       Melnichuk, Marie        []
299  304  50.62    70  166          Kirsh, Miriam        []
314  319  50.26    84  802           SINGH, Perry        []
316  322  50.17    77  802            LEM, Sylvia        []
328  335  49.71    66  246        Mackenzie, Dale        []
329  336  49.64   185  249       MERSEREAU, Wayne        []
346  353  49.20   152  249      El-Raheb, Ibrahem        []
349  356  49.02    74  246          CAPLER, Greta        []
354  361  48.84   142  246          MORRIS, Allan        []
357  364  48.82   117  249                Fill In        []
362  369  48.58    34  249        Dimond, Michael        []
364  371  48.55   317  249                Fill In        []
371  378  48.40    58  246       STORTON, Marilyn        []
372  379  48.34   171  249          BRENNAN, Jack        []
373  380  48.32   140  802          JULIAN, Terry        []

0 Rank     PR Games Unit                Name           player_id
0    1  67.94    20  249  Kleinplatz, Morrie           [1303600]
1    3  65.58    78  246  Cafferata, Michael           [2648113]
2    4  65.11    24  255       Stevens, John  [1529242, 2389371]
3    5  64.77    50  166      Freeman, Jacob           [7013124]
4    6  64.64    31  166       Andrews, Doug  [1572849, 9453474]

d3rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd3rank'

467

'Players missing player_id:'

0   Rank     PR Games Unit                     Name player_id
36    40  61.07    27  140                  Fill In        []
74    78  59.31    41  140                  Fill In        []
78    82  59.17    49  106          Dell'osso, John        []
261  271  54.26   124  188            Adler, Nathan        []
318  328  53.14    63  140             Mayer, David        []
323  333  53.04   124  140     Riepenhoff, Kathleen        []
340  350  52.56    35  106         Michaelis, James        []
344  354  52.51   102  106     Williams, Tiger Lili        []
356  366  52.31    88  186  Fitzpatrick, Peggy Case        []
402  412  51.11    81  186            Beach, Sandra        []
407  417  50.99    62  186         Collopy, Cecilia        []
412  422  50.81   146  140           Glaser, Jeremy        []
441  451  49.92    59  140         Clarkin, Bernard        []
455  465  49.48    59  140            Stier, Judith        []

0 Rank     PR Games Unit             Name  player_id
0    1  67.67   112  188   Newman, Dennis  [2951606]
1    2  66.94    83  115  Neuhart, Robert  [8396493]
2    3  66.75   116  188  Zucker, Richard  [2074036]
3    4  66.43    58  188       Aker, Jeff  [3883914]
4    5  66.31    78  188       Hawa, Fred  [4657268]

d4rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd4rank'

521

'Players missing player_id:'

0   Rank     PR Games Unit                     Name player_id
190  193  55.59   105  141  Wolff, Esquire, Deborah        []
206  209  55.05    33  168           Hawn, Benjamin        []
207  210  55.00    71  190          Jessup, Melissa        []
214  217  54.82    47  112              Noonan, Ray        []
302  305  52.95    85  141       Strauss, Catherine        []
339  342  52.16    87  141          Delikat, Joseph        []
353  356  51.89    80  141         Butera, Margaret        []
369  373  51.53    74  112           Krauss, Edythe        []
372  376  51.49    41  141                Ross, Amy        []
377  381  51.41    43  141         Eisenberg, Betty        []
382  386  51.32    35  141         Clayman, Roberta        []
400  404  51.02    21  141           Taxin, Phyllis        []
405  409  50.81    83  141             Greco, Carol        []
410  414  50.66    88  141           ROBBINS, Grace        []
420  424  50.48    37  190            Conrad, Diana        []
440  445  50.06    22  112            SPITZER, John        []
455  460  49.70    45  112          Elliott, Judith        []
457  462  49.68    85  112        O'Connor, Eleanor        []
460  465  49.56    57  112      Cathles, Mary Helen        []
468  473  49.29    85  141          Vineberg, Susan        []
479  484  49.09    87  141            BENNER, Carol        []
488  493  48.63    42  133         Rodriguez ,Jr, R        []
490  495  48.61    61  112            Nassar, Fares        []
503  508  48.28    30  112         Klausner, Angela        []
517  522  47.97    70  112           Statton, Debra        []

0 Rank     PR Games Unit                 Name  player_id
0    2  66.57    36  141       Labovitz, Marc  [8439907]
1    3  66.08   153  141  Chatzinoff, Kenneth  [1907441]
2    4  65.38    64  141   Rabinowitz, Martin  [2313723]
3    5  64.87    44  190         Taylor, Anne  [4428277]
4    6  64.38    30  190      Popper, Richard  [5887410]

d5rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd5rank'

39

'Players missing player_id:'

0  Rank     PR Games Unit              Name player_id
26   27  53.31    80  142  Metosky, Stewart        []
38   39  49.10    71  127    Klapthor, Rick        []

0 Rank     PR Games Unit             Name  player_id
0    1  64.15    65  116        Levy, Jay  [2232782]
1    2  62.88    65  129      Tordella, W  [2393433]
2    3  61.83    39  116  Colligan, David  [7943199]
3    4  61.17   111  116    Fetouh, Saleh  [3131505]
4    5  60.59    41  148        Pierce, D  [1443623]

d6rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd6rank'

281

'Players missing player_id:'

0   Rank     PR Games Unit                    Name player_id
123  125  55.83   134  135  Burgess-Strauss, Marie        []
193  195  53.19    96  147         Catlett, Robert        []
208  210  52.55    41  147              Swift, Sue        []
215  217  52.21    97  135         Zaller, Jeffrey        []
271  278  49.20   214  218        Verell, Ruth Ann        []
274  282  49.05    47  147          Cheary, Nadyne        []
275  283  49.05    71  139   Deodhar, Frances Glee        []

0 Rank     PR Games Unit            Name                    player_id
0    1  67.54    56  147    Jones, Aaron           [7358474, 7412215]
1    2  67.18    60  218    Hindman, Hal                    [7489609]
2    3  66.13    48  147     Boyd, Peter                    [2855887]
3    4  65.69    49  135  Peters, Thomas                    [4411552]
4    5  65.37    32  135   Becker, R Jay  [3418065, 2255529, 2924064]

d7rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd7rank'

872

'Players missing player_id:'

0   Rank     PR Games Unit                     Name player_id
37    38  61.89    34  253  Cannamela, Jr, R. Arthu        []
59    60  60.71    22  153         Sundaram, K.V.K.        []
124  125  58.50    96  119     McKinney, E.R. 'Bud'        []
188  192  56.90    20  160       PRITCHARD, Carolyn        []
277  283  55.15    54  206            Landis, Buddy        []
295  301  55.01    75  153          Golladay, Marie        []
298  304  54.95   101  153    Marshall, Martha Jean        []
301  307  54.92   114  253        McLaughlin, Julie        []
304  310  54.85    67  153             Dellinger, B        []
313  320  54.69   115  114           Bailie, Judith        []
355  362  53.99    77  153           Fraser, Robert        []
363  370  53.83    34  165         Severson, Rodney        []
364  371  53.83    48  153            Zamuto, Susan        []
378  385  53.58    43  191          Draper, Phillip        []
383  390  53.51    71  153        Eisenlohr, Gainor        []
391  398  53.45    99  153           Queen, T Kevin        []
409  416  53.27   151  153        Snelgrove, Donald        []
415  422  53.21    75  153          McCrory, Marsha        []
424  431  53.12    92  153           Bhalla, Satish        []
440  447  52.88    39  153        McDonough, Daniel        []
442  449  52.88    57  119        Shepherd, Rebecca        []
460  468  52.49    75  153          Pollard, Gloria        []
463  471  52.48    55  153         Armstrong, Carol        []
472  480  52.39    93  153             Scholl, Mary        []
480  488  52.32   108  165         De Weerd, Auggie        []
..   ...    ...   ...  ...                      ...       ...
605  614  50.95    44  153             Way, Richard        []
607  616  50.92    92  153             Conlan, Jane        []
618  627  50.78   112  206            Cart, Stephen        []
633  643  50.65    30  114        Gillispie, Elliot        []
640  650  50.59   122  153         Easton, Gretchen        []
657  667  50.38    55  244          Noel, Catherine        []
666  676  50.22    61  153          Salerno, Carole        []
680  690  50.09   103  153            Walker, Frank        []
691  701  49.99    31  153            Butler, Ethel        []
692  702  49.95    96  206             Bryant, Suzy        []
704  714  49.81    40  206          Broadway, Leigh        []
707  717  49.78    47  244            LaCapra, John        []
718  728  49.59    98  153              Key, Jackie        []
735  745  49.27   129  153           Caldwell, Rhea        []
749  759  49.13    62  206              Graef, John        []
768  778  48.88    55  153            Shelton, Lisa        []
769  779  48.88   150  153             Meleney, Tom        []
815  826  48.38    68  153          Stephenson, Tom        []
820  831  48.32    51  153           Stokkebye, Eva        []
831  842  48.26    47  244        Larson, Mary Anne        []
833  844  48.18    33  160       Mitchem Jr, Morris        []
837  848  48.12    27  114     Housman Jr, W.Glover        []
850  861  47.92    75  206            Crouch, Susan        []
862  873  47.80    57  153              Glass, John        []
868  880  47.68    83  153            Stewart, Lynn        []

[57 rows x 6 columns]

0 Rank     PR Games Unit              Name                             player_id
0    1  68.43    28  119  Ayyagari, Murthy                             [9146962]
1    2  66.61    70  160    Griffin, James  [3681262, 7489641, 8063087, 7502648]
2    3  66.46    47  253    Collins, Kevin                             [5025486]
3    4  65.72    42  253     Marks, Samuel                             [4363965]
4    5  65.71    49  165       Heller, Bob                             [4827767]

d8rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd8rank'

255

'Players missing player_id:'

0   Rank     PR Games Unit                Name player_id
97   102  55.26    60  239         Ryan, James        []
131  137  53.65    93  239   Whitney, Charlene        []
140  146  53.43    86  239       Moore, Burton        []
148  154  53.10    89  208    Thomas, Lawrence        []
150  156  53.04    98  239     Howard, Janette        []
155  161  52.79    61  208       Russ, Raymond        []
201  208  51.01    26  239    Dekeyser, Robert        []
221  228  50.33    90  239  Ellingson, Barbara        []
250  257  48.92    76  239    Hartlieb, Martin        []
254  261  48.79   143  239     Musser, Cynthia        []

0 Rank     PR Games Unit            Name  player_id
0    1  68.76   170  239    Snyder, Jack  [4608402]
1    2  67.89   187  143         Xie, En  [3062538]
2    3  64.85    37  143      Moses, Tod  [5872618]
3    4  64.37    59  143  Giacaman, Mike  [7912706]
4    5  64.32    42  208   Pestien, Rich  [6720773]

d9rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd9rank'

3099

'Players missing player_id:'

0     Rank     PR Games Unit                     Name player_id
207    209  60.15    69  128       Goggin, M. Gregory        []
250    252  59.65    89  128             CALDEN, Gene        []
285    287  59.26    39  102  Litman-Cohen, Katherine        []
468    473  58.00    75  240       CLEVELAND, Bernice        []
597    604  57.12    64  128      Sellers, Jr, Daniel        []
847    856  55.90    30  102        O'Connor, Timothy        []
905    915  55.63   117  128          Bruckman, David        []
911    921  55.60    63  243              Maloney, K.        []
1056  1066  54.98    62  128     Ketchum, Jr, William        []
1247  1258  54.25   135  128            LEVINE, Jerry        []
1258  1269  54.22    32  128              Bard, James        []
1576  1592  52.95    50  128              GLOVER, Ted        []
1725  1742  52.44    50  243          BENNETT, Sophia        []
1763  1781  52.31    72  240          Harmon-Hanna, E        []
1771  1789  52.27    28  128            ENGLISH, Neil        []
1779  1797  52.24    42  102         A'Hearn, Beverly        []
2493  2518  49.67    65  243              FERTIK, Lil        []
2535  2561  49.46    51  243          WEISMAN, Milton        []
2566  2592  49.34    48  128           Wesley, Gerald        []
2603  2629  49.20    48  243         WEINSTEIN, Janet        []
2715  2741  48.78    91  128         Dickson, Jo-Beth        []
2739  2765  48.70    64  128            SCHEFFER, Pat        []
2769  2795  48.61    32  128          ROSENTHAL, Matt        []
2771  2797  48.60    46  809               CAWBY, Kay        []
2812  2839  48.44    55  243              BENYES, Eli        []
3061  3089  47.42    95  128            Kogut, S Dean        []

0 Rank     PR Games Unit               Name  player_id
0    1  71.01   164  128  Cappelletti, Mike  [2601087]
1    2  70.76    47  128   Meckstroth, Jeff  [4580699]
2    3  69.59    69  128    Stamatov, Jerry  [9936327]
3    4  69.13    50  128      Rodwell, Eric  [5482658]
4    5  68.38    66  243  Pavlicek, Richard  [3565408]

d10rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd10rank'

388

'Players missing player_id:'

0   Rank     PR Games Unit                     Name player_id
125  128  55.07   131  161       Wendricks, Richard        []
143  147  54.57    71  144           Lustig, Daniel        []
154  158  54.29   182  179    Allen Jr, Ltcol Harry        []
157  161  54.21   133  161             Lusk, Robert        []
166  170  53.84   149  144         Ohsfeldt, Sharon        []
175  179  53.67    63  144            Shore, Judith        []
215  220  52.68    96  161  Hargrove McKay, Francin        []
270  277  51.22    39  179            Long, Roberta        []
279  286  50.92   156  179           Wynalek, James        []
298  305  50.54    91  144          Barton, Rebecca        []
301  308  50.51    93  144         Vaughan, Stephen        []
318  325  49.87    36  144            Lindy, Judith        []
322  329  49.83    64  161           Jordan, Martha        []
342  349  49.39   132  144          Weinberg, K. K.        []

0 Rank     PR Games Unit                    Name  player_id
0    1  68.18    36  144         Oshlag, Richard  [1836528]
1    2  67.07   139  179         Birnbaum, David  [4207343]
2    3  65.80    93  232  Eythorsdottir, Hjordis  [1638653]
3    4  65.37   197  179             Said, Chuck  [4383974]
4    5  64.67   120  161          Siebert, Allan  [3384802]

d11rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd11rank'

452

'Players missing player_id:'

0   Rank     PR Games Unit                   Name player_id
143  147  56.34    31  117      Stinnett, William        []
205  213  54.47    52  164        Hightower, Paul        []
208  216  54.40    44  124      Franklin, Sanford        []
239  247  53.52    55  164  Herchenroeder, Laurie        []
270  278  52.90    72  164   Seymour III, Charles        []
274  282  52.82    32  124       Duritsch, Donald        []
277  285  52.63    62  164            Yohon, Emma        []
293  302  52.19    51  124          Hance, Daniel        []
327  336  51.53    35  164      Bertoldo, Marilyn        []
342  351  51.28    21  130         Black, Russell        []
348  357  51.05    61  164        Bennett, Darryl        []
349  358  51.01    55  124          Glatt, W Mike        []
353  362  50.95    63  124         Tretter, Cindy        []
364  373  50.78    23  164         Beardsley, Tom        []
370  379  50.60    94  193    Anderson, M Paulina        []
385  394  50.25    60  130         Alan, Franklin        []
387  396  50.22    85  164       Gillies, Herbert        []
398  407  50.02    62  164         Thomson, Linda        []
405  414  49.77    45  164    Schaefer, Katherine        []
407  416  49.68    82  164          Merkel, James        []
415  424  49.54    49  117  Throgmorton, Harriett        []
435  444  49.11    48  193    FRANKLIN, JosephJef        []
439  448  49.01    76  164         Keslin, Thomas        []
445  454  48.86    35  164        Loeffler, Donna        []

0 Rank     PR Games Unit                 Name  player_id
0    1  67.49    36  130       Clerkin, Jerry  [6999778]
1    2  67.00    40  130           Cory, Matt  [7116306]
2    3  65.37    85  124       Vogel, Stephen  [6022197]
3    4  64.40    58  124  Granovetter, Pamela  [1990810]
4    5  63.61    86  130       Fidler, Marcia  [4591135]

d12rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd12rank'

288

'Players missing player_id:'

0   Rank     PR Games Unit                    Name player_id
103  107  56.45    59  137         JOHANSEN, Larry        []
135  139  54.78    55  137         Johansen, Elmer        []
141  145  54.51   128  137           Jacob, Steven        []
143  147  54.39    83  137         Simmer, Carolyn        []
145  149  54.36    69  137  Abramson-Borson, Janet        []
168  172  53.37   143  203         Bonfils, Thomas        []
172  176  53.09   110  203           Goller, Sandy        []
173  177  53.08    90  105       Beazley, Benjamin        []
174  178  53.07    50  137             Allen, Thom        []
181  185  52.67    31  195          Huntoon, Nancy        []
183  187  52.64    91  195            Morris, Judy        []
188  192  52.53    47  137            Smyth, James        []
189  193  52.48    32  137           Gardner, Jane        []
195  199  52.20    60  203           Spiro, Elaine        []
198  202  52.06    77  137          Banker, Nathan        []
202  206  51.96    41  195           PHARES, Woody        []
206  210  51.81    29  195         Manhart, Joseph        []
208  212  51.74    95  195        Cornelius, Karen        []
210  214  51.69    92  137           Ferrera, Barb        []
212  216  51.64   119  195           Bird, Michael        []
214  218  51.58    37  137         Feldman, Daniel        []
220  225  51.44    75  195     O'Connor Wade, Nora        []
228  233  51.00    61  137        Hershman, Irving        []
231  236  50.81    33  195           Mounger, Sara        []
232  237  50.80    64  105          Lefevre, James        []
240  245  50.29    79  195       Malenka, Margaret        []
248  253  50.04    56  195          Sutton, Donald        []
252  257  49.88    48  195         Pruitt, Fleming        []
255  261  49.61    80  195              Camp, Gary        []
256  262  49.55    61  195      Boggiano, Julianne        []
257  263  49.55    91  195          Spaans, Edward        []
271  277  48.59    58  137            Conti, Maria        []
284  290  48.03    70  195         Degroot, Herman        []

0 Rank     PR Games Unit                Name  player_id
0    1  67.13    23  137     Perlman, Howard  [4388992]
1    2  67.12    99  195        Molt, Joanne  [3174379]
2    3  66.71    88  195     Curley, Michael  [8691436]
3    4  66.17   131  137   Hirschman, Martin  [1925369]
4    5  65.83    38  105  Treiber III, Frank  [4021452]

d13rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd13rank'

265

'Players missing player_id:'

0   Rank     PR Games Unit                 Name player_id
117  120  55.17    59  222        McCloud, Ruth        []
119  122  55.10   136  222        Pereles, John        []
130  133  54.68   228  222       Steuer, Robert        []
136  139  54.34    71  123       Rosen, Herbert        []
146  149  53.98   137  222         Haig, Gerald        []
153  156  53.66    52  222       Kollman, Harry        []
155  158  53.61    99  222    Frontczak, Robert        []
165  169  53.06    39  123      Glickman, Edwin        []
171  175  52.79    65  222    Louchbaum, Thomas        []
176  181  52.60    89  222        Picus, Steven        []
214  219  51.37    94  222        Sosnay, Vicki        []
216  221  51.32    97  222     Feldman, Marlene        []
223  228  51.08    41  123            Sopkin, L        []
225  230  51.06    70  222     Walters, Darlene        []
230  235  50.75   110  222       Horowitz, Alan        []
232  237  50.71    69  222        Rubin, Audrey        []
237  242  50.45    82  222        Hersh, Herman        []
238  243  50.33    76  222       Alsteen, Norma        []
241  246  50.12    41  222  Debbink, Lois Ellen        []
254  259  49.33    86  222    Schuelke, Barbara        []
257  262  49.29    26  222          Perlson, Jo        []
259  264  49.09    66  222         Ellis, James        []
260  265  49.06   105  222       Daniels, Susan        []
263  268  48.96    41  222    Karnowski, Thomas        []

0 Rank     PR Games Unit                 Name                                                     player_id
0    1  67.62    61  123      Ginossar, Eldad                                                     [3858529]
1    2  66.94    54  123         Cohen, Larry  [2561255, 4780663, tmp:fd1cf518-b16f-4b01-bae8-95e193d84dc7]
2    3  66.87   119  123  Lishkov, Aleksandar                                                     [1320998]
3    4  66.74    52  149       Ranaldi, Paolo                                                     [5370957]
4    5  65.71    71  123       Ginsburg, Mark                                                     [8009546]

d14rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd14rank'

311

'Players missing player_id:'

0   Rank     PR Games Unit               Name player_id
129  134  54.37    77  216       Ball, Tracey        []
134  139  54.24    92  178  Hughes, Elizabeth        []
153  158  53.60    25  163       Roush, Diane        []
159  164  53.53    33  163   Langenfeld, Alan        []
166  171  53.31    48  103         Akin, Joan        []
185  190  52.71    74  103    Fockler, Arnold        []
211  217  52.04   114  103     Seiler, Steven        []
213  219  52.02   104  103      Hammond, Judy        []
219  225  51.89   100  103      Beard, C Mary        []
220  226  51.84    82  103   Wierzenski, Mary        []
239  246  50.99    42  103           Welte, D        []
309  316  48.38    56  103       Lewis, Joyce        []

0 Rank     PR Games Unit               Name  player_id
0    1  66.61   136  103     Beckman, Terry  [5103010]
1    2  65.39   139  178  Meerschaert, Paul  [5412374]
2    4  64.42    93  178  Schachter, Robert  [6767559]
3    5  64.09    84  162  Barrett, G S Jade  [3530000]
4    6  64.09    47  216       Walsh, Gregg  [8061718]

d15rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd15rank'

57

'Players missing player_id:'

0  Rank     PR Games Unit               Name player_id
20   23  55.36   103  158       Koble, David        []
21   24  54.31    42  167     TOLLISON, Dave        []
27   30  52.14   123  132   Hager, Sandra Jo        []
33   36  50.77    55  132    Phares, Loretta        []
35   38  50.51    61  132  Rogers, Elizabeth        []
37   40  50.03    33  132  Carduff, L Janice        []
44   47  49.18    60  158  Leverson, Marilyn        []
51   55  46.86    53  132   Wright, Margalee        []
56   60  45.61    28  132  Tejano, Esperanza        []

0 Rank     PR Games Unit              Name  player_id
0    1  68.99    36  210        Lair, Mark  [5830400]
1    2  66.58    27  101   Huston, Michael  [4329953]
2    3  66.44    21  132     Kopper, David  [2212501]
3    4  62.18    66  132  Carstedt, Robert  [5366402]
4    5  61.76    83  131       Benoit, Tim  [7453485]

d16rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd16rank'

632

'Players missing player_id:'

0   Rank     PR Games Unit                     Name player_id
246  252  55.19    48  207        Hutchison, Lawton        []
250  256  55.13    84  172      Williams Jr, Samuel        []
259  265  54.99    67  172         Hernandez, Susan        []
287  294  54.57    36  172       SCHUAKHOFER, Chuck        []
303  310  54.24    30  254  Kristjansdottir, Gerdur        []
324  331  53.87    96  172             Allen, Bette        []
327  334  53.81    89  172      McGaffic, Catherine        []
352  359  53.40   107  207            Widen, Arthur        []
385  392  52.72    69  172               Gale, Beth        []
393  401  52.51   120  172           Dawley, Jeanne        []
403  411  52.35    61  183          Simon, Winifred        []
410  418  52.17    76  207           Harris, Sandra        []
429  438  51.81   129  207           Glathar, James        []
462  472  51.40    74  172        Adams Jr, William        []
476  486  51.16   131  172              Neesvig, Jo        []
492  502  50.84   126  172            Sharma, Sisir        []
541  551  50.09    89  172        Weaver, Anyemarie        []
550  560  49.90    42  172         Primerano, Leigh        []
556  566  49.72   115  172         Fafoutakis, Paul        []
574  584  49.28   121  172         Hoffman, Stephen        []
578  588  49.19   140  207        McKenna, Julianne        []
600  610  48.72    28  172         Norvell, William        []
612  622  48.53    69  207           Dayton, Sandra        []
619  629  48.42    71  172           Hsiau, Yao-Hui        []
630  640  48.25    28  172       Squires, Carmeline        []

0 Rank     PR Games Unit               Name  player_id
0    1  71.27    60  174        Wold, Eddie  [3443949]
1    2  68.64    81  176     Compton, Chris  [8007713]
2    3  68.47    49  172  Koneru, Venkatrao  [3250989]
3    4  67.57    47  174       Quinn, Shawn  [5798167]
4    5  66.43   159  174     Erkoc, Timucin  [4793730]

d17rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd17rank'

1086

'Players missing player_id:'

0     Rank     PR Games Unit                   Name player_id
257    263  57.08    47  356                Fill In        []
294    300  56.67    42  354        Pientka, D'Anne        []
387    394  55.45    62  354    KIRKPATRICK, Thomas        []
391    398  55.36    24  373                Fill In        []
394    401  55.32    77  356         McKethen, John        []
408    415  55.17   102  354             KROHN, Jim        []
418    425  55.09    81  356         Pozez, Stephen        []
421    429  55.03    57  356         Opinante, Joan        []
423    431  55.01    72  356       Vanatta, Jerilyn        []
425    433  54.98    42  356   Collinson, Catherine        []
427    435  54.96   101  356          Pilmar, Carol        []
444    452  54.80    71  354      Turberg, Patricia        []
448    456  54.76   126  354                 R, Ali        []
451    459  54.70    39  356        Stromquist, Jon        []
455    463  54.65   141  354         Lavine, Daniel        []
458    466  54.63    80  356             Hinge, Ann        []
464    472  54.58    33  364           Kribs, Karen        []
481    490  54.36    61  354        Bullard, Bunita        []
486    495  54.27   107  354       Berton, Jr, Jack        []
491    500  54.21    47  359    Fung-A-Fat, Shirley        []
513    524  54.03    89  361           Curran, Joan        []
516    527  54.00    45  356        Richman, Arlene        []
537    549  53.78    30  356           Walsh, Susan        []
545    557  53.68    38  356            Meyer, Gail        []
547    559  53.66   114  354        Towner, Richard        []
...    ...    ...   ...  ...                    ...       ...
841    862  50.65    58  354      Neugarten, Andrea        []
849    870  50.59    38  356       Stowers, Roberta        []
851    872  50.54    38  361            Stoxen, Sam        []
861    882  50.44   115  354     MacAllen, Patricia        []
862    883  50.41    54  361       Klesinger, Alice        []
866    887  50.36    49  373     Easterwood, Robert        []
876    897  50.14   110  354          Dulong, Craig        []
899    921  49.92    57  359           Smith, Mindy        []
902    924  49.89    25  373      Borushok, Michael        []
914    936  49.78    42  361        Schley, Shirley        []
919    941  49.74    65  361          Pogge, Judith        []
921    943  49.72    75  356  Cooper-Baker, Rebecca        []
933    955  49.64    29  356      Morrison, Joretta        []
961    983  49.35    65  356       Howland, Shelton        []
965    987  49.33    62  354        Visser, Suzanne        []
976    998  49.28    49  361       Christensen, Kay        []
984   1006  49.18    78  354       Arenson, Jeffrey        []
985   1007  49.18   141  354        Walters, Sandra        []
994   1016  49.09    34  356            Day, Jo-Ann        []
1010  1032  48.89    76  361            Freyer, Kay        []
1026  1049  48.71    65  360         Pilch, Frances        []
1040  1063  48.59    56  361           Demong, Kate        []
1042  1065  48.58    52  356           Vernon, Gene        []
1047  1070  48.55   205  374         Scrivner, Mary        []
1075  1098  48.28    64  356           Bonham, Mary        []

[83 rows x 6 columns]

0 Rank     PR Games Unit                   Name                    player_id
0    1  71.14    86  373            Shi, Sylvia                    [5420105]
1    2  67.98   163  373     Kovachev, Valentin                    [3380211]
2    3  67.21    18  361         Jones, Spencer                    [4377028]
3    4  67.20   201  351  Kristinsson, Bjorgvin                    [9612939]
4    5  66.62    33  373          Miller, Billy  [8142114, 5120748, 3367193]

d18rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd18rank'

224

'Players missing player_id:'

0   Rank     PR Games Unit                  Name player_id
64    65  54.80    50  396     Christensen, Dana        []
68    69  54.57    51  405        Carroll, Janet        []
84    85  53.95    28  391          Kondor, Erin        []
111  113  52.85    34  411         Tilzey, James        []
121  123  52.55    86  390         MELLOR, David        []
131  133  51.88    50  573        Connell, Lance        []
135  137  51.76    35  386        Lemmon, A Anne        []
137  139  51.70    38  396        Lee, G Richard        []
145  147  51.25    38  412           ALEX, Annie        []
156  158  50.66    84  417         Loehnen, Beth        []
186  188  49.41    63  396     Gentillon, Randal        []
194  196  49.04    41  573  Tallentire, Jennifer        []
206  208  48.25    62  396         Ormond, Carol        []
209  211  48.10   123  573        Duczek, Angela        []

0 Rank     PR Games Unit              Name  player_id
0    1  65.61    44  573          Gee, Ken  [4118944]
1    2  64.62   103  412  Boreson, Michael  [2934817]
2    3  62.99    53  573      Young, Kevin  [6202411]
3    4  62.55    64  386    Towner, Steven  [6560105]
4    5  61.94    75  417     Halfpap, Brad  [2679035]

d19rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd19rank'

545

'Players missing player_id:'

0   Rank     PR Games Unit                     Name player_id
130  131  57.33    37  454  D'Litzenberger, Richard        []
208  209  55.21   179  431           Brodrick, John        []
212  213  55.16   146  446          Thompson, James        []
279  281  54.03    94  425        Tucker MD, Steven        []
287  289  53.88    42  443          Deutsch, Eileen        []
289  291  53.83    71  446          Gelfand, Martin        []
292  294  53.80    56  448               Gellner, R        []
299  301  53.69    72  454              Gunn, Maude        []
317  319  53.43    48  446           Huffman, Edith        []
327  330  53.11   124  441          Julius, William        []
329  332  53.10    58  441          Haines, Michael        []
331  334  53.04    60  443           Lambert, Wilma        []
346  349  52.85    40  433  Norton-Nader, Rose Mari        []
361  364  52.48    61  454         Beattiger, Terry        []
362  365  52.48    56  446                Ginter, R        []
363  366  52.44    54  454            Cowan, Barbra        []
367  370  52.40    75  425            Pfanner, Duff        []
370  373  52.34    70  441           McVay, Valerie        []
389  394  51.93    49  453      Worthington, Kathie        []
400  405  51.66    38  443           Wiitala, James        []
402  407  51.64    56  454          Robards, Whilma        []
413  418  51.47    74  441         Griesmeyer, Gary        []
414  419  51.45    26  448             Bucher, Roma        []
415  420  51.45    20  431               WIGEN, Ken        []
424  429  51.26    68  453          Priest, Carolyn        []
430  435  51.20    56  430          Huang, Jinsheng        []
435  440  51.10    38  441          Scroggins, Glen        []
441  446  50.89    66  448         Biel, Jacqueline        []
443  448  50.87    91  446        Campbell, William        []
445  450  50.80    31  454             HAAS, George        []
448  453  50.77    48  441           Sjoblom, Nancy        []
457  462  50.53    87  446           Potter, Martha        []
462  467  50.43    54  443             Zander, Rick        []
474  479  50.28    57  431      Scott-Kerr, Michael        []
490  495  50.03    56  433          Hunter, Susanna        []
491  496  50.02    68  454          Kinney, Barbara        []
494  499  49.96    65  454             Morris, Nobi        []
503  508  49.77    85  443            Hills, Sharon        []
508  513  49.66   183  441        Delducco, Stanley        []
514  519  49.41    71  454           Olson, Marilyn        []
517  522  49.32    58  454           Simmons, Trish        []
534  539  48.88    85  451          Canfield, James        []
543  548  48.55    67  446           Urban, Stephen        []
544  549  48.54   131  441          Delducco, Carla        []

0 Rank     PR Games Unit             Name  player_id
0    1  66.83    92  431    Smith, Duncan  [8093873]
1    2  66.64    91  437  Carmichael, Tom  [6520898]
2    3  66.31    54  451      Freeman, Ed  [6575692]
3    4  66.01    65  446   Steiner, Harry  [7951760]
4    5  65.80    53  431     Fraser, Doug  [1266365]

d20rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd20rank'

386

'Players missing player_id:'

0   Rank     PR Games Unit                     Name player_id
138  140  55.22   151  452           Burns, Charles        []
145  147  55.10    68  481           Berens, Cheryl        []
155  157  54.70    63  487                  Peel, R        []
210  212  52.91    38  471       Grafe, Leon Joseph        []
230  232  52.24    76  487           Mc Cluer, Dick        []
240  242  51.86    49  452            O'Hara, Susan        []
246  249  51.72    39  481        Schmidt, Margaret        []
263  267  51.15    28  490             Westine, Day        []
283  287  50.61    73  479              Egger, Mary        []
289  293  50.47    54  490           Lake, Claudine        []
295  299  50.20    90  452            Dove Sr, John        []
301  305  49.95    54  481              Hann, Linda        []
327  332  49.13    79  487          Sharples, Karen        []
331  336  48.90    76  487  Sinclair-Brooks, Virgin        []
335  340  48.74    48  481           Watson, Donald        []
341  346  48.37    57  490               Page, Joan        []
347  352  48.28    43  452           LUXFORD, Bruce        []
349  354  48.21    56  481        Chamberlain, Seth        []
361  366  47.63    35  452   Lacombe-Ingham, Sherry        []
362  367  47.62    48  490             Owens, Susan        []
367  372  47.58    31  452          Graham, Darrell        []

0 Rank     PR Games Unit                    Name  player_id
0    1  67.28    22  487          Wiegand, Chris  [6520871]
1    2  67.15   177  487  Beauchet, Louis-Amaury  [3712672]
2    3  64.81    79  487            Ashton, John  [4094697]
3    4  64.71    55  470          Chang, Godfrey  [8604363]
4    5  64.11    31  394           Gerould, Romy  [7188331]

d21rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd21rank'

605

'Players missing player_id:'

0   Rank     PR Games Unit                  Name player_id
118  120  59.15    86  507         Luo, Luen-Jyh        []
230  232  56.62    83  530               Maja, -        []
322  324  54.87    51  524          Craig, James        []
327  329  54.79    49  506         Abbott, Maria        []
340  342  54.62    58  550        Slinger, Susan        []
419  422  53.34    69  503  Papermaster, Kathryn        []
502  508  51.89    69  506      Drayer, Michaele        []
508  514  51.75    64  550         Stone, Ginger        []
513  519  51.66    58  550     Oppenheimer, John        []
549  555  50.91    68  550          Benich, John        []
582  588  50.28    59  473    Greenthal, Richard        []

0 Rank     PR Games Unit               Name                                                                                   player_id
0    1  66.97    63  507        Yokel, Lynn                                                                                   [2412764]
1    2  66.91    47  508    Thomson, Robert                                                                                   [3764583]
2    3  66.78    34  506       Roche, Robin                                                                                   [1465120]
3    4  66.53    28  505           Jones, D  [1287273, 1518003, 7003439, 3326810, 6865054, 5401593, 4086279, 5277566, 8788669, 6004709]
4    5  66.30    68  503  Rosenberg, Debbie                                                                                   [8459274]

d22rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd22rank'

634

'Players missing player_id:'

0   Rank     PR Games Unit                 Name player_id
7      8  65.02   124  539  Madison-Jammal, Sam        []
239  245  54.50   127  533           Duff, Rose        []
252  258  54.30    53  526     Seagren, Stephen        []
268  274  54.10    37  525     Malone, Kathleen        []
290  296  53.88    73  525       MARKS, Stewart        []
305  311  53.67    53  515    Ogura, Neil Nobuo        []
323  329  53.33    99  533    Layne Carr, Suzie        []
345  351  52.93    64  539      Rossman, Ross L        []
361  367  52.79    53  519       Roberts, Larry        []
365  371  52.75    21  547  TAVARD, Jean-Claude        []
366  372  52.74   132  533       Kazee, William        []
371  377  52.56    50  539       Bierman, Jerry        []
374  380  52.53    27  525           EMAM, Amin        []
376  382  52.51    57  533      Graves, Herbert        []
379  385  52.50    38  525         Murray, Mike        []
383  389  52.46   144  538       Hecht, Jeffrey        []
399  405  52.16    54  515    O'Donnell, Bonnie        []
451  458  51.45    21  526     Moyer, Katherine        []
456  464  51.33    64  532         LEBOW, Brian        []
458  466  51.31    95  525       Bowman, Arthur        []
461  469  51.26    72  538        Wadhwa, Ashok        []
479  487  50.91    68  547   Pemberton, Leander        []
495  503  50.66    54  539     Mollenkopf, Gary        []
505  513  50.53    47  538     Porter, Jennifer        []
514  522  50.36    75  539          Burke, Toby        []
531  539  50.09    36  538        Kanow, Carole        []
546  554  49.71    41  538        Pratt, Sharon        []
557  565  49.49    33  534    Swanson, Patricia        []
582  590  49.12    55  538         Zevin, Jerry        []
590  598  48.83    67  539          Bowyer, Deb        []
593  601  48.78    40  539         Dubois, Paul        []
594  602  48.78    28  531   McInerny, Nicholas        []
600  608  48.71   102  532      Berger, Shirlee        []
609  618  48.54    68  526    Hedenberg, Debbie        []
615  624  48.42    45  538       McCord, Teresa        []
619  628  48.37    38  526       Dinnsen, Sandy        []
621  630  48.33    45  525      SAMUELS, Helene        []

0 Rank     PR Games Unit               Name  player_id
0    1  71.02   201  538     Itabashi, Mark  [6811434]
1    2  69.37   117  525       Gao, Sherman  [2510154]
2    3  66.72    54  547     Kolesnik, Finn  [7333986]
3    4  66.11    98  525  Martorina, Nunzio  [6726399]
4    5  65.42    93  547    Clarke, Charles  [2076608]

d23rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd23rank'

375

'Players missing player_id:'

0   Rank     PR Games Unit              Name player_id
159  164  55.08    34  553           Fill In        []
185  190  54.28   105  559  Belcher, R Gerry        []
206  211  53.69    63  561     Beagle, Wayne        []
219  224  53.44   123  557      Rowe, Steven        []
256  262  52.64    85  553   Licker, Stephen        []
349  357  49.79    99  568     Tomic, Judith        []
360  368  49.33    41  562   Kangas, Stanley        []
361  369  49.32    75  568   McGory, Michael        []
369  377  49.02    39  561           Shah, A        []

0 Rank     PR Games Unit               Name  player_id
0    1  67.59   170  562    Baqai, Iftikhar  [7532466]
1    2  66.02   130  561      Dunitz, Mitch  [4240146]
2    3  65.74    75  553  Cardullo, Patrick  [8395969]
3    4  65.72   198  562  Anikovich, Viktor  [9145958]
4    5  65.28    25  556    Markarian, Paul  [2940574]

d24rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd24rank'

775

'Players missing player_id:'

0   Rank     PR Games Unit                  Name player_id
194  195  56.73   158  155          FARMAN, Pari        []
282  284  54.74   163  242          Earley, John        []
320  322  54.06   152  242        Roseman, Holly        []
366  368  53.42   111  155      Fazzolari, James        []
373  375  53.34    78  155      Weinreb, Herbert        []
383  385  53.21   125  155       Grant, Kaydette        []
386  388  53.16    96  155        Hearn, Jeffrey        []
419  422  52.68    93  242       Carlin, Carolyn        []
437  440  52.42    41  242          Plant, Nancy        []
441  444  52.29    39  242       Shulman, Martin        []
454  457  52.19    47  242          Kahn, Elaine        []
477  480  51.96    31  242         Shostak, Lucy        []
478  481  51.93    88  242       Morici, Richard        []
485  488  51.85    29  155          Baker, James        []
494  497  51.74    76  242   Fehrenbach, Shelley        []
497  500  51.70   230  242          Tarhan, Drew        []
501  504  51.66    31  155        Osborn, Donald        []
502  505  51.66   104  242       Goldin, Phyllis        []
506  509  51.63   101  242         Fein, Frances        []
508  511  51.60    95  155       Esses, Beatrice        []
518  521  51.47    87  155        Robbins, Karen        []
541  544  51.25    55  242       Morici, Silvana        []
552  555  51.09    82  242       Shutkind, Helen        []
554  557  51.09    29  155       SHAMASH, Jackie        []
557  560  51.07    96  242         Isser, Eileen        []
559  562  51.04   145  242            Block, Ann        []
562  565  50.99   100  242           Trepper, Ed        []
564  567  50.95    78  155            Wilf, Beth        []
574  577  50.79    94  242      Schwartz, Louise        []
594  598  50.60    16  155        Serure, Esther        []
608  612  50.38    27  155         SILVERA, Nina        []
613  617  50.30    46  242         Zeiter, Lynne        []
617  621  50.22    81  155         Hudak, Nicole        []
624  628  50.09    46  155     Chwatsky, Harriet        []
633  637  49.95   115  155      Muccillo, Sandra        []
645  649  49.84    61  155          Ochlan, Nick        []
650  654  49.78   106  242   Blumenfeld, Herbert        []
662  666  49.62    51  242     Boyarsky, Barbara        []
664  668  49.61    32  242         Fields, Elyse        []
690  694  49.30   143  242        Tarhan, Yalcin        []
693  697  49.28    59  155     Shabry, Fryderyka        []
701  705  49.15    77  155      Goodspeed, Joann        []
703  707  49.10   119  242  Kirshenbaum, Shelley        []
724  728  48.75    68  242      Pearlson, Warren        []
740  744  48.53    71  242  Schneider, Dominique        []
748  752  48.44    91  242        Sickle, Sandie        []
750  754  48.40    62  242        Perrin, Steven        []
759  763  48.32    29  155        Otero, Maureen        []

0 Rank     PR Games Unit            Name  player_id
0    1  69.67    77  155    Nathan, Marc  [1621807]
1    2  69.37   198  155  Rotaru, Iulian  [7066325]
2    3  69.34   153  155    Nistor, Radu  [5123151]
3    4  69.13   119  155       Grue, Joe  [8542341]
4    5  68.45   150  155     Radin, Judi  [4389751]

d25rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd25rank'

501

'Players missing player_id:'

0   Rank     PR Games Unit                     Name player_id
104  106  58.21    47  108         Swan, Jr., James        []
217  221  55.13    28  126  Rudikoff, M.D., Jeffrey        []
232  236  54.74   122  108            Keegan, James        []
259  263  53.98    73  196             Hyde, Judith        []
265  269  53.83    74  108           Muggia, Albert        []
281  285  53.44   208  108      Carroll, Livingston        []
305  309  53.10   101  189          Michaud, Robert        []
346  350  52.28    92  108       Khaitan, Viswanath        []
366  370  51.81    53  126            Coppa, Eugene        []
394  399  50.93    96  108             Hunt, Samuel        []
427  432  50.18    47  196             Weld, Donald        []
448  453  49.76    88  126       Montellese, Eileen        []
458  463  49.65    57  108          PLAYER, Fill-In        []
468  473  49.38    54  126      Olschefski, Phillip        []
481  486  49.00    68  126          Gruskay, Robert        []
491  496  48.82    30  196           Coburn, Donald        []
494  499  48.80    23  196           Putnam, Judith        []

0 Rank     PR Games Unit               Name  player_id
0    1  72.09   137  108  Grossack, Zachary  [2250896]
1    2  68.62    50  108     Grossack, Adam  [8808155]
2    3  66.87   114  150     Arvedon, Lloyd  [4592433]
3    5  65.25    37  126      Stiefel, John  [4396715]
4    6  64.90   137  108       Aquino, Mark  [3627667]

d99rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd99rank'

12

'Players missing player_id:'

0  Rank     PR Games Unit               Name player_id
4     5  60.71    18  999      Lee, Kang-Won        []
7     8  55.26    57  999      SHIELS, Brian        []
8     9  53.63    93  999     Lapage, Robert        []
9    10  53.54   101  999  Bruchansky, Peggy        []
11   12  50.69    88  999         Traub, Dan        []

0 Rank     PR Games Unit                  Name  player_id
0    1  66.76   153  999   Isporski, Vladislav  [4972619]
1    2  64.38    22  999  Sigurjonsson, Julius  [5162823]
2    3  62.90   131  999     Friedlander, Ehud  [4074009]
3    4  62.52    35  999          Zadroga, Jan  [4410165]
4    5  60.71    18  999         Lee, Kang-Won         []

In [16]:
# do some validation
for k,df in dfsd.items():
    print(k,df.columns)
    if 'player_id' in df:
        for l in df['player_id'].values:
            assert type(l) is list, [type(l),l]
            for v in l:
                assert type(v) is str, v
    elif 'pair_ids' in df:
        for ll in df['pair_ids'].values:
            assert type(ll) is list, [type(ll),ll]
            for l in ll:
                assert type(l) is list, [type(l),l]
                for v in l:
                    assert type(v) is str, v
    else:
        assert False

allmps Index(['Rank', 'MP's', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
allpr Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
improv6 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
improv12 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
improv24 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
underate Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PR', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
urpairs Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PairR', 'Unit', 'Names', 'pair_ids'], dtype='object', name=0)
d1rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d2rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d3rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d4rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d5rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d6rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d7rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d8rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d9rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d10rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d11rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d12rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d13rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d14rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d15rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d16rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d17rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d18rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d19rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d20rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d21rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d22rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d23rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d24rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d25rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)
d99rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0)