In [1]:
# takes  1m30s
# download tables from https://www.bridgepowerratings.com/prhome.htm
# use acbl api to convert Name into player_id.
# create dicts helpful to converting Name->player_id and player_id->Name.
# deal with duplicate names and missing player_ids.

# previous steps:
# none

# next steps:
# merge bpr data in acbl_pair_summaries.ipynb and useful places.

# todo:
# implement teams (4+ players) similar to list used in pair_ids.
# should keys in acbl_player_name_to_id_dict use casefold() or not?

In [2]:
import pandas as pd
import pathlib
from collections import defaultdict
import mlBridgeLib

In [3]:
# override pandas display options
mlBridgeLib.pd_options_display()

In [4]:
rootPath = pathlib.Path('e:/bridge/data')
acblPath = rootPath.joinpath('acbl')
acblPath.mkdir(parents=True,exist_ok=True)
bprPath = rootPath.joinpath('bpr')
bprPath.mkdir(parents=True,exist_ok=True)

In [5]:
# takes 70s
# create dataframes from bridgepowerratings.com webpage tables.
# experimenting with flavor='bs4'. seems to be faster for this webpage.
pages = ['WEBPAGES/allmps.htm','WEBPAGES/allpr.htm','WEBPAGES/DISTRICT/d9rank.htm','WEBPAGES/improv6.htm','WEBPAGES/improv12.htm','WEBPAGES/improv24.htm','WEBPAGES/underate.htm','WEBPAGES/urpairs.htm']
dfsd = {}
for p in pages:
    url = f'https://www.bridgepowerratings.com/{p}'
    print(f'Reading: {url}')
    # read_html() retuns a list of dataframes. The dataframes are populated from tables embedded in the html.
    dfs = pd.read_html(url, flavor='bs4', encoding='UTF8')
    print(f'Table count: {len(dfs)}')
    dfs = [v for v in dfs if len(set(v.iloc[0])) != len(v.iloc[0])] # kludgy way to detect and bypass any tables which are composed of shortcuts to names.
    row1_cols = dfs[0].iloc[0]
    ncols = len(row1_cols)
    nnames = len(set(row1_cols))
    col_names = row1_cols[:nnames]
    #print(row1_cols,ncols,nnames,col_names)
    df = pd.concat([pd.DataFrame(df.iloc[1:,ncol:ncol+nnames].values,columns=col_names) for df in dfs for ncol in range(0,ncols,nnames)],ignore_index=True).dropna()
    # use url to create a filename
    n = pathlib.Path(url).stem
    dfsd[n] = df
    display(df)

Reading: https://www.bridgepowerratings.com/WEBPAGES/allmps.htm
Table count: 53

0     Rank      MP's Unit                     Name
0        1  92862.58  128         Meckstroth, Jeff
1        2  87910.58  176            Passell, Mike
2        3  78168.46  128            Rodwell, Eric
3        4  76525.13  174              Wold, Eddie
4        5  71817.34  210               Lair, Mark
5        6  62350.16  538           Itabashi, Mark
6        7  51506.72  373           Hampson, Geoff
7        8  50419.44  176           Compton, Chris
8        9  47550.39  373            Levin, Robert
9       10  46419.44  373            Cheek, Curtis
10      11  45553.16  373            Jacobus, Marc
11      12  44616.04  147          Robinson, Steve
12      13  44544.18  147              LaSota, Leo
13      14  44328.07  179              Said, Chuck
14      15  44315.39  128         Berkowitz, David
15      16  43328.01  373          Ferguson, Bruce
16      17  43321.59  147             Sontag, Alan
17      18  39358.73  123               Smith, Ron
18      19  39250.62  161           Siebert, Allan
19      20  38882.81  176              Hamman, Bob
20      21  37940.10  373           Hamilton, Fred
21      22  37283.55  373            Miller, Billy
22      23  36506.64  508            Simpson, Gene
23      24  35925.64  128              Stout, Alan
24      25  35174.67  128        Cappelletti, Mike
...    ...       ...  ...                      ...
4975  4976   3958.93  108           Charron, Grace
4976  4977   3958.33  207         Mahajan, Swadesh
4977  4978   3958.17  192            McKellar, Jim
4978  4979   3958.10  351     Quenneville, Charles
4979  4980   3957.10  123            Erickson, Sue
4980  4981   3956.61  109     Hagenlocker, Richard
4981  4982   3956.16  355            Hanna, Janice
4982  4983   3955.42  176              Chan, Molan
4983  4984   3955.12  533           Grubb, Roberta
4984  4985   3954.72  244        Bumgardner, Bobby
4985  4986   3954.22  351                Yee, Lily
4986  4987   3953.24  360             Black, James
4987  4988   3951.54  123           Ralston, Gitta
4988  4989   3950.92  505            Fein, Sheldon
4989  4990   3950.41  513             Sacks, Harry
4990  4991   3949.38  451             Epley, Karen
4991  4992   3949.14  507           Talia, Panette
4992  4993   3949.11  168          Sheaffer, Andie
4993  4994   3949.05  146       Kennedy, J Darrell
4994  4995   3948.40  160            Horak, George
4995  4996   3947.79  354       Abinanti, Marigail
4996  4997   3947.44  109              Burrus, Ann
4997  4998   3945.79  128            Gordon, James
4998  4999   3945.35  141  Rubinstien, Yacob(Jacob
4999  5000   3944.89  103             Okubo, Randy

[5000 rows x 4 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/allpr.htm
Table count: 51

0     Rank     PR Games Unit                 Name
0        1  72.09   137  108    Grossack, Zachary
1        2  71.27    60  174          Wold, Eddie
2        3  71.14    86  373          Shi, Sylvia
3        4  71.02   201  538       Itabashi, Mark
4        5  71.01   164  128    Cappelletti, Mike
5        6  70.76    47  128     Meckstroth, Jeff
6        7  70.28   131  151    Pollack, Frederic
7        8  69.67    77  155         Nathan, Marc
8        9  69.59    69  128      Stamatov, Jerry
9       10  69.37   198  155       Rotaru, Iulian
10      11  69.37   117  525         Gao, Sherman
11      12  69.34   153  155         Nistor, Radu
12      13  69.13    50  128        Rodwell, Eric
13      14  69.13   119  155            Grue, Joe
14      15  68.99    36  210           Lair, Mark
15      17  68.76   170  239         Snyder, Jack
16      18  68.64    81  176       Compton, Chris
17      19  68.62    50  108       Grossack, Adam
18      20  68.47    49  172    Koneru, Venkatrao
19      21  68.45   150  155          Radin, Judi
20      22  68.43    28  119     Ayyagari, Murthy
21      23  68.40    34  155           Hurd, John
22      24  68.38    66  243    Pavlicek, Richard
23      25  68.18    36  144      Oshlag, Richard
24      26  67.98   163  373   Kovachev, Valentin
...    ...    ...   ...  ...                  ...
4828  4902  55.45    62  354  KIRKPATRICK, Thomas
4829  4903  55.45   144  448         Coones, Beth
4830  4904  55.45   106  470           Choi, Jean
4831  4905  55.45    24  128    Wentworth, Cassie
4832  4906  55.45    75  452         Sather, John
4833  4907  55.45    36  128       Saiman, Martin
4834  4908  55.45    34  539     Lawrence, Pamela
4835  4909  55.45    68  243       Abern, Wendell
4836  4910  55.45   118  240     Goodman, Stanley
4837  4911  55.44    46  374     Zimmerman, Susan
4838  4912  55.44    31  247        Tyler, Robbie
4839  4913  55.44   129  437       Ulrich, Joseph
4840  4914  55.44    74  140       Bauman, Edward
4841  4915  55.44   142  205    Woodfine, William
4842  4916  55.44    17  117       Schmidt, Ellen
4843  4917  55.44    47  219    Polangin, Richard
4844  4918  55.44    33  539  Beckerman, Madeline
4845  4919  55.44    47  147       Schepps, Hanna
4846  4920  55.44    89  123         Harris Jr, W
4847  4921  55.44    50  151        Adelson, Gail
4848  4922  55.43    33  562       Virgo, Carolyn
4849  4923  55.43    79  144    Lightman, Stephen
4850  4924  55.43    21  354         Kasle, Carol
4851  4925  55.43   135  562            Lee, Dawn
4852  4926  55.43    89  246    Greenberg, Hilton

[4853 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/DISTRICT/d9rank.htm
Table count: 34

0     Rank     PR Games Unit                   Name
0        1  71.01   164  128      Cappelletti, Mike
1        2  70.76    47  128       Meckstroth, Jeff
2        3  69.59    69  128        Stamatov, Jerry
3        4  69.13    50  128          Rodwell, Eric
4        5  68.38    66  243      Pavlicek, Richard
5        6  67.42    97  243         Castillo, Juan
6        7  67.35    65  128     Kristinsson, Jakob
7        8  67.12    48  128         Wolpert, Gavin
8        9  66.77   181  128          Ganness, Sean
9       10  66.69    47  128         Stauber, Allan
10      11  66.59   113  128          Hanson, Keith
11      12  66.47   150  128          Krantz, Corey
12      13  66.39    69  128         Tornay, Claire
13      14  66.36   198  243        Silverman, Neil
14      15  66.14   121  219           Todd, Robert
15      16  66.10   131  128          Yousry, Ahmed
16      17  66.05    47  128        Danailov, Diyan
17      18  65.92    85  243        Shenkin, Barnet
18      19  65.76   132  128          Hanlon, Ellie
19      20  65.69   165  128          Macrae, David
20      21  65.53   110  243  Seamon-Molson, Janice
21      22  65.45    39  128           Ehlers, Will
22      23  65.36    48  128        Bathurst, Kevin
23      24  65.29    66  128       Davidson, Ranald
24      25  65.26   119  243      Kislitsyna, Irina
...    ...    ...   ...  ...                    ...
3074  3102  47.35    89  219            Ross, Nancy
3075  3103  47.34    74  128        Jarchow, Ronald
3076  3104  47.34   107  240             Davis, Dot
3077  3105  47.34    71  102          Shander, Fred
3078  3106  47.33    84  128             Hume, Noni
3079  3107  47.33    83  128      Kitchens, Allison
3080  3108  47.33   118  128        Gilman, Deborah
3081  3109  47.33    77  128    Williamson, Theresa
3082  3110  47.32    49  128         Twitty, Tricia
3083  3111  47.32    75  128         Schrand, Susan
3084  3112  47.32    87  240         Gelberg, Ellen
3085  3113  47.31   103  128           Schloss, Mel
3086  3114  47.31    84  128          Dutton, Anton
3087  3115  47.30    56  243       Pennington, Jill
3088  3116  47.30   121  128     Nightingale, Ginny
3089  3117  47.30    86  128       Rosado, Cristina
3090  3118  47.30    30  240        Lambert, Louise
3091  3119  47.29    53  128      Kasen, Jacqueline
3092  3120  47.29    41  128          Porter, Larry
3093  3121  47.29    38  128      McCloskey, Margie
3094  3122  47.29    22  128          Albin, Sidney
3095  3123  47.29    68  128           Zaczek, Leon
3096  3124  47.29   128  240     Radcliffe, Rosalie
3097  3125  47.28    20  128      Black, Van Thomas
3098  3126  47.28    48  128            Fox, Thomas

[3099 rows x 5 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/improv6.htm
Table count: 52

0     Rank last/PR old/PR PR/inc Unit                  Name
0        1   55.48  49.81   5.67  114         Cone, Cynthia
1        2   50.50  44.90   5.60  243         Chance, Doris
2        3   61.08  55.65   5.43  128          Land, Jeanne
3        4   40.47  35.14   5.34  159          Warach, Jane
4        5   56.37  51.06   5.31  128     Baniewicz, Jeanne
5        6   49.62  44.70   4.92  246    McGrath, Kimberley
6        7   51.58  46.69   4.88  547           Acutt, Iris
7        8   60.78  55.93   4.86  189  Zamierowski, Barbara
8        9   47.83  42.99   4.84  114       Bedgood, Cheryl
9       10   50.31  45.54   4.78  128    Wallace, Constance
10      11   50.77  46.13   4.64  189   Fitzpatrick, Bonnie
11      12   49.84  45.24   4.60  439       Maxson, William
12      13   45.41  40.88   4.53  144         Stanton, Joan
13      14   53.21  48.69   4.52  140         Armus, Nadine
14      15   58.65  54.16   4.49  201     Fisher, Ernestine
15      16   53.29  48.90   4.39  102            Jhee, Yoon
16      17   49.50  45.13   4.37  128         Noles, Bonita
17      18   57.32  53.05   4.27  224       Sadler, Michael
18      19   44.05  39.78   4.27  112     Lipari, Ann Marie
19      20   52.39  48.17   4.22  240           Gurley, Eva
20      21   45.23  41.04   4.19  354         Fishman, Rose
21      22   43.94  39.80   4.14  128          Joyce, Karen
22      23   58.37  54.25   4.12  128        Schmetz, Diane
23      24   53.23  49.15   4.08  201           Rising, Lou
24      25   60.94  56.91   4.03  155         Dinoff, Frank
...    ...     ...    ...    ...  ...                   ...
4919  4976   49.92  49.26   0.66  562       Haines, Barbara
4920  4977   45.69  45.03   0.66  174       Annenkova, Vera
4921  4978   46.73  46.07   0.66  151       Poplaw, Beverly
4922  4979   44.97  44.32   0.66  124            Jung, Elva
4923  4980   60.44  59.78   0.66  507        Langlois, Bill
4924  4981   59.28  58.62   0.66  487   Coquillette, Connie
4925  4982   49.47  48.82   0.66  126           Kuzma, Ruth
4926  4983   64.00  63.35   0.66  130        Fidler, Marcia
4927  4984   56.34  55.68   0.66  161        Hodges, Evelyn
4928  4985   56.84  56.19   0.66  205       White, Mary Ann
4929  4986   53.57  52.91   0.66  139        Kelly, Carolyn
4930  4987   61.53  60.87   0.66  425          Rais, Edward
4931  4988   61.28  60.62   0.66  119      Ehrenhaft, Henry
4932  4989   52.04  51.38   0.66  557         Renkus, Linda
4933  4990   57.92  57.27   0.65  128       Musinsky, Irene
4934  4991   51.80  51.15   0.65  476      McClellan, Betty
4935  4992   50.41  49.75   0.65  103          Santa, Betty
4936  4993   47.32  46.67   0.65  130         Stone, Daniel
4937  4994   61.26  60.60   0.65  133          Bell, Walter
4938  4995   56.84  56.19   0.65  354       Pientka, D'Anne
4939  4996   58.08  57.42   0.65  506          Porter, Gary
4940  4997   52.20  51.54   0.65  119       Davison, Edward
4941  4998   55.98  55.33   0.65  128           Weiss, Fran
4942  4999   53.02  52.37   0.65  186        Goldman, Ilene
4943  5000   55.70  55.04   0.65  547        Brett, Marilyn

[4944 rows x 6 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/improv12.htm
Table count: 52

0     Rank last/PR old/PR PR/inc Unit                  Name
0        1   50.77  43.24   7.52  189   Fitzpatrick, Bonnie
1        2   47.76  40.89   6.87  373    Koziol, Malgorzata
2        3   56.37  49.53   6.84  128     Baniewicz, Jeanne
3        4   49.91  43.30   6.61  452     Krasovic, Valarie
4        5   53.21  46.70   6.51  140         Armus, Nadine
5        6   58.14  51.74   6.39  128          Lieser, John
6        7   58.65  52.27   6.38  201     Fisher, Ernestine
7        8   51.58  45.21   6.37  547           Acutt, Iris
8        9   61.69  55.53   6.16  470      Williams, Busaba
9       10   46.73  40.67   6.06  219           Cox, Ronald
10      11   57.32  51.28   6.05  224       Sadler, Michael
11      12   47.83  41.91   5.92  114       Bedgood, Cheryl
12      13   49.08  43.41   5.67  128          Cohn, Donald
13      14   40.47  35.02   5.45  159          Warach, Jane
14      15   56.65  51.21   5.44  141       Gilbert, Claire
15      16   55.92  50.59   5.33  103       Burkley, Pamela
16      17   55.27  50.17   5.10  155           Warren, Mee
17      18   63.18  58.12   5.06  179      Strayhorn, David
18      19   52.96  47.91   5.05  178     Holmquist, George
19      20   60.78  55.75   5.03  189  Zamierowski, Barbara
20      21   56.62  51.63   4.99  160    PRITCHARD, Carolyn
21      22   48.83  43.90   4.92  114         Macfie, Sissy
22      23   60.94  56.02   4.92  128             Hornak, J
23      24   63.08  58.18   4.90  243     Feinstein, Marvin
24      25   48.44  43.56   4.89  195       Swanson, Maxine
...    ...     ...    ...    ...  ...                   ...
4925  4976   48.68  47.83   0.85  128          Wilkey, Sari
4926  4977   60.08  59.22   0.85  128       Jabbour, Sharon
4927  4978   45.32  44.47   0.85  412        Deck, Christie
4928  4979   55.02  54.17   0.85  557         Baccus, Verna
4929  4980   51.06  50.21   0.85  128          Hazan, Donna
4930  4981   52.59  51.73   0.85  533      Rappaport, Frank
4931  4982   58.89  58.04   0.85  503            Huang, Tom
4932  4983   48.36  47.50   0.85  374         French, Janet
4933  4984   52.20  51.35   0.85  139         Hartman, Paul
4934  4985   58.12  57.26   0.85  155          Yellis, Lisa
4935  4986   42.63  41.77   0.85  240         Fox, Patricia
4936  4987   45.38  44.53   0.85  143          Eiger, Susan
4937  4988   53.62  52.77   0.85  165         Wright, Jerry
4938  4989   48.75  47.90   0.85  114           Cruse, Jane
4939  4990   49.80  48.94   0.85  525     Lehrfeld, Michael
4940  4991   49.15  48.30   0.85  128      Darnell, Richard
4941  4992   42.12  41.27   0.85  487         Kessler, Mary
4942  4993   52.52  51.67   0.85  174         Hink, Phyllis
4943  4994   48.54  47.69   0.85  243          Kalen, Trudy
4944  4995   52.33  51.47   0.85  242     Blumenfeld, Peggy
4945  4996   57.85  57.00   0.85  179        Lowen, Rebecca
4946  4997   47.76  46.91   0.85  130       Trudgen, Thelma
4947  4998   58.93  58.08   0.85  356          Lewis, Kevin
4948  4999   58.95  58.10   0.85  155       Steinberg, Nina
4949  5000   51.12  50.27   0.85  354          Davis, Merri

[4950 rows x 6 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/improv24.htm
Table count: 3

0   Rank last/PR old/PR PR/inc Unit                  Name
0      1   63.74  57.30   6.45  503         Kemper, Carol
1      2   68.27  61.88   6.39  119      Ayyagari, Murthy
2      3   55.95  49.73   6.21  196           Drabek, Yan
3      4   60.36  54.20   6.17  425      Schmahl, Michael
4      5   66.46  60.92   5.54  132         Kopper, David
5      6   60.73  55.23   5.50  531      Denny, Christine
6      7   58.49  53.04   5.45  373      Williams, Daniel
7      8   58.11  52.66   5.44  136          Harner, Lori
8      9   62.27  56.91   5.36  506           Chen, Chris
9     10   62.79  57.66   5.12  374         Harris, Cindy
10    11   63.47  58.47   5.00  207     McMinn III, Wiley
11    12   56.34  51.52   4.83  243         Franco, Jorge
12    13   60.06  55.32   4.75  207        Naimoli, Peter
13    14   62.50  57.86   4.65  114           Mabee, Carl
14    15   63.36  58.73   4.63  172       Jackson, Daniel
15    16   62.38  57.87   4.51  207         Langer, Jarek
16    17   64.19  59.75   4.44  128   McClendon, Robert L
17    18   58.07  53.86   4.21  361          Carson, Skip
18    19   60.16  55.97   4.19  503        Schireson, Max
19    20   57.40  53.29   4.11  114          Stalvey, Ray
20    21   58.93  54.83   4.10  126            Wu, Vivian
21    22   46.33  42.34   3.99  172            Tom, Nancy
22    23   60.60  56.70   3.89  500      Jeyakumar, Rajan
23    24   55.85  52.13   3.71  108     Srimurthy, Vikram
24    25   70.38  66.73   3.65  525          Gao, Sherman
..   ...     ...    ...    ...  ...                   ...
220  222   58.35  58.12   0.23  142    Frobouck, Reanette
221  223   54.53  54.31   0.22  360       Nicholos, Linda
222  224   63.20  62.99   0.21  143      Oppenheimer, Tom
223  225   63.73  63.52   0.21  502      Barrere, Crispin
224  226   53.33  53.13   0.20  396             Fink, Ray
225  227   57.89  57.70   0.19  179          Sloan, Chris
226  228   59.50  59.33   0.17  207            Black, Joe
227  229   53.13  52.96   0.17  165    Maliyekkel, Ittoop
228  231   56.77  56.61   0.16  356        Couchman, Doug
229  232   58.57  58.41   0.16  174        Starzec, Betty
230  233   58.75  58.60   0.16  361           Newlin, Flo
231  234   59.90  59.75   0.15  498        Chasalow, Fred
232  235   59.08  58.95   0.14  108   Rubenstein, Stewart
233  236   62.20  62.08   0.11  207          Tobias, Paul
234  237   59.66  59.55   0.11  153           Brown, Judy
235  238   57.25  57.15   0.10  128   Terajewicz, Ru Hong
236  239   58.41  58.31   0.09  360  Van Arsdale, Marilee
237  240   59.32  59.23   0.09  207       Watkins, George
238  241   61.46  61.39   0.08  441       Woodard, Ronald
239  242   61.23  61.16   0.07  525     Feigenbaum, Ellis
240  243   53.86  53.81   0.05  360        Shepard, Sally
241  244   69.39  69.34   0.04  155             Grue, Joe
242  245   59.37  59.34   0.03  354   Weiner, Renay Danto
243  246   60.72  60.70   0.01  174      Gates, Georgiana
244  247   64.13  64.12   0.01  108         McDevitt, Pat

[245 rows x 6 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/underate.htm
Table count: 52

0     Rank     UR PR/MP's   MP's     PR Unit                   Name
0        1  19.01    7231      1  59.22  128           Olster, Evan
1        2  18.80    6908      2  59.03  246            Rosin, Leah
2        3  17.70    8321     42  59.86  128           Lieser, John
3        4  17.57    9528     69  60.57  473      Grijalva, Rolando
4        5  17.39    5095      9  57.97  431             Kelly, Ken
5        6  15.94   51547    818  66.87  123    Lishkov, Aleksandar
6        7  15.56    9573    158  60.60  139         Popkin, Arnold
7        8  14.01    5827    128  58.40  222             Renz, Greg
8        9  13.95    9284    244  60.43  559        Zappaterreno, R
9       10  13.90    5228    116  58.05  188        Zoulis, Michael
10      11  13.82    2978     31  55.47  999         Deva, Yogendra
11      12  13.71    3948     66  56.65  431       Couture, Michael
12      13  13.63   22405    490  62.55  207         Litwin, Stuart
13      14  13.62   20452    462  62.29  128              Hornak, J
14      15  13.45    2074      4  53.77  128     Liebowitz, Jeffrey
15      16  13.42   52367   1971  67.00  130             Cory, Matt
16      17  13.39    8453    249  59.94  128      Baniewicz, Jeanne
17      18  13.38   39219   1081  65.00  507                Ge, Xin
18      19  13.38    2023      3  53.68  139             Waid, John
19      20  13.02    2653     36  54.86  175        Ammann, Matthew
20      21  13.01   10923    387  60.98  360           Cannon, Fred
21      22  12.93    3844     92  56.52  208           Quigg, David
22      23  12.90    4509    129  57.32  503       Steele, Patricia
23      24  12.87    5200    164  58.03  135        Kohlman, Walter
24      25  12.75   46435   1844  66.10  128          Yousry, Ahmed
...    ...    ...     ...    ...    ...  ...                    ...
4928  4974   2.39    4891   2939  57.78  174            Cuneo, Paul
4929  4975   2.39   11219   6210  61.02  571           Harris, Judy
4930  4976   2.39     421    198  48.29  506        Robbins, Sallie
4931  4977   2.39     352    168  47.65  188          Meyers, Barry
4932  4978   2.39    4871   2927  57.76  128            Zohar, Edna
4933  4979   2.39     586    305  49.61  155         Abelow, Sallie
4934  4980   2.39   32085  14930  63.92  147          Kales, Eugene
4935  4981   2.39    1353    631  52.32  188     Cleveland, Barbara
4936  4982   2.39    2484   1289  54.54  208      Rabjohns, Camilla
4937  4983   2.39     475    237  48.78  531     McInerny, Nicholas
4938  4984   2.39    1811    803  53.28  243        Michelsen, Geri
4939  4985   2.38     993    499  51.39  141   Van Adelsberg, Bunny
4940  4986   2.38    1780    781  53.22  124          Zurborg, Mary
4941  4987   2.38    3149   1823  55.69  143      Siegfried, Helene
4942  4988   2.38    1330    623  52.26  123       Rosenberg, Harry
4943  4989   2.38    2899   1626  55.32  356         McKethen, John
4944  4991   2.38    2960   1688  55.43  354           Kasle, Carol
4945  4992   2.38    6533   3769  58.81  114          Ogden, Evelyn
4946  4993   2.38    2861   1590  55.25  128  Linett-Huether, Betty
4947  4994   2.38    1417    656  52.48  442           Fritz, Lucie
4948  4995   2.38     316    153  47.32  473            Walz, Diane
4949  4996   2.38    1388    646  52.41  108         Banerjee, Gora
4950  4997   2.38    3488   2044  56.09  243          Aiken, Arnita
4951  4998   2.38     595    314  49.68  222          Slesar, Paula
4952  5000   2.38    2889   1620  55.30  139          Layman, Alice

[4953 rows x 7 columns]

Reading: https://www.bridgepowerratings.com/WEBPAGES/urpairs.htm
Table count: 78

0     Rank     UR PR/MP's   MP's  PairR     Unit                                       Name
0        1  18.80   37191    146  61.68  999/999        Robinson, Claire - Bakhshi, Heather
1        2  16.20   37598    404  62.06  999/999              Sherman, David - Capal, Tracy
2        3  15.69    8152     41  56.80  533/533                    Hu, Xiaodan - Wang, Jun
3        4  15.52    7353     28  56.32  446/446              Walsh, John - Rasmussen, Pete
4        5  15.46   77953   1854  64.47  155/155        Questembert, Patrick - Tadmor, Ilan
5        6  14.83   12999    218  58.77  999/999          Shapochnik, Gersh - Yadadov, Rami
6        7  14.35    7608     84  56.48  150/150       Woodard, Wendell - Cummings, William
7        8  13.79   80306   1956  65.14  123/123      Poska, Gediminas - Vitukynaite, Daiva
8        9  13.42   53307    624  59.75  999/506               Guven, Metin - Bichara, Rita
9       10  13.41    4235     12  53.85  151/151       Lavoie, Pierre-Andre - Dame, Jacques
10      11  13.15   83234   3281  65.44  999/446             King, Phillip - Castner, Kevin
11      12  12.90   66896   1857  64.12  503/507                 Hu, Michael - Zhou, Arthur
12      13  12.45   43802   1336  61.22  999/999                Bird, Nigel - Senior, Brian
13      14  12.43    6416    163  55.76  191/191              Snedecor, Dan - Francis, Mark
14      15  12.02    3865     56  53.51  128/128        Polisetty, Rayudu - Polisetty, Usha
15      16  11.97   32420   1433  58.45  246/246             Jarman, John - Epworth, Howard
16      17  11.80    7249    262  56.26  141/141                    Guo, Lee - Zhang, Jason
17      18  11.73   70333   2973  64.38  141/190     Foerster, Thomas - Marlow, Christopher
18      19  11.60    5831    197  55.35  354/354                  Gyde, Rita - Gyde, Steven
19      20  11.54    8036    335  56.73  151/151            Babin, Simon - Anhoury, Youssef
20      21  11.54    5166    157  54.46  137/137              Wiedmayer, Eric - Wang, Jason
21      22  11.36   58265   1432  58.35  115/115              Harding, Charles - Rizzi, Tom
22      23  11.23   50232   2371  60.94  573/573               Nattrass, Wayne - Yao, Warke
23      24  11.22   12832    664  58.58  999/999             Vidigal, Caru - Menezes, Lucia
24      25  11.09    4115    116  53.74  356/356             Gensler, Hal - Ettenger, Allen
...    ...    ...     ...    ...    ...      ...                                        ...
4905  4976   2.84    1485    741  50.67  132/132               Button, Steve - Kimmel, John
4906  4977   2.84    1821    767  50.63  562/562            Riklin, Matthew - Levitt, Harry
4907  4978   2.84    9845   4584  57.02  108/108             Cohen, Martin - Paxhia, Steven
4908  4979   2.84    6687   1772  53.86  128/108            Gellman, Marc - Eby, Jacqueline
4909  4980   2.84    2233   1003  51.71  128/128            Storper, Fran - Himmel, Marilyn
4910  4981   2.84   70861  24730  63.73  179/179          McGinnis, Coley - Birnbaum, David
4911  4982   2.84    2939   1452  52.45  219/219               Lalas, Cynthia - Askew, Jean
4912  4983   2.84    1731    827  51.06  128/128         Jackson Jr, Carl - Poliquin, James
4913  4984   2.84    4290   1745  53.76  155/155            Ochlan, Nick - Fazzolari, James
4914  4985   2.84   33598   8510  59.86  242/242                 Gueli, Carl - Cirker, Bart
4915  4986   2.84     606    185  46.39  128/128             Birdt, Lynne - Coneys, Barbara
4916  4987   2.84   54629  22431  63.24  147/147         Marshall, Linda - Schatzow, Steven
4917  4988   2.84    1327    630  50.15  253/253       Battaglia, Russell - Hicks, Marjorie
4918  4989   2.84    4291   1738  53.91  195/195            Terrana, Clara - Terrana, Terry
4919  4990   2.84   75323  36391  64.30  155/155              Hurd, John - Miniter, Gillian
4920  4991   2.84    6579   2944  55.35  539/539            Hastie, Chris - Rossman, Ross L
4921  4992   2.84    1298    613  50.05  192/192  Maisonneuve Car, Ginett - Carrier, Gerald
4922  4993   2.84     612    246  47.13  240/240          Brenneman, Carol - Radigan, Diane
4923  4994   2.84    6435   3150  55.44  487/487           Vorenkamp, Steven - Gantz, David
4924  4995   2.84    1853    811  50.98  128/128           Karpf, David - Schwartz, Michael
4925  4996   2.84     862    365  48.38  141/140          Griffin, Naomi - Feldman, Carolyn
4926  4997   2.84   34015   5766  57.46  503/503                Karr, Ron - Rubenfeld, Rita
4927  4998   2.84    6382   3079  55.34  155/155               Yoon, David - Schargel, Gail
4928  4999   2.84    3984   1179  50.02  195/195               Baille, Helen - Braciak, Ted
4929  5000   2.84   10070   5774  57.89  374/108                Bose, Ranjit - Negro, James

[4930 rows x 7 columns]

In [6]:
# Reading acbl_player_name_dict which has been created from sql db which was created by club data download.
# This file is the starting point for creating the larger player_id_name_matches_dict which is supplemented with api calls.
if False:
    acbl_player_id_to_name_dict_file = acblPath.joinpath('acbl_player_name_dict.pkl')
    acbl_player_id_to_name_dict = pd.read_pickle(acbl_player_id_to_name_dict_file)
    # Create a list of player_ids for each name. Many players share a common name but each has a unique player_id.
    acbl_player_name_to_id_dict = defaultdict(list)
    for k,v in acbl_player_id_to_name_dict.items():
        acbl_player_name_to_id_dict[v].append(k)

In [7]:
# ignoring acbl_player_id_to_name_dict and using the more complete player_id_name_matches_dict.pkl instead.
if True:
    player_id_name_matches_dict_file = acblPath.joinpath('player_id_name_matches_dict.pkl')
    acbl_player_name_to_id_dict = pd.read_pickle(player_id_name_matches_dict_file) # note name change!
    for k,v in acbl_player_name_to_id_dict.items():
        assert type(k) is str, k
        if type(v) is list:
            v = acbl_player_name_to_id_dict[k] = [str(vv) for vv in v] # todo: temp: force ints in list to be strs.
            assert all(type(vv) is str for vv in v), v
        else:
            assert type(v) is str and v[0] != '[', v

In [8]:
# for player dataframes, create new column containing player_id
# for pair dataframes, create new columns of lists containing pair_ids, Names
for k,df in dfsd.items():
    print(df.columns)
    if 'PairR' in df.columns:
        df['Names'] = df['Name'].map(lambda r: r.split(' - '))
        df['pair_ids'] = df['Names'].map(lambda r: [acbl_player_name_to_id_dict[n] for n in r]) # pair of ids and names
        df.drop('Name',axis='columns',inplace=True)
    else:
        df['player_id'] = df['Name'].map(acbl_player_name_to_id_dict) # scaler id and name
    display(k,df)

Index(['Rank', 'MP's', 'Unit', 'Name'], dtype='object', name=0)

'allmps'

0     Rank      MP's Unit                     Name                                                                       player_id
0        1  92862.58  128         Meckstroth, Jeff                                                                       [4580699]
1        2  87910.58  176            Passell, Mike                                                                       [1622382]
2        3  78168.46  128            Rodwell, Eric                                                                       [5482658]
3        4  76525.13  174              Wold, Eddie                                                                       [3443949]
4        5  71817.34  210               Lair, Mark                                                                       [5830400]
5        6  62350.16  538           Itabashi, Mark                                                                       [6811434]
6        7  51506.72  373           Hampson, Geoff                                                                       [9984488]
7        8  50419.44  176           Compton, Chris                                                                       [8007713]
8        9  47550.39  373            Levin, Robert                                                                       [7279515]
9       10  46419.44  373            Cheek, Curtis                                                                       [2931060]
10      11  45553.16  373            Jacobus, Marc                                                                       [1766945]
11      12  44616.04  147          Robinson, Steve                                                              [2854066, 5977797]
12      13  44544.18  147              LaSota, Leo                                                                       [3852830]
13      14  44328.07  179              Said, Chuck                                                                       [4383974]
14      15  44315.39  128         Berkowitz, David                                                                       [2022508]
15      16  43328.01  373          Ferguson, Bruce                                            [2141965, 9454969, 1640127, 2586363]
16      17  43321.59  147             Sontag, Alan                                                                       [1926845]
17      18  39358.73  123               Smith, Ron  [8092796, 3328600, tmp:e9dec9cb-dc35-49ba-bb7b-6a9568e86a2a, 5792916, 5302935]
18      19  39250.62  161           Siebert, Allan                                                                       [3384802]
19      20  38882.81  176              Hamman, Bob                                                                       [9789944]
20      21  37940.10  373           Hamilton, Fred                                                              [4318552, 7837755]
21      22  37283.55  373            Miller, Billy                                                     [8142114, 5120748, 3367193]
22      23  36506.64  508            Simpson, Gene                                                                       [7274971]
23      24  35925.64  128              Stout, Alan                                                                       [1613707]
24      25  35174.67  128        Cappelletti, Mike                                                                       [2601087]
...    ...       ...  ...                      ...                                                                             ...
4975  4976   3958.93  108           Charron, Grace                                                                       [9323112]
4976  4977   3958.33  207         Mahajan, Swadesh                                                                       [8019258]
4977  4978   3958.17  192            McKellar, Jim                                                                       [1226363]
4978  4979   3958.10  351     Quenneville, Charles                                                                       [4199464]
4979  4980   3957.10  123            Erickson, Sue                                                                       [4766180]
4980  4981   3956.61  109     Hagenlocker, Richard                                                                       [6948774]
4981  4982   3956.16  355            Hanna, Janice                                                                       [6353851]
4982  4983   3955.42  176              Chan, Molan                                                                       [6560296]
4983  4984   3955.12  533           Grubb, Roberta                                                                       [9713263]
4984  4985   3954.72  244        Bumgardner, Bobby                                                                       [4885384]
4985  4986   3954.22  351                Yee, Lily                                                                       [4187458]
4986  4987   3953.24  360             Black, James                                                                       [7556055]
4987  4988   3951.54  123           Ralston, Gitta                                                                       [4175352]
4988  4989   3950.92  505            Fein, Sheldon                                                                       [7940556]
4989  4990   3950.41  513             Sacks, Harry                                                                       [9464018]
4990  4991   3949.38  451             Epley, Karen                                                                       [3410897]
4991  4992   3949.14  507           Talia, Panette                                                                       [4349660]
4992  4993   3949.11  168          Sheaffer, Andie                                                                       [2462494]
4993  4994   3949.05  146       Kennedy, J Darrell                                                                       [2733579]
4994  4995   3948.40  160            Horak, George                                                                       [1454854]
4995  4996   3947.79  354       Abinanti, Marigail                                                                       [8274274]
4996  4997   3947.44  109              Burrus, Ann                                                                       [2737140]
4997  4998   3945.79  128            Gordon, James                                   [3775992, 8509069, 6791336, 8025177, 5886600]
4998  4999   3945.35  141  Rubinstien, Yacob(Jacob                                                                              []
4999  5000   3944.89  103             Okubo, Randy                                                                       [3158721]

[5000 rows x 5 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'allpr'

0     Rank     PR Games Unit                 Name  player_id
0        1  72.09   137  108    Grossack, Zachary  [2250896]
1        2  71.27    60  174          Wold, Eddie  [3443949]
2        3  71.14    86  373          Shi, Sylvia  [5420105]
3        4  71.02   201  538       Itabashi, Mark  [6811434]
4        5  71.01   164  128    Cappelletti, Mike  [2601087]
5        6  70.76    47  128     Meckstroth, Jeff  [4580699]
6        7  70.28   131  151    Pollack, Frederic  [6529224]
7        8  69.67    77  155         Nathan, Marc  [1621807]
8        9  69.59    69  128      Stamatov, Jerry  [9936327]
9       10  69.37   198  155       Rotaru, Iulian  [7066325]
10      11  69.37   117  525         Gao, Sherman  [2510154]
11      12  69.34   153  155         Nistor, Radu  [5123151]
12      13  69.13    50  128        Rodwell, Eric  [5482658]
13      14  69.13   119  155            Grue, Joe  [8542341]
14      15  68.99    36  210           Lair, Mark  [5830400]
15      17  68.76   170  239         Snyder, Jack  [4608402]
16      18  68.64    81  176       Compton, Chris  [8007713]
17      19  68.62    50  108       Grossack, Adam  [8808155]
18      20  68.47    49  172    Koneru, Venkatrao  [3250989]
19      21  68.45   150  155          Radin, Judi  [4389751]
20      22  68.43    28  119     Ayyagari, Murthy  [9146962]
21      23  68.40    34  155           Hurd, John  [2446014]
22      24  68.38    66  243    Pavlicek, Richard  [3565408]
23      25  68.18    36  144      Oshlag, Richard  [1836528]
24      26  67.98   163  373   Kovachev, Valentin  [3380211]
...    ...    ...   ...  ...                  ...        ...
4828  4902  55.45    62  354  KIRKPATRICK, Thomas         []
4829  4903  55.45   144  448         Coones, Beth  [6613535]
4830  4904  55.45   106  470           Choi, Jean  [2694069]
4831  4905  55.45    24  128    Wentworth, Cassie  [1739441]
4832  4906  55.45    75  452         Sather, John  [5546885]
4833  4907  55.45    36  128       Saiman, Martin  [4237420]
4834  4908  55.45    34  539     Lawrence, Pamela  [1810340]
4835  4909  55.45    68  243       Abern, Wendell  [4743555]
4836  4910  55.45   118  240     Goodman, Stanley  [4488466]
4837  4911  55.44    46  374     Zimmerman, Susan  [3441822]
4838  4912  55.44    31  247        Tyler, Robbie  [6848885]
4839  4913  55.44   129  437       Ulrich, Joseph  [5767458]
4840  4914  55.44    74  140       Bauman, Edward  [8164010]
4841  4915  55.44   142  205    Woodfine, William  [3853314]
4842  4916  55.44    17  117       Schmidt, Ellen  [4756223]
4843  4917  55.44    47  219    Polangin, Richard  [3575489]
4844  4918  55.44    33  539  Beckerman, Madeline  [4259793]
4845  4919  55.44    47  147       Schepps, Hanna  [4954149]
4846  4920  55.44    89  123         Harris Jr, W  [6071589]
4847  4921  55.44    50  151        Adelson, Gail  [4051610]
4848  4922  55.43    33  562       Virgo, Carolyn  [2697416]
4849  4923  55.43    79  144    Lightman, Stephen  [3709655]
4850  4924  55.43    21  354         Kasle, Carol  [2424479]
4851  4925  55.43   135  562            Lee, Dawn  [8505497]
4852  4926  55.43    89  246    Greenberg, Hilton  [5478588]

[4853 rows x 6 columns]

Index(['Rank', 'PR', 'Games', 'Unit', 'Name'], dtype='object', name=0)

'd9rank'

0     Rank     PR Games Unit                   Name                                                                                            player_id
0        1  71.01   164  128      Cappelletti, Mike                                                                                            [2601087]
1        2  70.76    47  128       Meckstroth, Jeff                                                                                            [4580699]
2        3  69.59    69  128        Stamatov, Jerry                                                                                            [9936327]
3        4  69.13    50  128          Rodwell, Eric                                                                                            [5482658]
4        5  68.38    66  243      Pavlicek, Richard                                                                                            [3565408]
5        6  67.42    97  243         Castillo, Juan                                                                                            [8744475]
6        7  67.35    65  128     Kristinsson, Jakob                                                                                            [4606868]
7        8  67.12    48  128         Wolpert, Gavin                                                                                            [8149887]
8        9  66.77   181  128          Ganness, Sean                                                                                            [8071683]
9       10  66.69    47  128         Stauber, Allan                                                                                            [1481835]
10      11  66.59   113  128          Hanson, Keith                                                                                            [4969073]
11      12  66.47   150  128          Krantz, Corey                                                                                            [4959035]
12      13  66.39    69  128         Tornay, Claire                                                                                            [1869698]
13      14  66.36   198  243        Silverman, Neil                                                                                            [1709925]
14      15  66.14   121  219           Todd, Robert                                                                                            [8886393]
15      16  66.10   131  128          Yousry, Ahmed                                                                                            [2704838]
16      17  66.05    47  128        Danailov, Diyan                                                                                            [4734114]
17      18  65.92    85  243        Shenkin, Barnet                                                                                            [4036956]
18      19  65.76   132  128          Hanlon, Ellie                                                                                            [3548848]
19      20  65.69   165  128          Macrae, David                                                                                            [3761509]
20      21  65.53   110  243  Seamon-Molson, Janice                                                                                            [2216833]
21      22  65.45    39  128           Ehlers, Will                                                                                            [1378279]
22      23  65.36    48  128        Bathurst, Kevin                                                                                            [8270716]
23      24  65.29    66  128       Davidson, Ranald                                                                                            [2503859]
24      25  65.26   119  243      Kislitsyna, Irina                                                                                            [8471908]
...    ...    ...   ...  ...                    ...                                                                                                  ...
3074  3102  47.35    89  219            Ross, Nancy                                                                                   [1361465, 9619240]
3075  3103  47.34    74  128        Jarchow, Ronald                                                                                            [6952143]
3076  3104  47.34   107  240             Davis, Dot                                                                                            [3188094]
3077  3105  47.34    71  102          Shander, Fred                                                                                            [9464743]
3078  3106  47.33    84  128             Hume, Noni                                                                                            [2967189]
3079  3107  47.33    83  128      Kitchens, Allison                                                                                            [2993392]
3080  3108  47.33   118  128        Gilman, Deborah                                                                                            [1244388]
3081  3109  47.33    77  128    Williamson, Theresa                                                                                            [1171151]
3082  3110  47.32    49  128         Twitty, Tricia                                                                                            [5334500]
3083  3111  47.32    75  128         Schrand, Susan                                                                                            [1185829]
3084  3112  47.32    87  240         Gelberg, Ellen                                                                                            [1537407]
3085  3113  47.31   103  128           Schloss, Mel                                                                                            [1238760]
3086  3114  47.31    84  128          Dutton, Anton                                                                                            [1325841]
3087  3115  47.30    56  243       Pennington, Jill  [7717873, tmp:d29d7609-27e6-40ff-9a3d-b2145b4c5b84, 7970854, tmp:f031eb64-a8ae-4065-8b43-b583707...
3088  3116  47.30   121  128     Nightingale, Ginny                                                                                            [9475869]
3089  3117  47.30    86  128       Rosado, Cristina                                                                                            [9076387]
3090  3118  47.30    30  240        Lambert, Louise                                                                                   [5163315, 7834985]
3091  3119  47.29    53  128      Kasen, Jacqueline                                                                                            [3383814]
3092  3120  47.29    41  128          Porter, Larry                                                                                            [5702763]
3093  3121  47.29    38  128      McCloskey, Margie                                                                                            [8776164]
3094  3122  47.29    22  128          Albin, Sidney                                                                                            [2103753]
3095  3123  47.29    68  128           Zaczek, Leon                                                                                            [9502130]
3096  3124  47.29   128  240     Radcliffe, Rosalie                                                                                            [3770575]
3097  3125  47.28    20  128      Black, Van Thomas                                                                                            [2279258]
3098  3126  47.28    48  128            Fox, Thomas  [6559816, tmp:7485252b-2bf7-4a7c-a7a6-157d5a6ef40e, tmp:eb802e86-40a8-4514-8b10-0cbc0a6a9ba1, tm...

[3099 rows x 6 columns]

Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name'], dtype='object', name=0)

'improv6'

0     Rank last/PR old/PR PR/inc Unit                  Name                                            player_id
0        1   55.48  49.81   5.67  114         Cone, Cynthia                                            [4928725]
1        2   50.50  44.90   5.60  243         Chance, Doris                                            [5571790]
2        3   61.08  55.65   5.43  128          Land, Jeanne                                            [1249495]
3        4   40.47  35.14   5.34  159          Warach, Jane                                            [8043620]
4        5   56.37  51.06   5.31  128     Baniewicz, Jeanne                                            [9442677]
5        6   49.62  44.70   4.92  246    McGrath, Kimberley                                            [9038558]
6        7   51.58  46.69   4.88  547           Acutt, Iris                                            [8671338]
7        8   60.78  55.93   4.86  189  Zamierowski, Barbara                                            [3002217]
8        9   47.83  42.99   4.84  114       Bedgood, Cheryl                                            [6751318]
9       10   50.31  45.54   4.78  128    Wallace, Constance                                            [9074430]
10      11   50.77  46.13   4.64  189   Fitzpatrick, Bonnie                                            [3194043]
11      12   49.84  45.24   4.60  439       Maxson, William                                            [9998004]
12      13   45.41  40.88   4.53  144         Stanton, Joan                                            [5575494]
13      14   53.21  48.69   4.52  140         Armus, Nadine                                            [1974718]
14      15   58.65  54.16   4.49  201     Fisher, Ernestine                                            [2295121]
15      16   53.29  48.90   4.39  102            Jhee, Yoon                                            [4700457]
16      17   49.50  45.13   4.37  128         Noles, Bonita                                            [5529506]
17      18   57.32  53.05   4.27  224       Sadler, Michael                                            [6170218]
18      19   44.05  39.78   4.27  112     Lipari, Ann Marie                                            [4462483]
19      20   52.39  48.17   4.22  240           Gurley, Eva                                            [6728227]
20      21   45.23  41.04   4.19  354         Fishman, Rose                                            [1223186]
21      22   43.94  39.80   4.14  128          Joyce, Karen                                            [3570509]
22      23   58.37  54.25   4.12  128        Schmetz, Diane                                            [2787229]
23      24   53.23  49.15   4.08  201           Rising, Lou                                            [1878905]
24      25   60.94  56.91   4.03  155         Dinoff, Frank                                            [7222734]
...    ...     ...    ...    ...  ...                   ...                                                  ...
4919  4976   49.92  49.26   0.66  562       Haines, Barbara  [tmp:09593a51-84ba-4f40-bae3-18681d646eef, 5121558]
4920  4977   45.69  45.03   0.66  174       Annenkova, Vera                                            [9261397]
4921  4978   46.73  46.07   0.66  151       Poplaw, Beverly                                            [2348411]
4922  4979   44.97  44.32   0.66  124            Jung, Elva                                            [1913670]
4923  4980   60.44  59.78   0.66  507        Langlois, Bill                                            [9073744]
4924  4981   59.28  58.62   0.66  487   Coquillette, Connie                                            [6917038]
4925  4982   49.47  48.82   0.66  126           Kuzma, Ruth                                            [7778333]
4926  4983   64.00  63.35   0.66  130        Fidler, Marcia                                            [4591135]
4927  4984   56.34  55.68   0.66  161        Hodges, Evelyn                                            [6199208]
4928  4985   56.84  56.19   0.66  205       White, Mary Ann                                            [2040026]
4929  4986   53.57  52.91   0.66  139        Kelly, Carolyn                                            [6808395]
4930  4987   61.53  60.87   0.66  425          Rais, Edward                                            [7165846]
4931  4988   61.28  60.62   0.66  119      Ehrenhaft, Henry                                            [6685366]
4932  4989   52.04  51.38   0.66  557         Renkus, Linda                                            [6672043]
4933  4990   57.92  57.27   0.65  128       Musinsky, Irene                                            [7552114]
4934  4991   51.80  51.15   0.65  476      McClellan, Betty                                            [9711635]
4935  4992   50.41  49.75   0.65  103          Santa, Betty                                            [5410584]
4936  4993   47.32  46.67   0.65  130         Stone, Daniel                                            [8753660]
4937  4994   61.26  60.60   0.65  133          Bell, Walter                                            [3196100]
4938  4995   56.84  56.19   0.65  354       Pientka, D'Anne                                                   []
4939  4996   58.08  57.42   0.65  506          Porter, Gary                                            [5509548]
4940  4997   52.20  51.54   0.65  119       Davison, Edward                                            [9340289]
4941  4998   55.98  55.33   0.65  128           Weiss, Fran                                            [8923930]
4942  4999   53.02  52.37   0.65  186        Goldman, Ilene                                            [1600966]
4943  5000   55.70  55.04   0.65  547        Brett, Marilyn                                            [9394052]

[4944 rows x 7 columns]

Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name'], dtype='object', name=0)

'improv12'

0     Rank last/PR old/PR PR/inc Unit                  Name                                                                                            player_id
0        1   50.77  43.24   7.52  189   Fitzpatrick, Bonnie                                                                                            [3194043]
1        2   47.76  40.89   6.87  373    Koziol, Malgorzata                                                                                            [1441426]
2        3   56.37  49.53   6.84  128     Baniewicz, Jeanne                                                                                            [9442677]
3        4   49.91  43.30   6.61  452     Krasovic, Valarie                                                                                            [5511623]
4        5   53.21  46.70   6.51  140         Armus, Nadine                                                                                            [1974718]
5        6   58.14  51.74   6.39  128          Lieser, John                                                                                            [4240464]
6        7   58.65  52.27   6.38  201     Fisher, Ernestine                                                                                            [2295121]
7        8   51.58  45.21   6.37  547           Acutt, Iris                                                                                            [8671338]
8        9   61.69  55.53   6.16  470      Williams, Busaba                                                                                            [2143070]
9       10   46.73  40.67   6.06  219           Cox, Ronald                                                                                            [1794124]
10      11   57.32  51.28   6.05  224       Sadler, Michael                                                                                            [6170218]
11      12   47.83  41.91   5.92  114       Bedgood, Cheryl                                                                                            [6751318]
12      13   49.08  43.41   5.67  128          Cohn, Donald                                                                                   [3213528, 7435266]
13      14   40.47  35.02   5.45  159          Warach, Jane                                                                                            [8043620]
14      15   56.65  51.21   5.44  141       Gilbert, Claire                                                                                            [3139883]
15      16   55.92  50.59   5.33  103       Burkley, Pamela                                                                                            [8280800]
16      17   55.27  50.17   5.10  155           Warren, Mee                                                                                            [9234195]
17      18   63.18  58.12   5.06  179      Strayhorn, David                                                                                            [3386295]
18      19   52.96  47.91   5.05  178     Holmquist, George                                                                                            [3812138]
19      20   60.78  55.75   5.03  189  Zamierowski, Barbara                                                                                            [3002217]
20      21   56.62  51.63   4.99  160    PRITCHARD, Carolyn                                                                                                   []
21      22   48.83  43.90   4.92  114         Macfie, Sissy                                                                                            [1603264]
22      23   60.94  56.02   4.92  128             Hornak, J                                                                                            [2237172]
23      24   63.08  58.18   4.90  243     Feinstein, Marvin                                                                                            [6204619]
24      25   48.44  43.56   4.89  195       Swanson, Maxine                                                                                            [1393006]
...    ...     ...    ...    ...  ...                   ...                                                                                                  ...
4925  4976   48.68  47.83   0.85  128          Wilkey, Sari                                                                                            [2995786]
4926  4977   60.08  59.22   0.85  128       Jabbour, Sharon                                                                                            [6134688]
4927  4978   45.32  44.47   0.85  412        Deck, Christie                                                                                            [3557073]
4928  4979   55.02  54.17   0.85  557         Baccus, Verna                                                                                            [9711686]
4929  4980   51.06  50.21   0.85  128          Hazan, Donna                                                                                            [2222043]
4930  4981   52.59  51.73   0.85  533      Rappaport, Frank                                                                                            [5100534]
4931  4982   58.89  58.04   0.85  503            Huang, Tom                                                                                            [4437896]
4932  4983   48.36  47.50   0.85  374         French, Janet                                                                                   [8369305, 8877394]
4933  4984   52.20  51.35   0.85  139         Hartman, Paul                                                                                            [1424092]
4934  4985   58.12  57.26   0.85  155          Yellis, Lisa                                                                                            [1857266]
4935  4986   42.63  41.77   0.85  240         Fox, Patricia                                                                                            [9758674]
4936  4987   45.38  44.53   0.85  143          Eiger, Susan                                                                                            [9140220]
4937  4988   53.62  52.77   0.85  165         Wright, Jerry                                                                                            [6952526]
4938  4989   48.75  47.90   0.85  114           Cruse, Jane                                                                                            [1871587]
4939  4990   49.80  48.94   0.85  525     Lehrfeld, Michael                                                                                            [8903239]
4940  4991   49.15  48.30   0.85  128      Darnell, Richard                                                                                            [2399024]
4941  4992   42.12  41.27   0.85  487         Kessler, Mary                                                                                            [1367943]
4942  4993   52.52  51.67   0.85  174         Hink, Phyllis                                                                                            [5701678]
4943  4994   48.54  47.69   0.85  243          Kalen, Trudy                                                                                            [4710495]
4944  4995   52.33  51.47   0.85  242     Blumenfeld, Peggy                                                                                            [1227807]
4945  4996   57.85  57.00   0.85  179        Lowen, Rebecca                                                                                            [7785992]
4946  4997   47.76  46.91   0.85  130       Trudgen, Thelma                                                                                            [7755813]
4947  4998   58.93  58.08   0.85  356          Lewis, Kevin  [tmp:2969f368-0ef2-46d5-b02b-440d0d71449d, 3248224, tmp:b8d45e9f-d487-4526-b16e-2cb30953586e, tm...
4948  4999   58.95  58.10   0.85  155       Steinberg, Nina                                                                                            [7885091]
4949  5000   51.12  50.27   0.85  354          Davis, Merri                                                                                            [8467102]

[4950 rows x 7 columns]

Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name'], dtype='object', name=0)

'improv24'

0   Rank last/PR old/PR PR/inc Unit                  Name                                      player_id
0      1   63.74  57.30   6.45  503         Kemper, Carol                                      [4331699]
1      2   68.27  61.88   6.39  119      Ayyagari, Murthy                                      [9146962]
2      3   55.95  49.73   6.21  196           Drabek, Yan                                      [5172713]
3      4   60.36  54.20   6.17  425      Schmahl, Michael                                      [4934148]
4      5   66.46  60.92   5.54  132         Kopper, David                                      [2212501]
5      6   60.73  55.23   5.50  531      Denny, Christine                                      [3225135]
6      7   58.49  53.04   5.45  373      Williams, Daniel                                      [6527051]
7      8   58.11  52.66   5.44  136          Harner, Lori                                      [5399963]
8      9   62.27  56.91   5.36  506           Chen, Chris                                      [3973182]
9     10   62.79  57.66   5.12  374         Harris, Cindy                                      [4997352]
10    11   63.47  58.47   5.00  207     McMinn III, Wiley                                      [5892465]
11    12   56.34  51.52   4.83  243         Franco, Jorge                                      [1052179]
12    13   60.06  55.32   4.75  207        Naimoli, Peter                                      [9232648]
13    14   62.50  57.86   4.65  114           Mabee, Carl                                      [8719071]
14    15   63.36  58.73   4.63  172       Jackson, Daniel           [9743847, 6697542, 8132046, 2420422]
15    16   62.38  57.87   4.51  207         Langer, Jarek                                      [9242880]
16    17   64.19  59.75   4.44  128   McClendon, Robert L                                      [2303264]
17    18   58.07  53.86   4.21  361          Carson, Skip                                      [2337541]
18    19   60.16  55.97   4.19  503        Schireson, Max                                      [9064788]
19    20   57.40  53.29   4.11  114          Stalvey, Ray                                      [9545204]
20    21   58.93  54.83   4.10  126            Wu, Vivian                                      [9244700]
21    22   46.33  42.34   3.99  172            Tom, Nancy                                      [7248075]
22    23   60.60  56.70   3.89  500      Jeyakumar, Rajan                                      [4369335]
23    24   55.85  52.13   3.71  108     Srimurthy, Vikram                                      [4454324]
24    25   70.38  66.73   3.65  525          Gao, Sherman                                      [2510154]
..   ...     ...    ...    ...  ...                   ...                                            ...
220  222   58.35  58.12   0.23  142    Frobouck, Reanette                                      [6385222]
221  223   54.53  54.31   0.22  360       Nicholos, Linda                                      [6120083]
222  224   63.20  62.99   0.21  143      Oppenheimer, Tom                                      [2438232]
223  225   63.73  63.52   0.21  502      Barrere, Crispin                                      [8922497]
224  226   53.33  53.13   0.20  396             Fink, Ray                                      [5529964]
225  227   57.89  57.70   0.19  179          Sloan, Chris                                      [9474218]
226  228   59.50  59.33   0.17  207            Black, Joe                                      [4526511]
227  229   53.13  52.96   0.17  165    Maliyekkel, Ittoop                                      [4206037]
228  231   56.77  56.61   0.16  356        Couchman, Doug                                      [4536096]
229  232   58.57  58.41   0.16  174        Starzec, Betty                                      [1063219]
230  233   58.75  58.60   0.16  361           Newlin, Flo                                      [7189591]
231  234   59.90  59.75   0.15  498        Chasalow, Fred                                      [1059807]
232  235   59.08  58.95   0.14  108   Rubenstein, Stewart                                      [3504859]
233  236   62.20  62.08   0.11  207          Tobias, Paul                                      [1883607]
234  237   59.66  59.55   0.11  153           Brown, Judy  [1715798, 3464873, 2202336, 3779807, 9113622]
235  238   57.25  57.15   0.10  128   Terajewicz, Ru Hong                                      [5328632]
236  239   58.41  58.31   0.09  360  Van Arsdale, Marilee                                      [4417062]
237  240   59.32  59.23   0.09  207       Watkins, George                                      [5204801]
238  241   61.46  61.39   0.08  441       Woodard, Ronald                                      [6145418]
239  242   61.23  61.16   0.07  525     Feigenbaum, Ellis                                      [8888477]
240  243   53.86  53.81   0.05  360        Shepard, Sally                                      [6208037]
241  244   69.39  69.34   0.04  155             Grue, Joe                                      [8542341]
242  245   59.37  59.34   0.03  354   Weiner, Renay Danto                                      [8019045]
243  246   60.72  60.70   0.01  174      Gates, Georgiana                                      [5591562]
244  247   64.13  64.12   0.01  108         McDevitt, Pat                                      [1058061]

[245 rows x 7 columns]

Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PR', 'Unit', 'Name'], dtype='object', name=0)

'underate'

0     Rank     UR PR/MP's   MP's     PR Unit                   Name                                                                                            player_id
0        1  19.01    7231      1  59.22  128           Olster, Evan  [tmp:1bd69b97-671c-498b-9b13-554a2926a285, tmp:6637f30e-5942-4a56-87fb-7b8fc7f60e71, tmp:2ddfbbf...
1        2  18.80    6908      2  59.03  246            Rosin, Leah  [tmp:1c0dd554-02b5-4c03-931c-287c14ed2c79, tmp:617f2476-72a2-4dd1-85b1-20a9347f7beb, tmp:aaca79b...
2        3  17.70    8321     42  59.86  128           Lieser, John                                                                                            [4240464]
3        4  17.57    9528     69  60.57  473      Grijalva, Rolando        [7928378, tmp:dd9921da-821c-40bb-9e35-1cc85b8db6c3, tmp:80eda9d1-a123-467b-ada3-8931c969e76b]
4        5  17.39    5095      9  57.97  431             Kelly, Ken  [tmp:90dfb096-2e5f-495c-8804-eb1c6406843f, tmp:b3e7843c-01f9-4f87-97c1-91358940371c, tmp:940f616...
5        6  15.94   51547    818  66.87  123    Lishkov, Aleksandar                                                                                            [1320998]
6        7  15.56    9573    158  60.60  139         Popkin, Arnold                                                                                            [8230021]
7        8  14.01    5827    128  58.40  222             Renz, Greg                                                                                            [3793281]
8        9  13.95    9284    244  60.43  559        Zappaterreno, R                                                                                            [3616320]
9       10  13.90    5228    116  58.05  188        Zoulis, Michael                                                                                            [6576222]
10      11  13.82    2978     31  55.47  999         Deva, Yogendra  [tmp:6d128041-b217-4a1d-9d4e-af509c91f778, 8447020, tmp:598cb48f-d796-4515-8270-9e85846ee17d, tm...
11      12  13.71    3948     66  56.65  431       Couture, Michael                                                                                            [9243437]
12      13  13.63   22405    490  62.55  207         Litwin, Stuart                                                                                            [3848485]
13      14  13.62   20452    462  62.29  128              Hornak, J                                                                                            [2237172]
14      15  13.45    2074      4  53.77  128     Liebowitz, Jeffrey                                                                                            [1438689]
15      16  13.42   52367   1971  67.00  130             Cory, Matt                                                                                            [7116306]
16      17  13.39    8453    249  59.94  128      Baniewicz, Jeanne                                                                                            [9442677]
17      18  13.38   39219   1081  65.00  507                Ge, Xin                                                                                            [1815695]
18      19  13.38    2023      3  53.68  139             Waid, John  [tmp:d12d180e-0003-486a-b721-858b85d21545, tmp:c24b0014-04a2-4d20-aaab-4b4cfcfc84e9, tmp:5b8d94e...
19      20  13.02    2653     36  54.86  175        Ammann, Matthew                                                                                            [8197288]
20      21  13.01   10923    387  60.98  360           Cannon, Fred                                                                                            [5914671]
21      22  12.93    3844     92  56.52  208           Quigg, David                                                                                            [7807392]
22      23  12.90    4509    129  57.32  503       Steele, Patricia                                                                                            [4236858]
23      24  12.87    5200    164  58.03  135        Kohlman, Walter                                                                                            [1275984]
24      25  12.75   46435   1844  66.10  128          Yousry, Ahmed                                                                                            [2704838]
...    ...    ...     ...    ...    ...  ...                    ...                                                                                                  ...
4928  4974   2.39    4891   2939  57.78  174            Cuneo, Paul                                                                                            [4499891]
4929  4975   2.39   11219   6210  61.02  571           Harris, Judy                                                                 [3189155, 3413721, 6162266, 6695957]
4930  4976   2.39     421    198  48.29  506        Robbins, Sallie                                                                                            [6528945]
4931  4977   2.39     352    168  47.65  188          Meyers, Barry                                                                                            [5928451]
4932  4978   2.39    4871   2927  57.76  128            Zohar, Edna                                                                                            [1138626]
4933  4979   2.39     586    305  49.61  155         Abelow, Sallie                                                                                            [7375891]
4934  4980   2.39   32085  14930  63.92  147          Kales, Eugene                                                                                            [2840847]
4935  4981   2.39    1353    631  52.32  188     Cleveland, Barbara                                                                                            [7050607]
4936  4982   2.39    2484   1289  54.54  208      Rabjohns, Camilla                                                                                            [3896633]
4937  4983   2.39     475    237  48.78  531     McInerny, Nicholas                                                                                                   []
4938  4984   2.39    1811    803  53.28  243        Michelsen, Geri                                                                                            [9562397]
4939  4985   2.38     993    499  51.39  141   Van Adelsberg, Bunny                                                                                            [4648951]
4940  4986   2.38    1780    781  53.22  124          Zurborg, Mary                                                                                            [3804690]
4941  4987   2.38    3149   1823  55.69  143      Siegfried, Helene                                                                                            [9856285]
4942  4988   2.38    1330    623  52.26  123       Rosenberg, Harry                                                                                   [4779568, 8193878]
4943  4989   2.38    2899   1626  55.32  356         McKethen, John                                                                                                   []
4944  4991   2.38    2960   1688  55.43  354           Kasle, Carol                                                                                            [2424479]
4945  4992   2.38    6533   3769  58.81  114          Ogden, Evelyn                                                                                            [6906087]
4946  4993   2.38    2861   1590  55.25  128  Linett-Huether, Betty                                                                                            [3133435]
4947  4994   2.38    1417    656  52.48  442           Fritz, Lucie                                                                                            [2900513]
4948  4995   2.38     316    153  47.32  473            Walz, Diane                                                                                            [8224420]
4949  4996   2.38    1388    646  52.41  108         Banerjee, Gora                                                                                            [3445887]
4950  4997   2.38    3488   2044  56.09  243          Aiken, Arnita                                                                                            [2037882]
4951  4998   2.38     595    314  49.68  222          Slesar, Paula                                                                                            [3758257]
4952  5000   2.38    2889   1620  55.30  139          Layman, Alice                                                                                            [2910691]

[4953 rows x 8 columns]

Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PairR', 'Unit', 'Name'], dtype='object', name=0)

'urpairs'

0     Rank     UR PR/MP's   MP's  PairR     Unit                                       Names                                                                                             pair_ids
0        1  18.80   37191    146  61.68  999/999        [Robinson, Claire, Bakhshi, Heather]                                                                                      [[6025366], []]
1        2  16.20   37598    404  62.06  999/999              [Sherman, David, Capal, Tracy]                                                                                             [[], []]
2        3  15.69    8152     41  56.80  533/533                    [Hu, Xiaodan, Wang, Jun]  [[8237328, tmp:5b2e409e-03b4-44dd-afcf-def8afc94803, tmp:75660f98-02a8-42a8-a5be-2d5a8d4b1a03, t...
3        4  15.52    7353     28  56.32  446/446              [Walsh, John, Rasmussen, Pete]                                                                               [[2235897], [2235978]]
4        5  15.46   77953   1854  64.47  155/155        [Questembert, Patrick, Tadmor, Ilan]                                                                               [[4016424], [8337500]]
5        6  14.83   12999    218  58.77  999/999          [Shapochnik, Gersh, Yadadov, Rami]                                                                                             [[], []]
6        7  14.35    7608     84  56.48  150/150       [Woodard, Wendell, Cummings, William]                                                                                      [[], [9934987]]
7        8  13.79   80306   1956  65.14  123/123      [Poska, Gediminas, Vitukynaite, Daiva]                                                                               [[5128501], [5177944]]
8        9  13.42   53307    624  59.75  999/506               [Guven, Metin, Bichara, Rita]                                                                                      [[], [7703252]]
9       10  13.41    4235     12  53.85  151/151       [Lavoie, Pierre-Andre, Dame, Jacques]  [[tmp:149ca897-2246-41d8-bc66-6dec85f3b11d, tmp:2d20daba-788c-438d-9f8c-a2527f3c1e7c, tmp:09372d...
10      11  13.15   83234   3281  65.44  999/446             [King, Phillip, Castner, Kevin]                                                                                             [[], []]
11      12  12.90   66896   1857  64.12  503/507                 [Hu, Michael, Zhou, Arthur]                                                                               [[2647680], [2852578]]
12      13  12.45   43802   1336  61.22  999/999                [Bird, Nigel, Senior, Brian]                                                                                             [[], []]
13      14  12.43    6416    163  55.76  191/191              [Snedecor, Dan, Francis, Mark]                                                                               [[5331684], [5331692]]
14      15  12.02    3865     56  53.51  128/128        [Polisetty, Rayudu, Polisetty, Usha]                                     [[2202891], [tmp:a991497b-bb77-4290-9d9a-f61edf0133f7, 8357420]]
15      16  11.97   32420   1433  58.45  246/246             [Jarman, John, Epworth, Howard]  [[4956184], [tmp:1eb1c84b-8fc4-4d5f-a987-79d0d0001d7e, tmp:a0d2f529-2bb1-4a7d-9541-5f7453972b92,...
16      17  11.80    7249    262  56.26  141/141                    [Guo, Lee, Zhang, Jason]                                                                               [[3320650], [3352129]]
17      18  11.73   70333   2973  64.38  141/190     [Foerster, Thomas, Marlow, Christopher]                                                                                      [[4938828], []]
18      19  11.60    5831    197  55.35  354/354                  [Gyde, Rita, Gyde, Steven]                                                                                      [[7772866], []]
19      20  11.54    8036    335  56.73  151/151            [Babin, Simon, Anhoury, Youssef]                                                                               [[1303694], [8878293]]
20      21  11.54    5166    157  54.46  137/137              [Wiedmayer, Eric, Wang, Jason]                                                                               [[1155954], [1533479]]
21      22  11.36   58265   1432  58.35  115/115              [Harding, Charles, Rizzi, Tom]                                                                                      [[6690149], []]
22      23  11.23   50232   2371  60.94  573/573               [Nattrass, Wayne, Yao, Warke]                                                                                             [[], []]
23      24  11.22   12832    664  58.58  999/999             [Vidigal, Caru, Menezes, Lucia]                                                                                             [[], []]
24      25  11.09    4115    116  53.74  356/356             [Gensler, Hal, Ettenger, Allen]                                                                               [[1465031], [7892446]]
...    ...    ...     ...    ...    ...      ...                                         ...                                                                                                  ...
4905  4976   2.84    1485    741  50.67  132/132               [Button, Steve, Kimmel, John]                                                                               [[9431810], [9505555]]
4906  4977   2.84    1821    767  50.63  562/562            [Riklin, Matthew, Levitt, Harry]                                                                               [[4611047], [5112524]]
4907  4978   2.84    9845   4584  57.02  108/108             [Cohen, Martin, Paxhia, Steven]                                                                      [[4579119, 6288561], [6136818]]
4908  4979   2.84    6687   1772  53.86  128/108            [Gellman, Marc, Eby, Jacqueline]                                                                               [[1224980], [4292634]]
4909  4980   2.84    2233   1003  51.71  128/128            [Storper, Fran, Himmel, Marilyn]                                                                               [[1772139], [3660664]]
4910  4981   2.84   70861  24730  63.73  179/179          [McGinnis, Coley, Birnbaum, David]                                                                               [[3385086], [4207343]]
4911  4982   2.84    2939   1452  52.45  219/219               [Lalas, Cynthia, Askew, Jean]                                                                               [[5172586], [9896376]]
4912  4983   2.84    1731    827  51.06  128/128         [Jackson Jr, Carl, Poliquin, James]                                                                               [[5520622], [7118775]]
4913  4984   2.84    4290   1745  53.76  155/155            [Ochlan, Nick, Fazzolari, James]                                                                                             [[], []]
4914  4985   2.84   33598   8510  59.86  242/242                 [Gueli, Carl, Cirker, Bart]                                                                               [[1900765], [4514653]]
4915  4986   2.84     606    185  46.39  128/128             [Birdt, Lynne, Coneys, Barbara]                                                                               [[2897008], [9992170]]
4916  4987   2.84   54629  22431  63.24  147/147         [Marshall, Linda, Schatzow, Steven]                                                                      [[3060349, 5416477], [6778895]]
4917  4988   2.84    1327    630  50.15  253/253       [Battaglia, Russell, Hicks, Marjorie]                                                                                             [[], []]
4918  4989   2.84    4291   1738  53.91  195/195            [Terrana, Clara, Terrana, Terry]                                                                               [[1991000], [7041632]]
4919  4990   2.84   75323  36391  64.30  155/155              [Hurd, John, Miniter, Gillian]                                                                               [[2446014], [7355203]]
4920  4991   2.84    6579   2944  55.35  539/539            [Hastie, Chris, Rossman, Ross L]                                                                                      [[3773663], []]
4921  4992   2.84    1298    613  50.05  192/192  [Maisonneuve Car, Ginett, Carrier, Gerald]                                                                                             [[], []]
4922  4993   2.84     612    246  47.13  240/240          [Brenneman, Carol, Radigan, Diane]                                                                               [[1150146], [1150162]]
4923  4994   2.84    6435   3150  55.44  487/487           [Vorenkamp, Steven, Gantz, David]                                                                               [[4340140], [9738673]]
4924  4995   2.84    1853    811  50.98  128/128           [Karpf, David, Schwartz, Michael]                                                             [[4239237], [3917770, 2976528, 6587402]]
4925  4996   2.84     862    365  48.38  141/140          [Griffin, Naomi, Feldman, Carolyn]                                                                      [[7364849], [6644074, 9848533]]
4926  4997   2.84   34015   5766  57.46  503/503                [Karr, Ron, Rubenfeld, Rita]                                                                               [[1707817], [9487654]]
4927  4998   2.84    6382   3079  55.34  155/155               [Yoon, David, Schargel, Gail]                                                                               [[4749952], [5427959]]
4928  4999   2.84    3984   1179  50.02  195/195               [Baille, Helen, Braciak, Ted]                                                                                      [[4489896], []]
4929  5000   2.84   10070   5774  57.89  374/108                [Bose, Ranjit, Negro, James]                                                                               [[3755037], [5563402]]

[4930 rows x 8 columns]

In [9]:
# create a list of names containing missing player_id or pair_ids.
l = [] # todo: change to list which only allows uniques. setlist?
for k,df in dfsd.items():
    if 'player_id' in df:
        df[df['player_id'].map(len).eq(0)]['Name'].map(lambda n: l.append(n.casefold()))
    elif 'pair_ids' in df:
        df.apply(lambda r: [l.append(name.casefold()) for lpid,name in zip(r['pair_ids'],r['Names']) if len(lpid) == 0],axis='columns')
    else:
        assert False
missing_player_ids = set(l) - acbl_player_name_to_id_dict.keys() # only need to call apis for names not in dict
# todo: should dict contain casefold() or not? Need consistency.
print([n for n in missing_player_ids if n in acbl_player_name_to_id_dict])
assert all([n not in acbl_player_name_to_id_dict for n in missing_player_ids])
len(l),len(missing_player_ids),sorted(missing_player_ids)

[]

(1636,
 76,
 ["a'hearn, beverly",
  'bacon-rothchild, debora',
  'bennett-perry, patricia',
  'benoit, marie-france',
  'berton, jr, jack',
  'bickel-scribner, susan',
  'bigel-casher, rita',
  'brown, jr, nelson',
  'burgess-strauss, marie',
  'cannamela, jr, r. arthu',
  'cooper-baker, rebecca',
  "d'amato, ellen",
  "d'amico, james",
  "d'litzenberger, richard",
  "d'souza, lino",
  'day, jo-ann',
  "del'monte, ishmael",
  "dell'osso, john",
  'dickson, jo-beth',
  'emmett, mary-lou',
  'fill in',
  'fu, tsun-sen',
  'goggin, m. gregory',
  'goodrich-baird, sarah',
  'hamilton-diesel, stepha',
  'harmon-hanna, e',
  'ho, sun-o',
  'housman jr, w.glover',
  'jean-jacques, palau',
  'kay-wolff, judy',
  'ketchum, jr, william',
  "l'ecuyer, nicolas",
  'lacombe-ingham, sherry',
  'lamothe, jean-guy',
  'lee, kang-won',
  'levine, md, paul',
  'liao, jin-ming',
  'litman-cohen, katherine',
  'lo, ai-tai',
  'luo, luen-jyh',
  'madison-jammal, sam',
  'maja, -',
  'maloney, k.',
  'maresso-paco, frank',
  "mckinney, e.r. 'bud'",
  'miller, anne-marie',
  'minus,sr, harold',
  'nettles, c. leland',
  'norton-nader, rose mari',
  "o'brien, william",
  "o'connell, james",
  "o'connor, timothy",
  "o'donnell, bonnie",
  "o'donnell, kevin",
  "o'hara, susan",
  "o'rourke, lou ann",
  "o'toole, patricia",
  "o'toole, robert",
  'peyton-booth, ellie',
  "pientka, d'anne",
  'rubinstien, yacob(jacob',
  'rudikoff, m.d., jeffrey',
  'scott-kerr, michael',
  'sellers, jr, daniel',
  'serio, sandra-leigh',
  'shaffer, anne(nonnie)',
  'snyder, j.p.',
  'sundaram, k.v.k.',
  'swan, jr., james',
  'tseng, chung-ye',
  'wall-gilletz, susan',
  'weisz-margules, adam',
  'welton, d. scott',
  'wolff, esquire, deborah',
  'york, j. thomas',
  'zenk, jr, george'])

In [10]:
# read file containing acbl api bearer secret.
bearer_file = pathlib.Path('acbl_api_authorization_bearer_secret.txt')
with open(bearer_file,'rb') as f:
    bearer = f.read()

In [11]:
# takes 60s per 40 names
# call acbl api to retrieve acbl_number given first_name, last_name.
import requests
import urllib
import time
headers = {'accept':'application/json', 'Authorization':bearer[len('Authorization: '):]}
unmatched_names = []
for nn,n in enumerate(missing_player_ids):
    if n in acbl_player_name_to_id_dict and len(acbl_player_name_to_id_dict[n]):
        #print('found:',n,acbl_player_name_to_id_dict[n])
        continue
    split = n.split(', ')
    if len(split) != 2:
        print('wrong number of commas:',n)
        unmatched_names.append(n)
        continue
    lastname = split[0].split(' ')[0]
    if not lastname.isalnum() or '-' in lastname or '+' in lastname or '.' in lastname or ',' in lastname:
        print('invalid characters in lastname:',lastname,n)
        unmatched_names.append(n)
        continue
    firstname = split[1].split(' ')[0]
    if not firstname.isalnum() or '-' in firstname or '+' in firstname or '.' in firstname or ',' in firstname:
        print('invalid characters in firstname:',firstname,n)
        unmatched_names.append(n)
        continue
    url = 'https://api.acbl.org/v1/player_query'
    query = {'first_name':firstname,'last_name':lastname}
    params = urllib.parse.urlencode(query)
    time.sleep(0.5) # throttle api calling
    response = requests.get(url, params=params, headers=headers)
    assert response.status_code == 200, (n, url, params, response.status_code)
    json_response = response.json()
    founds = []
    for data in json_response['data']:
        if firstname.casefold() == data['first_name'].casefold() and lastname.casefold() == data['last_name'].casefold():
            founds += [(n,data['acbl_number'],data['city'])]
    if len(founds) == 1:
        print('found one exact match:',n)
    else:
        assert type(data['acbl_number']) is str
        founds = [(data['last_name']+', '+data['first_name'],data['acbl_number'],data['city']) for data in json_response['data']]
        unmatched_names.append(n)
    print(nn,len(missing_player_ids),n,founds)
    acbl_player_name_to_id_dict[n] = [n[1] for n in founds]

invalid characters in lastname: o'rourke o'rourke, lou ann
invalid characters in firstname: marie-france benoit, marie-france
invalid characters in lastname: bennett-perry bennett-perry, patricia
invalid characters in firstname: j.p. snyder, j.p.
invalid characters in firstname: m. goggin, m. gregory
invalid characters in lastname: harmon-hanna harmon-hanna, e
invalid characters in firstname: c. nettles, c. leland
invalid characters in lastname: o'connell o'connell, james
invalid characters in lastname: d'souza d'souza, lino
invalid characters in lastname: litman-cohen litman-cohen, katherine
invalid characters in firstname: e.r. mckinney, e.r. 'bud'
wrong number of commas: rudikoff, m.d., jeffrey
invalid characters in firstname: jean-guy lamothe, jean-guy
invalid characters in firstname: d. welton, d. scott
invalid characters in firstname: sun-o ho, sun-o
invalid characters in lastname: dell'osso dell'osso, john
invalid characters in firstname: jo-ann day, jo-ann
invalid characters in lastname: bickel-scribner bickel-scribner, susan
wrong number of commas: swan, jr., james
invalid characters in lastname: cooper-baker cooper-baker, rebecca
invalid characters in lastname: minus,sr minus,sr, harold
wrong number of commas: levine, md, paul
invalid characters in lastname: norton-nader norton-nader, rose mari
invalid characters in firstname: tsun-sen fu, tsun-sen
wrong number of commas: sellers, jr, daniel
invalid characters in lastname: o'connor o'connor, timothy
invalid characters in lastname: weisz-margules weisz-margules, adam
invalid characters in lastname: bigel-casher bigel-casher, rita
invalid characters in firstname: k. maloney, k.
invalid characters in lastname: d'amato d'amato, ellen
invalid characters in firstname: j. york, j. thomas
invalid characters in lastname: o'brien o'brien, william
invalid characters in lastname: goodrich-baird goodrich-baird, sarah
invalid characters in lastname: o'donnell o'donnell, bonnie
invalid characters in lastname: jean-jacques jean-jacques, palau
invalid characters in firstname: anne-marie miller, anne-marie
invalid characters in lastname: madison-jammal madison-jammal, sam
invalid characters in firstname: luen-jyh luo, luen-jyh
wrong number of commas: zenk, jr, george
invalid characters in firstname: kang-won lee, kang-won
invalid characters in firstname: ai-tai lo, ai-tai
invalid characters in firstname: mary-lou emmett, mary-lou
invalid characters in firstname: yacob(jacob rubinstien, yacob(jacob
invalid characters in lastname: o'hara o'hara, susan
invalid characters in firstname: w.glover housman jr, w.glover
invalid characters in firstname: k.v.k. sundaram, k.v.k.
invalid characters in firstname: - maja, -
invalid characters in lastname: d'amico d'amico, james
invalid characters in firstname: sandra-leigh serio, sandra-leigh
invalid characters in firstname: jin-ming liao, jin-ming
wrong number of commas: fill in
wrong number of commas: wolff, esquire, deborah
invalid characters in lastname: lacombe-ingham lacombe-ingham, sherry
invalid characters in lastname: kay-wolff kay-wolff, judy
invalid characters in lastname: bacon-rothchild bacon-rothchild, debora
invalid characters in lastname: l'ecuyer l'ecuyer, nicolas
invalid characters in lastname: del'monte del'monte, ishmael
invalid characters in lastname: maresso-paco maresso-paco, frank
invalid characters in lastname: o'toole o'toole, patricia
invalid characters in lastname: wall-gilletz wall-gilletz, susan
invalid characters in lastname: scott-kerr scott-kerr, michael
invalid characters in firstname: chung-ye tseng, chung-ye
invalid characters in firstname: jo-beth dickson, jo-beth
invalid characters in lastname: burgess-strauss burgess-strauss, marie
invalid characters in firstname: anne(nonnie) shaffer, anne(nonnie)
wrong number of commas: brown, jr, nelson
invalid characters in lastname: o'donnell o'donnell, kevin
invalid characters in firstname: d'anne pientka, d'anne
invalid characters in lastname: a'hearn a'hearn, beverly
invalid characters in lastname: d'litzenberger d'litzenberger, richard
wrong number of commas: cannamela, jr, r. arthu
invalid characters in lastname: hamilton-diesel hamilton-diesel, stepha
invalid characters in lastname: peyton-booth peyton-booth, ellie
wrong number of commas: ketchum, jr, william
invalid characters in lastname: o'toole o'toole, robert
wrong number of commas: berton, jr, jack

In [12]:
# use same dict for both player_id->name lookup and name->[player_id] lookup
# key can be either a name or a player_id. value can be either a name or a list of player_ids.
d = {}
name_differences = []
for k,v in acbl_player_name_to_id_dict.items():
    assert type(k) is str, k
    if type(v) is list:
        # v is a list of player_ids. make sure every player_id can retieve its name.
        for pid in v:
            if type(pid) is int:
                pid = str(pid)
            assert type(pid) is str, pid
            if pid in acbl_player_name_to_id_dict:
                if acbl_player_name_to_id_dict[pid] != k:
                    # different names are using the same player_id. what to do?
                    name_differences.append([pid,[k,acbl_player_name_to_id_dict[pid]]])
            else:
                if pid in d:
                    assert d[pid] == k, [d[pid],k]
                else:
                    d[pid] = k
    else:
        assert type(k) is str, k
print('new player_ids to add to dict:',len(d))
acbl_player_name_to_id_dict.update(d)

new player_ids to add to dict: 0

In [13]:
# todo: resolve name differences by making acbl api call to convert player_id to name? Better to keep as is?
print('Name differences:')
for pid,names in name_differences:
    print(pid, names)

Name differences:
1083023 ['Moore, Tom', 'Moore, Loren']
7402872 ['Brantley, Theresa', 'Brantley, Theresa Ann']
6497594 ['Langland, Richard', 'lang, richard']
7749635 ['Walker, Jim', 'Walker, James']
1889443 ['Depner, Garnet', 'De Merchant, Garnet']
7006837 ['Panayotatos, Daniele-Favre', 'Panayotatos, Daniele']
6697151 ['Hendricks, Bob', 'Hendricks, Robert']
1448854 ['Black, Tom', 'Black, Thomas']
3105741 ['Jones, Hal', 'Jones Jr, Hal']
3629538 ['Rosenstock, Norm', 'Rosenstock, Norman']
2376318 ['Scott, Candy', 'Scott, Candace']
1718967 ['Scott, Patsy', 'scott, patricia']
3174603 ['Elson, Jane', 'Elson, Marjorie J']
6094481 ['Kirk, Pat', 'Kirk, Patricia']
5244781 ['Hirshon, Ken', 'Hirshon, Kenneth']
8114978 ['Laslie, MaryPat', 'Laslie, Mary Pat']
3429598 ['Dennis, Leona', 'De Grandpre, Leona']
2050153 ['Andrews, Mike', 'Andrews, Michael']
9999310 ['Sorenson, Eric', 'Sorenson, Steven']
9746129 ['Harker, Bill', 'Harker, William']
4989988 ['Templeton, Max', 'templeton, maxie']
4187458 ['Yee, Lilian', 'Yee, Lily']
5436605 ['Rau, Ken', 'Rau, Kenneth']
3872017 ['Boagni Jr, Kenneth', 'Boagni Jr, K']
1971999 ['Mccain, Bill', 'McCain Jr, William']
5564999 ['Staab, Carolyn', 'St Claire, Carolyn']
1242075 ['Barrett, Robert', 'barrett, robert jay']
3319989 ['Barrett, Robert', 'barrett, robert jay']
8065365 ['Barrett, Robert', 'barrett, robert jay']
4075188 ['McKenzie, Pat', 'mckenzie, patrick']
1353802 ['Greenebaum, Helen', 'greembaum, helen']
9030786 ['Andre, Jim', 'andre, james']
5151872 ['Kreidler, Dave', 'Kreidler, David']
2930145 ['Brower, Toni', 'Brower, Mary']
5868300 ['Dergay, Tom', 'Dergay, Thomas']
4252136 ['Dewitt, Elmer', 'De Witt, Elmer']
8548706 ['Houston, Larry', 'houston, lawrence']
1345818 ['Hause, Betty', 'hause, elizabeth']
2378264 ['Lauterbach, Joyce', 'Lauterbach, J']
8887047 ['Kimmerling, Kathy', 'Kimmerling, Kathryn']
7675321 ['Timberlake, Tom', 'Timberlake, Thomas']
6753744 ['Tessler, Stacey', 'Tessler, Anastasia']
7709528 ['Dinkes, Larry', 'dinkes, lawrence']
4245342 ['Cato, Robert', 'cato, bobby']
2138778 ['Clay, Tom', 'Clay, Thomas']
4827228 ['Hughes, Mike', 'Hughes, Michael']
3583724 ['Brown, Lou', 'Brown, Louis']
7305915 ['VanLeeuwen, Christina', 'van Leeuwen, Christina']
4536495 ['Robins, Marty', 'Robins, Martin']
2351935 ['Pickup, Jr, Robert', 'pickup, robert']
1742655 ['Lamb, Pat', 'Lamb, Patricia']
1292390 ['Shimelman, Susan', 'Shimelman, Sussan']
1383450 ['Roland, Les-Lee', 'Roland, Les Lee']
1850660 ['Feeley, Millie', 'Feeley, M']
6486142 ['Shapiro, Elaine', 'Shapiro, Helen']
1880845 ['Jesteadt, Bill', 'jestead, william']
1636049 ['Pannu, Major', 'Singh Pannu, Daljit']
1023535 ['Gottesfeld, G', 'Gottesfeld, Gloria']
3759210 ['Pittman Cardona, Ida', 'Cardona, Ida']
9187103 ['Geelan, Tom', 'Geelan, Thomas']
5446783 ['Weissberger, Eve', 'Weissberger, Eva']
7161891 ['DeMarco, Mary', 'Demarco, Mary']
5505062 ['Johnson, Frankie', 'Johnson, Frank']
4874064 ['Weissberger, Ron', 'Weissberger, Ronald']
4800885 ['Zuccarelli, BJ', 'Zuccarelli, B']
7581939 ['de Gagne, Serge', 'De Muller, Serge']
5325846 ['Vernia, Jan', 'Vernia, Janice']
5294843 ['Lundy, Ed', 'Lundy, Edmund']
2603772 ['Kinney, Wini', 'kinney, winifred']
9500847 ['DeRasmo, Jim', 'Derasmo, Jim']
6715397 ['Levin, Cindy', 'levin, cynthia']
4298101 ['Levy, Ed', 'Levy, Edward']
6910947 ['Smith, Chris', 'Smith, Christopher']
4078233 ['Ackerman, Steve', 'Ackerman, Steven']
8395098 ['Ackerman, Steve', 'Ackerman, Steven']
3050696 ['Deaton, Cynthia', 'deaton, c michael']
6225977 ['Hawkes, Anne Rahtjen', 'Rahtjen Hawkes, Anne']
2693933 ['Kloke, John', 'Kloke II, John']
7555741 ['Glad, Cindy', 'Glad, Cynthia']
5731615 ['Adams, Vickie', 'adams, victoria']
5495512 ['Dalton, Rick', 'Dalton, E']
4570820 ['Frey, Bob', 'Frey, Robert']
6204864 ['Whiting, Edgar', 'whiting iii, edgar']
3061507 ['McAlear, B. J.', 'McAlear, B J']
3639169 ['Vogel-Wright, Hedwig', 'Vogel Wright, Hedwig']
5664993 ['Knudsen, John', 'Knudsen, John Sverre']
2698889 ['Dunst, Jerry', 'Dunst, Jerome']
3880834 ['Willard, Babara', 'willard, b']
3844366 ['Shah, Hasnukh', 'Shah, Hasmukh']
3268039 ['Winterfield, Mike', 'Winterfield, Michael']
3670120 ['Kohn, Bernhard', 'Kohn Jr, Bernhard']
9437940 ['Macko, Maribeth', 'Macko, Mary']
2061066 ['Melville, Patricia', 'melville, pat']
5653371 ['Keller, Sid', 'Keller, Sidney']
7395507 ['Hsu, Yun Chung', 'Hsu, Yunchung']
1264184 ['Coppa, Gene', 'coppa, eugene']
1252747 ['Hill, Carol', 'hill, kay']
1129457 ['Offsay, Jan', 'offsay, janet']
1023241 ['Sholes, Ronald', 'Sholes, Ron']
5380324 ['Langley, Chuck', 'Langley, Charles']
2391090 ['Kulbersh, William', 'Kulbersh, Bill']
5106001 ['Thompson, Pat', 'Thompson, Patricia']
4540840 ['Ramnath, Ram', 'Ramnath, Mahadeva']
1190776 ['Kronholm, Jim', 'Kronholm, James']
5926564 ['Hoch, Dan', 'hoch, daniel']
6532497 ['Iking, Leo', 'iking, leonardus']
7794711 ['Howard, Ken', 'howard, kenneth']
4588630 ['Tamlyn, Rob', 'Tamlyn, Robert']
5930464 ['Holbrook, Doug', 'holbrook, douglas']
4536770 ['Fuller, Jr, Edwin', 'Fuller Jr, Edwin']
5684358 ['Stemkowski, Tatyana', 'stemkovski, tatyana']
6777635 ['Kindig, Judie', 'kindig, judith']
5482321 ['Bolch, Marykatherin', 'Katherine Bolch, Mary']
8787603 ['Stinnett, Bill', 'stinnett, william']
7643284 ['Bowen, Jim', 'Bowen, James']
8008256 ['Shaw Jr, Richard', 'shaw, richard']
3586057 ['Tipton, Hord', 'Tipton, W']
2361000 ['Kissel, G', 'Kissel, Jerry']
1890549 ['Cousineau, Ray', 'cousineau, raymond']
6308236 ['Turnbull, Kathy', 'turnbull, kathryn']
2444909 ['Von Spreckelsen, Dan', 'Von Spreckelsen, Daniel']
1241400 ['Margraff, Wendy', 'Ripley Margraff, Wendy']
3803708 ['McHann, Annette', 'McHann, Annette Lee']
3637492 ['Craney, J Jody', 'Craney, Jody']
1682601 ['Scharf, Jon', 'Scharf, E Jonathan']
3894614 ['Viviano, Fran', 'Viviano, Frances']
1886185 ['Plummer, Randy', 'Plummer, Richard']
7717369 ['Cobb, D. Brandon', 'Cobb, D Brandon']
3642984 ['Kalishman, Sid', 'Kalishman, Sidney']
5596785 ['Crain, Deborah', 'Crain, Debbie']
5609410 ['Salmela, Steve', 'salmela, steven']
6174183 ['England, Lynn', 'England, Linda']
5631033 ['Staver, Judith', 'Allen Staver, Judith']
3334929 ['Johnston, June', 'johnston, melody']
5631351 ['Gardner, Kathi', 'Gardner, Kathleen']
1416197 ['Harris, Ken', 'Harris, Kenneth']
5090148 ['Harris, Ken', 'Harris, Kenneth']
1823973 ['Harris, Ken', 'Harris, Kenneth']
3116786 ['Klein, Shelley', 'kelley, shelley']
4430638 ['Little, DeVerle', 'Little, Deverle']
5975735 ['Collins, Cyndi', 'Collins, Cynthia']
7711220 ['Gossett, Bill', 'gossett, william']
6352995 ['Reznik, Amy', 'Peterson, Amy']
7821166 ['Dodd, Debbie', 'Dodd, Deborah']
7726449 ['Sweat, Bill', 'sweat, william']
1484540 ['Morgan, Joe', 'Morgan, Joseph']
3162915 ['Bullert, Polly', 'Bullert, Pauline']
2574586 ['Skawronski, Cathy', 'skowronski, cathy']
2418533 ['Willner, Steve', 'willner, steven']
8372705 ['Huntington, Sandra', 'Hunt, Sandra']
5707943 ['Votolato, Al', 'Votolato, Albert']
5084709 ['Mills, Pete', 'Mills, Wilbur']
5732816 ['Seiler, Steve', 'seiler, steven']
7318928 ['Kristensen, Curtis', 'Kristensen, Curt']
4948726 ['Hoekwater, Jim', 'hoekwater, james']
8353859 ['Roos, Miriam', 'Roos, M Therese']
7707622 ['Carroll, Liv', 'carroll, livingston']
5318327 ['Purdy, Dick', 'Purdy, R']
7350066 ['Mastri, Dianne', 'Mastri, Diana']
1402447 ['Shanks, Rick', 'Shanks, Richard']
6668895 ['Bean, Liz', 'bean, erzsebet']
3370518 ['Fields, Jerry', 'Fields, Gerald']
1038486 ['Zamierowski, Jiggs', 'Zamierowski Jr, J']
3238296 ['Gentz, Bob', 'Gentz, Robert']
6024904 ['Foland, Binny', 'Foland, Robena']
6518036 ['Zogg, Clarissa', 'Zogg, Chris']
5247020 ['Furchtenicht, Sue', 'Furchtenicht, Susan']
1382993 ['Giloy, Doug', 'Giloy, Douglas']
6531709 ['Larson, Kyle', 'Larson, Kyle I']
5681111 ['Shair, Dave', 'shair, david k a']
7143885 ['Whitney, Char', 'whitney, charlene']
4864778 ['Carpenter, Bill', 'Carpenter, William']
1877070 ['St John, Doug', 'St John, Douglas']
7848234 ['Abarbanel, Mike', 'Abarbanel, Meyer']
8710880 ['Musser, Cindy', 'musser, cynthia']
5896622 ['Benedict, Pat', 'Benedict, Patricia']
4799801 ['Martenson, Tom', 'martenson, thomas']
2375826 ['Ye, Ginny', 'Ye, Ginney Qian']
4046900 ['Young, Jeff', 'young, jeffrey']
4463463 ['Gardner, Rick', 'Gardner, Richard']
1796283 ['Kelso, Jim', 'Kelso, James']
8105715 ['Cole, Jean', 'Cole, Jean Ann']
1584782 ['Cole, Jean', 'Cole, Jean Ann']
2599856 ['Deaton, Mike', 'deaton, c michael']
7245572 ['Carter, Jackie', 'carter, jacqueline']
6531105 ['Christensen, Mike', 'Christensen, Michael']
1002600 ['DeLong, Brian', 'Delong, Brian']
2489686 ['DeLong, Fran', 'DeLong, Frances']
4990803 ['Lenethen, Pat', 'Lenethen, Patricia']
6994334 ['Johnston, Sef', 'Johnston, Sef W']
5251443 ['St. Amand, Cecilie', 'St Amand, Cecilie']
2648172 ['Hassall, Barb', 'Hassall, Barbara Ann']
1581678 ['Stewart, Jim', 'Stewart, James']
7016913 ['Bryant, Gord', 'Bryant, Gordon']
2655624 ['Hostetler, Nell', 'hostetler, neeltje']
9436073 ['Edwards, Al', 'Edwards, Allan']
1281097 ['Hooyer, B', 'Hooyer, Ben']
5919150 ['Legacy, Liz', 'Legacy, Elizabeth']
1256424 ['TYLER, GORDON', 'Tyler, Gordon']
1241729 ['SMITH, PHIL', 'Smith, Philip']
2100770 ['GOWDY, JOHN', 'Gowdy, John']
3207676 ['NICHOLS, MAUREEN', 'Nichols, Maureen']
3927792 ['DeBaggis, John', 'Debaggis, John']
9136002 ['Laplant, Dave', 'laplante, david']
3206696 ['Webb, Dar', 'webb, d']
5925517 ['Condeluci Jr, William', 'Condeluci, Bill']
2440873 ['Bowen, JoAnn', 'Bowen, Joann']
3353214 ['McNaught, Sue', 'McNaught, Carol Sue']
1607022 ['Stults, Sandy', 'Stults, Sandra']
5648289 ['Phillips, J', 'phillips, john']
1631810 ['Liu, Jim', 'Liu, Jim Jing-Che']
9483136 ['Papermaster, Kathy', 'papermaster, kathryn']
5212804 ['Menezes, E', 'menezes, eunice']
1907263 ['DEIGHTON, SHIONA', 'Deighton, Shiona']
3810402 ['Bushnell, Bill', 'bushnell, william']
3034410 ['Mclaughlin, Malcolm', 'McLaughlin, Malcolm']
1939106 ['Minami, Sumi', 'minami, sumiye']
3913996 ['Riester Jr, William', 'Riester, Bill']
2650363 ['Schlinkert, J', 'Schlinkert, Joan']
3086437 ['Goodgold, Stu', 'Goodgold, Stuart']
4230388 ['Koernig, Dottie', 'Koernig, Dorothy']
4221265 ['Fitzpatrick, Peggy', 'fitzpatrick, peggy case']
3848574 ['Nance, Francis Carter', 'Nance, Francis']
5123372 ['Glaser, Jerry', 'glaser, jeremy']
4518527 ['Szulczewski, Joe', 'Szulczewski, Anthony']
4348141 ['Steeg, Charlie', 'steeg, charles']
8753431 ['Fitzwater, Teddy', 'Fitzwater, Theodora']
7530129 ['Eddy, Steve', 'Eddy, Stephen']
8009031 ['Black, Suzanne', 'Black, Ardean']
5127009 ['Van De Coevering, Art', 'vandecoevering, art']
3348504 ['Thacker, Max', 'Thacker, Anna Maxcine']
1814028 ['Mcdowell, Ann', 'McDowell, Ann']
1632558 ['Clark, Janet M.', 'Clark, Janet']
5866650 ['McDowell, Liz', 'McDowell, Elizabeth']
3523799 ['Penny, Ted', 'penny, edwin']
5916135 ['Goldin, Steve', 'Goldin, Stephen']
3945146 ['MacIntosh, Craig', 'macintosh, craig']
2614812 ['Ling, Yolande', 'ling, yolanda']
3952320 ['Sauro, Joe', 'Sauro, Joseph']
4138023 ['Engelbert, Sue', 'engelbert, susan']
8794669 ['Gravenkemper, Charlie', 'Gravenkemper, Charles']
8252645 ['Setterholm, Dave', 'Setterholm, David']
6749771 ['Ye, Gary', 'ye, gary jun']
2915545 ['Roberts, Stan', 'Roberts, Stanley']
5109337 ['Tone, Sandy', 'tone, sandra']
2987538 ['Campbell, Bill', 'campbell, william']
5999928 ['Scavone, Jim', 'scavone, james']
3380971 ['Collins, Phil', 'collins, philip']
5974127 ['Horn, Robert', 'horn, bob']
8256624 ['Stever, Tom', 'stever, thomas']
2429071 ['Scholes, Kenny', 'Scholes, Ken']
8301085 ['Etheredge, Ken', 'Etheredge, Kenneth']
3577546 ['McKenna, Chris', 'McKenna, Christine']
1936530 ['Hyland, Chris', 'hyland, christopher']
4864360 ['Swanson, Rick', 'Swanson, Richard']
3395081 ['Moen, Peggy', 'Moen, Margaret']
5657032 ['Lewis, Steve', 'lewis, steven mark']
8089434 ['Lewis, Steve', 'lewis, steven mark']
2003961 ['Feldman, Cliff', 'Feldman, Clifford']
9263349 ['Block, Terry', 'Block, Terence']
7822197 ['Pellett, Bill', 'Pellett, William']
5163560 ['Lapage, Alan', 'lapage, robert']
3116735 ['Cheeseman, Bob', 'Cheeseman, Robert']
2071126 ['Patterson, Sindy', 'Patterson, S K (Sindy)']
9073000 ['Lamb, Bud', 'lamb, william']
3445046 ['Hahn, Doug', 'Hahn, Douglas']
3445054 ['Steward, Jeff', 'Steward, Jeffrey']
8018839 ['Thompson, Ken', 'Thompson, Kenneth']
6526748 ['McDonald, Rick', 'mcdonald, richard']
1854623 ['LeVeille, Bettie', 'leveille, bettie']
1241389 ['Benoy, Clyde', 'Benoy III, Clyde']
9250700 ['Atherton, Fred', 'Atherton, Frederick']
2127881 ['Molenda, Chuck', 'Molenda, Charles']
4596846 ['Matthews, Wayne', 'Matthews, Wallace']
3217280 ['Carson, Gwen', 'Carson, Gwendolyn']
5997798 ['Griffin, Eleanor', 'Griffin, Elanor']
3578372 ['Flack, George', 'Flack Jr, George']
5958407 ['Calkins, Jackie', 'Calkins, Jacquelyn']
1112317 ['Connelly, Steve', 'connelly, stephen']
2757826 ['Powell, Judy', 'Powell, Judith']
1643207 ['Powell, Judy', 'Powell, Judith']
5955904 ['Stephenson, Trisha', 'stephenson, patricia']
5189144 ['Terpening, Herb', 'Terpening, Herbert']
7747659 ['Jett, Rick', 'jett, richard']
1399195 ['Watson, Phil', 'watson, philip']
2185946 ['Cox, Cindy', 'cox, cynthia']
5130905 ['Pinter, Tom', 'Pinter, Thomas']
3799565 ['Morris, Harriet Eaton', 'Eaton Morris, Harriet']
2763877 ['McCune, Kim', 'McCune, Haesun Kim']
1695738 ['Simon, Bob', 'Simon, Robert']
4524306 ['Sweeney, E. W.', 'Sweeney, Everett']
4571878 ['Burgess, Bill', 'Burgess, William']
7793766 ['Overton, Taylor', 'overton, william']
5772869 ['Jones, Pam', 'Jones, Pamela']
8384045 ['Bruce, Jan', 'Bruce, Janice']
1477471 ['Leech, Bob', 'leech, robert']
3180581 ['Gaspardo, Lou', 'gaspardo, louis']
7778716 ['Moran, Tom', 'Moran, Thomas']
7239408 ['Vandenburg, Elaine', 'van cura, elaine']
6721109 ['Berg, Mary', 'Berg, Mary Ann']
1340883 ['Koski, Bill', 'Koski, William']
7178808 ['Chapman, Carolyn', 'chapman withrow, caroly']
5482488 ['Elias, Ron', 'elias, ronald']
5495660 ['Lubiner, Florence', 'lubiner, flo']
1639269 ['Khan, Manzoor Ahmad', 'Khan, Manzoor']
5733650 ['Watson, Deering', 'watson, j deering']
7325134 ['DiPaula, Sue', 'Dipaula, Susan']
7537727 ['Kendall, Martha', 'kendall md, martha']
3944719 ['Zerebesky, Bill', 'Zerebesky, Billy']
7416563 ['Water, Bill', 'Marggraf, Betty']
3248089 ['Wright, Gwen', 'Wright, Goentje']
2507846 ['Sachs, Herb', 'Sachs, Herbert']
1438360 ['Owens, James (Jim)', 'owen, james']
3566013 ['Cressy, Sarah', 'Cressy, Sarah Anne']
2788721 ['Mani, Robby', 'mani, r']
1485415 ['Yood, Pam', 'yood, pamela']
2989468 ['DeAnda, Yuen', 'De Anda, Yen']
1694030 ['Boedecker, Wayne', 'Boedecker, George']
9218106 ['Mckinney, Shirly', 'McKinney, Shirley']
2004054 ['Hauser, Cindy', 'Hauser, Cynthia']
5962021 ['McGuire, Bob', 'McGuire, Robert']
2515938 ['Ruskin, Stanley', 'Ruskin, S']
2968940 ['Abelson, Ken', 'Abelson, Kenneth']
8398895 ['Zions, B Z', 'Zions, Bernard']
1249096 ['Bezdek, Mike', 'bezdek, michael']
3210332 ['Buford, Will', 'Burford, Will']
3236633 ['Flanigan, Beth', 'Flanigan, Elizabeth']
2072955 ['Pandjiris, Marcie', 'Pandjiris, Marcia']
5927986 ['Dalpe, Don', 'Dalpe, Donald']
4519965 ['Jones, Ken', 'jones, kenneth']
1630679 ['Lang, Dick', 'lang, richard']
2967189 ['Hume, Nony', 'Hume, Noni']
1772120 ['Melia, Franny', 'Melia, Frances']
8159874 ['VanDamme, Deborah', 'van bourgondien, debora']
2337258 ['Trussell, Jan', 'Trussell, Janis']
8270465 ['Berry, Bill', 'berry, william']
2495880 ['Roberts, Jackie', 'Roberts, Jacqueline']
5880548 ['Spencer, Karen Ross', 'Spencer, Karen']
7434936 ['Nash, Joann', 'nash, joan']
3774775 ['Nash, Joann', 'nash, joan']
5181941 ['Van Rooy, Donny', 'Van Rooy, Donald']
7601166 ['Colvett, Sonny', 'colvett, frank']
2080087 ['Fulton, Dave', 'fulton, david']
5503272 ['Fulton, Dave', 'fulton, david']
1258095 ['Stokdijk, Bill', 'stokdijk, willem']
3881717 ['Braedley, Bob', 'braedley, robert']
5255082 ['MacLean, Ken', 'maclean, kenneth']
8011753 ['Dethardt, Annie', 'Dethardt, Marianne']
4643399 ['Hair, Chip', 'hair jr, george chip']
1479733 ['Van Brunt, Elaine', 'van cura, elaine']
2388375 ['Aranci, Marlene', 'Aranci, M']
9315152 ['Pescador, Mary', 'Pescador, Mary Ellen']
6904793 ['Coens, Joe', 'coens, joseph']
1272489 ['Legallais, David', 'Le Gallais, James David']
6451187 ['Browne, Wally', 'Browne, Wallace']
7170637 ['Lent, Pat', 'Lent, Patricia']
6782221 ['Morris, Pat', 'Morris, Patricia']
5820375 ['Cowen, Stella', 'Cowe, Stella']
5019176 ['Wu, Rick', 'Wu, Rick Wei']
2526026 ['Dennis, Jim', 'dennis, james']
7546750 ['Dyba, Wally', 'dyba, walter']
7609361 ['Tucker, Vickie', 'tucker, victoria']
2606534 ['Macdonald, Eleanor', 'MacDonald, Eleanor']
6578608 ['Riehl, Jeff', 'riehl, jeffrey']
1296272 ['Ralston, B', 'Ralston, Bill']
2752980 ['Wirt, D', 'Wirt, Donna']
8691088 ['DeVaul, Rich', 'DeVaul, Richard']
4231341 ['Rosekrans, Adolf', 'rosekrans, adolph']
5195357 ['Chang, Shirley', 'Chang, Hsuehching']
1496085 ['Mertens, Maury', 'Mertens, Mauris']
3108295 ['Herrerc, Gonzalo', 'Herrera, Gonzalo']
4891376 ['Selchert, Mike', 'Selchert, Michael']
1457772 ['Pratzel, Mike', 'pratzel, michael']
2898268 ['Shannahan, Glenna', 'Shannahan, Glenna Kay']
6751024 ['Hunt, Sandy', 'Hunt, Sandra']
3313360 ['Chapple, Allan', 'Chapple, C Allan']
1418998 ['Diamond, Bill', 'diamond, william']
6620884 ['DeNaples, Donna', 'denaples, donna']
1171488 ['Acker, Ginny', 'Acker, Virginia']
7562551 ['Sweet, Ellie', 'Sweet, Eleanor']
1376675 ['Baker, Jim', 'baker, james']
6991351 ['Wardwell, Forrest', 'Wardwell Jr, Forrest']
1171151 ['Williamson, Terry', 'Williamson, Theresa']
9058354 ['King, Russ', 'King, Russell']
5750571 ['Todd, Marcie', 'todd, marcella']
5750512 ['Bradford, Ken', 'bradford, kenneth']
1686542 ['Golden, Vince', 'Golden, Vincent']
8125716 ['Radley, Jeff', 'Radley, Jeffrey']
6098444 ['Krueger, Bob', 'Krueger, Robert']
7843925 ['East, Deborah', 'moll, deborah']
5240395 ['Davis, Sherry', 'davis, sheryl']
4622502 ['Hofstede, Tony', 'Hofstede Jr, Anton']
3706370 ['MacKenzie, Cindy', 'Mackenzie, Cindy']
3706249 ['Gunn, Tony', 'Gunn, Roam']
8734054 ['Brown, Chris', 'brown, christopher']
1003283 ['Labbe, James', 'La Force, James']
4535189 ['Wasser, Rich', 'Wasser, Richard']
3782905 ['Lane, Marcia', 'lane, m']
5190991 ['Lavery, Bob', 'Lavery, Robert']
2655217 ['Vilker, Vince', 'vilker, vincent']
6418163 ['Lorber, Judy', 'Lorber, Judith']
8749949 ['Hand, Suzie', 'hand, suzanne']
3473384 ['Lum, Al', 'Lum, Albert']
8879575 ['Preece, Rob', 'Preece, Robert']
3679594 ['Byrne, Beth', 'Byrne, Beth Mary']
5942055 ['Mckittrick, Mike', 'mckittrick, mike']
3394336 ['FREEMAN Jr, Lawson', 'Freeman Jr, Lawson Sonn']
3597598 ['ROISEMAN, Richard', 'Roiseman, Richard']
3385086 ['MCGINNIS, Coley', 'McGinnis, Coley']
2056127 ['Ambach, Jack', 'Ambach Jr, Jack']
9114246 ['Helfeich, Sara', 'Helfrich, Sara']
4702808 ['Stanley, Sid', 'Stanley, Sidney']
3095908 ['Mason, Tom', 'Mason, Thomas']
6145426 ['Bacher, Bonnie', 'bacher, masako']
1303988 ['Thompson, Jim', 'thompson, james']
5767458 ['Ulrich, Joe', 'Ulrich, Joseph']
8256187 ['Chinn, Terry', 'Chinn, Terrance']
5698278 ['Buonafede, Toni', 'Buonafede, Antoinette']
7021909 ['Fino, Kathy', 'fino, kathleen']
6733689 ['Burger, Judy', 'burger, judith']
8783071 ['Di Benedetto, Joe', 'DiBenedetto, Joseph']
1731688 ['Mcardle, Mary', 'McArdle, Mary']
3102793 ['Berman, Carole B.', 'berman, carole']
9011668 ['Bernstein, D', 'Bernstein, Dave']
4176677 ['Brodkin, Elliot', 'brodkin, inga']
1270656 ['Gottlieb, Kati', 'Gottlieb, Katalin']
7633378 ['Klugerman, Larry', 'KLUGERMAN, Larry']
1059920 ['Spear, Ed', 'Spear, Edward']
7700695 ['Butera, Peg', 'butera, margaret']
3196100 ['Bell, Walt', 'Bell, Walter']
3561372 ['Heater, Ed', 'heater, edward']
2925745 ['Salter, Tom', 'Salter, Thomas']
5934907 ['Wassel, Rosemary', 'chaiken, janet']
2240912 ['Howard, M B', 'Howard, M']
3399958 ['Crames, Elinor', 'Crames, Ellie']
8071500 ['Fehrenbach, Shelly', 'fehrenbach, shelley']
2189933 ['Schark, Ryerson', 'Schwark, Ryerson']
1949985 ['Dujardin, Debbie', 'dujardin, deborah']
4699718 ['Reznik, Yuri', 'reznik, yury']

9824170 ['Deyerle, Richard', 'Deyerle, Rick']
5162246 ['Atteberry, Bill', 'Atteberry, William']
7344295 ['Loehnen, Elizabeth', 'loehnen, beth']
5552052 ['Kirsheman, Bill', 'kirsheman, william']
9977120 ['Smith, Sonia', 'Smith, Sonja']
3104338 ['Siegel, Ed', 'siegel, edward']
7489641 ['Griffin, James G', 'Griffin, James']
9163255 ['Blackewll, Patricia', 'blackwell, patricia']
5011639 ['Bourgoin, Bern', 'bourgoin, bernadette']
3900363 ['Slater, Jeff', 'slater, j']
7937431 ['Sanders, Bill', 'Sanders, Billy']
4397533 ['Mikulas, Bill', 'mikulas, william']
7765886 ['Clutterbuck, Tim', 'Clutterbuck, Timothy']
4322487 ['Skawronski, Mark', 'skowronski, mark']
9764372 ['Roby, Katherine', 'roby, kathy']
6498159 ['Hinkley, Bud', 'Hinckley, Bud']
8534365 ['Treiber, Steve', 'Treiber, Steven']
8891621 ['Robie, Jerry', 'Robie, Gerald']
6987478 ['Roman, Ed', 'roman, edmund']
8051321 ['Dubrau, Ken', 'Dubrau, Kenneth']
6853447 ['Dumbacher, Pat', 'dumbacher, patricia']
6645682 ['VanLierop, Gerry', 'Vanlierop, Gerry']
7425988 ['Morrison, Pat', 'Morris, Patricia']
9136010 ['Hicks, Kathy', 'hicks, kathryn']
9619275 ['Thompson, Mike', 'thompson, michael']
5544017 ['Waller, Jim', 'Waller, James']
5491096 ['Caldwell, Robert', 'caldwell iii, robert']
7224141 ['Reicher, Rob', 'reich, robert']
8472564 ['Morse, Rob', 'morse, robert']
5848881 ['Schwering, Fred', 'schwering, godfried']
6750028 ['Ye, Julia', 'ye, julia yan']
8150907 ['Tracy, Ron', 'Tracy, Ronald']
7525672 ['Scholes, Sandy', 'Scholes, Sandra']
7937008 ['Conlon, Tom', 'conlon, thomas']
9436642 ['Levy, Steve', 'Levy, Steven']
8704716 ['Dunn, Pat', 'Dunn, Patrick']
9212590 ['Ford, Jeff', 'Ford, Jeffrey']
6085555 ['Hildebrand, Dave', 'Hildebrand, David']
9520686 ['Van Nest, Tom', 'Van Nest, Thomas']
7536240 ['Darling, Rick', 'darling, richard']
9061088 ['Hubble, Andi', 'hubble, andrea']
9056785 ['Dalrymple, Deby', 'dalrymple, debra']
9193022 ['Shatilla, Don', 'Shatilla, Donald']
7175671 ['Olson, Del', 'olson, ruth']
4118944 ['Gee, Kenny', 'Gee, Ken']
6680372 ['LeBoeuf, Loralee', 'leboeuf, loralee']
7558058 ['Buford, Nan', 'Burford, Nannell']
9660887 ['Ghorayeb, Abe', 'Ghorayeb, Ibrahim']
9459995 ['Mullins, Josh', 'mullins, joshua']
7427166 ['Ater, Bill', 'ater, william']
7208294 ['Amabile, Chris', 'Amabile, Christina']
6904807 ['Coens, Lorrie', 'coens, lorraine']
9253572 ['Mullen, G', 'mullen, gloria']
7034431 ['Leenerts, Jerry', 'Leenerts, Gerald']
6412386 ['Borman, Pat', 'Borman, Patrick']
9616225 ['Philbrook, Parnuma', 'philbrook, pornuma']
7592558 ['Smeed, Bob', 'smeed, robert']
5957095 ['Brown-Hogan, Diana', 'brown, diana']
9106766 ['Houser, Don', 'houser, j donald']
3191508 ['Warren, Carlisle', 'warren, carlislie']
9109145 ['Kennedy, Dick', 'kennedy, richard']
8253323 ['Bacher, Ron', 'bacher, ronald']
9171177 ['Sawyer, Gordy', 'Sawyer, Gordon']
4702662 ['Wasser, Jan', 'wasser, janis']
7631197 ['Gaffney, Matt', 'gaffney, matthew']
5036577 ['Kalat, Nie-Lih', 'Kalat, Nie Lih']
5476976 ['Schomaker, Andi', 'schomaker, andrea']
7613121 ['Giampapa, Tony', 'giampapa, anthony']
7793464 ['Bland, Rick', 'bland, richard']
9695303 ['Westmeyer, Tony', 'westmeyer, edward']
7837259 ['Damrauer, Bev', 'damrauer, beverly']
5296862 ['Trude, Bill', 'trude, william']
8385130 ['Starbuck, Rick', 'Starbuck, Richard A']
8899738 ['Brueggemann, Kathy', 'brueggemann, kathryn']
1122126 ['Vanderhoof, Angela', 'van derhoof, angela']
8872929 ['MacGregor, Bob', 'macgregor, robert grant']
4891104 ['Teitelbaum, Dan', 'teitelbaum, daniel']
9170103 ['Berg, Enith', 'Friedman Berg, Enith']
7408285 ['Kung, Ed', 'Kung, Edward']
7615752 ['Ringel, Manny', 'ringel, emanuel']
9242880 ['Langer, Jaroslaw', 'Langer, Jarek']
7014511 ['Hackenberg, Tom', 'hackenberg, thomas']
1019384 ['Lindsey, Jim', "lindsey, james 'jim'"]
8251150 ['Marquart, Gary', 'Marquart, R Gary']
9827382 ['Cooney, Pamela', 'Cooney, J Pamela']
1699520 ['Warchol, Mike', 'Warchol, Michael']
8473919 ['Welter, Dolly', 'Welter, Delores']
8915512 ['Rodriguez, Kittie', 'Rodriguez, Catherine']
8268436 ['Hayes, Bill', 'hayes, wm']
6119239 ['Kadis, Elaine', 'Kadis, Elayne']
9981896 ['Lopes, James', 'Lopes, Jim']
8164339 ['Gibson, Mike', 'Gibson, Michael']
5042097 ['VanCura, Elaine', 'van cura, elaine']
9508066 ['Kung, Bob', 'kung, robert']
8614717 ['Bard, Jim', 'bard, james']
9144897 ['Ramsey., Coral Lee', 'ramsey, coral lee']
7676034 ['DeMattio, Rhoda', 'demattio, rhoda']
8801711 ['Buchanan, Buck', 'Buchanan, Edward']
9110631 ['Lavin, Don', 'lavin, donald']
8625751 ['Hudson, Dave', 'Hudson, David']
9260315 ['Antetomaso, Roy', 'antetomaso, leroy']
3559491 ['Rivera, Wil', 'rivera, wilson']
7808518 ['Collin, Jan', 'collin, janice']
6153305 ['Chapin, Dan', 'Chapin, D']
8136645 ['Wood, Kate', 'Wood, K']
4565088 ['Kiernan, Mike', 'kiernan, michael']
8438692 ['Spielholz, Gail', 'spielholtz, gail']
6874436 ['Lundblad, Bob', 'lundblad, b']
9790276 ['Plum, Kathy', 'plum, katharine']
8173516 ['Casper, Dave', 'Casper, David']
8283818 ['Reetz, Barb', 'Reetz, Barbara']
4281098 ['Rybak, Ron', 'rybak, ronald']
8961123 ['Silvius, Steve', 'silvius, stephen']
9365664 ['Duffy, Dave', 'duffy, david']
9147330 ['Nielsen, Jerry', 'Nielsen, Gerald']
7466900 ['Carpenter.., Lynn', 'Carpenter, Lynn']
7787790 ['Malouf, Carole', 'malouf, carol']
8412278 ['Paugh, Dwain', 'paugh, m dwain']
7702558 ['Frigon, Mike', 'Frigon, Michael']
6207138 ['Waterman, Randy', 'waterman, randolph']
9598421 ['LYSTER, DENNY', 'lyster, denny']
6208800 ['Doerner, Judy', 'Doerner, Judith']
9255532 ['Adelman, Stan', 'Adelman, Stanley']
9891374 ["O'Brien, Ellen", 'o hara, ellen']
8792208 ['Tumbler, Joe', 'tumbler, joseph']
9710515 ['Goldberg, Roz', 'Goldberg, Roslyn']
6386466 ['Riffel, Patti', 'Riffel, Patty']
8824991 ['Kalisz, Ron', 'Kalisz, Ronald']
7422385 ['Wellington, Betsy', 'wellington, elizabeth']
7800266 ['Schulkin, Nick', 'Schulkin, Nicholas']
9114866 ['Nimz, Kathy', 'Nimz, Kathleen']
8593280 ['Patterson, Don', 'Patterson, Donald']
9706372 ['Raabe Jr, Bud', 'Raabe, Bud']
9504206 ['Siegel, Jim', 'Siegel, James']
8918643 ['MALON, GEORGE', 'malon, george']
3252876 ['Hoffman, Bobbi', 'hoffman jr, robert']
3512479 ['Kehoe, Jan', 'Soules, Jan']
7993935 ['Lenertz, James', 'Lenertz, Jim']
9976167 ['Bull, Geoff', 'Bull, Geoffrey']
9755519 ['Dolan, Heather', 'Breckenridge, Heather']
9614028 ['Blumenthal, Kate', 'Blumenthal, K']
8817936 ['Pryor, Bill', 'pryor, william']
4919785 ['Fancher, Patty', 'fancher, patricia']
8056986 ['Pfohl, Fran', 'pfohl, francine']
9169040 ['Zalar, Liz', 'Zalar, Elizabeth']
3961575 ['Biederman, Ken', 'biederman, kenneth']
9384782 ['Redfern, Dick', 'Redfern, Richard']
9495320 ['Baldwin, Andy', 'Baldwin, Anne']
3206440 ["O'brien, Steve", 'o neil, steve']
8776164 ['McCloskey, Margery', 'McCloskey, Margie']
5025168 ['Warner, Peg', 'Warner, Peggy']
8808171 ['Arce, Bill', 'Arce, G William']
9774599 ['McClellan, Griff', 'McClellan, Griffin']
9200843 ['Vasil, Walt', 'Vasil, Walter']
9105506 ['Lefkowitz, Lew', 'lefkowitz, lewis']
5156394 ['Fisher, Ed', 'fisher, edward']
5935296 ['Eaton, Trish', 'Eaton, Patricia']
3965376 ['Farin, Phil', 'farin, philip']
6640524 ['Brinkman, Bernie', 'Brinkman, Bernard']
9786058 ['Goetz, Vern', 'Goetz, Vernon']
8732620 ['Wiley, Ed', 'wiley, edson']
7859651 ['Epstein, Lou', 'Epstein, Louis']
8810346 ['Rescek, Gerry', 'Rescek, Gerard']
8223440 ["O'Rourke, Paul", 'orourke, paul']
9296522 ['Minder, Doug', 'Minder, Douglas']
9402381 ['Fraser, Robert W', 'fraser, robert']
4777859 ['Briggs, Nancy C.', 'Briggs, Nancy']
3133966 ['Malet, Phil', 'malet, philip']
9512829 ['Dentai, Andrew', 'De Leon, Andrew']
7302851 ['Dalton, Elizabeth', 'Dalton, E']
6048277 ['Leifert, Shirlee', 'Leifert, Shirley']
7757506 ['Simpson, Marvin', 'Simpson, Marty']
9020454 ['Simmons, Lou', 'Simmons, Louis']
9648836 ['Abramson, Larry', 'abramson, laurence']
7672659 ['Patel, Kishorshandra', 'patel, kishor']
5955793 ['Harding, Rene', 'Harding, Irene']
4633539 ['Condon, Gene', 'Condon, Eugene']
8702799 ['Dennerline, Robert', 'denner, robert']
2979772 ['Kirkpatrick, Patty', 'Kirk, Patricia']
7337493 ['Fohey, Mike', 'fohey, michael']
9235574 ['Ries, Andy', 'ries, andrew']
7314752 ['Rossman, Lawrence', 'rossman, ross l']
5986850 ['Chiodo, Fran', 'chiodo, frances']
6971989 ['Prashad, Jai', 'prashad, jaikaran']
8810214 ['Bell, Steve', 'bell, stephen']
5957109 ['Lins, Rich', 'lins, richard']
7326068 ['Dubester, Judy', 'dubester, judith']
6757391 ['Ross-Payne, Amy', 'ross, amy']
4079450 ['Cornelis Van, Prooijen', 'Van Prooijen, Cornelis']
6048161 ['Demou, Simone', 'De Wijs, Simon']
9645314 ['Hupka, Mike', 'Hupka, Michael']
8300674 ['Feldman, Carol', 'Feldman, Carole']
8467919 ['Milam, Jim', 'Milam, James']
9254676 ['Pattie, Marie', 'Parfitt Pattie, Marie']
8936374 ['Whitesel, Bill', 'Whitesel, William']
7314019 ['Haslam, Val', 'haslam, valerie']
5418526 ['Seabring, Bob', 'seabring, robert']
6443354 ['McKenna, Mimi', "mckenna, aileen 'mimi"]
9123490 ['Bishop, Mary', 'bishop, mary frances']
9419446 ['Curry, Steve', 'Curry, Stephen']
5771978 ['Metzger, Larry', 'metzger, lawrence']
9075712 ['Whitmore, Jim', 'whitmore, james']
9924531 ['Triff, Bob', 'Triff, Robert']
9508295 ['Giddon, Don', 'Giddon, Donald']
4877578 ['Mitchell, Deb', 'mitchell, deborah']
9661948 ['Cunningham, Daniel', 'cunningham, d john']
7749562 ['Elliott, Roberta', 'elliott, robert']
5200326 ['Day, Rhona', 'Day, R Wilson']
8442762 ['Braun, Bob', 'braun, robert']
9887660 ['Doubek, Ron', 'Doubek, Ronald']
9557695 ['Schaffner, Steve', 'Schaffner, Steven']
8813698 ['Cohn, Ron', 'Cohn, Ronald']
8488932 ['Gyde, Steve', 'gyde, steven']
9941320 ['Beranek, Al', 'beranek, alexander']
9119043 ['Russell, Thomas', 'russell, tom']
8068062 ['Goulet, Gerry', 'Goulet, Gerard']
6725058 ['Ungureanu, Mike', 'ungureanu, mircea']
8898642 ['Maarouf, Hussein', 'maarouf, hussein ali']
8286086 ['Bockus, Gordon', 'Bock, G James']
9436138 ['Vaughan, Fred', 'vaughan, russell']
8427380 ['Wylie, Tom', 'Wylie, Thomas']
8494797 ['Safapour, Ron', 'safapour, mehran']
5177685 ['Bakshani, Nandkumar', 'Bakshani, Babs']
8169616 ['Yemen, Gary', 'ye, gary jun']
1929763 ['Coffrin, Albert', 'coffrin iii, albert']
5936632 ['Noble, Kayo', 'noble, kayomarz']
7762070 ['Bowen, Frank', 'bowen, f hardy']
7798288 ['Travnicek, Sandy', 'travnicek, sandra']
9300848 ['Morley, David', 'morley, james']
6832318 ['Cross, Chris', 'cross, christopher']
5511623 ['Krasovic, Valarie A', 'Krasovic, Valarie']
1843796 ['Swann, Mary Ann', 'swann, mary']
7964609 ['Conlon III, Thomas', 'conlon, thomas']
7774400 ['Cummins, Tom', 'cummins, thomas tom']
4219082 ['Tway, Pat', 'tway, patricia']
7153465 ['Wood, Donna', 'Lombardini, Donna']
9326340 ['McLean, Robert', 'McLean, R Douglas']
4511581 ['Stevenson, Sue', 'Stevenson, Suzanne']
4783670 ['Gourley, Jeffrey A', 'gourley, jeffrey']
7223137 ['Hoffing, Rick', 'hoffing, richard']
9743138 ['Lynch, Jim', 'lynch, james']
6972381 ['Lewis, Steven', 'lewis, steven mark']
7426186 ['Cunningham, Bob', 'cunningham, robert']
3448053 ['Bragin, Eleanor C', 'bragin, eleanor']
8451648 ['Ronderos, Al', 'Ronderos, Alvaro']
5776031 ['Schutze, Ken', 'Schutze, Kenneth']
7014694 ['Akin, Harry', 'Akin, R Harry']
9532757 ['Hales, Bonnie', 'Hales, Bonita']
6871518 ['Sallee, Steve', 'Sallee, Stephen']
7325665 ['Neren, Mike', 'neren, michael']
8483604 ['Suart Mcgill, Dawn', 'suart, dawn']
2443228 ['Barcus, Steve', 'Barcus, Steven']
7478038 ['Shade, G', 'Shade, Gary']
6264735 ['Simon, Al', 'simon iii, albert']
6952143 ['Jarchow, Ron', 'Jarchow, Ronald']
5320232 ['Kramer, Pat', 'kramer, patricia']
6003222 ['Tooley, Jackie', 'Tooley, Jacque']
3138313 ['Rottmayer, Bill', 'Rottmayer, William']
9627774 ['Smolen, Steve', 'Smolen, Steven']
7324065 ['Mead, Mike', 'mead, michael']
7577060 ['Rosenthal, Richard', 'rosenthal jr, richard']
3196763 ['Mason, GerriAnne', 'Mason, Gerrianne']
8035288 ['Hoffmann, Tom', 'hoffman, thomas']
1436066 ['Krieg, Robert', 'krieg, r']
9096191 ['McDonald, Sandy', 'mcdonald, sandra']
7652216 ['Hoffman, Judy', 'Hoffman, Judith']
7618395 ['Thompson, Gene', 'thom, gene']
9156623 ['Coggeshall, Pete', 'coggeshall, peter']
7646623 ['Wilde, Jeannie', 'wilde, jean']
6097871 ['Kuz, Bob', 'Kuz, Robert']
6159664 ['Goldberg, Kenneth', 'goldberg, ken']
7922051 ['Ju, Boyan', 'ju, zihua']
7458371 ['Fitts, Candice', 'Fitts, CJ']
9132325 ["O'Toole, Susan", 'otoole, susan']
6825621 ['Mattrey, Joe', 'mattrey, joseph']
5399696 ['Jones, Joseph', 'jones, joe']
4924649 ['Schmerl, Jim', 'schmerl, james']
6969062 ['Saxe, Gene', 'Saxe, Eugene']
1164589 ['De Barry, Bruce', 'deberry, bruce']
8705852 ['Lachner, James', 'La Force, James']
6732992 ['Ames, Steve', 'Ames, Stephen']
1287273 ['Jones, D', 'Jones, D Penny']
1518003 ['Jones, D', 'Jones, D Penny']
7003439 ['Jones, D', 'Jones, D Penny']
3326810 ['Jones, D', 'Jones, D Penny']
6865054 ['Jones, D', 'Jones, D Penny']
5401593 ['Jones, D', 'Jones, D Penny']
4086279 ['Jones, D', 'Jones, D Penny']
5277566 ['Jones, D', 'Jones, D Penny']
8788669 ['Jones, D', 'Jones, D Penny']
6004709 ['Jones, D', 'Jones, D Penny']
3595870 ['Lane, Marcella', 'lane, m']
5648068 ['Jacob, Mary Eliza', 'Jacobs, Mary']
7675941 ['Jacob, Mary Eliza', 'Jacobs, Mary']
4715446 ['Jacob, Mary Eliza', 'Jacobs, Mary']
7619286 ['Jacob, Mary Eliza', 'Jacobs, Mary']
2534290 ['Jacob, Mary Eliza', 'Jacobs, Mary']
7966296 ['Jacob, Mary Eliza', 'Jacobs, Mary']
1876740 ['Jacob, Mary Eliza', 'Jacobs, Mary']
6446388 ['Derito, Lawrence', 'de lucia, lawrence dev']
7350929 ['gwaltney, judith', 'gwaltney, j bruce']
4317181 ['berg, richard', 'berger, richard']
3355667 ['berg, richard', 'berger, richard']
5165164 ['berg, richard', 'berger, richard']
9710736 ['berg, richard', 'berger, richard']
3739171 ['lang, richard', 'lange, richard']

In [14]:
# takes 20s
# write out dicts of matched and unmatched name/player_ids in pkl and excel formats.
player_id_name_matches_file = acblPath.joinpath('player_id_name_matches_dict.pkl')
pd.to_pickle(acbl_player_name_to_id_dict, player_id_name_matches_file) # create dict file
player_id_name_matches_df = pd.DataFrame({'Name':acbl_player_name_to_id_dict.keys(),'player_id':acbl_player_name_to_id_dict.values()})
player_id_name_matches_df.to_excel(player_id_name_matches_file.with_suffix('.xlsx')) # create excel file of matches
player_id_name_unmatches_file = acblPath.joinpath('player_id_name_unmatches_dict.pkl')
player_id_name_unmatches_df = pd.DataFrame({'Name':unmatched_names,'player_id':[None]*len(unmatched_names)})
player_id_name_unmatches_df.to_pickle(player_id_name_unmatches_file) # don't bother creating an unmatched df?
player_id_name_unmatches_df.to_excel(player_id_name_unmatches_file.with_suffix('.xlsx')) # create excel file of unmatches
len(missing_player_ids),len(player_id_name_matches_df),len(player_id_name_unmatches_df),len(acbl_player_name_to_id_dict)

(76, 285309, 76, 285309)

In [15]:
# takes 6s
# for each df, assign any missing player_ids using newly updated dict.
# Some player_ids will be missing because acbl API retrival is flawed e.g. api rejects names containing ' .,+-' etc.
for k,df in dfsd.items():
    print(k,df.columns,k in df.columns)
    if 'player_id' in df:
        df['player_id'] = df.apply(lambda r: r['player_id'] if r['player_id'] else acbl_player_name_to_id_dict[r['Name']],axis='columns')
        display(k,len(df),'Players missing player_id:',df[df['player_id'].map(lambda pid: len(pid) == 0)])
        df_file = bprPath.joinpath(k+'.pkl')
        df.to_pickle(df_file) # create df file
        df.to_excel(df_file.with_suffix('.xlsx')) # create excel file
    elif 'pair_ids' in df:
        df['pair_ids'] = df.apply(lambda r: [[str(pid) for pid in lpid] if lpid else acbl_player_name_to_id_dict[name] for lpid,name in zip(r['pair_ids'],r['Names'])],axis='columns')
        display(k,len(df),'Pairs missing a player_id:',df[df['pair_ids'].map(lambda llpid: any([len(lpid)==0 for lpid in llpid]))])
        df_file = bprPath.joinpath(k+'.pkl')
        df.to_pickle(df_file) # create df file
        df.to_excel(df_file.with_suffix('.xlsx')) # create excel file
    else:
        assert False
    display(df.head())

allmps Index(['Rank', 'MP's', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'allmps'

5000

'Players missing player_id:'

0     Rank      MP's Unit                     Name player_id
198    199  17664.60  354        O'Rourke, Lou Ann        []
255    256  15961.75  446                Ho, Sun-O        []
470    471  12557.40  151        L'Ecuyer, Nicolas        []
526    527  12166.49  373       Del'Monte, Ishmael        []
846    847  10054.72  999      Jean-Jacques, Palau        []
1331  1332   8231.90  218               Lo, Ai-Tai        []
1531  1532   7653.56  166            D'Souza, Lino        []
1725  1726   7160.18  373          Kay-Wolff, Judy        []
2613  2614   5708.77  253  Cannamela, Jr, R. Arthu        []
2838  2839   5453.64  207         O'Donnell, Kevin        []
2925  2926   5366.23  135   Burgess-Strauss, Marie        []
3194  3195   5126.58  108  Hamilton-Diesel, Stepha        []
3579  3580   4822.27  437         O'Brien, William        []
3619  3620   4794.26  140           Liao, Jin-Ming        []
3747  3748   4692.42  128      Sellers, Jr, Daniel        []
3884  3885   4590.07  171        Brown, Jr, Nelson        []
4210  4211   4366.49  139       Nettles, C. Leland        []
4605  4606   4148.77  154         O'Connell, James        []
4626  4627   4142.43  505        O'Toole, Patricia        []
4998  4999   3945.35  141  Rubinstien, Yacob(Jacob        []

0 Rank      MP's Unit              Name  player_id
0    1  92862.58  128  Meckstroth, Jeff  [4580699]
1    2  87910.58  176     Passell, Mike  [1622382]
2    3  78168.46  128     Rodwell, Eric  [5482658]
3    4  76525.13  174       Wold, Eddie  [3443949]
4    5  71817.34  210        Lair, Mark  [5830400]

allpr Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'allpr'

4853

'Players missing player_id:'

0     Rank     PR Games Unit                     Name player_id
160    165  65.02   124  539      Madison-Jammal, Sam        []
683    694  61.89    34  253  Cannamela, Jr, R. Arthu        []
929    946  61.07    27  140                  Fill In        []
1054  1071  60.71    22  153         Sundaram, K.V.K.        []
1055  1072  60.71    18  999            Lee, Kang-Won        []
1252  1270  60.27   100  246     Weisz-Margules, Adam        []
1303  1321  60.15    69  128       Goggin, M. Gregory        []
1533  1555  59.65    89  128             CALDEN, Gene        []
1720  1743  59.31    41  140                  Fill In        []
1751  1774  59.26    39  102  Litman-Cohen, Katherine        []
1802  1825  59.17    49  106          Dell'osso, John        []
1811  1834  59.15    86  507            Luo, Luen-Jyh        []
2228  2258  58.50    96  119     McKinney, E.R. 'Bud'        []
2433  2468  58.21    47  108         Swan, Jr., James        []
2452  2487  58.18    49  246        KONG, CharlesChan        []
2575  2613  58.00    75  240       CLEVELAND, Bernice        []
2631  2670  57.93    67  194              HORTIE, Joe        []
2772  2817  57.73   109  246          KRUMHOLZ, Danny        []
3060  3107  57.33    37  454  D'Litzenberger, Richard        []
3220  3270  57.12    64  128      Sellers, Jr, Daniel        []
3266  3316  57.08    47  356                  Fill In        []
3430  3482  56.90    20  160       PRITCHARD, Carolyn        []
3621  3674  56.73   158  155             FARMAN, Pari        []
3684  3738  56.67    42  354          Pientka, D'Anne        []
3720  3774  56.62    64  246              CERIT, Nuri        []
3725  3779  56.62    83  530                  Maja, -        []
3883  3938  56.45    59  137          JOHANSEN, Larry        []
3985  4042  56.34    31  117        Stinnett, William        []
4393  4459  55.90    30  102        O'Connor, Timothy        []
4475  4541  55.83   134  135   Burgess-Strauss, Marie        []
4641  4713  55.63   117  128          Bruckman, David        []
4684  4756  55.60    63  243              Maloney, K.        []
4694  4766  55.59   105  141  Wolff, Esquire, Deborah        []
4828  4902  55.45    62  354      KIRKPATRICK, Thomas        []

0 Rank     PR Games Unit               Name  player_id
0    1  72.09   137  108  Grossack, Zachary  [2250896]
1    2  71.27    60  174        Wold, Eddie  [3443949]
2    3  71.14    86  373        Shi, Sylvia  [5420105]
3    4  71.02   201  538     Itabashi, Mark  [6811434]
4    5  71.01   164  128  Cappelletti, Mike  [2601087]

d9rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'd9rank'

3099

'Players missing player_id:'

0     Rank     PR Games Unit                     Name player_id
207    209  60.15    69  128       Goggin, M. Gregory        []
250    252  59.65    89  128             CALDEN, Gene        []
285    287  59.26    39  102  Litman-Cohen, Katherine        []
468    473  58.00    75  240       CLEVELAND, Bernice        []
597    604  57.12    64  128      Sellers, Jr, Daniel        []
847    856  55.90    30  102        O'Connor, Timothy        []
905    915  55.63   117  128          Bruckman, David        []
911    921  55.60    63  243              Maloney, K.        []
1056  1066  54.98    62  128     Ketchum, Jr, William        []
1247  1258  54.25   135  128            LEVINE, Jerry        []
1258  1269  54.22    32  128              Bard, James        []
1576  1592  52.95    50  128              GLOVER, Ted        []
1725  1742  52.44    50  243          BENNETT, Sophia        []
1763  1781  52.31    72  240          Harmon-Hanna, E        []
1771  1789  52.27    28  128            ENGLISH, Neil        []
1779  1797  52.24    42  102         A'Hearn, Beverly        []
2493  2518  49.67    65  243              FERTIK, Lil        []
2535  2561  49.46    51  243          WEISMAN, Milton        []
2566  2592  49.34    48  128           Wesley, Gerald        []
2603  2629  49.20    48  243         WEINSTEIN, Janet        []
2715  2741  48.78    91  128         Dickson, Jo-Beth        []
2739  2765  48.70    64  128            SCHEFFER, Pat        []
2769  2795  48.61    32  128          ROSENTHAL, Matt        []
2771  2797  48.60    46  809               CAWBY, Kay        []
2812  2839  48.44    55  243              BENYES, Eli        []
3061  3089  47.42    95  128            Kogut, S Dean        []

0 Rank     PR Games Unit               Name  player_id
0    1  71.01   164  128  Cappelletti, Mike  [2601087]
1    2  70.76    47  128   Meckstroth, Jeff  [4580699]
2    3  69.59    69  128    Stamatov, Jerry  [9936327]
3    4  69.13    50  128      Rodwell, Eric  [5482658]
4    5  68.38    66  243  Pavlicek, Richard  [3565408]

improv6 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'improv6'

4944

'Players missing player_id:'

0     Rank last/PR old/PR PR/inc Unit                     Name player_id
85      87   60.23  56.88   3.35  153         Sundaram, K.V.K.        []
102    104   53.34  50.07   3.27  351      Maresso-Paco, Frank        []
385    390   58.20  55.71   2.49  108         Swan, Jr., James        []
463    470   50.77  48.40   2.37  525               EMAM, Amin        []
546    557   44.37  42.11   2.25  128            KENZER, Ricky        []
572    584   50.33  48.11   2.22  243              FERTIK, Lil        []
622    635   50.99  48.83   2.16  454             HAAS, George        []
629    642   51.22  49.07   2.15  114     Housman Jr, W.Glover        []
684    698   46.99  44.89   2.10  452   Lacombe-Ingham, Sherry        []
723    738   45.43  43.36   2.07  151         SHEFFREN, Hannah        []
791    806   54.16  52.14   2.02  354         Berton, Jr, Jack        []
793    808   56.11  54.10   2.01  243              Maloney, K.        []
955    971   52.61  50.72   1.89  240          Harmon-Hanna, E        []
957    973   56.21  54.32   1.89  117        Stinnett, William        []
1037  1053   57.68  55.84   1.84  530                  Maja, -        []
1063  1079   46.79  44.97   1.82  128           BORNS, Charles        []
1277  1295   59.91  58.23   1.69  128       Goggin, M. Gregory        []
1332  1351   52.58  50.92   1.65  192     Benoit, Marie-France        []
1436  1457   62.37  60.77   1.60  253  Cannamela, Jr, R. Arthu        []
1600  1624   47.37  45.84   1.52  128           REDDY, Bhaskar        []
1644  1668   42.35  40.85   1.50  128       KENZER, RickiTobin        []
1807  1833   56.62  55.19   1.43  160       PRITCHARD, Carolyn        []
1871  1897   52.23  50.82   1.41  128            ENGLISH, Neil        []
1946  1973   40.79  39.41   1.38  246             DHAWAN, Bina        []
2161  2191   47.81  46.50   1.31  128         Dickson, Jo-Beth        []
...    ...     ...    ...    ...  ...                      ...       ...
2573  2608   47.46  46.28   1.18  249               WAUD, June        []
2594  2630   59.72  58.55   1.17  246        KONG, CharlesChan        []
2925  2962   54.12  53.04   1.08  128     Ketchum, Jr, William        []
3292  3335   51.23  50.25   0.99  412              ALEX, Annie        []
3297  3340   59.09  58.11   0.98  106          Dell'osso, John        []
3309  3352   49.72  48.74   0.98  356    Cooper-Baker, Rebecca        []
3329  3372   45.75  44.78   0.97  155   Bickel-Scribner, Susan        []
3622  3666   43.73  42.81   0.92  151               NABI, Ruth        []
3674  3720   49.65  48.74   0.90  151             KATES, Bobbi        []
3745  3792   47.65  46.76   0.89  802             PULLEN, Dora        []
3768  3815   59.87  58.98   0.88  246     Weisz-Margules, Adam        []
3854  3902   43.62  42.76   0.86  801          TEICHER, Rachel        []
3917  3966   45.40  44.55   0.85  243            ENTIUS, Simon        []
3974  4023   50.87  50.03   0.84  359      Serio, Sandra-Leigh        []
4059  4108   43.71  42.89   0.82  128         Levine, Md, Paul        []
4083  4132   60.59  59.77   0.82  999            Lee, Kang-Won        []
4233  4284   51.33  50.54   0.78  155          SHAMASH, Jackie        []
4277  4328   55.85  55.08   0.77  999            SHIELS, Brian        []
4340  4391   57.09  56.33   0.76  356                  Fill In        []
4421  4473   39.97  39.23   0.74  151         WEXELMAN, Ronnie        []
4519  4571   44.56  43.84   0.73  452            ZILLMAN, Dave        []
4624  4678   54.49  53.78   0.71  172       SCHUAKHOFER, Chuck        []
4687  4741   57.44  56.74   0.70  155             FARMAN, Pari        []
4761  4815   55.32  54.64   0.68  354      KIRKPATRICK, Thomas        []
4938  4995   56.84  56.19   0.65  354          Pientka, D'Anne        []

[55 rows x 7 columns]

0 Rank last/PR old/PR PR/inc Unit               Name  player_id
0    1   55.48  49.81   5.67  114      Cone, Cynthia  [4928725]
1    2   50.50  44.90   5.60  243      Chance, Doris  [5571790]
2    3   61.08  55.65   5.43  128       Land, Jeanne  [1249495]
3    4   40.47  35.14   5.34  159       Warach, Jane  [8043620]
4    5   56.37  51.06   5.31  128  Baniewicz, Jeanne  [9442677]

improv12 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'improv12'

4950

'Players missing player_id:'

0     Rank last/PR old/PR PR/inc Unit                     Name player_id
20      21   56.62  51.63   4.99  160       PRITCHARD, Carolyn        []
64      65   46.99  42.80   4.19  452   Lacombe-Ingham, Sherry        []
226    228   50.33  46.92   3.41  243              FERTIK, Lil        []
358    361   47.37  44.27   3.10  128           REDDY, Bhaskar        []
472    476   58.20  55.31   2.89  108         Swan, Jr., James        []
536    541   53.34  50.55   2.79  351      Maresso-Paco, Frank        []
677    687   57.68  55.08   2.60  530                  Maja, -        []
718    728   52.78  50.22   2.56  243          BENNETT, Sophia        []
734    744   51.22  48.68   2.54  114     Housman Jr, W.Glover        []
774    785   60.23  57.75   2.48  153         Sundaram, K.V.K.        []
801    812   56.11  53.66   2.46  243              Maloney, K.        []
914    927   50.99  48.63   2.36  454             HAAS, George        []
921    934   45.27  42.92   2.36  249         KELLESTINE, Mike        []
967    980   46.79  44.48   2.31  128           BORNS, Charles        []
1135  1151   54.12  51.93   2.18  128     Ketchum, Jr, William        []
1242  1259   44.37  42.26   2.11  128            KENZER, Ricky        []
1595  1616   56.21  54.30   1.91  117        Stinnett, William        []
1631  1652   59.91  58.02   1.89  128       Goggin, M. Gregory        []
1677  1699   54.49  52.62   1.87  172       SCHUAKHOFER, Chuck        []
1712  1734   60.59  58.74   1.84  999            Lee, Kang-Won        []
1845  1869   55.32  53.54   1.77  354      KIRKPATRICK, Thomas        []
2031  2056   62.37  60.68   1.69  253  Cannamela, Jr, R. Arthu        []
2067  2093   57.69  56.02   1.67  194              HORTIE, Joe        []
2172  2198   42.35  40.72   1.63  128       KENZER, RickiTobin        []
2310  2336   54.16  52.58   1.58  354         Berton, Jr, Jack        []
...    ...     ...    ...    ...  ...                      ...       ...
2356  2383   51.33  49.77   1.56  155          SHAMASH, Jackie        []
2394  2421   41.62  40.08   1.54  151    Shaffer, Anne(Nonnie)        []
2869  2898   45.75  44.37   1.38  155   Bickel-Scribner, Susan        []
2899  2928   45.26  43.89   1.37  246         HADDRICK, Tricia        []
2911  2940   50.83  49.46   1.37  431      Scott-Kerr, Michael        []
2937  2966   45.43  44.07   1.36  151         SHEFFREN, Hannah        []
2942  2972   42.62  41.27   1.36  802           SIFTON, Louise        []
2988  3018   50.87  49.52   1.34  359      Serio, Sandra-Leigh        []
3079  3111   54.59  53.27   1.32  246          LAMPERT, Glenda        []
3456  3494   50.91  49.69   1.21  141           ROBBINS, Grace        []
3566  3604   52.23  51.04   1.18  128            ENGLISH, Neil        []
3568  3606   39.97  38.78   1.18  151         WEXELMAN, Ronnie        []
3594  3632   52.58  51.40   1.18  192     Benoit, Marie-France        []
3686  3726   48.52  47.36   1.16  356              Day, Jo-Ann        []
3693  3733   56.79  55.63   1.16  137          JOHANSEN, Larry        []
3837  3880   49.65  48.54   1.11  151             KATES, Bobbi        []
3972  4016   47.81  46.73   1.07  128         Dickson, Jo-Beth        []
4138  4183   41.21  40.17   1.04  246             AMINIAN, Rez        []
4150  4196   43.71  42.68   1.03  128         Levine, Md, Paul        []
4198  4244   53.35  52.33   1.02  433  Norton-Nader, Rose Mari        []
4411  4459   46.29  45.32   0.97  155  Bacon-Rothchild, Debora        []
4506  4554   47.07  46.11   0.95  151         FREEDMAN, Stuart        []
4570  4619   49.72  48.78   0.94  356    Cooper-Baker, Rebecca        []
4786  4837   47.46  46.57   0.89  249               WAUD, June        []
4800  4851   47.79  46.91   0.89  364            HEIDEMAN, Joe        []

[51 rows x 7 columns]

0 Rank last/PR old/PR PR/inc Unit                 Name  player_id
0    1   50.77  43.24   7.52  189  Fitzpatrick, Bonnie  [3194043]
1    2   47.76  40.89   6.87  373   Koziol, Malgorzata  [1441426]
2    3   56.37  49.53   6.84  128    Baniewicz, Jeanne  [9442677]
3    4   49.91  43.30   6.61  452    Krasovic, Valarie  [5511623]
4    5   53.21  46.70   6.51  140        Armus, Nadine  [1974718]

improv24 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'improv24'

245

'Players missing player_id:'

Empty DataFrame
Columns: [Rank, last/PR, old/PR, PR/inc, Unit, Name, player_id]
Index: []

0 Rank last/PR old/PR PR/inc Unit              Name  player_id
0    1   63.74  57.30   6.45  503     Kemper, Carol  [4331699]
1    2   68.27  61.88   6.39  119  Ayyagari, Murthy  [9146962]
2    3   55.95  49.73   6.21  196       Drabek, Yan  [5172713]
3    4   60.36  54.20   6.17  425  Schmahl, Michael  [4934148]
4    5   66.46  60.92   5.54  132     Kopper, David  [2212501]

underate Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PR', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False

'underate'

4953

'Players missing player_id:'

0     Rank     UR PR/MP's  MP's     PR Unit                     Name player_id
67      68  11.34    9769   551  60.71  153         Sundaram, K.V.K.        []
113    114  10.25    2801   151  55.13  126  Rudikoff, M.D., Jeffrey        []
114    115  10.24   39378  2613  65.02  539      Madison-Jammal, Sam        []
231    232   9.13    9769  1067  60.71  999            Lee, Kang-Won        []
366    370   8.38    1838   154  53.33  533        Layne Carr, Suzie        []
392    396   8.24    7285   850  59.26  102  Litman-Cohen, Katherine        []
704    710   7.00    1176   149  51.86  452            O'Hara, Susan        []
991    998   6.32    3330   581  55.90  102        O'Connor, Timothy        []
1471  1481   5.45    8804  2566  60.15  128       Goggin, M. Gregory        []
1505  1516   5.39    7131  2074  59.17  106          Dell'osso, John        []
1509  1520   5.39    3695   826  56.34  117        Stinnett, William        []
1766  1778   5.05    2338   529  54.27  354         Berton, Jr, Jack        []
1895  1910   4.88    1293   312  52.16  515        O'Donnell, Bonnie        []
2331  2350   4.36    1306   372  52.20  351      Maresso-Paco, Frank        []
2432  2452   4.26    3925  1369  56.62  530                  Maja, -        []
2570  2592   4.13    7110  2744  59.15  507            Luo, Luen-Jyh        []
2617  2639   4.08    9010  3562  60.27  246     Weisz-Margules, Adam        []
2622  2644   4.08    5500  2265  58.21  108         Swan, Jr., James        []
3237  3264   3.56   17574  5709  61.89  253  Cannamela, Jr, R. Arthu        []
3474  3505   3.37     403   145  48.12  114     Housman Jr, W.Glover        []
3577  3608   3.29     350   126  47.63  452   Lacombe-Ingham, Sherry        []
3590  3621   3.28     173    41  45.37  446           Evans, Garrism        []
3776  3807   3.14    5995  2921  58.50  119     McKinney, E.R. 'Bud'        []
4082  4117   2.94     143    34  44.72  207          Tseng, Chung-Ye        []
4146  4181   2.89    3075  1504  55.60  243              Maloney, K.        []
4371  4410   2.74    2720  1325  54.98  128     Ketchum, Jr, William        []
4380  4421   2.73     546   254  49.33  562          Kangas, Stanley        []
4429  4470   2.70     139    37  44.63  234      Stebner, Walter Ron        []
4569  4612   2.62    3970  2227  56.67  354          Pientka, D'Anne        []
4814  4859   2.46     645   343  50.03  132        Carduff, L Janice        []
4937  4983   2.39     475   237  48.78  531       McInerny, Nicholas        []
4943  4989   2.38    2899  1626  55.32  356           McKethen, John        []

0 Rank     UR PR/MP's MP's     PR Unit               Name                                                                                            player_id
0    1  19.01    7231    1  59.22  128       Olster, Evan  [tmp:1bd69b97-671c-498b-9b13-554a2926a285, tmp:6637f30e-5942-4a56-87fb-7b8fc7f60e71, tmp:2ddfbbf...
1    2  18.80    6908    2  59.03  246        Rosin, Leah  [tmp:1c0dd554-02b5-4c03-931c-287c14ed2c79, tmp:617f2476-72a2-4dd1-85b1-20a9347f7beb, tmp:aaca79b...
2    3  17.70    8321   42  59.86  128       Lieser, John                                                                                            [4240464]
3    4  17.57    9528   69  60.57  473  Grijalva, Rolando        [7928378, tmp:dd9921da-821c-40bb-9e35-1cc85b8db6c3, tmp:80eda9d1-a123-467b-ada3-8931c969e76b]
4    5  17.39    5095    9  57.97  431         Kelly, Ken  [tmp:90dfb096-2e5f-495c-8804-eb1c6406843f, tmp:b3e7843c-01f9-4f87-97c1-91358940371c, tmp:940f616...

urpairs Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PairR', 'Unit', 'Names', 'pair_ids'], dtype='object', name=0) False

'urpairs'

4930

'Pairs missing a player_id:'

0     Rank     UR PR/MP's   MP's  PairR     Unit                                        Names                                          pair_ids
0        1  18.80   37191    146  61.68  999/999         [Robinson, Claire, Bakhshi, Heather]                                   [[6025366], []]
1        2  16.20   37598    404  62.06  999/999               [Sherman, David, Capal, Tracy]                                          [[], []]
5        6  14.83   12999    218  58.77  999/999           [Shapochnik, Gersh, Yadadov, Rami]                                          [[], []]
6        7  14.35    7608     84  56.48  150/150        [Woodard, Wendell, Cummings, William]                                   [[], [9934987]]
8        9  13.42   53307    624  59.75  999/506                [Guven, Metin, Bichara, Rita]                                   [[], [7703252]]
10      11  13.15   83234   3281  65.44  999/446              [King, Phillip, Castner, Kevin]                                          [[], []]
12      13  12.45   43802   1336  61.22  999/999                 [Bird, Nigel, Senior, Brian]                                          [[], []]
17      18  11.73   70333   2973  64.38  141/190      [Foerster, Thomas, Marlow, Christopher]                                   [[4938828], []]
18      19  11.60    5831    197  55.35  354/354                   [Gyde, Rita, Gyde, Steven]                                   [[7772866], []]
21      22  11.36   58265   1432  58.35  115/115               [Harding, Charles, Rizzi, Tom]                                   [[6690149], []]
22      23  11.23   50232   2371  60.94  573/573                [Nattrass, Wayne, Yao, Warke]                                          [[], []]
23      24  11.22   12832    664  58.58  999/999              [Vidigal, Caru, Menezes, Lucia]                                          [[], []]
26      27  10.93   60676   3292  63.73  242/242           [Krevor, Michael, Bilich, Charles]                                   [[1878433], []]
29      30  10.82    2657     54  52.25  143/143            [Bouchein, David, Graham, Robert]                                   [[], [3833356]]
33      34  10.64    4644    190  54.11  141/141                 [Levin, Mark, Goldberg, Ken]                                   [[5004292], []]
34      35  10.50   26868   1511  60.75  166/166       [Iaboni, Aled Antony, Macaulay, Ethan]                                          [[], []]
37      38  10.48   10526    691  58.07  999/999          [Fougerouse, Pierre, Marland, Jane]                                          [[], []]
38      39  10.45   43047    581  55.68  246/246                    [Wu, Rick Wei, Ju, Zihua]                                   [[5019176], []]
39      40  10.44  104300  14301  67.06  246/503                 [Chan, Richard, Sheng, Ming]                                   [[3905969], []]
46      47  10.20    5078    261  54.64  240/240                 [Jett, Richard, Jett, Janie]                                   [[], [7794495]]
47      48  10.18    5989    321  55.22  507/550             [Kamdar, Bharat, Vaidya, Hemant]                                   [[2936062], []]
50      51   9.99    4557    239  54.16  225/225           [McGown, Gavin, Walton, Roger Max]                                          [[], []]
51      52   9.91   12953    935  58.43  123/123                    [Chen, Patrick, Ng, Ruth]                                   [[7337264], []]
62      63   9.70    6976    473  55.35  153/140           [Tsavaris, Anastasia, Xing, Ruiqi]                                          [[], []]
80      81   9.45    2823    139  52.30  188/188     [Bergold, Martha, McKenna, Aileen 'Mimi]                                   [[3536254], []]
...    ...    ...     ...    ...    ...      ...                                          ...                                               ...
4820  4889   2.88     211     37  43.92  222/149             [Bouldin, G Sid, Burgener, Jean]                                          [[], []]
4821  4890   2.88     225     43  44.05  216/216            [Newton, Alisha, Bittner, Chancy]                                          [[], []]
4831  4901   2.88    3054   1227  52.68  503/503          [Bushnell, William, Cassidy, Leigh]                                   [[], [9288554]]
4833  4903   2.88     617    247  47.18  253/253           [Swan, Ruth, Elia Shaoul, Suzanne]  [[], [tmp:58da9e77-fbec-4ec9-b75e-425c183c6c84]]
4837  4907   2.88     621    265  47.27  153/153      [Thompson III, Loy, Mallard, E Lynwood]                                   [[3281418], []]
4843  4913   2.88    7139   2615  53.91  503/503          [Menezes, Eunice, Menezes, Eusebio]                                   [[], [6717128]]
4855  4925   2.87    2948   1301  51.73  999/431            [Lapage, Robert, Edwards, Louise]                                   [[], [5189683]]
4858  4928   2.87    2416   1018  51.94  207/207       [Caldwell III, Robert, Kalmbach, Bill]                                   [[], [7758812]]
4860  4930   2.87    1172    517  48.94  126/126             [Carbone, Louis, Bucnis, Edward]                                          [[], []]
4863  4933   2.87    6753   3074  55.56  108/108          [Silver, Alan, Carroll, Livingston]                                   [[3537870], []]
4865  4935   2.86     816    280  47.51  515/515               [Rolfes, Kathy, Kayiran, John]                                   [[], [7818335]]
4866  4936   2.86    6761   3385  55.19  150/128              [Tracy, Dick, Carlson, Douglas]                                   [[], [7349084]]
4871  4942   2.86    3958   1710  53.58  126/126               [Hill, Kay, Fliakos, Patricia]                                   [[], [3516350]]
4873  4944   2.86    2222    868  50.90  185/185           [Gourley, Larry, Gourley, Jeffrey]                                   [[1932039], []]
4874  4945   2.86     283     76  44.66  216/216               [Dearinger, Pam, Scoles, Beth]                                   [[], [1955934]]
4891  4962   2.85    5062   2196  54.51  503/503           [Papermaster, Kathryn, Baum, Vera]                                   [[], [9484159]]
4893  4964   2.85    8483   3350  55.88  140/141                  [Charkow, Janis, Ross, Amy]                                   [[4678184], []]
4897  4968   2.85     411    140  45.80  175/175           [Wadhams, Jennie, Norris, Belinda]                                   [[], [1840010]]
4901  4972   2.85    5430   2611  54.71  195/195  [Wade Williams, Rosemary, Larson, Kathleen]                                          [[], []]
4904  4975   2.84    3572   1454  52.64  503/503            [Menezes, Eunice, Hatton, Brenda]                                   [[], [5237033]]
4913  4984   2.84    4290   1745  53.76  155/155             [Ochlan, Nick, Fazzolari, James]                                          [[], []]
4917  4988   2.84    1327    630  50.15  253/253        [Battaglia, Russell, Hicks, Marjorie]                                          [[], []]
4920  4991   2.84    6579   2944  55.35  539/539             [Hastie, Chris, Rossman, Ross L]                                   [[3773663], []]
4921  4992   2.84    1298    613  50.05  192/192   [Maisonneuve Car, Ginett, Carrier, Gerald]                                          [[], []]
4928  4999   2.84    3984   1179  50.02  195/195                [Baille, Helen, Braciak, Ted]                                   [[4489896], []]

[1086 rows x 8 columns]

0 Rank     UR PR/MP's  MP's  PairR     Unit                                 Names                                                                                             pair_ids
0    1  18.80   37191   146  61.68  999/999  [Robinson, Claire, Bakhshi, Heather]                                                                                      [[6025366], []]
1    2  16.20   37598   404  62.06  999/999        [Sherman, David, Capal, Tracy]                                                                                             [[], []]
2    3  15.69    8152    41  56.80  533/533              [Hu, Xiaodan, Wang, Jun]  [[8237328, tmp:5b2e409e-03b4-44dd-afcf-def8afc94803, tmp:75660f98-02a8-42a8-a5be-2d5a8d4b1a03, t...
3    4  15.52    7353    28  56.32  446/446        [Walsh, John, Rasmussen, Pete]                                                                               [[2235897], [2235978]]
4    5  15.46   77953  1854  64.47  155/155  [Questembert, Patrick, Tadmor, Ilan]                                                                               [[4016424], [8337500]]

In [16]:
# do some validation
assert all([type(v) is list for v in df['pair_ids'].values])

In [17]:
# do some validation
for k,df in dfsd.items():
    print(k,df.columns,k in df.columns)
    if 'player_id' in df:
        for l in df['player_id'].values:
            assert type(l) is list, [type(l),l]
            for v in l:
                assert type(v) is str, v
    elif 'pair_ids' in df:
        for ll in df['pair_ids'].values:
            assert type(ll) is list, [type(ll),ll]
            for l in ll:
                assert type(l) is list, [type(l),l]
                for v in l:
                    assert type(v) is str, v
    else:
        assert False

allmps Index(['Rank', 'MP's', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False
allpr Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False
d9rank Index(['Rank', 'PR', 'Games', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False
improv6 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False
improv12 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False
improv24 Index(['Rank', 'last/PR', 'old/PR', 'PR/inc', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False
underate Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PR', 'Unit', 'Name', 'player_id'], dtype='object', name=0) False
urpairs Index(['Rank', 'UR', 'PR/MP's', 'MP's', 'PairR', 'Unit', 'Names', 'pair_ids'], dtype='object', name=0) False