In [1]:
# takes 45m for 300,000 board results.
# Warning: Huge memory requirements until rewritten. Minimun memory requirement is 64GB and large pagefile.
# 32GB probably isn't sufficient for 100,000.
# Performs following steps:
# create acbl board results df and write to file.
# 1) Read sqlite db into dataframes.
# 2) Create a single dataframe suitable for board/player analysis.
# 3) Write dataframe to disk using dataframe-friendly format. SQL isn't df friendly so using pickle, parquet or such.

# Next steps:
# acbl_board_results_cleanup.ipynb cleans acbl_board_results_raw file.

# Previous steps:
# download-acbl-details-make-json.ipynb

In [2]:
# requirements:
# conda install didn't work. Gave pyarrow/brotli error. stackoverflow recommended pip install which worked.
#   must restart jupyter. as of this date, conda installs v3 whereas pip installs v4.
# pip install pyarrow
# pip install brotlipy or maybe conda install -c conda-forge brotli

In [3]:
# todo:
# only process PAIRS?
# enable del to minimize memory usage?
# output arrow or parquet instead of sql? sql takes too long and then runs out of memory.
# why is tricks_taken erroring out? must have a str cell.
# don't create columns for spd,spns, spew. Use dict/list instead.

In [4]:
import config
import pandas as pd
import pathlib
import sqlalchemy
import mlBridgeLib

In [5]:
# override pandas display options
mlBridgeLib.pd_options_display()

In [6]:
rootPath = pathlib.Path('e:/bridge/data')
acblPath = rootPath.joinpath('acbl')

In [7]:
# using pathlib to create sqlite path.
db_connection_string = 'sqlite:///'+acblPath.joinpath('acbl-details.sqlite').as_posix()
db_connection_string

'sqlite:///e:/bridge/data/acbl/acbl-details.sqlite'

In [8]:
def db_to_frames_dict(engine):
    meta = sqlalchemy.MetaData()
    meta.reflect(engine)
    tables = meta.tables.keys()
    cnx = engine.raw_connection()
    return {t: pd.read_sql(f'SELECT * FROM {t}', cnx ) for t in tables}

In [9]:
# create dict of sql SELECT statements.
sql_selects_d = {
    'events':'SELECT id AS event_id, club_id_number, type AS event_type, board_scoring_method, tb_count, club_session FROM events',
    'board_results':'SELECT id AS board_result_id, board_id, round_number, table_number, ns_pair, ew_pair, ns_score, ew_score, contract, declarer, ew_match_points, ns_match_points, opening_lead, result, tricks_taken FROM board_results',
    'boards':'SELECT id AS board_id, section_id, board_number FROM boards',
    'pair_summaries':'SELECT id AS pair_summary_id, section_id, pair_number, direction FROM pair_summaries',
    'players':'SELECT id AS player_id, pair_summary_id, id_number AS player_number, name AS player_name, mp_total FROM players',
    'sessions':'SELECT id AS session_id, event_id, hand_record_id, game_date FROM sessions',
    'sections':'SELECT id AS section_id, session_id, name AS section_name FROM sections'
    }

In [10]:
# takes 11m for db with 300,000 result files. REQUIRES at least 32GB of memory, possibly more!
# read sql tables individually to conserve memory. board_results is huge, 90% of total. Total size is at least 4GB.
# sql results are 10 * tmp_file_size.
total_file_size = 0
for k,v in sql_selects_d.items():
    engine = sqlalchemy.create_engine(db_connection_string) #, echo=True)
    with engine.connect() as con:
        if False:
            dfs = db_to_frames_dict(engine)
        else:
            #con = engine.raw_connection
            # caution: line might end with LIMIT n or WHERE board_result_id < n
            print(f'{k}:{v}')
            tmp_file_path = acblPath.joinpath(k+'.tmp.pkl')
            pd.read_sql(v, con).to_pickle(tmp_file_path)
            tmp_file_size = tmp_file_path.stat().st_size
            total_file_size += tmp_file_size
            print(f'size:{tmp_file_size}/{total_file_size}')
    engine.dispose()
print(f'total size:{total_file_size}')

events:SELECT id AS event_id, club_id_number, type AS event_type, board_scoring_method, tb_count, club_session FROM events
size:20771784/20771784
board_results:SELECT id AS board_result_id, board_id, round_number, table_number, ns_pair, ew_pair, ns_score, ew_score, contract, declarer, ew_match_points, ns_match_points, opening_lead, result, tricks_taken FROM board_results
size:5501634881/5522406665
boards:SELECT id AS board_id, section_id, board_number FROM boards
size:180628409/5703035074
pair_summaries:SELECT id AS pair_summary_id, section_id, pair_number, direction FROM pair_summaries
size:155895990/5858931064
players:SELECT id AS player_id, pair_summary_id, id_number AS player_number, name AS player_name, mp_total FROM players
size:596240105/6455171169
sessions:SELECT id AS session_id, event_id, hand_record_id, game_date FROM sessions
size:14254597/6469425766
sections:SELECT id AS section_id, session_id, name AS section_name FROM sections
size:6144098/6475569864
total size:6475569864

In [12]:
# takes 30s
# read back selected data info a dictionary of dataframes. Requires 4 * total_filesize of memory.
# Currently requires 15GB of memory.
dfs = {}
for k,v in sql_selects_d.items():
    tmp_file_path = acblPath.joinpath(k+'.tmp.pkl')
    print(f'Reading:{tmp_file_path}')
    dfs[k] = pd.read_pickle(tmp_file_path)
dfs.keys()

Reading:e:\bridge\data\acbl\events.tmp.pkl
Reading:e:\bridge\data\acbl\board_results.tmp.pkl
Reading:e:\bridge\data\acbl\boards.tmp.pkl
Reading:e:\bridge\data\acbl\pair_summaries.tmp.pkl
Reading:e:\bridge\data\acbl\players.tmp.pkl
Reading:e:\bridge\data\acbl\sessions.tmp.pkl
Reading:e:\bridge\data\acbl\sections.tmp.pkl

dict_keys(['events', 'board_results', 'boards', 'pair_summaries', 'players', 'sessions', 'sections'])

In [13]:
# creates list of keys headed by 'events' and followed by sorted list
for k in (dict.fromkeys(['events']+sorted(dfs))):
    display(k,dfs[k])

'events'

        event_id  club_id_number event_type board_scoring_method  tb_count       club_session
0         100961          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
1         110886          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
2         114736          100040      PAIRS         MATCH_POINTS      5.00     Monday Evening
3         126385          100040      PAIRS         MATCH_POINTS      5.50     Monday Evening
4         126418          100040      PAIRS         MATCH_POINTS      4.00     Monday Evening
5         135492          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening
6         137856          100040      PAIRS         MATCH_POINTS      8.00  Wednesday Evening
7         140329          100040      PAIRS         MATCH_POINTS      9.00  Wednesday Evening
8         143200          100040      PAIRS         MATCH_POINTS      9.00  Wednesday Evening
9         146486          100040      PAIRS         MATCH_POINTS      9.00  Wednesday Evening
10         14895          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
11         14897          100040      PAIRS         MATCH_POINTS      4.00     Monday Evening
12         14898          100040      PAIRS         MATCH_POINTS      5.50     Monday Evening
13         14900          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
14        149340          100040      PAIRS         MATCH_POINTS      8.00  Wednesday Evening
15        152345          100040      PAIRS         MATCH_POINTS      9.00  Wednesday Evening
16        154265          100040      PAIRS          BUTLER_IMPS      7.00     Sunday Evening
17        155747          100040      PAIRS         MATCH_POINTS     10.00  Wednesday Evening
18        158580          100040      PAIRS         MATCH_POINTS      6.00  Wednesday Evening
19        161508          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening
20         16276          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
21        164510          100040      PAIRS         MATCH_POINTS      8.00  Wednesday Evening
22        167595          100040      PAIRS         MATCH_POINTS      8.00  Wednesday Evening
23        169696          100040      PAIRS         MATCH_POINTS      6.00     Monday Evening
24        170860          100040      PAIRS         MATCH_POINTS      6.00  Wednesday Evening
...          ...             ...        ...                  ...       ...                ...
313195    319916          905265      PAIRS         MATCH_POINTS      4.00   Thursday Evening
313196    322615          905265      PAIRS         MATCH_POINTS      3.00    Tuesday Evening
313197    323331          905265      PAIRS         MATCH_POINTS      4.00  Wednesday Evening
313198    323332          905265      PAIRS         MATCH_POINTS     24.00  Wednesday Evening
313199    324018          905265      PAIRS         MATCH_POINTS     29.00   Thursday Evening
313200    324020          905265      PAIRS         MATCH_POINTS      4.00   Thursday Evening
313201    326103          905265      PAIRS         MATCH_POINTS     29.00     Monday Evening
313202    326798          905265      PAIRS         MATCH_POINTS      6.00    Tuesday Evening
313203    326799          905265      PAIRS         MATCH_POINTS     22.00    Tuesday Evening
313204    327519          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
313205    328199          905265      PAIRS         MATCH_POINTS     26.00   Thursday Evening
313206    330243          905265      PAIRS         MATCH_POINTS     24.00     Monday Evening
313207    330967          905265      PAIRS         MATCH_POINTS     23.00    Tuesday Evening
313208    330968          905265      PAIRS         MATCH_POINTS      4.00    Tuesday Evening
313209    331706          905265      PAIRS         MATCH_POINTS     22.00  Wednesday Evening
313210    332392          905265      PAIRS         MATCH_POINTS     28.00   Thursday Evening
313211    334925          905265      PAIRS         MATCH_POINTS     23.00     Monday Evening
313212    335682          905265      PAIRS         MATCH_POINTS      3.00    Tuesday Evening
313213    335702          905265      PAIRS         MATCH_POINTS     21.00    Tuesday Evening
313214    336489          905265      PAIRS         MATCH_POINTS     23.00  Wednesday Evening
313215    337220          905265      PAIRS         MATCH_POINTS     25.00   Thursday Evening
313216    339228          905265      PAIRS         MATCH_POINTS     26.00     Monday Evening
313217    339963          905265      PAIRS         MATCH_POINTS     22.00    Tuesday Evening
313218    339967          905265      PAIRS         MATCH_POINTS      6.00    Tuesday Evening
313219    340778          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening

[313220 rows x 6 columns]

'board_results'

          board_result_id  board_id  round_number  table_number  ns_pair  ew_pair ns_score ew_score contract declarer  ew_match_points  ns_match_points opening_lead result tricks_taken
0                22686741   3181214          3.00          3.00        4        2      140     -140      2 S        S             0.50             1.50           DK     +1            9
1                22686740   3181214          2.00          4.00        6        5      140     -140      3 S        S             0.50             1.50           HA      =            9
2                22686742   3181214          5.00          2.00        7        3      -50       50      4 S        S             2.00             0.00           DK     -1            9
3                22686743   3181215          2.00          4.00        6        5     -450      450      4 S        E             1.50             0.50           C5     +1           11
4                22686744   3181215          3.00          3.00        4        2     -450      450      4 S        E             1.50             0.50           C6     +1           11
5                22686745   3181215          5.00          2.00        7        3     -420      420      4 S        E             0.00             2.00           C6      =           10
6                22686747   3181216          3.00          3.00        4        2       90      -90      2 D        N             1.00             1.00           S9      =            8
7                22686746   3181216          2.00          4.00        6        5      400     -400     2 NT        E             0.00             2.00           D9     -4            4
8                22686748   3181216          5.00          2.00        7        3      -50       50     2 NT        S             2.00             0.00           S3     -1            7
9                22686749   3181217          2.00          4.00        6        5      100     -100      3 D        W             1.00             1.00           HK     -1            8
10               22686750   3181217          3.00          3.00        4        2      140     -140      3 H        N             0.00             2.00           DA      =            9
11               22686751   3181217          5.00          2.00        7        3     PASS     PASS     PASS        N             2.00             0.00
12               22686754   3181218          6.00          2.00        1        4       50      -50      1 S        E             0.00             2.00           H9     -1            6
13               22686752   3181218          3.00          4.00        7        6     -110      110      2 S        E             1.50             0.50           H9      =            8
14               22686753   3181218          4.00          3.00        5        3     -110      110      2 S        E             1.50             0.50           H9      =            8
15               22686755   3181219          3.00          4.00        7        6     -110      110      2 S        W             0.00             2.00           CQ      =            8
16               22686756   3181219          4.00          3.00        5        3     -140      140      2 S        W             1.00             1.00           CQ     +1            9
17               22686757   3181219          6.00          2.00        1        4     -170      170      2 S        W             2.00             0.00           HJ     +2           10
18               22686758   3181220          3.00          4.00        7        6     -650      650      4 S        E             0.50             1.50           HJ     +1           11
19               22686759   3181220          4.00          3.00        5        3     -680      680      4 S        W             2.00             0.00           CA     +2           12
20               22686760   3181220          6.00          2.00        1        4     -650      650      4 S        E             0.50             1.50           HJ     +1           11
21               22686761   3181221          3.00          4.00        7        6     -120      120     1 NT        E             1.50             0.50           D5     +1            8
22               22686762   3181221          4.00          3.00        5        3      -90       90     1 NT        W             0.00             2.00           H4      =            7
23               22686763   3181221          6.00          2.00        1        4     -120      120     1 NT        W             1.50             0.50           H2     +1            8
24               22686765   3181222          5.00          3.00        6        4     -140      140      3 S        W             2.00             0.00           DJ      =            9
...                   ...       ...           ...           ...      ...      ...      ...      ...      ...      ...              ...              ...          ...    ...          ...
57506242         64406949   8475187           NaN           NaN        5       13      150     -150       2N        S             7.00            17.00           DA     +1         None
57506243         64406946   8475187           NaN           NaN        2       10      140     -140       2S        N            10.50            13.50           D2     +1         None
57506244         64406947   8475187           NaN           NaN        3       11      170     -170       2S        N             4.50            19.50           D2     +2         None
57506245         64406948   8475187           NaN           NaN        4       12      110     -110       2S        N            15.00             9.00           H4      =         None
57506246         64406952   8475187           NaN           NaN        8        3      140     -140       2S        N            10.50            13.50           D2     +1         None
57506247         64406955   8475187           NaN           NaN       11        6      140     -140       2S        N            10.50            13.50           C6     +1         None
57506248         64406956   8475187           NaN           NaN       12        7      140     -140       2S        N            10.50            13.50           C6     +1         None
57506249         64406957   8475187           NaN           NaN       13        8      170     -170       2S        N             4.50            19.50           HA     +2         None
57506250         64406954   8475187           NaN           NaN       10        5      430     -430       3N        S             0.00            24.00           C4     +1         None
57506251         64406950   8475187           NaN           NaN        6        1      -50       50       3S        N            20.00             4.00           CK     -1         None
57506252         64406953   8475187           NaN           NaN        9        4     -100      100       3S        N            23.50             0.50           CK     -2         None
57506253         64406951   8475187           NaN           NaN        7        2      -50       50       4S        N            20.00             4.00           HA     -1         None
57506254         64406965   8475188           NaN           NaN        8        3      600     -600       3N        S             9.00            15.00           H9      =         None
57506255         64406968   8475188           NaN           NaN       11        6      600     -600       3N        S             9.00            15.00           H9      =         None
57506256         64406970   8475188           NaN           NaN       13        8      630     -630       3N        S             3.00            21.00           H9     +1         None
57506257         64406963   8475188           NaN           NaN        6        1      140     -140       3S        S            14.00            10.00           H9      =         None
57506258         64406960   8475188           NaN           NaN        3       11      150     -150       4H        E            13.00            11.00           CJ     -3         None
57506259         64406969   8475188           NaN           NaN       12        7      200     -200       4H        E            12.00            12.00           CQ     -4         None
57506260         64406962   8475188           NaN           NaN        5       13      500     -500      4HX        E            11.00            13.00           CQ     -3         None
57506261         64406958   8475188           NaN           NaN        1        9      620     -620       4S        N             6.00            18.00           HA      =         None
57506262         64406959   8475188           NaN           NaN        2       10      620     -620       4S        N             6.00            18.00           H7      =         None
57506263         64406961   8475188           NaN           NaN        4       12     -100      100       4S        S            19.00             5.00           H9     -1         None
57506264         64406964   8475188           NaN           NaN        7        2     -100      100       4S        N            19.00             5.00           DA     -1         None
57506265         64406966   8475188           NaN           NaN        9        4     -100      100       4S        S            19.00             5.00           H9     -1         None
57506266         64406967   8475188           NaN           NaN       10        5     -100      100       4S        N            19.00             5.00           HA     -1         None

[57506267 rows x 15 columns]

'boards'

         board_id  section_id  board_number
0         3181214      119248             1
1         3181215      119248             2
2         3181216      119248             3
3         3181217      119248             4
4         3181218      119248             5
5         3181219      119248             6
6         3181220      119248             7
7         3181221      119248             8
8         3181222      119248             9
9         3181223      119248            10
10        3181224      119248            11
11        3181225      119248            12
12        3181226      119248            13
13        3181227      119248            14
14        3181228      119248            15
15        3181229      119248            16
16        3181230      119248            17
17        3181231      119248            18
18        3181232      119248            19
19        3181233      119248            20
20        3181234      119248            21
21        3181235      119248            22
22        3181236      119248            23
23        3181237      119248            24
24        3181238      119248            25
...           ...         ...           ...
7526125   8456940      377990            12
7526126   8475165      378813             1
7526127   8475166      378813             2
7526128   8475167      378813             3
7526129   8475168      378813             4
7526130   8475169      378813             5
7526131   8475170      378813             6
7526132   8475171      378813             7
7526133   8475172      378813             8
7526134   8475173      378813             9
7526135   8475174      378813            10
7526136   8475175      378813            11
7526137   8475176      378813            12
7526138   8475177      378814             1
7526139   8475178      378814             2
7526140   8475179      378814             3
7526141   8475180      378814             4
7526142   8475181      378814             5
7526143   8475182      378814             6
7526144   8475183      378814             7
7526145   8475184      378814             8
7526146   8475185      378814             9
7526147   8475186      378814            10
7526148   8475187      378814            11
7526149   8475188      378814            12

[7526150 rows x 3 columns]

'pair_summaries'

         pair_summary_id  section_id  pair_number direction
0                1848542      119248            4      None
1                1848539      119248            1      None
2                1848536      119248            3      None
3                1848540      119248            6      None
4                1848537      119248            2      None
5                1848538      119248            5      None
6                1848541      119248            7      None
7                2010256      129563            4      None
8                2010250      129563            3      None
9                2010252      129563            5      None
10               2010253      129563            1      None
11               2010255      129563            7      None
12               2010251      129563            2      None
13               2010254      129563            6      None
14               2072041      133527            7      None
15               2072043      133527           10      None
16               2072044      133527            9      None
17               2072042      133527            5      None
18               2072048      133527            1      None
19               2072046      133527            3      None
20               2072045      133527            4      None
21               2072049      133527            8      None
22               2072047      133527            2      None
23               2072050      133527            6      None
24               2245356      145352           12      None
...                  ...         ...          ...       ...
5440969          6030171      378814            8        NS
5440970          6030165      378814            5        NS
5440971          6030157      378814            1        NS
5440972          6030163      378814            4        NS
5440973          6030181      378814           13        NS
5440974          6030177      378814           11        NS
5440975          6030169      378814            7        NS
5440976          6030167      378814            6        NS
5440977          6030173      378814            9        NS
5440978          6030159      378814            2        NS
5440979          6030179      378814           12        NS
5440980          6030161      378814            3        NS
5440981          6030180      378814           12        EW
5440982          6030158      378814            1        EW
5440983          6030162      378814            3        EW
5440984          6030164      378814            4        EW
5440985          6030176      378814           10        EW
5440986          6030166      378814            5        EW
5440987          6030172      378814            8        EW
5440988          6030174      378814            9        EW
5440989          6030160      378814            2        EW
5440990          6030178      378814           11        EW
5440991          6030170      378814            7        EW
5440992          6030168      378814            6        EW
5440993          6030182      378814           13        EW

[5440994 rows x 4 columns]

'players'

          player_id  pair_summary_id                             player_number                   player_name  mp_total
0           3695653          1848542                                   8052557                  Robson, Dave    693.89
1           3695652          1848542  tmp:1de5c0e8-a5a2-4433-a232-caa798c84939      Gamache, Len(swap names)     19.00
2           3695646          1848539  tmp:1238a3ab-2652-4f75-921b-767aae646b2a                 Steele, Bruce     16.00
3           3695647          1848539  tmp:9f01395a-c179-4283-adf3-886ff6aed8aa                  Hlady, Henny       NaN
4           3695641          1848536                                   5637562               Williams, Peter    139.21
5           3695640          1848536                                   8360774  Higgins, Pauline(swap names)   1164.08
6           3695648          1848540  tmp:07c9f971-1117-4e23-b771-7b2eaebfb1b3                 Penhale, Russ     11.00
7           3695649          1848540  tmp:c6ae1a9b-fd89-42b0-8c5d-1b294b811c97            Charlesworth, Jack      2.00
8           3695642          1848537                                   5466520              Stevens, Mikelle    321.97
9           3695643          1848537  tmp:8bf5e062-32a8-4b17-bbb1-07ee7a14c5be                Sanderson, Val     11.00
10          3695645          1848538                                   1689746                  Meyer, David    570.78
11          3695644          1848538                                   6766013     Meyer, George(swap names)     79.72
12          3695650          1848541                                   7858191                    Watt, Marj      5.98
13          3695651          1848541                                   8253331                 Ellison, Mary      2.52
14          4018650          2010256                                   1689746                  Meyer, David    570.78
15          4018651          2010256                                   6766013                 Meyer, George     79.72
16          4018638          2010250                                   5637562               Williams, Peter    139.21
17          4018639          2010250                                   8360774              Higgins, Pauline   1164.08
18          4018642          2010252  tmp:0e4771b9-a801-4725-91b7-6bfd169ac326                 Steele, Bruce     16.00
19          4018643          2010252  tmp:8f2062a9-c68c-4564-9ff2-a88ea8613ec1                  Hlady, Henny     22.00
20          4018645          2010253                                   8052557                  Robson, Dave    693.89
21          4018644          2010253  tmp:b357a8a0-a4b2-4856-a293-b3acd383a5fa      Gamache, Len(swap names)     19.00
22          4018648          2010255  tmp:bd003e07-5435-469e-874a-17527801fff1                  Leblanc, Vic      5.00
23          4018649          2010255  tmp:bf62b146-195a-4de9-948f-0b29169eca78              Leblanc, Juanita      5.00
24          4018641          2010251                                   4389581                  Dredge, Faye    131.63
...             ...              ...                                       ...                           ...       ...
10880560   12054484          6030180                                   3069850      Judith Stone(swap names)     37.55
10880561   12054440          6030158                                   6051006                   Nancy Hoeck     32.77
10880562   12054441          6030158                                   7232489                 Carol Lashman     29.30
10880563   12054449          6030162                                   7487827                Tracey Whitney     11.04
10880564   12054448          6030162                                   7682735       Rita Wright(swap names)      6.39
10880565   12054453          6030164                                   7709692                Sara Hofmockel     42.96
10880566   12054452          6030164                                   7822065      Leslie Haase(swap names)     26.69
10880567   12054476          6030176                                   1141392                  Dicey Brinck     85.78
10880568   12054477          6030176                                   8347336                James Lockwood     17.06
10880569   12054456          6030166                                   1576119              Harry Sunenshine     34.98
10880570   12054457          6030166                                   4279514              Dorry Sunenshine     37.94
10880571   12054468          6030172                                   2287609             Margaret Lockwood     53.52
10880572   12054469          6030172                                   8208581                    Phil Hayes     67.30
10880573   12054472          6030174                                   1560107                 Rebecca Stone     18.84
10880574   12054473          6030174                                   7561180                 Erika Johnson     11.95
10880575   12054444          6030160                                   5172047                    Emelyn Png     43.04
10880576   12054445          6030160                                   5553776                  Scott Jordan     52.59
10880577   12054481          6030178                                   7611293                    Kathy Vita     79.23
10880578   12054480          6030178                                   8017719         Nancy Zhu(swap names)     40.65
10880579   12054465          6030170                                   1532359                Roberta Keller     28.26
10880580   12054464          6030170                                   1605186    Robert Carrier(swap names)     93.33
10880581   12054460          6030168                                   7471416                   Mary Thomas      7.32
10880582   12054461          6030168                                   9047328                 Cyrus Elliott     13.76
10880583   12054488          6030182                                   1853570                    Jody Amato      0.21
10880584   12054489          6030182                                   9930299         Kristin Kelleher-Wong      1.90

[10880585 rows x 5 columns]

'sections'

        section_id  session_id section_name
0           119248      100961            M
1           129563      110886            A
2           133527      114736            F
3           145352      126385            T
4           145382      126418            B
5           155573      135492            A
6           158226      137856            A
7           161020      140329            A
8           164356      143200            A
9           168149      146486            A
10           17705       14896            T
11           17707       14898            A
12           17708       14899            A
13           17710       14901            G
14          171306      149340            A
15          174595      152345            A
16          176672      154265            A
17          178289      155747            A
18          181262      158580            A
19          184441      161508            A
20           19312       16277            F
21          187699      164510            A
22          191084      167595            A
23          193422      169696            A
24          194775      170860            A
...            ...         ...          ...
341022      368834      330967            B
341023      368835      330968            A
341024      369590      331706            A
341025      369591      331706            B
341026      370286      332392            A
341027      370287      332392            B
341028      370288      332392            C
341029      372879      334925            A
341030      372880      334925            B
341031      373651      335682            A
341032      373673      335702            A
341033      373674      335702            B
341034      374480      336489            A
341035      374481      336489            B
341036      375214      337220            A
341037      375215      337220            B
341038      375216      337220            C
341039      377237      339228            A
341040      377238      339228            B
341041      377239      339228            C
341042      377985      339963            A
341043      377986      339963            B
341044      377990      339967            A
341045      378813      340778            A
341046      378814      340778            B

[341047 rows x 3 columns]

'sessions'

        session_id  event_id hand_record_id            game_date
0           100961    100961          77908  2020-02-17 00:00:00
1           110886    110886        SHUFFLE  2020-02-24 00:00:00
2           114736    114736          86634  2020-03-02 00:00:00
3           126385    126385          94064  2020-03-09 00:00:00
4           126418    126418          94082  2020-03-16 00:00:00
5           135492    135492           None  2020-05-06 00:00:00
6           137856    137856           None  2020-05-13 00:00:00
7           140329    140329           None  2020-05-20 00:00:00
8           143200    143200           None  2020-05-27 00:00:00
9           146486    146486           None  2020-06-03 00:00:00
10           14896     14895        SHUFFLE  2019-09-02 00:00:00
11           14898     14897        SHUFFLE  2019-09-09 00:00:00
12           14899     14898        SHUFFLE  2019-09-16 00:00:00
13           14901     14900        SHUFFLE  2019-09-23 00:00:00
14          149340    149340           None  2020-06-10 00:00:00
15          152345    152345           None  2020-06-17 00:00:00
16          154265    154265           None  2020-06-21 00:00:00
17          155747    155747           None  2020-06-24 00:00:00
18          158580    158580           None  2020-07-01 00:00:00
19          161508    161508           None  2020-07-08 00:00:00
20           16277     16276        SHUFFLE  2019-09-30 00:00:00
21          164510    164510           None  2020-07-15 00:00:00
22          167595    167595           None  2020-07-22 00:00:00
23          169696    169696           None  2020-07-27 00:00:00
24          170860    170860           None  2020-07-29 00:00:00
...            ...       ...            ...                  ...
313198      319916    319916         225724  2021-05-27 00:00:00
313199      322615    322615         228153  2021-06-01 00:00:00
313200      323331    323331         228757  2021-06-02 00:00:00
313201      323332    323332         228758  2021-06-02 00:00:00
313202      324018    324018         229347  2021-06-03 00:00:00
313203      324020    324020         229349  2021-06-03 00:00:00
313204      326103    326103         231095  2021-06-07 00:00:00
313205      326798    326798         231689  2021-06-08 00:00:00
313206      326799    326799         231690  2021-06-08 00:00:00
313207      327519    327519         232315  2021-06-09 00:00:00
313208      328199    328199         232893  2021-06-10 00:00:00
313209      330243    330243         234622  2021-06-14 00:00:00
313210      330967    330967         235235  2021-06-15 00:00:00
313211      330968    330968         235236  2021-06-15 00:00:00
313212      331706    331706         235835  2021-06-16 00:00:00
313213      332392    332392         236425  2021-06-17 00:00:00
313214      334925    334925         238634  2021-06-21 00:00:00
313215      335682    335682         239259  2021-06-22 00:00:00
313216      335702    335702         239275  2021-06-22 00:00:00
313217      336489    336489         239912  2021-06-23 00:00:00
313218      337220    337220         240508  2021-06-24 00:00:00
313219      339228    339228         242169  2021-06-28 00:00:00
313220      339963    339963         242790  2021-06-29 00:00:00
313221      339967    339967         242794  2021-06-29 00:00:00
313222      340778    340778         243437  2021-06-30 00:00:00

[313223 rows x 4 columns]

In [14]:
# todo: implement well_known_astype_conversions here? Create dict from columns of tables. Some done already.
if False:
    well_known_astype_conversions = {'board_result_id': 'UInt64', 'board_id': 'UInt64', 'round_number': 'UInt8',
        'table_number': 'UInt8', 'ns_pair': 'UInt8','ew_pair': 'UInt8', 'ns_score': 'str', 'ew_score': 'str',
        'contract': 'category', 'declarer': 'category','ew_match_points': 'float32',
        'ns_match_points': 'float32', 'opening_lead': 'category', 'result': 'str',
        'tricks_taken': 'Int8', 'section_id': 'UInt64', 'board_number': 'UInt8', 'session_id': 'UInt64',
        'section_name': 'category', 'player_id_ns': 'object', 'player_number_ns': 'object',
        'player_name_ns': 'object', 'player_id_ew': 'object', 'player_number_ew': 'object',
        'player_name_ew': 'object', 'mp_total_ns': 'object', 'mp_total_ew': 'object'}
    for c,t in well_known_astype_conversions.items():
        print(c,t)
        df[c] = df[c].astype(t)
    df.info()

In [15]:
# todo: only want sections which are pair events. events.type=='PAIRS'

In [16]:
# takes 30s.
# merge board and board_results dataframes on 'board_id'.
br_b_df = pd.merge(dfs['board_results'],dfs['boards'],left_on='board_id',right_on='board_id') #,how='inner',indicator=True)
#del dfs['board_results']
#del dfs['boards']
br_b_df

          board_result_id  board_id  round_number  table_number  ns_pair  ew_pair ns_score ew_score contract declarer  ew_match_points  ns_match_points opening_lead result tricks_taken  section_id  board_number
0                22686741   3181214          3.00          3.00        4        2      140     -140      2 S        S             0.50             1.50           DK     +1            9      119248             1
1                22686740   3181214          2.00          4.00        6        5      140     -140      3 S        S             0.50             1.50           HA      =            9      119248             1
2                22686742   3181214          5.00          2.00        7        3      -50       50      4 S        S             2.00             0.00           DK     -1            9      119248             1
3                22686743   3181215          2.00          4.00        6        5     -450      450      4 S        E             1.50             0.50           C5     +1           11      119248             2
4                22686744   3181215          3.00          3.00        4        2     -450      450      4 S        E             1.50             0.50           C6     +1           11      119248             2
5                22686745   3181215          5.00          2.00        7        3     -420      420      4 S        E             0.00             2.00           C6      =           10      119248             2
6                22686747   3181216          3.00          3.00        4        2       90      -90      2 D        N             1.00             1.00           S9      =            8      119248             3
7                22686746   3181216          2.00          4.00        6        5      400     -400     2 NT        E             0.00             2.00           D9     -4            4      119248             3
8                22686748   3181216          5.00          2.00        7        3      -50       50     2 NT        S             2.00             0.00           S3     -1            7      119248             3
9                22686749   3181217          2.00          4.00        6        5      100     -100      3 D        W             1.00             1.00           HK     -1            8      119248             4
10               22686750   3181217          3.00          3.00        4        2      140     -140      3 H        N             0.00             2.00           DA      =            9      119248             4
11               22686751   3181217          5.00          2.00        7        3     PASS     PASS     PASS        N             2.00             0.00                                       119248             4
12               22686754   3181218          6.00          2.00        1        4       50      -50      1 S        E             0.00             2.00           H9     -1            6      119248             5
13               22686752   3181218          3.00          4.00        7        6     -110      110      2 S        E             1.50             0.50           H9      =            8      119248             5
14               22686753   3181218          4.00          3.00        5        3     -110      110      2 S        E             1.50             0.50           H9      =            8      119248             5
15               22686755   3181219          3.00          4.00        7        6     -110      110      2 S        W             0.00             2.00           CQ      =            8      119248             6
16               22686756   3181219          4.00          3.00        5        3     -140      140      2 S        W             1.00             1.00           CQ     +1            9      119248             6
17               22686757   3181219          6.00          2.00        1        4     -170      170      2 S        W             2.00             0.00           HJ     +2           10      119248             6
18               22686758   3181220          3.00          4.00        7        6     -650      650      4 S        E             0.50             1.50           HJ     +1           11      119248             7
19               22686759   3181220          4.00          3.00        5        3     -680      680      4 S        W             2.00             0.00           CA     +2           12      119248             7
20               22686760   3181220          6.00          2.00        1        4     -650      650      4 S        E             0.50             1.50           HJ     +1           11      119248             7
21               22686761   3181221          3.00          4.00        7        6     -120      120     1 NT        E             1.50             0.50           D5     +1            8      119248             8
22               22686762   3181221          4.00          3.00        5        3      -90       90     1 NT        W             0.00             2.00           H4      =            7      119248             8
23               22686763   3181221          6.00          2.00        1        4     -120      120     1 NT        W             1.50             0.50           H2     +1            8      119248             8
24               22686765   3181222          5.00          3.00        6        4     -140      140      3 S        W             2.00             0.00           DJ      =            9      119248             9
...                   ...       ...           ...           ...      ...      ...      ...      ...      ...      ...              ...              ...          ...    ...          ...         ...           ...
57506242         64406949   8475187           NaN           NaN        5       13      150     -150       2N        S             7.00            17.00           DA     +1         None      378814            11
57506243         64406946   8475187           NaN           NaN        2       10      140     -140       2S        N            10.50            13.50           D2     +1         None      378814            11
57506244         64406947   8475187           NaN           NaN        3       11      170     -170       2S        N             4.50            19.50           D2     +2         None      378814            11
57506245         64406948   8475187           NaN           NaN        4       12      110     -110       2S        N            15.00             9.00           H4      =         None      378814            11
57506246         64406952   8475187           NaN           NaN        8        3      140     -140       2S        N            10.50            13.50           D2     +1         None      378814            11
57506247         64406955   8475187           NaN           NaN       11        6      140     -140       2S        N            10.50            13.50           C6     +1         None      378814            11
57506248         64406956   8475187           NaN           NaN       12        7      140     -140       2S        N            10.50            13.50           C6     +1         None      378814            11
57506249         64406957   8475187           NaN           NaN       13        8      170     -170       2S        N             4.50            19.50           HA     +2         None      378814            11
57506250         64406954   8475187           NaN           NaN       10        5      430     -430       3N        S             0.00            24.00           C4     +1         None      378814            11
57506251         64406950   8475187           NaN           NaN        6        1      -50       50       3S        N            20.00             4.00           CK     -1         None      378814            11
57506252         64406953   8475187           NaN           NaN        9        4     -100      100       3S        N            23.50             0.50           CK     -2         None      378814            11
57506253         64406951   8475187           NaN           NaN        7        2      -50       50       4S        N            20.00             4.00           HA     -1         None      378814            11
57506254         64406965   8475188           NaN           NaN        8        3      600     -600       3N        S             9.00            15.00           H9      =         None      378814            12
57506255         64406968   8475188           NaN           NaN       11        6      600     -600       3N        S             9.00            15.00           H9      =         None      378814            12
57506256         64406970   8475188           NaN           NaN       13        8      630     -630       3N        S             3.00            21.00           H9     +1         None      378814            12
57506257         64406963   8475188           NaN           NaN        6        1      140     -140       3S        S            14.00            10.00           H9      =         None      378814            12
57506258         64406960   8475188           NaN           NaN        3       11      150     -150       4H        E            13.00            11.00           CJ     -3         None      378814            12
57506259         64406969   8475188           NaN           NaN       12        7      200     -200       4H        E            12.00            12.00           CQ     -4         None      378814            12
57506260         64406962   8475188           NaN           NaN        5       13      500     -500      4HX        E            11.00            13.00           CQ     -3         None      378814            12
57506261         64406958   8475188           NaN           NaN        1        9      620     -620       4S        N             6.00            18.00           HA      =         None      378814            12
57506262         64406959   8475188           NaN           NaN        2       10      620     -620       4S        N             6.00            18.00           H7      =         None      378814            12
57506263         64406961   8475188           NaN           NaN        4       12     -100      100       4S        S            19.00             5.00           H9     -1         None      378814            12
57506264         64406964   8475188           NaN           NaN        7        2     -100      100       4S        N            19.00             5.00           DA     -1         None      378814            12
57506265         64406966   8475188           NaN           NaN        9        4     -100      100       4S        S            19.00             5.00           H9     -1         None      378814            12
57506266         64406967   8475188           NaN           NaN       10        5     -100      100       4S        N            19.00             5.00           HA     -1         None      378814            12

[57506267 rows x 17 columns]

In [17]:
# takes 10s.
# merge sections dataframe on 'section_id'.
br_b_sections_df = pd.merge(br_b_df,dfs['sections'],left_on='section_id',right_on='section_id') #,how='inner',indicator=True)
#del br_b_df
#del dfs['sections']
br_b_sections_df

          board_result_id  board_id  round_number  table_number  ns_pair  ew_pair ns_score ew_score contract declarer  ew_match_points  ns_match_points opening_lead result tricks_taken  section_id  board_number  session_id section_name
0                22686741   3181214          3.00          3.00        4        2      140     -140      2 S        S             0.50             1.50           DK     +1            9      119248             1      100961            M
1                22686740   3181214          2.00          4.00        6        5      140     -140      3 S        S             0.50             1.50           HA      =            9      119248             1      100961            M
2                22686742   3181214          5.00          2.00        7        3      -50       50      4 S        S             2.00             0.00           DK     -1            9      119248             1      100961            M
3                22686743   3181215          2.00          4.00        6        5     -450      450      4 S        E             1.50             0.50           C5     +1           11      119248             2      100961            M
4                22686744   3181215          3.00          3.00        4        2     -450      450      4 S        E             1.50             0.50           C6     +1           11      119248             2      100961            M
5                22686745   3181215          5.00          2.00        7        3     -420      420      4 S        E             0.00             2.00           C6      =           10      119248             2      100961            M
6                22686747   3181216          3.00          3.00        4        2       90      -90      2 D        N             1.00             1.00           S9      =            8      119248             3      100961            M
7                22686746   3181216          2.00          4.00        6        5      400     -400     2 NT        E             0.00             2.00           D9     -4            4      119248             3      100961            M
8                22686748   3181216          5.00          2.00        7        3      -50       50     2 NT        S             2.00             0.00           S3     -1            7      119248             3      100961            M
9                22686749   3181217          2.00          4.00        6        5      100     -100      3 D        W             1.00             1.00           HK     -1            8      119248             4      100961            M
10               22686750   3181217          3.00          3.00        4        2      140     -140      3 H        N             0.00             2.00           DA      =            9      119248             4      100961            M
11               22686751   3181217          5.00          2.00        7        3     PASS     PASS     PASS        N             2.00             0.00                                       119248             4      100961            M
12               22686754   3181218          6.00          2.00        1        4       50      -50      1 S        E             0.00             2.00           H9     -1            6      119248             5      100961            M
13               22686752   3181218          3.00          4.00        7        6     -110      110      2 S        E             1.50             0.50           H9      =            8      119248             5      100961            M
14               22686753   3181218          4.00          3.00        5        3     -110      110      2 S        E             1.50             0.50           H9      =            8      119248             5      100961            M
15               22686755   3181219          3.00          4.00        7        6     -110      110      2 S        W             0.00             2.00           CQ      =            8      119248             6      100961            M
16               22686756   3181219          4.00          3.00        5        3     -140      140      2 S        W             1.00             1.00           CQ     +1            9      119248             6      100961            M
17               22686757   3181219          6.00          2.00        1        4     -170      170      2 S        W             2.00             0.00           HJ     +2           10      119248             6      100961            M
18               22686758   3181220          3.00          4.00        7        6     -650      650      4 S        E             0.50             1.50           HJ     +1           11      119248             7      100961            M
19               22686759   3181220          4.00          3.00        5        3     -680      680      4 S        W             2.00             0.00           CA     +2           12      119248             7      100961            M
20               22686760   3181220          6.00          2.00        1        4     -650      650      4 S        E             0.50             1.50           HJ     +1           11      119248             7      100961            M
21               22686761   3181221          3.00          4.00        7        6     -120      120     1 NT        E             1.50             0.50           D5     +1            8      119248             8      100961            M
22               22686762   3181221          4.00          3.00        5        3      -90       90     1 NT        W             0.00             2.00           H4      =            7      119248             8      100961            M
23               22686763   3181221          6.00          2.00        1        4     -120      120     1 NT        W             1.50             0.50           H2     +1            8      119248             8      100961            M
24               22686765   3181222          5.00          3.00        6        4     -140      140      3 S        W             2.00             0.00           DJ      =            9      119248             9      100961            M
...                   ...       ...           ...           ...      ...      ...      ...      ...      ...      ...              ...              ...          ...    ...          ...         ...           ...         ...          ...
57506242         64406949   8475187           NaN           NaN        5       13      150     -150       2N        S             7.00            17.00           DA     +1         None      378814            11      340778            B
57506243         64406946   8475187           NaN           NaN        2       10      140     -140       2S        N            10.50            13.50           D2     +1         None      378814            11      340778            B
57506244         64406947   8475187           NaN           NaN        3       11      170     -170       2S        N             4.50            19.50           D2     +2         None      378814            11      340778            B
57506245         64406948   8475187           NaN           NaN        4       12      110     -110       2S        N            15.00             9.00           H4      =         None      378814            11      340778            B
57506246         64406952   8475187           NaN           NaN        8        3      140     -140       2S        N            10.50            13.50           D2     +1         None      378814            11      340778            B
57506247         64406955   8475187           NaN           NaN       11        6      140     -140       2S        N            10.50            13.50           C6     +1         None      378814            11      340778            B
57506248         64406956   8475187           NaN           NaN       12        7      140     -140       2S        N            10.50            13.50           C6     +1         None      378814            11      340778            B
57506249         64406957   8475187           NaN           NaN       13        8      170     -170       2S        N             4.50            19.50           HA     +2         None      378814            11      340778            B
57506250         64406954   8475187           NaN           NaN       10        5      430     -430       3N        S             0.00            24.00           C4     +1         None      378814            11      340778            B
57506251         64406950   8475187           NaN           NaN        6        1      -50       50       3S        N            20.00             4.00           CK     -1         None      378814            11      340778            B
57506252         64406953   8475187           NaN           NaN        9        4     -100      100       3S        N            23.50             0.50           CK     -2         None      378814            11      340778            B
57506253         64406951   8475187           NaN           NaN        7        2      -50       50       4S        N            20.00             4.00           HA     -1         None      378814            11      340778            B
57506254         64406965   8475188           NaN           NaN        8        3      600     -600       3N        S             9.00            15.00           H9      =         None      378814            12      340778            B
57506255         64406968   8475188           NaN           NaN       11        6      600     -600       3N        S             9.00            15.00           H9      =         None      378814            12      340778            B
57506256         64406970   8475188           NaN           NaN       13        8      630     -630       3N        S             3.00            21.00           H9     +1         None      378814            12      340778            B
57506257         64406963   8475188           NaN           NaN        6        1      140     -140       3S        S            14.00            10.00           H9      =         None      378814            12      340778            B
57506258         64406960   8475188           NaN           NaN        3       11      150     -150       4H        E            13.00            11.00           CJ     -3         None      378814            12      340778            B
57506259         64406969   8475188           NaN           NaN       12        7      200     -200       4H        E            12.00            12.00           CQ     -4         None      378814            12      340778            B
57506260         64406962   8475188           NaN           NaN        5       13      500     -500      4HX        E            11.00            13.00           CQ     -3         None      378814            12      340778            B
57506261         64406958   8475188           NaN           NaN        1        9      620     -620       4S        N             6.00            18.00           HA      =         None      378814            12      340778            B
57506262         64406959   8475188           NaN           NaN        2       10      620     -620       4S        N             6.00            18.00           H7      =         None      378814            12      340778            B
57506263         64406961   8475188           NaN           NaN        4       12     -100      100       4S        S            19.00             5.00           H9     -1         None      378814            12      340778            B
57506264         64406964   8475188           NaN           NaN        7        2     -100      100       4S        N            19.00             5.00           DA     -1         None      378814            12      340778            B
57506265         64406966   8475188           NaN           NaN        9        4     -100      100       4S        S            19.00             5.00           H9     -1         None      378814            12      340778            B
57506266         64406967   8475188           NaN           NaN       10        5     -100      100       4S        N            19.00             5.00           HA     -1         None      378814            12      340778            B

[57506267 rows x 19 columns]

In [18]:
# takes 10s.
# merge sessions dataframe on 'session_id'.
br_b_sections_sessions_df = pd.merge(br_b_sections_df,dfs['sessions'],left_on='session_id',right_on='session_id') #,how='inner',indicator=True)
#del br_b_sections_df
#del dfs['sessions']
br_b_sections_sessions_df

          board_result_id  board_id  round_number  table_number  ns_pair  ew_pair ns_score ew_score contract declarer  ew_match_points  ns_match_points opening_lead result tricks_taken  section_id  board_number  session_id section_name  event_id hand_record_id            game_date
0                22686741   3181214          3.00          3.00        4        2      140     -140      2 S        S             0.50             1.50           DK     +1            9      119248             1      100961            M    100961          77908  2020-02-17 00:00:00
1                22686740   3181214          2.00          4.00        6        5      140     -140      3 S        S             0.50             1.50           HA      =            9      119248             1      100961            M    100961          77908  2020-02-17 00:00:00
2                22686742   3181214          5.00          2.00        7        3      -50       50      4 S        S             2.00             0.00           DK     -1            9      119248             1      100961            M    100961          77908  2020-02-17 00:00:00
3                22686743   3181215          2.00          4.00        6        5     -450      450      4 S        E             1.50             0.50           C5     +1           11      119248             2      100961            M    100961          77908  2020-02-17 00:00:00
4                22686744   3181215          3.00          3.00        4        2     -450      450      4 S        E             1.50             0.50           C6     +1           11      119248             2      100961            M    100961          77908  2020-02-17 00:00:00
5                22686745   3181215          5.00          2.00        7        3     -420      420      4 S        E             0.00             2.00           C6      =           10      119248             2      100961            M    100961          77908  2020-02-17 00:00:00
6                22686747   3181216          3.00          3.00        4        2       90      -90      2 D        N             1.00             1.00           S9      =            8      119248             3      100961            M    100961          77908  2020-02-17 00:00:00
7                22686746   3181216          2.00          4.00        6        5      400     -400     2 NT        E             0.00             2.00           D9     -4            4      119248             3      100961            M    100961          77908  2020-02-17 00:00:00
8                22686748   3181216          5.00          2.00        7        3      -50       50     2 NT        S             2.00             0.00           S3     -1            7      119248             3      100961            M    100961          77908  2020-02-17 00:00:00
9                22686749   3181217          2.00          4.00        6        5      100     -100      3 D        W             1.00             1.00           HK     -1            8      119248             4      100961            M    100961          77908  2020-02-17 00:00:00
10               22686750   3181217          3.00          3.00        4        2      140     -140      3 H        N             0.00             2.00           DA      =            9      119248             4      100961            M    100961          77908  2020-02-17 00:00:00
11               22686751   3181217          5.00          2.00        7        3     PASS     PASS     PASS        N             2.00             0.00                                       119248             4      100961            M    100961          77908  2020-02-17 00:00:00
12               22686754   3181218          6.00          2.00        1        4       50      -50      1 S        E             0.00             2.00           H9     -1            6      119248             5      100961            M    100961          77908  2020-02-17 00:00:00
13               22686752   3181218          3.00          4.00        7        6     -110      110      2 S        E             1.50             0.50           H9      =            8      119248             5      100961            M    100961          77908  2020-02-17 00:00:00
14               22686753   3181218          4.00          3.00        5        3     -110      110      2 S        E             1.50             0.50           H9      =            8      119248             5      100961            M    100961          77908  2020-02-17 00:00:00
15               22686755   3181219          3.00          4.00        7        6     -110      110      2 S        W             0.00             2.00           CQ      =            8      119248             6      100961            M    100961          77908  2020-02-17 00:00:00
16               22686756   3181219          4.00          3.00        5        3     -140      140      2 S        W             1.00             1.00           CQ     +1            9      119248             6      100961            M    100961          77908  2020-02-17 00:00:00
17               22686757   3181219          6.00          2.00        1        4     -170      170      2 S        W             2.00             0.00           HJ     +2           10      119248             6      100961            M    100961          77908  2020-02-17 00:00:00
18               22686758   3181220          3.00          4.00        7        6     -650      650      4 S        E             0.50             1.50           HJ     +1           11      119248             7      100961            M    100961          77908  2020-02-17 00:00:00
19               22686759   3181220          4.00          3.00        5        3     -680      680      4 S        W             2.00             0.00           CA     +2           12      119248             7      100961            M    100961          77908  2020-02-17 00:00:00
20               22686760   3181220          6.00          2.00        1        4     -650      650      4 S        E             0.50             1.50           HJ     +1           11      119248             7      100961            M    100961          77908  2020-02-17 00:00:00
21               22686761   3181221          3.00          4.00        7        6     -120      120     1 NT        E             1.50             0.50           D5     +1            8      119248             8      100961            M    100961          77908  2020-02-17 00:00:00
22               22686762   3181221          4.00          3.00        5        3      -90       90     1 NT        W             0.00             2.00           H4      =            7      119248             8      100961            M    100961          77908  2020-02-17 00:00:00
23               22686763   3181221          6.00          2.00        1        4     -120      120     1 NT        W             1.50             0.50           H2     +1            8      119248             8      100961            M    100961          77908  2020-02-17 00:00:00
24               22686765   3181222          5.00          3.00        6        4     -140      140      3 S        W             2.00             0.00           DJ      =            9      119248             9      100961            M    100961          77908  2020-02-17 00:00:00
...                   ...       ...           ...           ...      ...      ...      ...      ...      ...      ...              ...              ...          ...    ...          ...         ...           ...         ...          ...       ...            ...                  ...
57506242         64406949   8475187           NaN           NaN        5       13      150     -150       2N        S             7.00            17.00           DA     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506243         64406946   8475187           NaN           NaN        2       10      140     -140       2S        N            10.50            13.50           D2     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506244         64406947   8475187           NaN           NaN        3       11      170     -170       2S        N             4.50            19.50           D2     +2         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506245         64406948   8475187           NaN           NaN        4       12      110     -110       2S        N            15.00             9.00           H4      =         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506246         64406952   8475187           NaN           NaN        8        3      140     -140       2S        N            10.50            13.50           D2     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506247         64406955   8475187           NaN           NaN       11        6      140     -140       2S        N            10.50            13.50           C6     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506248         64406956   8475187           NaN           NaN       12        7      140     -140       2S        N            10.50            13.50           C6     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506249         64406957   8475187           NaN           NaN       13        8      170     -170       2S        N             4.50            19.50           HA     +2         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506250         64406954   8475187           NaN           NaN       10        5      430     -430       3N        S             0.00            24.00           C4     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506251         64406950   8475187           NaN           NaN        6        1      -50       50       3S        N            20.00             4.00           CK     -1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506252         64406953   8475187           NaN           NaN        9        4     -100      100       3S        N            23.50             0.50           CK     -2         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506253         64406951   8475187           NaN           NaN        7        2      -50       50       4S        N            20.00             4.00           HA     -1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00
57506254         64406965   8475188           NaN           NaN        8        3      600     -600       3N        S             9.00            15.00           H9      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506255         64406968   8475188           NaN           NaN       11        6      600     -600       3N        S             9.00            15.00           H9      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506256         64406970   8475188           NaN           NaN       13        8      630     -630       3N        S             3.00            21.00           H9     +1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506257         64406963   8475188           NaN           NaN        6        1      140     -140       3S        S            14.00            10.00           H9      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506258         64406960   8475188           NaN           NaN        3       11      150     -150       4H        E            13.00            11.00           CJ     -3         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506259         64406969   8475188           NaN           NaN       12        7      200     -200       4H        E            12.00            12.00           CQ     -4         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506260         64406962   8475188           NaN           NaN        5       13      500     -500      4HX        E            11.00            13.00           CQ     -3         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506261         64406958   8475188           NaN           NaN        1        9      620     -620       4S        N             6.00            18.00           HA      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506262         64406959   8475188           NaN           NaN        2       10      620     -620       4S        N             6.00            18.00           H7      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506263         64406961   8475188           NaN           NaN        4       12     -100      100       4S        S            19.00             5.00           H9     -1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506264         64406964   8475188           NaN           NaN        7        2     -100      100       4S        N            19.00             5.00           DA     -1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506265         64406966   8475188           NaN           NaN        9        4     -100      100       4S        S            19.00             5.00           H9     -1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00
57506266         64406967   8475188           NaN           NaN       10        5     -100      100       4S        N            19.00             5.00           HA     -1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00

[57506267 rows x 22 columns]

In [19]:
# takes 25s
# merge events dataframe on 'event_id'.
br_b_sections_sessions_events_df = pd.merge(br_b_sections_sessions_df,dfs['events'],left_on='event_id',right_on='event_id') #,how='inner',indicator=True)
#del br_b_sections_sessions_df
#del dfs['events']
br_b_sections_sessions_events_df

          board_result_id  board_id  round_number  table_number  ns_pair  ew_pair ns_score ew_score contract declarer  ew_match_points  ns_match_points opening_lead result tricks_taken  section_id  board_number  session_id section_name  event_id hand_record_id            game_date  club_id_number event_type board_scoring_method  tb_count       club_session
0                22686741   3181214          3.00          3.00        4        2      140     -140      2 S        S             0.50             1.50           DK     +1            9      119248             1      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
1                22686740   3181214          2.00          4.00        6        5      140     -140      3 S        S             0.50             1.50           HA      =            9      119248             1      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
2                22686742   3181214          5.00          2.00        7        3      -50       50      4 S        S             2.00             0.00           DK     -1            9      119248             1      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
3                22686743   3181215          2.00          4.00        6        5     -450      450      4 S        E             1.50             0.50           C5     +1           11      119248             2      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
4                22686744   3181215          3.00          3.00        4        2     -450      450      4 S        E             1.50             0.50           C6     +1           11      119248             2      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
5                22686745   3181215          5.00          2.00        7        3     -420      420      4 S        E             0.00             2.00           C6      =           10      119248             2      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
6                22686747   3181216          3.00          3.00        4        2       90      -90      2 D        N             1.00             1.00           S9      =            8      119248             3      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
7                22686746   3181216          2.00          4.00        6        5      400     -400     2 NT        E             0.00             2.00           D9     -4            4      119248             3      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
8                22686748   3181216          5.00          2.00        7        3      -50       50     2 NT        S             2.00             0.00           S3     -1            7      119248             3      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
9                22686749   3181217          2.00          4.00        6        5      100     -100      3 D        W             1.00             1.00           HK     -1            8      119248             4      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
10               22686750   3181217          3.00          3.00        4        2      140     -140      3 H        N             0.00             2.00           DA      =            9      119248             4      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
11               22686751   3181217          5.00          2.00        7        3     PASS     PASS     PASS        N             2.00             0.00                                       119248             4      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
12               22686754   3181218          6.00          2.00        1        4       50      -50      1 S        E             0.00             2.00           H9     -1            6      119248             5      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
13               22686752   3181218          3.00          4.00        7        6     -110      110      2 S        E             1.50             0.50           H9      =            8      119248             5      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
14               22686753   3181218          4.00          3.00        5        3     -110      110      2 S        E             1.50             0.50           H9      =            8      119248             5      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
15               22686755   3181219          3.00          4.00        7        6     -110      110      2 S        W             0.00             2.00           CQ      =            8      119248             6      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
16               22686756   3181219          4.00          3.00        5        3     -140      140      2 S        W             1.00             1.00           CQ     +1            9      119248             6      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
17               22686757   3181219          6.00          2.00        1        4     -170      170      2 S        W             2.00             0.00           HJ     +2           10      119248             6      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
18               22686758   3181220          3.00          4.00        7        6     -650      650      4 S        E             0.50             1.50           HJ     +1           11      119248             7      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
19               22686759   3181220          4.00          3.00        5        3     -680      680      4 S        W             2.00             0.00           CA     +2           12      119248             7      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
20               22686760   3181220          6.00          2.00        1        4     -650      650      4 S        E             0.50             1.50           HJ     +1           11      119248             7      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
21               22686761   3181221          3.00          4.00        7        6     -120      120     1 NT        E             1.50             0.50           D5     +1            8      119248             8      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
22               22686762   3181221          4.00          3.00        5        3      -90       90     1 NT        W             0.00             2.00           H4      =            7      119248             8      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
23               22686763   3181221          6.00          2.00        1        4     -120      120     1 NT        W             1.50             0.50           H2     +1            8      119248             8      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
24               22686765   3181222          5.00          3.00        6        4     -140      140      3 S        W             2.00             0.00           DJ      =            9      119248             9      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening
...                   ...       ...           ...           ...      ...      ...      ...      ...      ...      ...              ...              ...          ...    ...          ...         ...           ...         ...          ...       ...            ...                  ...             ...        ...                  ...       ...                ...
57506242         64406949   8475187           NaN           NaN        5       13      150     -150       2N        S             7.00            17.00           DA     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506243         64406946   8475187           NaN           NaN        2       10      140     -140       2S        N            10.50            13.50           D2     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506244         64406947   8475187           NaN           NaN        3       11      170     -170       2S        N             4.50            19.50           D2     +2         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506245         64406948   8475187           NaN           NaN        4       12      110     -110       2S        N            15.00             9.00           H4      =         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506246         64406952   8475187           NaN           NaN        8        3      140     -140       2S        N            10.50            13.50           D2     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506247         64406955   8475187           NaN           NaN       11        6      140     -140       2S        N            10.50            13.50           C6     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506248         64406956   8475187           NaN           NaN       12        7      140     -140       2S        N            10.50            13.50           C6     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506249         64406957   8475187           NaN           NaN       13        8      170     -170       2S        N             4.50            19.50           HA     +2         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506250         64406954   8475187           NaN           NaN       10        5      430     -430       3N        S             0.00            24.00           C4     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506251         64406950   8475187           NaN           NaN        6        1      -50       50       3S        N            20.00             4.00           CK     -1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506252         64406953   8475187           NaN           NaN        9        4     -100      100       3S        N            23.50             0.50           CK     -2         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506253         64406951   8475187           NaN           NaN        7        2      -50       50       4S        N            20.00             4.00           HA     -1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506254         64406965   8475188           NaN           NaN        8        3      600     -600       3N        S             9.00            15.00           H9      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506255         64406968   8475188           NaN           NaN       11        6      600     -600       3N        S             9.00            15.00           H9      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506256         64406970   8475188           NaN           NaN       13        8      630     -630       3N        S             3.00            21.00           H9     +1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506257         64406963   8475188           NaN           NaN        6        1      140     -140       3S        S            14.00            10.00           H9      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506258         64406960   8475188           NaN           NaN        3       11      150     -150       4H        E            13.00            11.00           CJ     -3         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506259         64406969   8475188           NaN           NaN       12        7      200     -200       4H        E            12.00            12.00           CQ     -4         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506260         64406962   8475188           NaN           NaN        5       13      500     -500      4HX        E            11.00            13.00           CQ     -3         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506261         64406958   8475188           NaN           NaN        1        9      620     -620       4S        N             6.00            18.00           HA      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506262         64406959   8475188           NaN           NaN        2       10      620     -620       4S        N             6.00            18.00           H7      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506263         64406961   8475188           NaN           NaN        4       12     -100      100       4S        S            19.00             5.00           H9     -1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506264         64406964   8475188           NaN           NaN        7        2     -100      100       4S        N            19.00             5.00           DA     -1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506265         64406966   8475188           NaN           NaN        9        4     -100      100       4S        S            19.00             5.00           H9     -1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening
57506266         64406967   8475188           NaN           NaN       10        5     -100      100       4S        N            19.00             5.00           HA     -1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening

[57506267 rows x 27 columns]

In [20]:
# takes 8m
#spns_keys = dict(zip([t+('NS',) for t in br_b_sections_sessions_events_df[['section_id','ns_pair']].apply(tuple, axis=1)], br_b_sections_sessions_events_df['board_result_id']))
#spew_keys = dict(zip([t+('EW',) for t in br_b_sections_sessions_events_df[['section_id','ew_pair']].apply(tuple, axis=1)], br_b_sections_sessions_events_df['board_result_id']))
#spd_keys = {}
#spd_keys.update(spns_keys)
#spd_keys.update(spew_keys)
#spd_keys

In [21]:
# takes 14m
# create columns 'spns' and 'spew' to aid merging of sections_pairs dataframe later on.
# todo: don't store spns, spew in df?
br_b_sections_pairs_df = br_b_sections_sessions_events_df.copy()
br_b_sections_pairs_df['spns'] = [t+('NS',) for t in br_b_sections_sessions_events_df[['section_id','ns_pair']].apply(tuple, axis=1)]
br_b_sections_pairs_df['spew'] = [t+('EW',) for t in br_b_sections_sessions_events_df[['section_id','ew_pair']].apply(tuple, axis=1)]
# del br_b_sections_sessions_events_df
br_b_sections_pairs_df

          board_result_id  board_id  round_number  table_number  ns_pair  ew_pair ns_score ew_score contract declarer  ew_match_points  ns_match_points opening_lead result tricks_taken  section_id  board_number  session_id section_name  event_id hand_record_id            game_date  club_id_number event_type board_scoring_method  tb_count       club_session              spns              spew
0                22686741   3181214          3.00          3.00        4        2      140     -140      2 S        S             0.50             1.50           DK     +1            9      119248             1      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 4, NS)   (119248, 2, EW)
1                22686740   3181214          2.00          4.00        6        5      140     -140      3 S        S             0.50             1.50           HA      =            9      119248             1      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 6, NS)   (119248, 5, EW)
2                22686742   3181214          5.00          2.00        7        3      -50       50      4 S        S             2.00             0.00           DK     -1            9      119248             1      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 7, NS)   (119248, 3, EW)
3                22686743   3181215          2.00          4.00        6        5     -450      450      4 S        E             1.50             0.50           C5     +1           11      119248             2      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 6, NS)   (119248, 5, EW)
4                22686744   3181215          3.00          3.00        4        2     -450      450      4 S        E             1.50             0.50           C6     +1           11      119248             2      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 4, NS)   (119248, 2, EW)
5                22686745   3181215          5.00          2.00        7        3     -420      420      4 S        E             0.00             2.00           C6      =           10      119248             2      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 7, NS)   (119248, 3, EW)
6                22686747   3181216          3.00          3.00        4        2       90      -90      2 D        N             1.00             1.00           S9      =            8      119248             3      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 4, NS)   (119248, 2, EW)
7                22686746   3181216          2.00          4.00        6        5      400     -400     2 NT        E             0.00             2.00           D9     -4            4      119248             3      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 6, NS)   (119248, 5, EW)
8                22686748   3181216          5.00          2.00        7        3      -50       50     2 NT        S             2.00             0.00           S3     -1            7      119248             3      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 7, NS)   (119248, 3, EW)
9                22686749   3181217          2.00          4.00        6        5      100     -100      3 D        W             1.00             1.00           HK     -1            8      119248             4      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 6, NS)   (119248, 5, EW)
10               22686750   3181217          3.00          3.00        4        2      140     -140      3 H        N             0.00             2.00           DA      =            9      119248             4      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 4, NS)   (119248, 2, EW)
11               22686751   3181217          5.00          2.00        7        3     PASS     PASS     PASS        N             2.00             0.00                                       119248             4      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 7, NS)   (119248, 3, EW)
12               22686754   3181218          6.00          2.00        1        4       50      -50      1 S        E             0.00             2.00           H9     -1            6      119248             5      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 1, NS)   (119248, 4, EW)
13               22686752   3181218          3.00          4.00        7        6     -110      110      2 S        E             1.50             0.50           H9      =            8      119248             5      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 7, NS)   (119248, 6, EW)
14               22686753   3181218          4.00          3.00        5        3     -110      110      2 S        E             1.50             0.50           H9      =            8      119248             5      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 5, NS)   (119248, 3, EW)
15               22686755   3181219          3.00          4.00        7        6     -110      110      2 S        W             0.00             2.00           CQ      =            8      119248             6      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 7, NS)   (119248, 6, EW)
16               22686756   3181219          4.00          3.00        5        3     -140      140      2 S        W             1.00             1.00           CQ     +1            9      119248             6      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 5, NS)   (119248, 3, EW)
17               22686757   3181219          6.00          2.00        1        4     -170      170      2 S        W             2.00             0.00           HJ     +2           10      119248             6      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 1, NS)   (119248, 4, EW)
18               22686758   3181220          3.00          4.00        7        6     -650      650      4 S        E             0.50             1.50           HJ     +1           11      119248             7      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 7, NS)   (119248, 6, EW)
19               22686759   3181220          4.00          3.00        5        3     -680      680      4 S        W             2.00             0.00           CA     +2           12      119248             7      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 5, NS)   (119248, 3, EW)
20               22686760   3181220          6.00          2.00        1        4     -650      650      4 S        E             0.50             1.50           HJ     +1           11      119248             7      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 1, NS)   (119248, 4, EW)
21               22686761   3181221          3.00          4.00        7        6     -120      120     1 NT        E             1.50             0.50           D5     +1            8      119248             8      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 7, NS)   (119248, 6, EW)
22               22686762   3181221          4.00          3.00        5        3      -90       90     1 NT        W             0.00             2.00           H4      =            7      119248             8      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 5, NS)   (119248, 3, EW)
23               22686763   3181221          6.00          2.00        1        4     -120      120     1 NT        W             1.50             0.50           H2     +1            8      119248             8      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 1, NS)   (119248, 4, EW)
24               22686765   3181222          5.00          3.00        6        4     -140      140      3 S        W             2.00             0.00           DJ      =            9      119248             9      100961            M    100961          77908  2020-02-17 00:00:00          100040      PAIRS         MATCH_POINTS      3.50     Monday Evening   (119248, 6, NS)   (119248, 4, EW)
...                   ...       ...           ...           ...      ...      ...      ...      ...      ...      ...              ...              ...          ...    ...          ...         ...           ...         ...          ...       ...            ...                  ...             ...        ...                  ...       ...                ...               ...               ...
57506242         64406949   8475187           NaN           NaN        5       13      150     -150       2N        S             7.00            17.00           DA     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 5, NS)  (378814, 13, EW)
57506243         64406946   8475187           NaN           NaN        2       10      140     -140       2S        N            10.50            13.50           D2     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 2, NS)  (378814, 10, EW)
57506244         64406947   8475187           NaN           NaN        3       11      170     -170       2S        N             4.50            19.50           D2     +2         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 3, NS)  (378814, 11, EW)
57506245         64406948   8475187           NaN           NaN        4       12      110     -110       2S        N            15.00             9.00           H4      =         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 4, NS)  (378814, 12, EW)
57506246         64406952   8475187           NaN           NaN        8        3      140     -140       2S        N            10.50            13.50           D2     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 8, NS)   (378814, 3, EW)
57506247         64406955   8475187           NaN           NaN       11        6      140     -140       2S        N            10.50            13.50           C6     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening  (378814, 11, NS)   (378814, 6, EW)
57506248         64406956   8475187           NaN           NaN       12        7      140     -140       2S        N            10.50            13.50           C6     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening  (378814, 12, NS)   (378814, 7, EW)
57506249         64406957   8475187           NaN           NaN       13        8      170     -170       2S        N             4.50            19.50           HA     +2         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening  (378814, 13, NS)   (378814, 8, EW)
57506250         64406954   8475187           NaN           NaN       10        5      430     -430       3N        S             0.00            24.00           C4     +1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening  (378814, 10, NS)   (378814, 5, EW)
57506251         64406950   8475187           NaN           NaN        6        1      -50       50       3S        N            20.00             4.00           CK     -1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 6, NS)   (378814, 1, EW)
57506252         64406953   8475187           NaN           NaN        9        4     -100      100       3S        N            23.50             0.50           CK     -2         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 9, NS)   (378814, 4, EW)
57506253         64406951   8475187           NaN           NaN        7        2      -50       50       4S        N            20.00             4.00           HA     -1         None      378814            11      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 7, NS)   (378814, 2, EW)
57506254         64406965   8475188           NaN           NaN        8        3      600     -600       3N        S             9.00            15.00           H9      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 8, NS)   (378814, 3, EW)
57506255         64406968   8475188           NaN           NaN       11        6      600     -600       3N        S             9.00            15.00           H9      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening  (378814, 11, NS)   (378814, 6, EW)
57506256         64406970   8475188           NaN           NaN       13        8      630     -630       3N        S             3.00            21.00           H9     +1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening  (378814, 13, NS)   (378814, 8, EW)
57506257         64406963   8475188           NaN           NaN        6        1      140     -140       3S        S            14.00            10.00           H9      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 6, NS)   (378814, 1, EW)
57506258         64406960   8475188           NaN           NaN        3       11      150     -150       4H        E            13.00            11.00           CJ     -3         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 3, NS)  (378814, 11, EW)
57506259         64406969   8475188           NaN           NaN       12        7      200     -200       4H        E            12.00            12.00           CQ     -4         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening  (378814, 12, NS)   (378814, 7, EW)
57506260         64406962   8475188           NaN           NaN        5       13      500     -500      4HX        E            11.00            13.00           CQ     -3         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 5, NS)  (378814, 13, EW)
57506261         64406958   8475188           NaN           NaN        1        9      620     -620       4S        N             6.00            18.00           HA      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 1, NS)   (378814, 9, EW)
57506262         64406959   8475188           NaN           NaN        2       10      620     -620       4S        N             6.00            18.00           H7      =         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 2, NS)  (378814, 10, EW)
57506263         64406961   8475188           NaN           NaN        4       12     -100      100       4S        S            19.00             5.00           H9     -1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 4, NS)  (378814, 12, EW)
57506264         64406964   8475188           NaN           NaN        7        2     -100      100       4S        N            19.00             5.00           DA     -1         None      378814            12      340778            B    340778         243437  2021-06-30 00:00:00          905265      PAIRS         MATCH_POINTS     25.00  Wednesday Evening   (378814, 7, NS)   (378814, 2, EW)

In [22]:
#br_b_sections_pairkeydf = br_b_sections_df.copy()
#pair_keys = dfs['pair_summaries'][['section_id','pair_number','direction']].apply(tuple, axis=1)
#pair_keys = dict(zip(dfs['pair_summaries'][['section_id','pair_number','direction']].apply(tuple, axis=1), dfs['pair_summaries']['pair_summary_id']))
#pair_keys

In [23]:
# takes 1m30s.
# merge pair_summaries on pair_summary_id.
br_b_pair_players_df = pd.merge(dfs['pair_summaries'],dfs['players'],left_on='pair_summary_id',right_on='pair_summary_id') #,how='inner',indicator=True)
br_b_pair_players_df['spd'] = br_b_pair_players_df[['section_id','pair_number','direction']].apply(tuple, axis=1)
br_b_pair_players_df.set_index('spd', inplace=True)
br_b_pair_players_df.update('"' + br_b_pair_players_df[['player_name']].astype(str) + '"') # quotes 'player_name' column
br_b_pair_players_df

                   pair_summary_id  section_id  pair_number direction  player_id                             player_number                     player_name  mp_total
spd
(119248, 4, None)          1848542      119248            4      None    3695653                                   8052557                  "Robson, Dave"    693.89
(119248, 4, None)          1848542      119248            4      None    3695652  tmp:1de5c0e8-a5a2-4433-a232-caa798c84939      "Gamache, Len(swap names)"     19.00
(119248, 1, None)          1848539      119248            1      None    3695646  tmp:1238a3ab-2652-4f75-921b-767aae646b2a                 "Steele, Bruce"     16.00
(119248, 1, None)          1848539      119248            1      None    3695647  tmp:9f01395a-c179-4283-adf3-886ff6aed8aa                  "Hlady, Henny"       NaN
(119248, 3, None)          1848536      119248            3      None    3695641                                   5637562               "Williams, Peter"    139.21
(119248, 3, None)          1848536      119248            3      None    3695640                                   8360774  "Higgins, Pauline(swap names)"   1164.08
(119248, 6, None)          1848540      119248            6      None    3695648  tmp:07c9f971-1117-4e23-b771-7b2eaebfb1b3                 "Penhale, Russ"     11.00
(119248, 6, None)          1848540      119248            6      None    3695649  tmp:c6ae1a9b-fd89-42b0-8c5d-1b294b811c97            "Charlesworth, Jack"      2.00
(119248, 2, None)          1848537      119248            2      None    3695642                                   5466520              "Stevens, Mikelle"    321.97
(119248, 2, None)          1848537      119248            2      None    3695643  tmp:8bf5e062-32a8-4b17-bbb1-07ee7a14c5be                "Sanderson, Val"     11.00
(119248, 5, None)          1848538      119248            5      None    3695645                                   1689746                  "Meyer, David"    570.78
(119248, 5, None)          1848538      119248            5      None    3695644                                   6766013     "Meyer, George(swap names)"     79.72
(119248, 7, None)          1848541      119248            7      None    3695650                                   7858191                    "Watt, Marj"      5.98
(119248, 7, None)          1848541      119248            7      None    3695651                                   8253331                 "Ellison, Mary"      2.52
(129563, 4, None)          2010256      129563            4      None    4018650                                   1689746                  "Meyer, David"    570.78
(129563, 4, None)          2010256      129563            4      None    4018651                                   6766013                 "Meyer, George"     79.72
(129563, 3, None)          2010250      129563            3      None    4018638                                   5637562               "Williams, Peter"    139.21
(129563, 3, None)          2010250      129563            3      None    4018639                                   8360774              "Higgins, Pauline"   1164.08
(129563, 5, None)          2010252      129563            5      None    4018642  tmp:0e4771b9-a801-4725-91b7-6bfd169ac326                 "Steele, Bruce"     16.00
(129563, 5, None)          2010252      129563            5      None    4018643  tmp:8f2062a9-c68c-4564-9ff2-a88ea8613ec1                  "Hlady, Henny"     22.00
(129563, 1, None)          2010253      129563            1      None    4018645                                   8052557                  "Robson, Dave"    693.89
(129563, 1, None)          2010253      129563            1      None    4018644  tmp:b357a8a0-a4b2-4856-a293-b3acd383a5fa      "Gamache, Len(swap names)"     19.00
(129563, 7, None)          2010255      129563            7      None    4018648  tmp:bd003e07-5435-469e-874a-17527801fff1                  "Leblanc, Vic"      5.00
(129563, 7, None)          2010255      129563            7      None    4018649  tmp:bf62b146-195a-4de9-948f-0b29169eca78              "Leblanc, Juanita"      5.00
(129563, 2, None)          2010251      129563            2      None    4018641                                   4389581                  "Dredge, Faye"    131.63
...                            ...         ...          ...       ...        ...                                       ...                             ...       ...
(378814, 12, EW)           6030180      378814           12        EW   12054484                                   3069850      "Judith Stone(swap names)"     37.55
(378814, 1, EW)            6030158      378814            1        EW   12054440                                   6051006                   "Nancy Hoeck"     32.77
(378814, 1, EW)            6030158      378814            1        EW   12054441                                   7232489                 "Carol Lashman"     29.30
(378814, 3, EW)            6030162      378814            3        EW   12054449                                   7487827                "Tracey Whitney"     11.04
(378814, 3, EW)            6030162      378814            3        EW   12054448                                   7682735       "Rita Wright(swap names)"      6.39
(378814, 4, EW)            6030164      378814            4        EW   12054453                                   7709692                "Sara Hofmockel"     42.96
(378814, 4, EW)            6030164      378814            4        EW   12054452                                   7822065      "Leslie Haase(swap names)"     26.69
(378814, 10, EW)           6030176      378814           10        EW   12054476                                   1141392                  "Dicey Brinck"     85.78
(378814, 10, EW)           6030176      378814           10        EW   12054477                                   8347336                "James Lockwood"     17.06
(378814, 5, EW)            6030166      378814            5        EW   12054456                                   1576119              "Harry Sunenshine"     34.98
(378814, 5, EW)            6030166      378814            5        EW   12054457                                   4279514              "Dorry Sunenshine"     37.94
(378814, 8, EW)            6030172      378814            8        EW   12054468                                   2287609             "Margaret Lockwood"     53.52
(378814, 8, EW)            6030172      378814            8        EW   12054469                                   8208581                    "Phil Hayes"     67.30
(378814, 9, EW)            6030174      378814            9        EW   12054472                                   1560107                 "Rebecca Stone"     18.84
(378814, 9, EW)            6030174      378814            9        EW   12054473                                   7561180                 "Erika Johnson"     11.95
(378814, 2, EW)            6030160      378814            2        EW   12054444                                   5172047                    "Emelyn Png"     43.04
(378814, 2, EW)            6030160      378814            2        EW   12054445                                   5553776                  "Scott Jordan"     52.59
(378814, 11, EW)           6030178      378814           11        EW   12054481                                   7611293                    "Kathy Vita"     79.23
(378814, 11, EW)           6030178      378814           11        EW   12054480                                   8017719         "Nancy Zhu(swap names)"     40.65
(378814, 7, EW)            6030170      378814            7        EW   12054465                                   1532359                "Roberta Keller"     28.26
(378814, 7, EW)            6030170      378814            7        EW   12054464                                   1605186    "Robert Carrier(swap names)"     93.33
(378814, 6, EW)            6030168      378814            6        EW   12054460                                   7471416                   "Mary Thomas"      7.32
(378814, 6, EW)            6030168      378814            6        EW   12054461                                   9047328                 "Cyrus Elliott"     13.76
(378814, 13, EW)           6030182      378814           13        EW   12054488                                   1853570                    "Jody Amato"      0.21
(378814, 13, EW)           6030182      378814           13        EW   12054489                                   9930299         "Kristin Kelleher-Wong"      1.90

[10880585 rows x 8 columns]

In [24]:
# takes 9m
# group player data on 'spd'.
gb = br_b_pair_players_df.groupby(['spd']) # ['spd','section_id','pair_number','direction']
gbdf = gb[['player_id','player_number','player_name','mp_total']].agg(list) #.reset_index()
gbdf

                             player_id                                        player_number                                                      player_name            mp_total
spd
(3, 1, NS)                    [94, 93]                                   [5697522, 2170833]                    ["Martin, Betty", "Robbins, Bob(swap names)"]  [6194.71, 2978.84]
(3, 2, NS)                    [87, 88]                                   [1302604, 2728524]                           ["Campbell, Patrick", "Bahry, Sharon"]    [18.37, 3329.61]
(3, 3, NS)                  [104, 103]                                   [2589702, 1835181]            ["Merritt, Steven", "Kleckner, Patricia(swap names)"]     [177.8, 261.78]
(3, 4, NS)                    [95, 96]                                   [8644756, 5827191]                              ["Spalding, Lorita", "Lane, Kathy"]    [2741.9, 2677.4]
(3, 5, NS)                    [92, 91]                                   [4402758, 5280141]             ["Jensen, Virginia", "Petersen, George(swap names)"]    [1328.7, 745.93]
(3, 6, NS)                  [101, 102]                                   [5437121, 7604602]                          ["Mall, Jacquelyn", "Disbrow, Lynford"]      [219.08, 6.22]
(3, 7, NS)                   [100, 99]                                   [5753813, 5159881]                    ["Evans, Kathryn", "Weiss, Rick(swap names)"]   [1225.39, 1951.3]
(3, 8, NS)                    [98, 97]                                   [7892268, 5549337]               ["Clarke, George", "Kornbluth, Bobbi(swap names)"]  [1047.93, 1068.37]
(3, 9, NS)                    [90, 89]                                   [2123991, 4695429]               ["Scoggin, Richard", "Nojima, Kazuko(swap names)"]  [3834.03, 1581.76]
(3, 10, NS)                   [86, 85]                                   [2351811, 8594279]                    ["Lucks, Sybil", "Gupta, Satish(swap names)"]   [2638.8, 2885.69]
(3, 11, NS)                   [84, 83]                                   [3264696, 5674158]         ["Falk, Charlotte", "Kellermeyer, Virginia(swap names)"]  [7601.08, 3394.11]
(3, 12, NS)                   [81, 82]                                   [1838512, 4446976]                                ["Yue, Raymond", "Wetzel, Tutty"]  [1039.74, 2358.31]
(5, 1, NS)                  [134, 133]                                   [7808992, 9953493]                    ["Wagner, Debbie", "Sinkey, Joe(swap names)"]   [1952.57, 2254.7]
(5, 2, NS)                  [138, 137]                                   [4928725, 6458262]                   ["Cone, Cynthia", "Vencill, John(swap names)"]    [627.02, 397.74]
(5, 3, NS)                  [132, 131]                                   [2064545, 2630966]                   ["Engle, Ruth", "Pagano, Phyllis(swap names)"]    [913.87, 926.32]
(5, 4, NS)                  [135, 136]                                   [1285688, 5879523]                                  ["Hedden, Ann", "Joslyn, Nora"]    [3023.14, 51.03]
(5, 6, NS)                  [130, 129]                                   [8351368, 2755297]                     ["Bailie, Judy", "Day, Charles(swap names)"]   [1681.86, 1397.8]
(6, 1, NS)                  [154, 153]                                   [7738552, 7749910]                    ["Avery, Keith", "Avery, Carole(swap names)"]        [0.54, 0.54]
(6, 2, NS)                  [151, 152]                                   [3817229, 7393733]                          ["Kelly, LecClier", "Trop-Zell, Helen"]     [104.36, 16.47]
(6, 3, NS)                  [150, 149]                                   [3932516, 3585328]                ["Laflame, Gail", "Roden, Christine(swap names)"]       [8.46, 16.81]
(6, 4, NS)                  [148, 147]                                     [#3684, 6527043]                   ["O'Dendron, Phil", "Quinn, Mary(swap names)"]        [21.0, 5.13]
(6, 5, NS)                  [141, 142]                                   [3914259, 5464781]                              ["Ernst, Marie", "Simkins, Elaine"]     [256.95, 98.49]
(6, 7, NS)                  [140, 139]                                   [9129669, 2909952]                 ["Powell, Sandy", "Stone, Bradford(swap names)"]    [202.43, 202.62]
(6, 8, NS)                  [156, 155]                                   [5464714, 5437121]                  ["Martin, Jane", "Mall, Jacquelyn(swap names)"]    [150.44, 219.08]
(6, 9, NS)                  [146, 145]                                   [5159954, 9911685]  ["Chandler, Jacqueline", "Bruun-Andersen, Frances(swap names)"]    [850.68, 279.27]
...                                ...                                                  ...                                                              ...                 ...
(383301, 2, NS)   [12175016, 12175015]                                   [9140255, 9227253]                   ["Janet Erwood", "Jamie Ferguson(swap names)"]     [111.87, 155.6]
(383301, 3, EW)   [12175021, 12175022]                                   [6262171, 7987013]                                ["Lorna Fuoco", "Brenda Klassen"]  [1499.01, 1468.03]
(383301, 3, NS)   [12175020, 12175019]                                   [3249182, 9434704]          ["Diane Krancenblum", "Patricia Desbrisay(swap names)"]    [275.79, 559.26]
(383301, 4, EW)   [12175025, 12175026]  [3612198, tmp:1b78ab52-da83-41f9-8027-6f18bf1e9c8f]                                      ["Donald Lust", "~~m54147"]      [1380.01, nan]
(383301, 4, NS)   [12175023, 12175024]                                   [9374078, 9374086]                             ["Marlene Mahoney", "Liis Jeffries"]    [644.18, 528.42]
(383301, 5, EW)   [12175030, 12175029]                                   [3109631, 9357998]               ["Linda Jackson", "Jo-Anne Gianiorio(swap names)"]    [127.95, 156.76]
(383301, 5, NS)   [12175027, 12175028]                                   [2125706, 6684602]                                ["Paul Manhas", "Brenda Mathews"]    [632.7, 1712.62]
(383301, 6, EW)   [12175033, 12175034]                                   [2635267, 5521904]                                   ["Sum Tang", "Carol Newhouse"]    [927.65, 258.71]
(383301, 6, NS)   [12175032, 12175031]                                   [6973930, 8276153]                        ["Cindy Stewart", "Don Bell(swap names)"]  [1013.22, 3969.03]
(383301, 7, EW)   [12175037, 12175038]                                   [5420156, 6686354]                                ["Betty Hunt", "Jerri Calverley"]     [320.2, 255.57]
(383301, 7, NS)   [12175035, 12175036]                                   [1725297, 2537656]                                    ["Alje Kamminga", "Ted Rich"]  [2455.61, 3487.31]
(383301, 8, EW)   [12175041, 12175042]                                   [6622933, 6622941]                       ["Catherine Buchanan", "Richard Buchanan"]    [487.85, 443.51]
(383301, 8, NS)   [12175040, 12175039]                                   [2684748, 5119677]                  ["Linda Angstadt", "Diane Zebroff(swap names)"]    [442.32, 447.32]
(383301, 9, EW)   [12175045, 12175046]                                   [7605676, 9518401]                                ["Irene Morrow", "Marian Kosior"]   [531.81, 1789.16]
(383301, 9, NS)   [12175044, 12175043]                                   [6034195, 8143900]                  ["Andrea Johnson", "Wendy Mohamed(swap names)"]    [833.82, 2643.5]
(383301, 10, EW)  [12175049, 12175050]                                   [4481895, 5321069]                                ["Donna Traas", "Tish Schweizer"]  [2181.64, 1146.16]
(383301, 10, NS)  [12175048, 12175047]                                   [5263484, 5527929]                    ["Sharon Gecse", "Frances Monro(swap names)"]    [818.51, 599.41]
(383305, 1, NS)   [12175130, 12175129]                                   [7304374, 8401195]                    ["Daniel Berman", "Vicki Sutton(swap names)"]  [1104.46, 2443.63]
(383305, 2, NS)   [12175134, 12175133]                                   [7899807, 8025975]         ["Stephen Bartholomew", "Robert Derbyshire(swap names)"]    [220.25, 148.15]
(383305, 3, NS)   [12175138, 12175137]                                   [5412285, 8443149]                     ["Sam Aucoin", "Cherilyn Young(swap names)"]   [831.11, 1547.06]
(383305, 4, NS)   [12175142, 12175141]                                   [1627252, 4009495]                 ["Michelle Nordyke", "Muriel Stitt(swap names)"]    [249.2, 2506.09]
(383305, 5, EW)   [12175131, 12175132]                                   [9115234, 9176373]                               ["Sharon Sandell", "David Ouyang"]    [659.92, 574.19]
(383305, 6, EW)   [12175135, 12175136]                                   [7923627, 8401977]                              ["Brigitte Tetzner", "Gary Haynie"]   [1536.36, 583.33]
(383305, 7, EW)   [12175139, 12175140]                                   [3850749, 8750084]                                  ["Nancy Baker", "Cheryl Glaza"]  [2021.29, 1384.97]
(383305, 8, EW)   [12175143, 12175144]                                   [7134614, 8676674]                                    ["Arnold Drill", "Bev Drill"]  [1832.41, 1681.23]

[5440773 rows x 4 columns]

In [25]:
# takes 1m30s
# merge sections_pairs dataframe on 'sp??' and spd.
br_b_sections_pairs_players_df = pd.merge(br_b_sections_pairs_df,gbdf,left_on='spns',right_on='spd')
br_b_sections_pairs_players_df = pd.merge(br_b_sections_pairs_players_df,gbdf,left_on='spew',right_on='spd',suffixes=('_ns','_ew'))
br_b_sections_pairs_players_df

          board_result_id  board_id  round_number  table_number  ns_pair  ew_pair ns_score ew_score contract declarer  ew_match_points  ns_match_points opening_lead result tricks_taken  section_id  board_number  session_id section_name  event_id hand_record_id            game_date  club_id_number event_type board_scoring_method  tb_count       club_session              spns             spew          player_id_ns                                                                      player_number_ns                                        player_name_ns         mp_total_ns          player_id_ew                                                                      player_number_ew                                    player_name_ew         mp_total_ew
0                29145890   4065740           NaN           NaN        1        1     -140      140       2S        W             4.50             1.50         None   None         None      155573             1      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 1, NS)  (155573, 1, EW)    [4832775, 4832776]  [tmp:995300bb-6081-4285-a93a-9342d2e7bc1b, tmp:a659aa2e-1428-4ea4-87d3-581db1c2dfad]                            ["sunfeather", "jakspade"]          [nan, nan]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
1                29145897   4065741           NaN           NaN        1        1      650     -650       5H        N             2.50             3.50         None   None         None      155573             2      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 1, NS)  (155573, 1, EW)    [4832775, 4832776]  [tmp:995300bb-6081-4285-a93a-9342d2e7bc1b, tmp:a659aa2e-1428-4ea4-87d3-581db1c2dfad]                            ["sunfeather", "jakspade"]          [nan, nan]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
2                29145904   4065742           NaN           NaN        1        1      100     -100       3N        W             2.00             4.00         None   None         None      155573             3      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 1, NS)  (155573, 1, EW)    [4832775, 4832776]  [tmp:995300bb-6081-4285-a93a-9342d2e7bc1b, tmp:a659aa2e-1428-4ea4-87d3-581db1c2dfad]                            ["sunfeather", "jakspade"]          [nan, nan]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
3                29145956   4065749           NaN           NaN        4        1     -140      140       2H        W             3.50             2.50         None   None         None      155573            10      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 4, NS)  (155573, 1, EW)    [4832788, 4832787]  [tmp:05fb8b01-1366-4fc8-9bb4-13c7f6f012a7, tmp:abf67235-1e01-4f8e-a927-95be148ea12f]                   ["valqtown", "whqtown(swap names)"]          [nan, nan]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
4                29145963   4065750           NaN           NaN        4        1      480     -480       4S        S             0.50             5.50         None   None         None      155573            11      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 4, NS)  (155573, 1, EW)    [4832788, 4832787]  [tmp:05fb8b01-1366-4fc8-9bb4-13c7f6f012a7, tmp:abf67235-1e01-4f8e-a927-95be148ea12f]                   ["valqtown", "whqtown(swap names)"]          [nan, nan]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
5                29145970   4065751           NaN           NaN        4        1      -90       90       1N        E             1.00             5.00         None   None         None      155573            12      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 4, NS)  (155573, 1, EW)    [4832788, 4832787]  [tmp:05fb8b01-1366-4fc8-9bb4-13c7f6f012a7, tmp:abf67235-1e01-4f8e-a927-95be148ea12f]                   ["valqtown", "whqtown(swap names)"]          [nan, nan]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
6                29146000   4065755           NaN           NaN        6        1     -620      620       4S        W             5.00             1.00         None   None         None      155573            16      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 6, NS)  (155573, 1, EW)    [4832795, 4832796]                                                                    [1015699, 6996043]                      ["Maureen Larson", "Ben Levine"]    [1078.3, 309.88]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
7                29146007   4065756           NaN           NaN        6        1     -150      150       2D        N             4.50             1.50         None   None         None      155573            17      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 6, NS)  (155573, 1, EW)    [4832795, 4832796]                                                                    [1015699, 6996043]                      ["Maureen Larson", "Ben Levine"]    [1078.3, 309.88]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
8                29146014   4065757           NaN           NaN        6        1      100     -100      5DX        W             0.00             6.00         None   None         None      155573            18      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 6, NS)  (155573, 1, EW)    [4832795, 4832796]                                                                    [1015699, 6996043]                      ["Maureen Larson", "Ben Levine"]    [1078.3, 309.88]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
9                29145978   4065752           NaN           NaN        5        1     -110      110       2S        W             3.50             2.50         None   None         None      155573            13      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 5, NS)  (155573, 1, EW)    [4832792, 4832791]                                                                    [5231051, 9311599]      ["Jeff Rowland", "Shirley Campbell(swap names)"]       [56.6, 128.2]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
10               29145985   4065753           NaN           NaN        5        1      -50       50       3S        S             3.00             3.00         None   None         None      155573            14      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 5, NS)  (155573, 1, EW)    [4832792, 4832791]                                                                    [5231051, 9311599]      ["Jeff Rowland", "Shirley Campbell(swap names)"]       [56.6, 128.2]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
11               29145992   4065754           NaN           NaN        5        1     -100      100       4H        S             3.50             2.50         None   None         None      155573            15      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 5, NS)  (155573, 1, EW)    [4832792, 4832791]                                                                    [5231051, 9311599]      ["Jeff Rowland", "Shirley Campbell(swap names)"]       [56.6, 128.2]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
12               29145912   4065743           NaN           NaN        2        1      660     -660       3N        N             0.00             6.00         None   None         None      155573             4      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 2, NS)  (155573, 1, EW)    [4832779, 4832780]                                                                    [4029062, 6694985]                         ["John Perry", "Julie Perry"]  [1161.82, 1034.52]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
13               29145919   4065744           NaN           NaN        2        1      170     -170       2S        S             0.00             6.00         None   None         None      155573             5      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 2, NS)  (155573, 1, EW)    [4832779, 4832780]                                                                    [4029062, 6694985]                         ["John Perry", "Julie Perry"]  [1161.82, 1034.52]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
14               29145926   4065745           NaN           NaN        2        1      140     -140       2H        N             2.50             2.50         None   None         None      155573             6      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 2, NS)  (155573, 1, EW)    [4832779, 4832780]                                                                    [4029062, 6694985]                         ["John Perry", "Julie Perry"]  [1161.82, 1034.52]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
15               29145934   4065746           NaN           NaN        3        1     -200      200       5C        S             6.00             0.00         None   None         None      155573             7      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 3, NS)  (155573, 1, EW)    [4832783, 4832784]                                                                    [2745771, 2745771]                        ["Sandy Pyatt", "Sandy Pyatt"]        [2.41, 2.41]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
16               29145941   4065747           NaN           NaN        3        1      170     -170       3H        N             1.50             4.50         None   None         None      155573             8      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 3, NS)  (155573, 1, EW)    [4832783, 4832784]                                                                    [2745771, 2745771]                        ["Sandy Pyatt", "Sandy Pyatt"]        [2.41, 2.41]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
17               29145948   4065748           NaN           NaN        3        1     -130      130       3D        E             6.00             0.00         None   None         None      155573             9      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 3, NS)  (155573, 1, EW)    [4832783, 4832784]                                                                    [2745771, 2745771]                        ["Sandy Pyatt", "Sandy Pyatt"]        [2.41, 2.41]    [4832778, 4832777]                                                                    [1872419, 1872427]      ["Anne Kendall", "Robert Coole(swap names)"]  [1606.12, 1765.12]
18               29145911   4065743           NaN           NaN        1        7      620     -620       4H        S             1.00             5.00         None   None         None      155573             4      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 1, NS)  (155573, 7, EW)    [4832775, 4832776]  [tmp:995300bb-6081-4285-a93a-9342d2e7bc1b, tmp:a659aa2e-1428-4ea4-87d3-581db1c2dfad]                            ["sunfeather", "jakspade"]          [nan, nan]    [4832802, 4832801]  [tmp:45d2e796-3ff4-4227-a227-0263a650615c, tmp:72d12c14-20e3-4fa8-9e78-2808beeaf9f9]             ["dixie_j", "driverbrya(swap names)"]          [nan, nan]
19               29145918   4065744           NaN           NaN        1        7     -200      200       4H        N             5.00             1.00         None   None         None      155573             5      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 1, NS)  (155573, 7, EW)    [4832775, 4832776]  [tmp:995300bb-6081-4285-a93a-9342d2e7bc1b, tmp:a659aa2e-1428-4ea4-87d3-581db1c2dfad]                            ["sunfeather", "jakspade"]          [nan, nan]    [4832802, 4832801]  [tmp:45d2e796-3ff4-4227-a227-0263a650615c, tmp:72d12c14-20e3-4fa8-9e78-2808beeaf9f9]             ["dixie_j", "driverbrya(swap names)"]          [nan, nan]
20               29145925   4065745           NaN           NaN        1        7      400     -400       2S        W             0.00             5.00         None   None         None      155573             6      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 1, NS)  (155573, 7, EW)    [4832775, 4832776]  [tmp:995300bb-6081-4285-a93a-9342d2e7bc1b, tmp:a659aa2e-1428-4ea4-87d3-581db1c2dfad]                            ["sunfeather", "jakspade"]          [nan, nan]    [4832802, 4832801]  [tmp:45d2e796-3ff4-4227-a227-0263a650615c, tmp:72d12c14-20e3-4fa8-9e78-2808beeaf9f9]             ["dixie_j", "driverbrya(swap names)"]          [nan, nan]
21               29145977   4065752           NaN           NaN        4        7     -110      110       1S        W             3.50             2.50         None   None         None      155573            13      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 4, NS)  (155573, 7, EW)    [4832788, 4832787]  [tmp:05fb8b01-1366-4fc8-9bb4-13c7f6f012a7, tmp:abf67235-1e01-4f8e-a927-95be148ea12f]                   ["valqtown", "whqtown(swap names)"]          [nan, nan]    [4832802, 4832801]  [tmp:45d2e796-3ff4-4227-a227-0263a650615c, tmp:72d12c14-20e3-4fa8-9e78-2808beeaf9f9]             ["dixie_j", "driverbrya(swap names)"]          [nan, nan]
22               29145984   4065753           NaN           NaN        4        7     -100      100       1D        N             6.00             0.00         None   None         None      155573            14      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 4, NS)  (155573, 7, EW)    [4832788, 4832787]  [tmp:05fb8b01-1366-4fc8-9bb4-13c7f6f012a7, tmp:abf67235-1e01-4f8e-a927-95be148ea12f]                   ["valqtown", "whqtown(swap names)"]          [nan, nan]    [4832802, 4832801]  [tmp:45d2e796-3ff4-4227-a227-0263a650615c, tmp:72d12c14-20e3-4fa8-9e78-2808beeaf9f9]             ["dixie_j", "driverbrya(swap names)"]          [nan, nan]
23               29145991   4065754           NaN           NaN        4        7      620     -620       4H        S             0.50             5.50         None   None         None      155573            15      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 4, NS)  (155573, 7, EW)    [4832788, 4832787]  [tmp:05fb8b01-1366-4fc8-9bb4-13c7f6f012a7, tmp:abf67235-1e01-4f8e-a927-95be148ea12f]                   ["valqtown", "whqtown(swap names)"]          [nan, nan]    [4832802, 4832801]  [tmp:45d2e796-3ff4-4227-a227-0263a650615c, tmp:72d12c14-20e3-4fa8-9e78-2808beeaf9f9]             ["dixie_j", "driverbrya(swap names)"]          [nan, nan]
24               29145999   4065755           NaN           NaN        5        7     -140      140       2S        W             1.00             5.00         None   None         None      155573            16      135492            A    135492           None  2020-05-06 00:00:00          100040      PAIRS         MATCH_POINTS      7.00  Wednesday Evening   (155573, 5, NS)  (155573, 7, EW)    [4832792, 4832791]                                                                    [5231051, 9311599]      ["Jeff Rowland", "Shirley Campbell(swap names)"]       [56.6, 128.2]    [4832802, 4832801]  [tmp:45d2e796-3ff4-4227-a227-0263a650615c, tmp:72d12c14-20e3-4fa8-9e78-2808beeaf9f9]             ["dixie_j", "driverbrya(swap names)"]          [nan, nan]

In [26]:
#br_b_sections_pairs_players_df['tricks_taken'].isnumeric()

In [27]:
# takes 6s
# convert 'tricks_taken' to numeric.
# todo: something is wrong with tricks_taken data. maybe there's a string instead of null?
br_b_sections_pairs_players_df['tricks_taken'] = pd.to_numeric(br_b_sections_pairs_players_df['tricks_taken'])

In [28]:
# takes 2m
# tuple column ok
#br_b_sections_pairs_players_df.to_pickle('acbl-board-results_raw.pkl')

In [29]:
# takes 1m20s
# drop temporary columns 'spns', 'spew'. They were used to make merging easier and are no longer needed.
# sql doesn't allow columns which are tuples or lists. Either delete them or quote them. Probably shouldn't be in df anyway?
br_b_sections_pairs_players_df.drop(columns=['spns','spew'],inplace=True,errors='ignore') # tuples
#br_b_sections_pairs_players_df.drop(columns=['player_id','player_number','player_name'],inplace=True,errors='ignore') # lists

In [30]:
# ns_score, ew_score are usually Int16 but can contain 'PASS', 'NP', 'AVE+', 'AVE-', etc.
# result is usually Int8 but can be '=', '-+', ...
# hand_record_id has UInt64, None, '' and 'SHUFFLE'
# note: parquet doesn't handle float16

In [31]:
# takes 2m10s
# perform well know astype conversions.
# todo: assert that all columns are in the list.
# todo: making 'tricks_taken' float32 because raises conversion error when 'Int8'
well_known_astype_conversions = {'board_result_id': 'UInt64', 'board_id': 'UInt64', 'round_number': 'UInt8',
    'table_number': 'UInt8', 'ns_pair': 'UInt8','ew_pair': 'UInt8', 'ns_score': 'str', 'ew_score': 'str',
    'contract': 'category', 'declarer': 'category','ew_match_points': 'float32',
    'ns_match_points': 'float32', 'opening_lead': 'category', 'result': 'str', 'tricks_taken': 'float32',
    'section_id': 'UInt64', 'board_number': 'UInt8', 'session_id': 'UInt64', 'section_name': 'category',
    'event_id': 'UInt64', 'hand_record_id': 'str', 'game_date': 'datetime64[ns, US/Central]', 'club_id_number': 'UInt64',
    'event_type': 'category', 'board_scoring_method': 'category', 'tb_count': 'float32', 'club_session': 'category',
    'player_id_ns': 'object', 'player_number_ns': 'object', 'player_name_ns': 'object', 'player_name_ew': 'object',
    'mp_total_ns': 'object', 'mp_total_ew':'object'}
for c,t in well_known_astype_conversions.items():
    print(c,t)
    br_b_sections_pairs_players_df[c] = br_b_sections_pairs_players_df[c].astype(t)
br_b_sections_pairs_players_df.info()

board_result_id UInt64
board_id UInt64
round_number UInt8
table_number UInt8
ns_pair UInt8
ew_pair UInt8
ns_score str
ew_score str
contract category
declarer category
ew_match_points float32
ns_match_points float32
opening_lead category
result str
tricks_taken float32
section_id UInt64
board_number UInt8
session_id UInt64
section_name category
event_id UInt64
hand_record_id str
game_date datetime64[ns, US/Central]
club_id_number UInt64
event_type category
board_scoring_method category
tb_count float32
club_session category
player_id_ns object
player_number_ns object
player_name_ns object
player_name_ew object
mp_total_ns object
mp_total_ew object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 47151666 entries, 0 to 47151665
Data columns (total 35 columns):
 #   Column                Dtype
---  ------                -----
 0   board_result_id       UInt64
 1   board_id              UInt64
 2   round_number          UInt8
 3   table_number          UInt8
 4   ns_pair               UInt8
 5   ew_pair               UInt8
 6   ns_score              object
 7   ew_score              object
 8   contract              category
 9   declarer              category
 10  ew_match_points       float32
 11  ns_match_points       float32
 12  opening_lead          category
 13  result                object
 14  tricks_taken          float32
 15  section_id            UInt64
 16  board_number          UInt8
 17  session_id            UInt64
 18  section_name          category
 19  event_id              UInt64
 20  hand_record_id        object
 21  game_date             datetime64[ns, US/Central]
 22  club_id_number        UInt64
 23  event_type            category
 24  board_scoring_method  category
 25  tb_count              float32
 26  club_session          category
 27  player_id_ns          object
 28  player_number_ns      object
 29  player_name_ns        object
 30  mp_total_ns           object
 31  player_id_ew          object
 32  player_number_ew      object
 33  player_name_ew        object
 34  mp_total_ew           object
dtypes: UInt64(6), UInt8(5), category(7), datetime64[ns, US/Central](1), float32(4), object(12)
memory usage: 8.8+ GB

In [32]:
# takes 2m51s
# try other compression schemes
# tuple columns not allowed
#br_b_sections_pairs_players_df.to_parquet('acbl-board-results-raw.parquet.gzip',compression='gzip')

In [33]:
# takes 1m30s
# tuple columns not allowed
#br_b_sections_pairs_players_df.to_parquet('acbl-board-results-raw.parquet')

In [34]:
# takes 1m15s
# all done. write out file.
board_results_file = acblPath.joinpath('acbl-board-results.pkl')
br_b_sections_pairs_players_df.to_pickle(board_results_file)

In [35]:
# takes 15 minutes.
# tuple and list columns not allowed
# caution: looks like dataframe is too large for sql to handle??
#db_cgfile_connection_string = 'sqlite:///acbl-board-results.sqlite'
#engine_cgfile = sqlalchemy.create_engine(db_cgfile_connection_string) #, echo=True)
#br_b_sections_pairs_players_df.to_sql('cg', con=engine_cgfile, if_exists='replace', index_label='id')
#engine_cgfile.dispose()