In [1]:
# takes 30h for 6m->3m hand records, 10h per 1m, 1h per 100k.
# Read acbl_hand_records.pkl file and clean up double dummy (DD) and par errors.
# Best to re-use previous cleaned up results as performance is slow. Use previous results unless record is new.
# It's not sufficient to validate par score vul calcs by simply correcting vul because some scores would be missing.
# Creates ../acbl/acbl_hand_records_cleaned.pkl

# todo:
# acbl_hand_records.pkl are incorrect due to legacy ignoring of vul. Clean here or correct sql in previous step? 
# figure out why this line throws an exception: stdhrs.at[grp_start+handno,'Par'] = pars
# board_record_string has replaced '10' with 'T'. This is confusing as it doesn't match sql. Needed?

# next steps:
# merge-hand-records.ipynb merges acbl and tcg standardized hand records?

# previous steps:
# acbl_sql_to_hand_records.ipynb creates acbl_hand_records.pkl

# Requirements
# https://github.com/Afwas/python-dds with some of my mods.

In [2]:
import pandas as pd
import pathlib
import mlBridgeLib
from IPython.display import display # needed to define display() method in vscode

In [3]:
# override pandas display options
mlBridgeLib.pd_options_display()

In [4]:
rootPath = pathlib.Path('e:/bridge/data')
acblPath = rootPath.joinpath('acbl')

In [15]:
# takes 
acbl_hand_records_augmented_df = acblPath.joinpath('acbl_hand_records_augmented.pkl') # tip: overwrite file with ..._dd_experiments.pkl for restart
stdhrs = pd.read_pickle(acbl_hand_records_augmented_df)
display(len(stdhrs),stdhrs)

3144755

                     ref hand_record_id  event_id Board  EventBoard Dealer   Vul                                                   board_record_string                                                                                         Hands                                                                Par                                                                         DDmakes  DD_N_C  DD_N_D  DD_N_H  DD_N_S  DD_N_N  DD_E_C  DD_E_D  DD_E_H  DD_E_S  DD_E_N  DD_S_C  DD_S_D  DD_S_H  DD_S_S  DD_S_N  DD_W_C  DD_W_D  DD_W_H  DD_W_S  DD_W_N                                                                                            Hands_Bin                                                    HB_N                                                    HB_E                                                    HB_S                                                    HB_W                                                                               HCP  HCP_N  HCP_N_S  HCP_N_H  HCP_N_D  HCP_N_C  HCP_E  HCP_E_S  HCP_E_H  HCP_E_D  HCP_E_C  HCP_S  HCP_S_S  HCP_S_H  HCP_S_D  HCP_S_C  HCP_W  HCP_W_S  HCP_W_H  HCP_W_D  HCP_W_C                                                                                                   QT  QT_N  QT_N_S  ...  CT_NS_H  CT_NS_S  CT_NS_N  CT_EW_C  CT_EW_D  CT_EW_H  CT_EW_S  CT_EW_N  CT_NS_C_Pass  CT_NS_C_Partial  CT_NS_C_Game  CT_NS_C_SSlam  CT_NS_C_GSlam  CT_NS_D_Pass  CT_NS_D_Partial  CT_NS_D_Game  CT_NS_D_SSlam  CT_NS_D_GSlam CT_NS_H_Pass  CT_NS_H_Partial  CT_NS_H_Game  CT_NS_H_SSlam  CT_NS_H_GSlam  CT_NS_S_Pass  CT_NS_S_Partial  CT_NS_S_Game  CT_NS_S_SSlam  CT_NS_S_GSlam  CT_NS_N_Pass  CT_NS_N_Partial  CT_NS_N_Game  CT_NS_N_SSlam  CT_NS_N_GSlam  CT_EW_C_Pass  CT_EW_C_Partial  CT_EW_C_Game  CT_EW_C_SSlam  CT_EW_C_GSlam  CT_EW_D_Pass  CT_EW_D_Partial  CT_EW_D_Game  CT_EW_D_SSlam  CT_EW_D_GSlam  CT_EW_H_Pass  CT_EW_H_Partial  CT_EW_H_Game  CT_EW_H_SSlam  CT_EW_H_GSlam  CT_EW_S_Pass  CT_EW_S_Partial  CT_EW_S_Game  CT_EW_S_SSlam  CT_EW_S_GSlam  CT_EW_N_Pass  CT_EW_N_Partial  CT_EW_N_Game  CT_EW_N_SSlam  CT_EW_N_GSlam  Vul_NS  Vul_EW
0        (acbl, 2620401)          77908    100961    09  200217A_09      N   E_W  ST6HK32DJ2CAJ9874SQJ942H765DT874CQSA853HQDKQ963CK52SK7HAJT984DA5CT63  ((T6, K32, J2, AJ9874), (A853, Q, KQ963, K52), (K7, AJT984, A5, T63), (QJ942, 765, T874, Q))                                         (200, [(4, S, *, EW, -1)])        ((10, 4, 10, 4, 8), (2, 9, 3, 9, 2), (10, 4, 10, 4, 8), (2, 9, 3, 9, 2))      10       4      10       4       8       2       9       3       9       2      10       4      10       4       8       2       9       3       9       2  ((0b100010000010000000001100010000000011001011100100, (0b100010000, 0b100000000011, 0b1000000001...      0b100010000010000000001100010000000011001011100100  0b1000001001010001000000000001100100100100100000001001   0b100000100000100111100010010000000010000000100010010    0b11010000101000000011100000001011001000010000000000    ((9, (0, 3, 1, 5)), (14, (4, 2, 5, 3)), (12, (3, 5, 4, 0)), (5, (3, 0, 0, 2)))      9        0        3        1        5     14        4        2        5        3     12        3        5        4        0      5        3        0        0        2      (6.5, ((1.5, (0, 0.5, 0, 1)), (2.5, (1, 0, 1, 0.5)), (2.5, (0.5, 1, 1, 0)), (0, (0, 0, 0, 0))))  1.50    0.00  ...     Game     Pass  Partial     Pass  Partial     Pass  Partial     Pass         False             True         False          False          False          True            False         False          False          False        False            False          True          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False   False    True
1        (acbl, 2620412)          77908    100961    20  200217A_20      W  Both  ST85HKJDJ43CKJ873SQ32HA643DK96CT94SAJ64HT98DT75CA52SK97HQ752DAQ82CQ6  ((T85, KJ, J43, KJ873), (AJ64, T98, T75, A52), (K97, Q752, AQ82, Q6), (Q32, A643, K96, T94))          (90, [(1, D, , NS, 1), (1, C, , NS, 1), (1, N, , NS, 0)])            ((8, 8, 7, 7, 7), (4, 5, 6, 6, 6), (8, 8, 7, 7, 7), (4, 5, 6, 6, 6))       8       8       7       7       7       4       5       6       6       6       8       8       7       7       7       4       5       6       6       6  ((0b101001000010100000000000010000001100101001100010, (0b101001000, 0b101000000000, 0b1000000110...      0b101001000010100000000000010000001100101001100010  0b1001000010100000011100000000001001010001000000001001   0b100010100000001000010100110100010000010010000010000    0b10000000011100000001011001000100100000000110000100     ((9, (0, 4, 1, 4)), (9, (5, 0, 0, 4)), (13, (3, 2, 6, 2)), (9, (2, 4, 3, 0)))      9        0        4        1        4      9        5        0        0        4     13        3        2        6        2      9        2        4        3        0  (6.5, ((1.0, (0, 0.5, 0, 0.5)), (2, (1, 0, 0, 1)), (2.0, (0.5, 0, 1.5, 0)), (1.5, (0, 1, 0.5, 0))))  1.00    0.00  ...  Partial  Partial  Partial     Pass     Pass     Pass     Pass     Pass         False             True         False          False          False         False             True         False          False          False        False             True         False          False          False         False             True         False          False          False         False             True         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False    True    True
2        (acbl, 2620411)          77908    100961    19  200217A_19      S   E_W  STH764DAQ92CQJ653SQJ763HKJTD65CAKTSK984H5DT8743C987SA52HAQ9832DKJC42  ((T, 764, AQ92, QJ653), (K984, 5, T8743, 987), (A52, AQ9832, KJ, 42), (QJ763, KJT, 65, AKT))                                           (140, [(3, H, , NS, 0)])            ((9, 7, 9, 4, 6), (4, 6, 3, 8, 6), (9, 7, 9, 5, 6), (4, 6, 3, 8, 6))       9       7       9       4       6       4       6       3       8       6       9       7       9       5       6       4       6       3       8       6  ((0b100000000000000011010010100100000010011000011010, (0b100000000, 0b110100, 0b1010010000001, 0...      0b100000000000000011010010100100000010011000011010   0b100011000100000000000100000001011001100000011100000  0b1000000001001101001100001101010000000000000000000101    0b11000110010010110000000000000000110001100100000000    ((9, (0, 0, 6, 3)), (3, (3, 0, 0, 0)), (14, (4, 6, 4, 0)), (14, (3, 4, 0, 7)))      9        0        0        6        3      3        3        0        0        0     14        4        6        4        0     14        3        4        0        7  (7.5, ((1.5, (0, 0, 1.5, 0)), (0.5, (0.5, 0, 0, 0)), (3.0, (1, 1.5, 0.5, 0)), (2.5, (0, 0.5, 0, ...  1.50    0.00  ...  Partial     Pass     Pass     Pass     Pass     Pass  Partial     Pass         False             True         False          False          False         False             True         False          False          False        False             True         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False   False    True
3        (acbl, 2620420)          77908    100961    28  200217A_28      W   N_S  STHQJ9632DJ9CJ932SKQH8DQT86542CT76SJ76HATDAK3CAKQ84SA985432HK754D7C5  ((T, QJ9632, J9, J932), (J76, AT, AK3, AKQ84), (A985432, K754, 7, 5), (KQ, 8, QT86542, T76))                                          (-460, [(5, N, , EW, 0)])    ((1, 0, 10, 8, 1), (11, 11, 3, 5, 11), (0, 0, 10, 8, 0), (11, 11, 3, 5, 11))       1       0      10       8       1      11      11       3       5      11       0       0      10       8       0      11      11       3       5      11  ((0b100000000001101001001100010100000000001010000011, (0b100000000, 0b11010010011, 0b1010000000,...      0b100000000001101001001100010100000000001010000011     0b1000110000100010000000011000000000101110001000100  0b1000011001111010000010110000000001000000000000001000   0b110000000000000000100000000101010111010000100110000     ((5, (0, 3, 1, 1)), (21, (1, 4, 7, 9)), (7, (4, 3, 0, 0)), (7, (5, 0, 2, 0)))      5        0        3        1        1     21        1        4        7        9      7        4        3        0        0      7        5        0        2        0              (7.5, ((0, (0, 0, 0, 0)), (5, (0, 1, 2, 2)), (1.5, (1, 0.5, 0, 0)), (1, (1, 0, 0, 0))))  0.00    0.00  ...     Game  Partial     Pass     Game     Game     Pass     Pass     Game          True            False         False          False          False          True            False         False          False          False        False            False          True          False          False         False             True         False          False          False          True            False         False          False          False         False            False          True          False          False         False            False          True          False          False          True            False         False          False          False          True            False         False          False          False         False            False          True          False          False    True   False
4        (acbl, 2620399)          77908    100961    07  200217A_07      S  Both  S2HQT762D92CAKT92SAKJ7HA8DKJ4C8643SQT854HK43DA765CQS963HJ95DQT83CJ75  ((2, QT762, 92, AKT92), (QT854, K43, A765, Q), (963, J95, QT83, J75), (AKJ7, A8, KJ4, 8643))                                         (-1430, [(6, S, , EW, 0)])        ((6, 2, 6, 1, 3), (7, 11, 6, 12, 8), (6, 2, 6, 1, 3), (7, 11, 6, 12, 8))       6       2       6       1       3       7      11       6      12       8       6       2       6       1       3       7      11       6      12       8  ((0b1001010011000100000100000011100110000001, (0b1, 0b10100110001, 0b10000001, 0b1100110000001))...              0b1001010011000100000100000011100110000001    0b10101001100010000000011010000001110000010000000000       0b10010010000101000100000101010000100001000101000  0b1101000100000100000100000001010000001000000001010110    ((9, (0, 2, 0, 7)), (11, (2, 3, 4, 2)), (4, (0, 1, 2, 1)), (16, (8, 4, 4, 0)))      9        0        2        0        7     11        2        3        4        2      4        0        1        2        1     16        8        4        4        0          (7.0, ((2, (0, 0, 0, 2)), (1.5, (0, 0.5, 1, 0)), (0, (0, 0, 0, 0)), (3.5, (2, 1, 0.5, 0))))  2.00    0.00  ...     Pass     Pass     Pass  Partial     Game     Pass    SSlam  Partial          True            False         False          False          False          True            False         False          False          False         True            False         False          False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False         False            False          True          False          False          True            False         False          False          False         False            False         False           True          False         False             True         False          False          False    True    True
5        (acbl, 2620396)          77908    100961    04  200217A_04      W  Both  S84HAKJ83D4CQT743SA65HQ62DQ8732CK8SJ972HT5DAKJ96C95SKQT3H974DT5CAJ62  ((84, AKJ83, 4, QT743), (J972, T5, AKJ96, 95), (KQT3, 974, T5, AJ62), (A65, Q62, Q8732, K8))                                           (620, [(4, H, , NS, 0)])        ((10, 5, 10, 6, 6), (3, 8, 3, 6, 6), (10, 5, 10, 6, 6), (3, 8, 3, 6, 6))      10       5      10       6       6       3       8       3       6       6      10       5      10       6       6       3       8       3       6       6  ((0b1000100110100100001000000000001000010100100110, (0b1000100, 0b1101001000010, 0b100, 0b101001...        0b1000100110100100001000000000001000010100100110     0b1010100001000010000100011010100100000000010001000   0b110100000010000001010010000001000010001001000010001  0b1000000011000001000001000100100011000110100001000000   ((10, (0, 8, 0, 2)), (9, (1, 0, 8, 0)), (10, (5, 0, 0, 5)), (11, (4, 2, 2, 3)))     10        0        8        0        2      9        1        0        8        0     10        5        0        0        5     11        4        2        2        3              (7.5, ((2, (0, 2, 0, 0)), (2, (0, 0, 2, 0)), (2, (1, 0, 0, 1)), (1.5, (1, 0, 0, 0.5))))  2.00    0.00  ...     Game     Pass     Pass     Pass  Partial     Pass     Pass     Pass         False             True         False          False          False          True            False         False          False          False        False            False          True          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False    True    True
6        (acbl, 2620410)          77908    100961    18  200217A_18      E   N_S  S872HJ8753DQ873CASAJ65HQ4DAKJ4C874S93HAK6D962CQT963SKQT4HT92DT5CKJ52  ((872, J8753, Q873, A), (93, AK6, 962, QT963), (KQT4, T92, T5, KJ52), (AJ65, Q4, AKJ4, 874))                                          (-120, [(1, N, , EW, 1)])            ((4, 4, 5, 5, 5), (9, 8, 7, 7, 8), (4, 5, 5, 5, 5), (9, 8, 7, 7, 8))       4       4       5       5       5       9       8       7       7       8       4       5       5       5       5       9       8       7       7       8  ((0b1100001000100110101000100011000101000000000000, (0b1100001, 0b1001101010, 0b10001100010, 0b1...        0b1100001000100110101000100011000101000000000000       0b10000010110000001000000000100100010010110010010   0b110100000100000011000000100001000010000101000001001  0b1001000011000001000000010011010000001000000001100100     ((7, (0, 1, 2, 4)), (9, (0, 7, 0, 2)), (9, (5, 0, 0, 4)), (15, (5, 2, 8, 0)))      7        0        1        2        4      9        0        7        0        2      9        5        0        0        4     15        5        2        8        0              (7.5, ((1, (0, 0, 0, 1)), (2, (0, 2, 0, 0)), (1.5, (1, 0, 0, 0.5)), (3, (1, 0, 2, 0))))  1.00    0.00  ...     Pass     Pass     Pass  Partial  Partial  Partial  Partial  Partial          True            False         False          False          False          True            False         False          False          False         True            False         False          False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False    True   False
7        (acbl, 2620400)          77908    100961    08  200217A_08      W  None  S953H98642DJ9CKJ5SAJT6HAJ3DT2CAT96S742HKQ7DK764CQ43SKQ8HT5DAQ853C872  ((953, 98642, J9, KJ5), (742, KQ7, K764, Q43), (KQ8, T5, AQ853, 872), (AJT6, AJ3, T2, AT96))                                           (-140, [(1, S, , E, 2)])            ((4, 6, 6, 4, 5), (8, 7, 7, 9, 8), (4, 6, 6, 4, 5), (8, 7, 7, 8, 8))       4       6       6       4       5       8       7       7       9       8       4       6       6       4       5       8       7       7       8       8  ((0b10001010000001101010100010100000000101000001000, (0b10001010, 0b11010101, 0b1010000000, 0b10...       0b10001010000001101010100010100000000101000001000         0b100101011000010000001000001101000010000000110   0b110001000000000010000100010100010010100000001100001  0b1001100010000100100000001000001000000011000110010000   ((5, (0, 0, 1, 4)), (10, (0, 5, 3, 2)), (11, (5, 0, 6, 0)), (14, (5, 5, 0, 4)))      5        0        0        1        4     10        0        5        3        2     11        5        0        6        0     14        5        5        0        4      (7.5, ((0.5, (0, 0, 0, 0.5)), (1.5, (0, 1, 0.5, 0)), (2.5, (1, 0, 1.5, 0)), (3, (1, 1, 0, 1))))  0.50    0.00  ...     Pass     Pass     Pass  Partial  Partial  Partial  Partial  Partial          True            False         False          False          False          True            False         False          False          False         True            False         False          False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False   False   False

In [27]:
# takes 20s + 1m + 1m
# since computing DDmakes and Par is computationally slow, attempt to reuse previous computations.
# todo: code similar to acbl_hand_records_cleanup
acbl_hand_records_dd_experiments_df = acblPath.joinpath('acbl_hand_records_dd_experiments.pkl') #.20210801.pkl')
if acbl_hand_records_dd_experiments_df.exists():
    display(len(hrcdf),hrcdf.head())
    # Preferred to use pd.merge but caused "out of memory" condition. Experiment with using dicts instead.
    DDmakesd = dict(zip(hrcdf['board_record_string'],hrcdf['DDmakes_nwse']))
    Pard = dict(zip(hrcdf['board_record_string'],hrcdf['Par_nwse']))
    #display(DDmakesd)
    #stdhrs = pd.merge(stdhrs,hrcdf[['EventBoard','DDmakes','Par']],on='EventBoard',how='left')
    #display(hrcdf[hrcdf['EventBoard'].isin(stdhrs['EventBoard'])]
    #display(len(stdhrs),stdhrs)
    #stdhrs.drop(['DDmakes_nwse','Par_nwse'],axis='columns',inplace=True)
    if 'DDmakes_nwse' not in stdhrs:
        stdhrs.insert(stdhrs.columns.get_loc('DDmakes')+1,'DDmakes_nwse',None)
        #stdhrs['DDmakes_nwse'] = pd.DataFrame(tuple((0,[0]))) # stdhrs['DDmakes_nwse'].astype('object')
    if 'Par_nwse' not in stdhrs:
        stdhrs.insert(stdhrs.columns.get_loc('Par')+1,'Par_nwse',None)
        #stdhrs['Par_nwse'] = pd.DataFrame(tuple((0,[0]))) # stdhrs['DDmakes_nwse'].astype('object')    hrcdf = pd.read_pickle(acbl_hand_records_dd_experiments_df)
    # takes 1m
    DDmakesClean = stdhrs.apply(lambda r: DDmakesd[r['board_record_string']] if r['board_record_string'] in DDmakesd else None,axis='columns')
    stdhrs.loc[stdhrs['DDmakes_nwse'].isna(),'DDmakes_nwse'] = DDmakesClean
    b =  DDmakesClean.isna() | stdhrs['DDmakes_nwse'].eq(DDmakesClean)
    assert all(b)
    # takes 1m
    # verify that dirty Pars are still dirty
    ParClean = stdhrs.apply(lambda r: Pard[r['board_record_string']] if r['board_record_string'] in Pard else None,axis='columns')
    b = ParClean.notna() & stdhrs['Par_nwse'].ne(ParClean)
    display(stdhrs[b])
    # assign clean Pars. verify that all Pars are now cleaned.
    stdhrs.loc[b,'Par_nwse'] = ParClean
    b = ParClean.isna() | stdhrs['Par_nwse'].eq(ParClean)
    assert all(b)
else:
    ParClean = pd.Series()

2962269

               ref hand_record_id  event_id Board  EventBoard Dealer   Vul                                                   board_record_string                                                                                         Hands                                                        Par                                                   Par_nwse                                                                       DDmakes                                                                  DDmakes_nwse  DD_N_C  DD_N_D  DD_N_H  DD_N_S  DD_N_N  DD_E_C  DD_E_D  DD_E_H  DD_E_S  DD_E_N  DD_S_C  DD_S_D  DD_S_H  DD_S_S  DD_S_N  DD_W_C  DD_W_D  DD_W_H  DD_W_S  DD_W_N                                                                                            Hands_Bin                                                HB_N                                                    HB_E                                                    HB_S                                                    HB_W                                                                             HCP  HCP_N  HCP_N_S  HCP_N_H  HCP_N_D  HCP_N_C  HCP_E  HCP_E_S  HCP_E_H  HCP_E_D  HCP_E_C  HCP_S  HCP_S_S  HCP_S_H  HCP_S_D  HCP_S_C  HCP_W  HCP_W_S  HCP_W_H  HCP_W_D  HCP_W_C                                                                                                   QT  ...  CT_NS_H  CT_NS_S  CT_NS_N  CT_EW_C  CT_EW_D  CT_EW_H  CT_EW_S  CT_EW_N  CT_NS_C_Pass  CT_NS_C_Partial  CT_NS_C_Game  CT_NS_C_SSlam  CT_NS_C_GSlam  CT_NS_D_Pass  CT_NS_D_Partial  CT_NS_D_Game  CT_NS_D_SSlam  CT_NS_D_GSlam  CT_NS_H_Pass  CT_NS_H_Partial CT_NS_H_Game  CT_NS_H_SSlam  CT_NS_H_GSlam  CT_NS_S_Pass  CT_NS_S_Partial  CT_NS_S_Game  CT_NS_S_SSlam  CT_NS_S_GSlam  CT_NS_N_Pass  CT_NS_N_Partial  CT_NS_N_Game  CT_NS_N_SSlam  CT_NS_N_GSlam  CT_EW_C_Pass  CT_EW_C_Partial  CT_EW_C_Game  CT_EW_C_SSlam  CT_EW_C_GSlam  CT_EW_D_Pass  CT_EW_D_Partial  CT_EW_D_Game  CT_EW_D_SSlam  CT_EW_D_GSlam  CT_EW_H_Pass  CT_EW_H_Partial  CT_EW_H_Game  CT_EW_H_SSlam  CT_EW_H_GSlam  CT_EW_S_Pass  CT_EW_S_Partial  CT_EW_S_Game  CT_EW_S_SSlam  CT_EW_S_GSlam  CT_EW_N_Pass  CT_EW_N_Partial  CT_EW_N_Game  CT_EW_N_SSlam  CT_EW_N_GSlam  Vul_NS  Vul_EW
0  (acbl, 2620401)          77908    100961    09  200217A_09      N   E_W  ST6HK32DJ2CAJ9874SQJ942H765DT874CQSA853HQDKQ963CK52SK7HAJT984DA5CT63  ((T6, K32, J2, AJ9874), (A853, Q, KQ963, K52), (K7, AJT984, A5, T63), (QJ942, 765, T874, Q))                                 (200, [(4, S, *, EW, -1)])                                 (-100, [(5, C, *, S, -1)])      ((10, 4, 10, 4, 8), (2, 9, 3, 9, 2), (10, 4, 10, 4, 8), (2, 9, 3, 9, 2))     ((9, 3, 9, 3, 8), (2, 10, 3, 10, 2), (10, 3, 9, 3, 8), (2, 10, 3, 10, 2))      10       4      10       4       8       2       9       3       9       2      10       4      10       4       8       2       9       3       9       2  ((0b100010000010000000001100010000000011001011100100, (0b100010000, 0b100000000011, 0b1000000001...  0b100010000010000000001100010000000011001011100100  0b1000001001010001000000000001100100100100100000001001   0b100000100000100111100010010000000010000000100010010    0b11010000101000000011100000001011001000010000000000  ((9, (0, 3, 1, 5)), (14, (4, 2, 5, 3)), (12, (3, 5, 4, 0)), (5, (3, 0, 0, 2)))      9        0        3        1        5     14        4        2        5        3     12        3        5        4        0      5        3        0        0        2      (6.5, ((1.5, (0, 0.5, 0, 1)), (2.5, (1, 0, 1, 0.5)), (2.5, (0.5, 1, 1, 0)), (0, (0, 0, 0, 0))))  ...     Game     Pass  Partial     Pass  Partial     Pass  Partial     Pass         False             True         False          False          False          True            False         False          False          False         False            False         True          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False   False    True
1  (acbl, 2620412)          77908    100961    20  200217A_20      W  Both  ST85HKJDJ43CKJ873SQ32HA643DK96CT94SAJ64HT98DT75CA52SK97HQ752DAQ82CQ6  ((T85, KJ, J43, KJ873), (AJ64, T98, T75, A52), (K97, Q752, AQ82, Q6), (Q32, A643, K96, T94))  (90, [(1, D, , NS, 1), (1, C, , NS, 1), (1, N, , NS, 0)])  (90, [(1, N, , NS, 0), (1, D, , NS, 1), (1, C, , NS, 1)])          ((8, 8, 7, 7, 7), (4, 5, 6, 6, 6), (8, 8, 7, 7, 7), (4, 5, 6, 6, 6))          ((8, 8, 7, 7, 7), (4, 5, 6, 6, 5), (8, 8, 7, 7, 7), (4, 5, 6, 6, 5))       8       8       7       7       7       4       5       6       6       6       8       8       7       7       7       4       5       6       6       6  ((0b101001000010100000000000010000001100101001100010, (0b101001000, 0b101000000000, 0b1000000110...  0b101001000010100000000000010000001100101001100010  0b1001000010100000011100000000001001010001000000001001   0b100010100000001000010100110100010000010010000010000    0b10000000011100000001011001000100100000000110000100   ((9, (0, 4, 1, 4)), (9, (5, 0, 0, 4)), (13, (3, 2, 6, 2)), (9, (2, 4, 3, 0)))      9        0        4        1        4      9        5        0        0        4     13        3        2        6        2      9        2        4        3        0  (6.5, ((1.0, (0, 0.5, 0, 0.5)), (2, (1, 0, 0, 1)), (2.0, (0.5, 0, 1.5, 0)), (1.5, (0, 1, 0.5, 0))))  ...  Partial  Partial  Partial     Pass     Pass     Pass     Pass     Pass         False             True         False          False          False         False             True         False          False          False         False             True        False          False          False         False             True         False          False          False         False             True         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False    True    True
2  (acbl, 2620411)          77908    100961    19  200217A_19      S   E_W  STH764DAQ92CQJ653SQJ763HKJTD65CAKTSK984H5DT8743C987SA52HAQ9832DKJC42  ((T, 764, AQ92, QJ653), (K984, 5, T8743, 987), (A52, AQ9832, KJ, 42), (QJ763, KJT, 65, AKT))                                   (140, [(3, H, , NS, 0)])                                 (200, [(4, S, *, EW, -1)])          ((9, 7, 9, 4, 6), (4, 6, 3, 8, 6), (9, 7, 9, 5, 6), (4, 6, 3, 8, 6))        ((8, 6, 10, 4, 6), (5, 7, 2, 9, 4), (8, 6, 10, 4, 6), (5, 7, 2, 9, 4))       9       7       9       4       6       4       6       3       8       6       9       7       9       5       6       4       6       3       8       6  ((0b100000000000000011010010100100000010011000011010, (0b100000000, 0b110100, 0b1010010000001, 0...  0b100000000000000011010010100100000010011000011010   0b100011000100000000000100000001011001100000011100000  0b1000000001001101001100001101010000000000000000000101    0b11000110010010110000000000000000110001100100000000  ((9, (0, 0, 6, 3)), (3, (3, 0, 0, 0)), (14, (4, 6, 4, 0)), (14, (3, 4, 0, 7)))      9        0        0        6        3      3        3        0        0        0     14        4        6        4        0     14        3        4        0        7  (7.5, ((1.5, (0, 0, 1.5, 0)), (0.5, (0.5, 0, 0, 0)), (3.0, (1, 1.5, 0.5, 0)), (2.5, (0, 0.5, 0, ...  ...  Partial     Pass     Pass     Pass     Pass     Pass  Partial     Pass         False             True         False          False          False         False             True         False          False          False         False             True        False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False   False    True
3  (acbl, 2620420)          77908    100961    28  200217A_28      W   N_S  STHQJ9632DJ9CJ932SKQH8DQT86542CT76SJ76HATDAK3CAKQ84SA985432HK754D7C5  ((T, QJ9632, J9, J932), (J76, AT, AK3, AKQ84), (A985432, K754, 7, 5), (KQ, 8, QT86542, T76))                                  (-460, [(5, N, , EW, 0)])                                  (-460, [(5, N, , EW, 0)])  ((1, 0, 10, 8, 1), (11, 11, 3, 5, 11), (0, 0, 10, 8, 0), (11, 11, 3, 5, 11))  ((2, 1, 10, 8, 1), (11, 11, 3, 5, 11), (2, 1, 10, 8, 1), (11, 11, 3, 5, 11))       1       0      10       8       1      11      11       3       5      11       0       0      10       8       0      11      11       3       5      11  ((0b100000000001101001001100010100000000001010000011, (0b100000000, 0b11010010011, 0b1010000000,...  0b100000000001101001001100010100000000001010000011     0b1000110000100010000000011000000000101110001000100  0b1000011001111010000010110000000001000000000000001000   0b110000000000000000100000000101010111010000100110000   ((5, (0, 3, 1, 1)), (21, (1, 4, 7, 9)), (7, (4, 3, 0, 0)), (7, (5, 0, 2, 0)))      5        0        3        1        1     21        1        4        7        9      7        4        3        0        0      7        5        0        2        0              (7.5, ((0, (0, 0, 0, 0)), (5, (0, 1, 2, 2)), (1.5, (1, 0.5, 0, 0)), (1, (1, 0, 0, 0))))  ...     Game  Partial     Pass     Game     Game     Pass     Pass     Game          True            False         False          False          False          True            False         False          False          False         False            False         True          False          False         False             True         False          False          False          True            False         False          False          False         False            False          True          False          False         False            False          True          False          False          True            False         False          False          False          True            False         False          False          False         False            False          True          False          False    True   False
4  (acbl, 2620399)          77908    100961    07  200217A_07      S  Both  S2HQT762D92CAKT92SAKJ7HA8DKJ4C8643SQT854HK43DA765CQS963HJ95DQT83CJ75  ((2, QT762, 92, AKT92), (QT854, K43, A765, Q), (963, J95, QT83, J75), (AKJ7, A8, KJ4, 8643))                                 (-1430, [(6, S, , EW, 0)])                                  (-650, [(4, S, , EW, 1)])      ((6, 2, 6, 1, 3), (7, 11, 6, 12, 8), (6, 2, 6, 1, 3), (7, 11, 6, 12, 8))      ((7, 3, 6, 2, 4), (6, 10, 6, 11, 8), (7, 3, 6, 2, 4), (6, 10, 6, 11, 8))       6       2       6       1       3       7      11       6      12       8       6       2       6       1       3       7      11       6      12       8  ((0b1001010011000100000100000011100110000001, (0b1, 0b10100110001, 0b10000001, 0b1100110000001))...          0b1001010011000100000100000011100110000001    0b10101001100010000000011010000001110000010000000000       0b10010010000101000100000101010000100001000101000  0b1101000100000100000100000001010000001000000001010110  ((9, (0, 2, 0, 7)), (11, (2, 3, 4, 2)), (4, (0, 1, 2, 1)), (16, (8, 4, 4, 0)))      9        0        2        0        7     11        2        3        4        2      4        0        1        2        1     16        8        4        4        0          (7.0, ((2, (0, 0, 0, 2)), (1.5, (0, 0.5, 1, 0)), (0, (0, 0, 0, 0)), (3.5, (2, 1, 0.5, 0))))  ...     Pass     Pass     Pass  Partial     Game     Pass    SSlam  Partial          True            False         False          False          False          True            False         False          False          False          True            False        False          False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False         False            False          True          False          False          True            False         False          False          False         False            False         False           True          False         False             True         False          False          False    True    True

[5 rows x 200 columns]

                     ref hand_record_id  event_id Board  EventBoard Dealer   Vul                                                   board_record_string                                                                                         Hands                                                                Par Par_nwse                                                                         DDmakes                                                                    DDmakes_nwse  DD_N_C  DD_N_D  DD_N_H  DD_N_S  DD_N_N  DD_E_C  DD_E_D  DD_E_H  DD_E_S  DD_E_N  DD_S_C  DD_S_D  DD_S_H  DD_S_S  DD_S_N  DD_W_C  DD_W_D  DD_W_H  DD_W_S  DD_W_N                                                                                            Hands_Bin                                                    HB_N                                                    HB_E                                                    HB_S                                                    HB_W                                                                               HCP  HCP_N  HCP_N_S  HCP_N_H  HCP_N_D  HCP_N_C  HCP_E  HCP_E_S  HCP_E_H  HCP_E_D  HCP_E_C  HCP_S  HCP_S_S  HCP_S_H  HCP_S_D  HCP_S_C  HCP_W  HCP_W_S  HCP_W_H  HCP_W_D  HCP_W_C                                                                                                   QT  ...  CT_NS_S  CT_NS_N  CT_EW_C  CT_EW_D  CT_EW_H  CT_EW_S  CT_EW_N  CT_NS_C_Pass  CT_NS_C_Partial  CT_NS_C_Game  CT_NS_C_SSlam  CT_NS_C_GSlam  CT_NS_D_Pass  CT_NS_D_Partial  CT_NS_D_Game  CT_NS_D_SSlam  CT_NS_D_GSlam  CT_NS_H_Pass  CT_NS_H_Partial  CT_NS_H_Game CT_NS_H_SSlam  CT_NS_H_GSlam  CT_NS_S_Pass  CT_NS_S_Partial  CT_NS_S_Game  CT_NS_S_SSlam  CT_NS_S_GSlam  CT_NS_N_Pass  CT_NS_N_Partial  CT_NS_N_Game  CT_NS_N_SSlam  CT_NS_N_GSlam  CT_EW_C_Pass  CT_EW_C_Partial  CT_EW_C_Game  CT_EW_C_SSlam  CT_EW_C_GSlam  CT_EW_D_Pass  CT_EW_D_Partial  CT_EW_D_Game  CT_EW_D_SSlam  CT_EW_D_GSlam  CT_EW_H_Pass  CT_EW_H_Partial  CT_EW_H_Game  CT_EW_H_SSlam  CT_EW_H_GSlam  CT_EW_S_Pass  CT_EW_S_Partial  CT_EW_S_Game  CT_EW_S_SSlam  CT_EW_S_GSlam  CT_EW_N_Pass  CT_EW_N_Partial  CT_EW_N_Game  CT_EW_N_SSlam  CT_EW_N_GSlam  Vul_NS  Vul_EW                                                           Par+nwse
0        (acbl, 2620401)          77908    100961    09  200217A_09      N   E_W  ST6HK32DJ2CAJ9874SQJ942H765DT874CQSA853HQDKQ963CK52SK7HAJT984DA5CT63  ((T6, K32, J2, AJ9874), (A853, Q, KQ963, K52), (K7, AJT984, A5, T63), (QJ942, 765, T874, Q))                                         (200, [(4, S, *, EW, -1)])     None        ((10, 4, 10, 4, 8), (2, 9, 3, 9, 2), (10, 4, 10, 4, 8), (2, 9, 3, 9, 2))       ((9, 3, 9, 3, 8), (2, 10, 3, 10, 2), (10, 3, 9, 3, 8), (2, 10, 3, 10, 2))      10       4      10       4       8       2       9       3       9       2      10       4      10       4       8       2       9       3       9       2  ((0b100010000010000000001100010000000011001011100100, (0b100010000, 0b100000000011, 0b1000000001...      0b100010000010000000001100010000000011001011100100  0b1000001001010001000000000001100100100100100000001001   0b100000100000100111100010010000000010000000100010010    0b11010000101000000011100000001011001000010000000000    ((9, (0, 3, 1, 5)), (14, (4, 2, 5, 3)), (12, (3, 5, 4, 0)), (5, (3, 0, 0, 2)))      9        0        3        1        5     14        4        2        5        3     12        3        5        4        0      5        3        0        0        2      (6.5, ((1.5, (0, 0.5, 0, 1)), (2.5, (1, 0, 1, 0.5)), (2.5, (0.5, 1, 1, 0)), (0, (0, 0, 0, 0))))  ...     Pass  Partial     Pass  Partial     Pass  Partial     Pass         False             True         False          False          False          True            False         False          False          False         False            False          True         False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False   False    True                                         (-100, [(5, C, *, S, -1)])
1        (acbl, 2620412)          77908    100961    20  200217A_20      W  Both  ST85HKJDJ43CKJ873SQ32HA643DK96CT94SAJ64HT98DT75CA52SK97HQ752DAQ82CQ6  ((T85, KJ, J43, KJ873), (AJ64, T98, T75, A52), (K97, Q752, AQ82, Q6), (Q32, A643, K96, T94))          (90, [(1, D, , NS, 1), (1, C, , NS, 1), (1, N, , NS, 0)])     None            ((8, 8, 7, 7, 7), (4, 5, 6, 6, 6), (8, 8, 7, 7, 7), (4, 5, 6, 6, 6))            ((8, 8, 7, 7, 7), (4, 5, 6, 6, 5), (8, 8, 7, 7, 7), (4, 5, 6, 6, 5))       8       8       7       7       7       4       5       6       6       6       8       8       7       7       7       4       5       6       6       6  ((0b101001000010100000000000010000001100101001100010, (0b101001000, 0b101000000000, 0b1000000110...      0b101001000010100000000000010000001100101001100010  0b1001000010100000011100000000001001010001000000001001   0b100010100000001000010100110100010000010010000010000    0b10000000011100000001011001000100100000000110000100     ((9, (0, 4, 1, 4)), (9, (5, 0, 0, 4)), (13, (3, 2, 6, 2)), (9, (2, 4, 3, 0)))      9        0        4        1        4      9        5        0        0        4     13        3        2        6        2      9        2        4        3        0  (6.5, ((1.0, (0, 0.5, 0, 0.5)), (2, (1, 0, 0, 1)), (2.0, (0.5, 0, 1.5, 0)), (1.5, (0, 1, 0.5, 0))))  ...  Partial  Partial     Pass     Pass     Pass     Pass     Pass         False             True         False          False          False         False             True         False          False          False         False             True         False         False          False         False             True         False          False          False         False             True         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False    True    True          (90, [(1, N, , NS, 0), (1, D, , NS, 1), (1, C, , NS, 1)])
2        (acbl, 2620411)          77908    100961    19  200217A_19      S   E_W  STH764DAQ92CQJ653SQJ763HKJTD65CAKTSK984H5DT8743C987SA52HAQ9832DKJC42  ((T, 764, AQ92, QJ653), (K984, 5, T8743, 987), (A52, AQ9832, KJ, 42), (QJ763, KJT, 65, AKT))                                           (140, [(3, H, , NS, 0)])     None            ((9, 7, 9, 4, 6), (4, 6, 3, 8, 6), (9, 7, 9, 5, 6), (4, 6, 3, 8, 6))          ((8, 6, 10, 4, 6), (5, 7, 2, 9, 4), (8, 6, 10, 4, 6), (5, 7, 2, 9, 4))       9       7       9       4       6       4       6       3       8       6       9       7       9       5       6       4       6       3       8       6  ((0b100000000000000011010010100100000010011000011010, (0b100000000, 0b110100, 0b1010010000001, 0...      0b100000000000000011010010100100000010011000011010   0b100011000100000000000100000001011001100000011100000  0b1000000001001101001100001101010000000000000000000101    0b11000110010010110000000000000000110001100100000000    ((9, (0, 0, 6, 3)), (3, (3, 0, 0, 0)), (14, (4, 6, 4, 0)), (14, (3, 4, 0, 7)))      9        0        0        6        3      3        3        0        0        0     14        4        6        4        0     14        3        4        0        7  (7.5, ((1.5, (0, 0, 1.5, 0)), (0.5, (0.5, 0, 0, 0)), (3.0, (1, 1.5, 0.5, 0)), (2.5, (0, 0.5, 0, ...  ...     Pass     Pass     Pass     Pass     Pass  Partial     Pass         False             True         False          False          False         False             True         False          False          False         False             True         False         False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False   False    True                                         (200, [(4, S, *, EW, -1)])
3        (acbl, 2620420)          77908    100961    28  200217A_28      W   N_S  STHQJ9632DJ9CJ932SKQH8DQT86542CT76SJ76HATDAK3CAKQ84SA985432HK754D7C5  ((T, QJ9632, J9, J932), (J76, AT, AK3, AKQ84), (A985432, K754, 7, 5), (KQ, 8, QT86542, T76))                                          (-460, [(5, N, , EW, 0)])     None    ((1, 0, 10, 8, 1), (11, 11, 3, 5, 11), (0, 0, 10, 8, 0), (11, 11, 3, 5, 11))    ((2, 1, 10, 8, 1), (11, 11, 3, 5, 11), (2, 1, 10, 8, 1), (11, 11, 3, 5, 11))       1       0      10       8       1      11      11       3       5      11       0       0      10       8       0      11      11       3       5      11  ((0b100000000001101001001100010100000000001010000011, (0b100000000, 0b11010010011, 0b1010000000,...      0b100000000001101001001100010100000000001010000011     0b1000110000100010000000011000000000101110001000100  0b1000011001111010000010110000000001000000000000001000   0b110000000000000000100000000101010111010000100110000     ((5, (0, 3, 1, 1)), (21, (1, 4, 7, 9)), (7, (4, 3, 0, 0)), (7, (5, 0, 2, 0)))      5        0        3        1        1     21        1        4        7        9      7        4        3        0        0      7        5        0        2        0              (7.5, ((0, (0, 0, 0, 0)), (5, (0, 1, 2, 2)), (1.5, (1, 0.5, 0, 0)), (1, (1, 0, 0, 0))))  ...  Partial     Pass     Game     Game     Pass     Pass     Game          True            False         False          False          False          True            False         False          False          False         False            False          True         False          False         False             True         False          False          False          True            False         False          False          False         False            False          True          False          False         False            False          True          False          False          True            False         False          False          False          True            False         False          False          False         False            False          True          False          False    True   False                                          (-460, [(5, N, , EW, 0)])
4        (acbl, 2620399)          77908    100961    07  200217A_07      S  Both  S2HQT762D92CAKT92SAKJ7HA8DKJ4C8643SQT854HK43DA765CQS963HJ95DQT83CJ75  ((2, QT762, 92, AKT92), (QT854, K43, A765, Q), (963, J95, QT83, J75), (AKJ7, A8, KJ4, 8643))                                         (-1430, [(6, S, , EW, 0)])     None        ((6, 2, 6, 1, 3), (7, 11, 6, 12, 8), (6, 2, 6, 1, 3), (7, 11, 6, 12, 8))        ((7, 3, 6, 2, 4), (6, 10, 6, 11, 8), (7, 3, 6, 2, 4), (6, 10, 6, 11, 8))       6       2       6       1       3       7      11       6      12       8       6       2       6       1       3       7      11       6      12       8  ((0b1001010011000100000100000011100110000001, (0b1, 0b10100110001, 0b10000001, 0b1100110000001))...              0b1001010011000100000100000011100110000001    0b10101001100010000000011010000001110000010000000000       0b10010010000101000100000101010000100001000101000  0b1101000100000100000100000001010000001000000001010110    ((9, (0, 2, 0, 7)), (11, (2, 3, 4, 2)), (4, (0, 1, 2, 1)), (16, (8, 4, 4, 0)))      9        0        2        0        7     11        2        3        4        2      4        0        1        2        1     16        8        4        4        0          (7.0, ((2, (0, 0, 0, 2)), (1.5, (0, 0.5, 1, 0)), (0, (0, 0, 0, 0)), (3.5, (2, 1, 0.5, 0))))  ...     Pass     Pass  Partial     Game     Pass    SSlam  Partial          True            False         False          False          False          True            False         False          False          False          True            False         False         False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False         False            False          True          False          False          True            False         False          False          False         False            False         False           True          False         False             True         False          False          False    True    True                                          (-650, [(4, S, , EW, 1)])
5        (acbl, 2620396)          77908    100961    04  200217A_04      W  Both  S84HAKJ83D4CQT743SA65HQ62DQ8732CK8SJ972HT5DAKJ96C95SKQT3H974DT5CAJ62  ((84, AKJ83, 4, QT743), (J972, T5, AKJ96, 95), (KQT3, 974, T5, AJ62), (A65, Q62, Q8732, K8))                                           (620, [(4, H, , NS, 0)])     None        ((10, 5, 10, 6, 6), (3, 8, 3, 6, 6), (10, 5, 10, 6, 6), (3, 8, 3, 6, 6))        ((10, 6, 10, 7, 7), (3, 7, 3, 5, 6), (10, 6, 10, 7, 7), (3, 7, 3, 5, 6))      10       5      10       6       6       3       8       3       6       6      10       5      10       6       6       3       8       3       6       6  ((0b1000100110100100001000000000001000010100100110, (0b1000100, 0b1101001000010, 0b100, 0b101001...        0b1000100110100100001000000000001000010100100110     0b1010100001000010000100011010100100000000010001000   0b110100000010000001010010000001000010001001000010001  0b1000000011000001000001000100100011000110100001000000   ((10, (0, 8, 0, 2)), (9, (1, 0, 8, 0)), (10, (5, 0, 0, 5)), (11, (4, 2, 2, 3)))     10        0        8        0        2      9        1        0        8        0     10        5        0        0        5     11        4        2        2        3              (7.5, ((2, (0, 2, 0, 0)), (2, (0, 0, 2, 0)), (2, (1, 0, 0, 1)), (1.5, (1, 0, 0, 0.5))))  ...     Pass     Pass     Pass  Partial     Pass     Pass     Pass         False             True         False          False          False          True            False         False          False          False         False            False          True         False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False    True    True                                           (620, [(4, H, , NS, 0)])
6        (acbl, 2620410)          77908    100961    18  200217A_18      E   N_S  S872HJ8753DQ873CASAJ65HQ4DAKJ4C874S93HAK6D962CQT963SKQT4HT92DT5CKJ52  ((872, J8753, Q873, A), (93, AK6, 962, QT963), (KQT4, T92, T5, KJ52), (AJ65, Q4, AKJ4, 874))                                          (-120, [(1, N, , EW, 1)])     None            ((4, 4, 5, 5, 5), (9, 8, 7, 7, 8), (4, 5, 5, 5, 5), (9, 8, 7, 7, 8))          ((3, 4, 6, 5, 4), (10, 9, 7, 7, 9), (3, 4, 6, 5, 4), (10, 9, 7, 7, 9))       4       4       5       5       5       9       8       7       7       8       4       5       5       5       5       9       8       7       7       8  ((0b1100001000100110101000100011000101000000000000, (0b1100001, 0b1001101010, 0b10001100010, 0b1...        0b1100001000100110101000100011000101000000000000       0b10000010110000001000000000100100010010110010010   0b110100000100000011000000100001000010000101000001001  0b1001000011000001000000010011010000001000000001100100     ((7, (0, 1, 2, 4)), (9, (0, 7, 0, 2)), (9, (5, 0, 0, 4)), (15, (5, 2, 8, 0)))      7        0        1        2        4      9        0        7        0        2      9        5        0        0        4     15        5        2        8        0              (7.5, ((1, (0, 0, 0, 1)), (2, (0, 2, 0, 0)), (1.5, (1, 0, 0, 0.5)), (3, (1, 0, 2, 0))))  ...     Pass     Pass  Partial  Partial  Partial  Partial  Partial          True            False         False          False          False          True            False         False          False          False          True            False         False         False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False    True   False                                          (-400, [(3, N, , EW, 0)])
7        (acbl, 2620400)          77908    100961    08  200217A_08      W  None  S953H98642DJ9CKJ5SAJT6HAJ3DT2CAT96S742HKQ7DK764CQ43SKQ8HT5DAQ853C872  ((953, 98642, J9, KJ5), (742, KQ7, K764, Q43), (KQ8, T5, AQ853, 872), (AJT6, AJ3, T2, AT96))                                           (-140, [(1, S, , E, 2)])     None            ((4, 6, 6, 4, 5), (8, 7, 7, 9, 8), (4, 6, 6, 4, 5), (8, 7, 7, 8, 8))            ((4, 6, 5, 4, 5), (9, 7, 8, 8, 8), (4, 6, 5, 4, 5), (9, 7, 8, 8, 8))       4       6       6       4       5       8       7       7       9       8       4       6       6       4       5       8       7       7       8       8  ((0b10001010000001101010100010100000000101000001000, (0b10001010, 0b11010101, 0b1010000000, 0b10...       0b10001010000001101010100010100000000101000001000         0b100101011000010000001000001101000010000000110   0b110001000000000010000100010100010010100000001100001  0b1001100010000100100000001000001000000011000110010000   ((5, (0, 0, 1, 4)), (10, (0, 5, 3, 2)), (11, (5, 0, 6, 0)), (14, (5, 5, 0, 4)))      5        0        0        1        4     10        0        5        3        2     11        5        0        6        0     14        5        5        0        4      (7.5, ((0.5, (0, 0, 0, 0.5)), (1.5, (0, 1, 0.5, 0)), (2.5, (1, 0, 1.5, 0)), (3, (1, 1, 0, 1))))  ...     Pass     Pass  Partial  Partial  Partial  Partial  Partial          True            False         False          False          False          True            False         False          False          False          True            False         False         False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False   False   False                                          (-120, [(1, N, , EW, 1)])

In [28]:
# undertricks: 0 = make; 1-13 = sacrifice
# overTricks: 0-3; e.g. 1 for 4S + 1
# level: 1-7
denom = 'NSHDC' # DDS ordering
seats = ['N','E','S','W','NS','EW'] # Par score player's direction codes

# todo: change references to use mlBridgeLib
dealer_d = {'N':0, 'E':1, 'S':2, 'W':3}
vul_d = {'None':0, 'Both':1, 'N_S':2, 'E_W':3} # dds vul encoding is weird

In [29]:
# takes 1h per 100k.
# perform initialization for calculation of double dummy (all positions and all strains) and Pars.

import dds
import ctypes
import functions

starting_handno = 0 # for restarting at a particular hando (0-len(stdhrs)). normally 0.

DDdealsPBN = dds.ddTableDealsPBN()
tableRes = dds.ddTablesRes()
pres = dds.allParResults()
presmaster = dds.parResultsMaster()

mode = 0
tFilter = ctypes.c_int * dds.DDS_STRAINS
trumpFilter = tFilter(0, 0, 0, 0, 0)
line = ctypes.create_string_buffer(80)

dds.SetMaxThreads(0)
max_tables = dds.MAXNOOFTABLES

df = stdhrs[ParClean.isna()]
nhands = len(df)
dd_nwse_col_loc = stdhrs.columns.get_loc('DDmakes_nwse') # column number of 'DDmakes_nwse'
par_nwse_col_loc = stdhrs.columns.get_loc('Par_nwse') # column number of 'Par_nwse'
checkpoint_after_every = 1000
df

                     ref hand_record_id  event_id Board  EventBoard Dealer   Vul                                                   board_record_string                                                                                         Hands                                            Par Par_nwse                                                                       DDmakes DDmakes_nwse  DD_N_C  DD_N_D  DD_N_H  DD_N_S  DD_N_N  DD_E_C  DD_E_D  DD_E_H  DD_E_S  DD_E_N  DD_S_C  DD_S_D  DD_S_H  DD_S_S  DD_S_N  DD_W_C  DD_W_D  DD_W_H  DD_W_S  DD_W_N                                                                                            Hands_Bin                                                    HB_N                                                    HB_E                                                    HB_S                                                    HB_W                                                                               HCP  HCP_N  HCP_N_S  HCP_N_H  HCP_N_D  HCP_N_C  HCP_E  HCP_E_S  HCP_E_H  HCP_E_D  HCP_E_C  HCP_S  HCP_S_S  HCP_S_H  HCP_S_D  HCP_S_C  HCP_W  HCP_W_S  HCP_W_H  HCP_W_D  HCP_W_C                                                                                                   QT  ...  CT_NS_S  CT_NS_N  CT_EW_C  CT_EW_D  CT_EW_H  CT_EW_S  CT_EW_N  CT_NS_C_Pass  CT_NS_C_Partial  CT_NS_C_Game  CT_NS_C_SSlam  CT_NS_C_GSlam  CT_NS_D_Pass  CT_NS_D_Partial  CT_NS_D_Game  CT_NS_D_SSlam  CT_NS_D_GSlam  CT_NS_H_Pass  CT_NS_H_Partial  CT_NS_H_Game CT_NS_H_SSlam  CT_NS_H_GSlam  CT_NS_S_Pass  CT_NS_S_Partial  CT_NS_S_Game  CT_NS_S_SSlam  CT_NS_S_GSlam  CT_NS_N_Pass  CT_NS_N_Partial  CT_NS_N_Game  CT_NS_N_SSlam  CT_NS_N_GSlam  CT_EW_C_Pass  CT_EW_C_Partial  CT_EW_C_Game  CT_EW_C_SSlam  CT_EW_C_GSlam  CT_EW_D_Pass  CT_EW_D_Partial  CT_EW_D_Game  CT_EW_D_SSlam  CT_EW_D_GSlam  CT_EW_H_Pass  CT_EW_H_Partial  CT_EW_H_Game  CT_EW_H_SSlam  CT_EW_H_GSlam  CT_EW_S_Pass  CT_EW_S_Partial  CT_EW_S_Game  CT_EW_S_SSlam  CT_EW_S_GSlam  CT_EW_N_Pass  CT_EW_N_Partial  CT_EW_N_Game  CT_EW_N_SSlam  CT_EW_N_GSlam  Vul_NS  Vul_EW  Par+nwse
221      (acbl, 6977301)         275201    380372    04  210830A_04      W  Both  SQJ65HA876DT865C2ST93H9DKJ43CAKQ85SK872HJ5DAQ7CT974SA4HKQT432D92CJ63  ((QJ65, A876, T865, 2), (K872, J5, AQ7, T974), (A4, KQT432, 92, J63), (T93, 9, KJ43, AKQ85))                      (200, [(5, C, *, E, -1)])     None       ((3, 4, 10, 5, 4), (10, 9, 3, 8, 5), (3, 4, 10, 5, 4), (9, 8, 3, 8, 5))         None       3       4      10       5       4      10       9       3       8       5       3       4      10       5       4       9       8       3       8       5  ((0b11000011000100000111000000001010110000000000000001, (0b11000011000, 0b1000001110000, 0b10101...    0b11000011000100000111000000001010110000000000000001   0b100001100001000100000100010100001000000000110100100  0b1000000000100011010000011100000100000010001000010010      0b110000010000001000000001010000001101110001001000   ((7, (3, 4, 0, 0)), (10, (3, 1, 6, 0)), (10, (4, 5, 0, 1)), (13, (0, 0, 4, 9)))      7        3        4        0        0     10        3        1        6        0     10        4        5        0        1     13        0        0        4        9        (7.5, ((1, (0, 1, 0, 0)), (2.0, (0.5, 0, 1.5, 0)), (2, (1, 1, 0, 0)), (2.5, (0, 0, 0.5, 2))))  ...     Pass     Pass  Partial  Partial     Pass  Partial     Pass          True            False         False          False          False          True            False         False          False          False         False            False          True         False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False         False             True         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False    True    True       NaN
222      (acbl, 6977304)         275201    380372    07  210830A_07      S  Both  SA72HA8432D3CQT65S9HKJ75DAKQJ4CA43SKQ43HQ9D95CKJ982SJT865HT6DT8762C7  ((A72, A8432, 3, QT65), (KQ43, Q9, 95, KJ982), (JT865, T6, T8762, 7), (9, KJ75, AKQJ4, A43))                      (-660, [(3, N, , EW, 2)])     None    ((2, 3, 3, 5, 2), (11, 10, 9, 7, 11), (2, 3, 3, 5, 2), (11, 10, 9, 7, 11))         None       2       3       3       5       2      11      10       9       7      11       2       3       3       5       2      11      10       9       7      11  ((0b1000000100001100000100011100000000000100010100011000, (0b1000000100001, 0b1000001000111, 0b1...  0b1000000100001100000100011100000000000100010100011000   0b110000000110001001000000000000100010000101011000001     0b1101011000000010001000000001011100010000000100000       0b10000000010100010100011110000001001000000000110  ((10, (4, 4, 0, 2)), (11, (5, 2, 0, 4)), (1, (1, 0, 0, 0)), (18, (0, 4, 10, 4)))     10        4        4        0        2     11        5        2        0        4      1        1        0        0        0     18        0        4       10        4          (7.0, ((2, (1, 1, 0, 0)), (1.5, (1, 0, 0, 0.5)), (0, (0, 0, 0, 0)), (3.5, (0, 0.5, 2, 1))))  ...     Pass     Pass     Game  Partial  Partial  Partial     Game          True            False         False          False          False          True            False         False          False          False          True            False         False         False          False          True            False         False          False          False          True            False         False          False          False         False            False          True          False          False         False             True         False          False          False         False             True         False          False          False         False             True         False          False          False         False            False          True          False          False    True    True       NaN
223      (acbl, 6977307)         275201    380372    10  210830A_10      E  Both  SA9543HAK5DQ8CQ42SK862HT98DAJT43CJSJH632DK952CAK987SQT7HQJ74D76CT653  ((A9543, AK5, Q8, Q42), (J, 632, K952, AK987), (QT7, QJ74, 76, T653), (K862, T98, AJT43, J))                      (-110, [(3, D, , EW, 0)])     None          ((5, 2, 7, 8, 6), (6, 9, 5, 5, 6), (5, 2, 7, 8, 6), (6, 9, 5, 5, 6))         None       5       2       7       8       6       6       9       5       5       6       5       2       7       8       6       6       9       5       5       6  ((0b1000010001110110000000100000100010000000010000000101, (0b1000010001110, 0b1100000001000, 0b1...  0b1000010001110110000000100000100010000000010000000101     0b1000000000000000001001101000100010011100011100000    0b10100100000001100010010000000001100000000100011010   0b100001010001000011100000010011000001100001000000000    ((15, (4, 7, 2, 2)), (11, (1, 0, 3, 7)), (5, (2, 3, 0, 0)), (9, (3, 0, 5, 1)))     15        4        7        2        2     11        1        0        3        7      5        2        3        0        0      9        3        0        5        1          (7.0, ((3, (1, 2, 0, 0)), (2.5, (0, 0, 0.5, 2)), (0, (0, 0, 0, 0)), (1.5, (0.5, 0, 1, 0))))  ...  Partial     Pass     Pass  Partial     Pass     Pass     Pass          True            False         False          False          False          True            False         False          False          False         False             True         False         False          False         False             True         False          False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False    True    True       NaN
224      (acbl, 6977310)         275201    380372    13  210830A_13      N  Both  SJT96HKQJD94CQJ65SKQ84H93DAJ86CAK7SA5H8752DKQ753C43S732HAT64DT2CT982  ((JT96, KQJ, 94, QJ65), (A5, 8752, KQ753, 43), (732, AT64, T2, T982), (KQ84, 93, AJ86, AK7))     (-600, [(5, D, , EW, 0), (3, N, , EW, 0)])     None        ((5, 2, 5, 3, 3), (7, 11, 8, 9, 9), (5, 2, 5, 3, 3), (7, 11, 8, 9, 9))         None       5       2       5       3       3       7      11       8       9       9       5       2       5       3       3       7      11       8       9       9  ((0b1110010000011100000000000000100001000011000011000, (0b1110010000, 0b111000000000, 0b10000100...     0b1110010000011100000000000000100001000011000011000  0b1000000001000000000110100101100001010100000000000110         0b100011100010001010000001000000010000111000001   0b110001000100000001000001010010010100001100000100000    ((10, (1, 6, 0, 3)), (9, (4, 0, 5, 0)), (4, (0, 4, 0, 0)), (17, (5, 0, 5, 7)))     10        1        6        0        3      9        4        0        5        0      4        0        4        0        0     17        5        0        5        7                    (8, ((1, (0, 1, 0, 0)), (2, (1, 0, 1, 0)), (1, (0, 1, 0, 0)), (4, (1, 0, 1, 2))))  ...     Pass     Pass  Partial     Game  Partial  Partial     Game          True            False         False          False          False          True            False         False          False          False          True            False         False         False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False         False            False          True          False          False         False             True         False          False          False         False             True         False          False          False         False            False          True          False          False    True    True       NaN
225      (acbl, 6977317)         275201    380372    20  210830A_20      W  Both  SQT9H763DACQJ9765SJ7HJTDKQJT98CAT2SK532HKQ842D65CK4SA864HA95D7432C83  ((QT9, 763, A, QJ9765), (K532, KQ842, 65, K4), (A864, A95, 7432, 83), (J7, JT, KQJT98, AT2))                      (-120, [(2, N, , EW, 0)])     None          ((8, 3, 5, 6, 4), (5, 9, 7, 6, 8), (8, 3, 5, 6, 4), (5, 9, 7, 6, 8))         None       8       3       5       6       4       5       9       7       6       8       8       3       5       6       4       5       9       7       6       8  ((0b10110000000000000011001010000000000000011010111000, (0b10110000000, 0b110010, 0b100000000000...    0b10110000000000000011001010000000000000011010111000   0b100000001011011000100010100000000110000100000000100  0b1000001010100100001000100000000001001110000001000010     0b1000100000000110000000001111110000001000100000001    ((9, (2, 0, 4, 3)), (11, (3, 5, 0, 3)), (8, (4, 4, 0, 0)), (12, (1, 1, 6, 4)))      9        2        0        4        3     11        3        5        0        3      8        4        4        0        0     12        1        1        6        4            (7.0, ((1, (0, 0, 1, 0)), (2.0, (0.5, 1, 0, 0.5)), (2, (1, 1, 0, 0)), (2, (0, 0, 1, 1))))  ...     Pass     Pass     Pass  Partial  Partial     Pass  Partial         False             True         False          False          False          True            False         False          False          False          True            False         False         False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False         False             True         False          False          False          True            False         False          False          False         False             True         False          False          False    True    True       NaN
226      (acbl, 6977320)         275201    380372    23  210830A_23      S  Both  SKT985H98DAK7CK64SJ643H632DQJTC853SHAJT7D9654CAQJ97SAQ72HKQ54D832CT2  ((KT985, 98, AK7, K64), (, AJT7, 9654, AQJ97), (AQ72, KQ54, 832, T2), (J643, 632, QJT, 853))                       (620, [(4, S, , NS, 0)])     None        ((5, 7, 7, 10, 8), (8, 5, 6, 3, 4), (5, 6, 6, 10, 8), (8, 5, 6, 3, 4))         None       5       7       7      10       8       8       5       6       3       4       5       6       6      10       8       8       5       6       3       4  ((0b100111001000000001100000011000001000000100000010100, (0b100111001000, 0b11000000, 0b11000001...   0b100111001000000001100000011000001000000100000010100               0b100110010000000000100111001011010100000  0b1010000100001011000000110000000010000110000100000001     0b1000010110000000001001100111000000000000001001010   ((13, (3, 0, 7, 3)), (12, (0, 5, 0, 7)), (11, (6, 5, 0, 0)), (4, (1, 0, 3, 0)))     13        3        0        7        3     12        0        5        0        7     11        6        5        0        0      4        1        0        3        0    (8.0, ((3.0, (0.5, 0, 2, 0.5)), (2.5, (0, 1, 0, 1.5)), (2.5, (1.5, 1, 0, 0)), (0, (0, 0, 0, 0))))  ...     Game  Partial  Partial     Pass     Pass     Pass     Pass          True            False         False          False          False         False             True         False          False          False         False             True         False         False          False         False            False          True          False          False         False             True         False          False          False         False             True         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False    True    True       NaN
227      (acbl, 6977323)         275201    380372    26  210830A_26      E  Both  SAT742H64DCAQJ832S63HA873D98642C76SKQHT52DKQ73CKT54SJ985HKQJ9DAJT5C9  ((AT742, 64, , AQJ832), (KQ, T52, KQ73, KT54), (J985, KQJ9, AJT5, 9), (63, A873, 98642, 76))                       (650, [(4, S, , NS, 1)])     None        ((9, 7, 9, 11, 9), (4, 6, 3, 2, 4), (9, 7, 9, 11, 9), (4, 6, 4, 2, 4))         None       9       7       9      11       9       4       6       3       2       4       9       7       9      11       9       4       6       4       2       4  ((0b1000100100101000000001010000000000000001011001000011, (0b1000100100101, 0b10100, 0b0, 0b1011...  0b1000100100101000000001010000000000000001011001000011   0b110000000000000010000100101100001000100100100001100     0b1011001000011101000000010011000010000000010000000          0b10010100000110001000000110101010000000110000   ((11, (4, 0, 0, 7)), (13, (5, 0, 5, 3)), (12, (1, 6, 5, 0)), (4, (0, 4, 0, 0)))     11        4        0        0        7     13        5        0        5        3     12        1        6        5        0      4        0        4        0        0          (8.0, ((2.5, (1, 0, 0, 1.5)), (2.5, (1, 0, 1, 0.5)), (2, (0, 1, 1, 0)), (1, (0, 1, 0, 0))))  ...     Game     Game     Pass     Pass     Pass     Pass     Pass         False             True         False          False          False         False             True         False          False          False         False             True         False         False          False         False            False          True          False          False         False            False          True          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False    True    True       NaN
228      (acbl, 6977326)         275201    380372    29  210830A_29      N  Both  SQJ63HA6DKJ54CKQ8SKT5HJT432DA86C64SA94H95DTCAJT7532S872HKQ87DQ9732C9  ((QJ63, A6, KJ54, KQ8), (A94, 95, T, AJT7532), (872, KQ87, Q9732, 9), (KT5, JT432, A86, 64))                       (110, [(3, D, , NS, 0)])     None          ((4, 9, 6, 6, 4), (9, 4, 6, 6, 5), (4, 9, 5, 6, 4), (9, 4, 6, 6, 5))         None       4       9       6       6       4       9       4       6       6       5       4       9       5       6       4       9       4       6       6       5  ((0b11000010010100000001000001010000011000110001000000, (0b11000010010, 0b1000000010000, 0b10100...    0b11000010010100000001000001010000011000110001000000  0b1000010000100000001000100000001000000001001100101011        0b1100001011000110000000100101000110000010000000   0b100100001000000110000011110000010100000000000010100     ((16, (3, 4, 4, 5)), (9, (4, 0, 0, 5)), (7, (0, 5, 2, 0)), (8, (3, 1, 4, 0)))     16        3        4        4        5      9        4        0        0        5      7        0        5        2        0      8        3        1        4        0          (7.0, ((2.5, (0, 1, 0.5, 1)), (2, (1, 0, 0, 1)), (1, (0, 1, 0, 0)), (1.5, (0.5, 0, 1, 0))))  ...     Pass     Pass  Partial     Pass     Pass     Pass     Pass          True            False         False          False          False         False             True         False          False          False          True            False         False         False          False          True            False         False          False          False          True            False         False          False          False         False             True         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False          True            False         False          False          False    True    True       NaN

In [94]:
# Perform dd and par calcs. Restartable.
# todo: implement direction in pbn. always using 'N:' for now.
# todo: some pars in acbl_hand_records.pkl are incorrect due to ignoring of vul. Need to correct pkl in previous step.
import numpy as np

for n,grp_start in enumerate(range(starting_handno,nhands,max_tables)):
    n += 1
    grp_count = min(nhands-grp_start,max_tables)
    DDdealsPBN.noOfTables = grp_count
    print(f'Processing group:{n} hands:{grp_start} to {grp_start+grp_count} of {nhands}')
    for handno in range(grp_count):
        r = df.iloc[grp_start+handno]
        nwse_tuple = tuple(r['Hands'][hand] for hand in [0,3,2,1])
        pbn = 'N:'+' '.join('.'.join([suit for suit in suits]) for suits in nwse_tuple)
        assert len(pbn) == 1+1+13*4+3*4+3, len(pbn) # 69=='N'+':'+(13 cards per hand)+(3 '.' per suit per hand)+3 spaces
        pbn_encoded = pbn.encode()
        #print(len(pbn),pbn,pbn_encoded)
        DDdealsPBN.deals[handno].cards = pbn_encoded

    # CalcAllTablesPBN will do multi-threading
    res = dds.CalcAllTablesPBN(ctypes.pointer(DDdealsPBN), mode, trumpFilter, ctypes.pointer(tableRes), ctypes.pointer(pres))

    if res != dds.RETURN_NO_FAULT:
        dds.ErrorMessage(res, line)
        print(f'CalcAllTablesPBN: DDS error: {line.value.decode("utf-8")}')
        assert False, grp_start
    
    for handno in range(0, grp_count):
        r = df.iloc[grp_start+handno]
        #display(r)
        ref = r['ref'][1]
        dealer = r['Dealer']
        assert dealer in 'NESW'
        vul = r['Vul']
        assert vul in ['None','N_S','E_W','Both'], r
        par = r['Par']
        assert type(par) is tuple, r
        assert len(par) == 2, r
        assert type(par[0]) is int, r
        assert type(par[1]) is list, r
        assert len(par[1]) > 0, r
        par_result = ctypes.pointer(presmaster)
        dd_result = ctypes.pointer(tableRes.results[handno])

        # Par calculations are not multi-threading
        res = dds.DealerParBin(dd_result, par_result, dealer_d[dealer], vul_d[vul])
        if res != dds.RETURN_NO_FAULT:
            dds.ErrorMessage(res, line)
            print(f'DealerParBin: DDS error: {line.value.decode("utf-8")}')
            assert False, r

        score = par_result.contents.score
        if score == 0:
            pars_nwse = (0, [(0, '', '', '', 0)]) # par score is for everyone to pass (1 out of 100,000)
        else:
            assert par_result.contents.number > 0, r
            pars_nwse = (score,[])
            for i in range(par_result.contents.number):
                ct = par_result.contents.contracts[i]    
                #print(f'Par[{i}]: underTricks:{ct.underTricks} overTricks:{ct.overTricks} level:{ct.level} denom:{ct.denom} seats:{ct.seats}')
                assert ct.underTricks == 0 or ct.overTricks == 0
                pars_nwse[1].append((ct.level,denom[ct.denom],'*' if ct.underTricks else '',seats[ct.seats],ct.overTricks-ct.underTricks))

        #functions.PrintPBNHand(f'Group:{n} Hand:{grp_start+handno+1}/{nhands} ACBL Ref:{ref} Vul:{vul}', DDdealsPBN.deals[handno].cards)
        #functions.PrintTable(dd_result)
        DDtable_nwse = tuple(tuple(dd_result.contents.resTable[suit][pl] for suit in [3,2,1,0,4]) for pl in range(4))
        stdhrs.iat[r.name,dd_nwse_col_loc] = DDtable_nwse # updating must use stdhrs.iat instead of r.iloc or r.at.
        #print(type(np.array(pars_nwse)),np.array(pars_nwse))
        stdhrs.iat[r.name,par_nwse_col_loc] = pars_nwse # updating must use stdhrs.iat instead of r.iloc or r.at.
        #display(df.head()) #.iloc[grp_start+handno])
    if n%checkpoint_after_every == 0: # save every 1000 groups
        display(df.iloc[grp_start+handno])
        acbl_hand_records_dd_experiments_df = acblPath.joinpath('acbl_hand_records_dd_experiments.pkl')
        df.to_pickle(acbl_hand_records_dd_experiments_df) # takes 40s
        print(f'Checkpoint at group {n}: df written to {acbl_hand_records_dd_experiments_df}')
        starting_handno = grp_start
starting_handno = nhands

Processing group:1 hands:0 to 40 of 180019

C:\Users\bsali\anaconda3\envs\bridge\lib\site-packages\pandas\core\dtypes\cast.py:881: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  element = np.asarray(element)
C:\Users\bsali\anaconda3\envs\bridge\lib\site-packages\pandas\core\internals\blocks.py:938: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)

Processing group:2 hands:40 to 80 of 180019
Processing group:3 hands:80 to 120 of 180019
Processing group:4 hands:120 to 160 of 180019
Processing group:5 hands:160 to 200 of 180019
Processing group:6 hands:200 to 240 of 180019
Processing group:7 hands:240 to 280 of 180019
Processing group:8 hands:280 to 320 of 180019
Processing group:9 hands:320 to 360 of 180019
Processing group:10 hands:360 to 400 of 180019
Processing group:11 hands:400 to 440 of 180019
Processing group:12 hands:440 to 480 of 180019
Processing group:13 hands:480 to 520 of 180019
Processing group:14 hands:520 to 560 of 180019
Processing group:15 hands:560 to 600 of 180019
Processing group:16 hands:600 to 640 of 180019
Processing group:17 hands:640 to 680 of 180019
Processing group:18 hands:680 to 720 of 180019
Processing group:19 hands:720 to 760 of 180019
Processing group:20 hands:760 to 800 of 180019
Processing group:21 hands:800 to 840 of 180019
Processing group:22 hands:840 to 880 of 180019
Processing group:23 hands:880 to 920 of 180019
Processing group:24 hands:920 to 960 of 180019
Processing group:25 hands:960 to 1000 of 180019
Processing group:26 hands:1000 to 1040 of 180019
Processing group:27 hands:1040 to 1080 of 180019
Processing group:28 hands:1080 to 1120 of 180019
Processing group:29 hands:1120 to 1160 of 180019
Processing group:30 hands:1160 to 1200 of 180019
Processing group:31 hands:1200 to 1240 of 180019
Processing group:32 hands:1240 to 1280 of 180019
Processing group:33 hands:1280 to 1320 of 180019
Processing group:34 hands:1320 to 1360 of 180019
Processing group:35 hands:1360 to 1400 of 180019
Processing group:36 hands:1400 to 1440 of 180019
Processing group:37 hands:1440 to 1480 of 180019
Processing group:38 hands:1480 to 1520 of 180019
Processing group:39 hands:1520 to 1560 of 180019
Processing group:40 hands:1560 to 1600 of 180019
Processing group:41 hands:1600 to 1640 of 180019
Processing group:42 hands:1640 to 1680 of 180019
Processing group:43 hands:1680 to 1720 of 180019
Processing group:44 hands:1720 to 1760 of 180019
Processing group:45 hands:1760 to 1800 of 180019
Processing group:46 hands:1800 to 1840 of 180019
Processing group:47 hands:1840 to 1880 of 180019
Processing group:48 hands:1880 to 1920 of 180019
Processing group:49 hands:1920 to 1960 of 180019
Processing group:50 hands:1960 to 2000 of 180019
Processing group:51 hands:2000 to 2040 of 180019
Processing group:52 hands:2040 to 2080 of 180019
Processing group:53 hands:2080 to 2120 of 180019
Processing group:54 hands:2120 to 2160 of 180019
Processing group:55 hands:2160 to 2200 of 180019
Processing group:56 hands:2200 to 2240 of 180019
Processing group:57 hands:2240 to 2280 of 180019
Processing group:58 hands:2280 to 2320 of 180019
Processing group:59 hands:2320 to 2360 of 180019
Processing group:60 hands:2360 to 2400 of 180019
Processing group:61 hands:2400 to 2440 of 180019
Processing group:62 hands:2440 to 2480 of 180019
Processing group:63 hands:2480 to 2520 of 180019
Processing group:64 hands:2520 to 2560 of 180019
Processing group:65 hands:2560 to 2600 of 180019
Processing group:66 hands:2600 to 2640 of 180019
Processing group:67 hands:2640 to 2680 of 180019
Processing group:68 hands:2680 to 2720 of 180019
Processing group:69 hands:2720 to 2760 of 180019
Processing group:70 hands:2760 to 2800 of 180019
Processing group:71 hands:2800 to 2840 of 180019
Processing group:72 hands:2840 to 2880 of 180019
Processing group:73 hands:2880 to 2920 of 180019
Processing group:74 hands:2920 to 2960 of 180019
Processing group:75 hands:2960 to 3000 of 180019
Processing group:76 hands:3000 to 3040 of 180019
Processing group:77 hands:3040 to 3080 of 180019
Processing group:78 hands:3080 to 3120 of 180019
Processing group:79 hands:3120 to 3160 of 180019
Processing group:80 hands:3160 to 3200 of 180019
Processing group:81 hands:3200 to 3240 of 180019
Processing group:82 hands:3240 to 3280 of 180019
Processing group:83 hands:3280 to 3320 of 180019
Processing group:84 hands:3320 to 3360 of 180019
Processing group:85 hands:3360 to 3400 of 180019
Processing group:86 hands:3400 to 3440 of 180019
Processing group:87 hands:3440 to 3480 of 180019
Processing group:88 hands:3480 to 3520 of 180019
Processing group:89 hands:3520 to 3560 of 180019
Processing group:90 hands:3560 to 3600 of 180019
Processing group:91 hands:3600 to 3640 of 180019
Processing group:92 hands:3640 to 3680 of 180019
Processing group:93 hands:3680 to 3720 of 180019
Processing group:94 hands:3720 to 3760 of 180019
Processing group:95 hands:3760 to 3800 of 180019
Processing group:96 hands:3800 to 3840 of 180019
Processing group:97 hands:3840 to 3880 of 180019
Processing group:98 hands:3880 to 3920 of 180019
Processing group:99 hands:3920 to 3960 of 180019
Processing group:100 hands:3960 to 4000 of 180019
Processing group:101 hands:4000 to 4040 of 180019
Processing group:102 hands:4040 to 4080 of 180019
Processing group:103 hands:4080 to 4120 of 180019
Processing group:104 hands:4120 to 4160 of 180019
Processing group:105 hands:4160 to 4200 of 180019
Processing group:106 hands:4200 to 4240 of 180019
Processing group:107 hands:4240 to 4280 of 180019
Processing group:108 hands:4280 to 4320 of 180019
Processing group:109 hands:4320 to 4360 of 180019
Processing group:110 hands:4360 to 4400 of 180019
Processing group:111 hands:4400 to 4440 of 180019
Processing group:112 hands:4440 to 4480 of 180019
Processing group:113 hands:4480 to 4520 of 180019
Processing group:114 hands:4520 to 4560 of 180019
Processing group:115 hands:4560 to 4600 of 180019
Processing group:116 hands:4600 to 4640 of 180019
Processing group:117 hands:4640 to 4680 of 180019
Processing group:118 hands:4680 to 4720 of 180019
Processing group:119 hands:4720 to 4760 of 180019
Processing group:120 hands:4760 to 4800 of 180019
Processing group:121 hands:4800 to 4840 of 180019
Processing group:122 hands:4840 to 4880 of 180019
Processing group:123 hands:4880 to 4920 of 180019
Processing group:124 hands:4920 to 4960 of 180019
Processing group:125 hands:4960 to 5000 of 180019
Processing group:126 hands:5000 to 5040 of 180019
Processing group:127 hands:5040 to 5080 of 180019
Processing group:128 hands:5080 to 5120 of 180019
Processing group:129 hands:5120 to 5160 of 180019
Processing group:130 hands:5160 to 5200 of 180019
Processing group:131 hands:5200 to 5240 of 180019
Processing group:132 hands:5240 to 5280 of 180019
Processing group:133 hands:5280 to 5320 of 180019
Processing group:134 hands:5320 to 5360 of 180019
Processing group:135 hands:5360 to 5400 of 180019
Processing group:136 hands:5400 to 5440 of 180019
Processing group:137 hands:5440 to 5480 of 180019
Processing group:138 hands:5480 to 5520 of 180019
Processing group:139 hands:5520 to 5560 of 180019
Processing group:140 hands:5560 to 5600 of 180019
Processing group:141 hands:5600 to 5640 of 180019
Processing group:142 hands:5640 to 5680 of 180019
Processing group:143 hands:5680 to 5720 of 180019
Processing group:144 hands:5720 to 5760 of 180019
Processing group:145 hands:5760 to 5800 of 180019
Processing group:146 hands:5800 to 5840 of 180019
Processing group:147 hands:5840 to 5880 of 180019
Processing group:148 hands:5880 to 5920 of 180019
Processing group:149 hands:5920 to 5960 of 180019
Processing group:150 hands:5960 to 6000 of 180019
Processing group:151 hands:6000 to 6040 of 180019
Processing group:152 hands:6040 to 6080 of 180019
Processing group:153 hands:6080 to 6120 of 180019
Processing group:154 hands:6120 to 6160 of 180019
Processing group:155 hands:6160 to 6200 of 180019
Processing group:156 hands:6200 to 6240 of 180019
Processing group:157 hands:6240 to 6280 of 180019
Processing group:158 hands:6280 to 6320 of 180019
Processing group:159 hands:6320 to 6360 of 180019
Processing group:160 hands:6360 to 6400 of 180019
Processing group:161 hands:6400 to 6440 of 180019
Processing group:162 hands:6440 to 6480 of 180019
Processing group:163 hands:6480 to 6520 of 180019
Processing group:164 hands:6520 to 6560 of 180019
Processing group:165 hands:6560 to 6600 of 180019
Processing group:166 hands:6600 to 6640 of 180019
Processing group:167 hands:6640 to 6680 of 180019
Processing group:168 hands:6680 to 6720 of 180019

Processing group:169 hands:6720 to 6760 of 180019
Processing group:170 hands:6760 to 6800 of 180019
Processing group:171 hands:6800 to 6840 of 180019
Processing group:172 hands:6840 to 6880 of 180019
Processing group:173 hands:6880 to 6920 of 180019
Processing group:174 hands:6920 to 6960 of 180019
Processing group:175 hands:6960 to 7000 of 180019
Processing group:176 hands:7000 to 7040 of 180019
Processing group:177 hands:7040 to 7080 of 180019
Processing group:178 hands:7080 to 7120 of 180019
Processing group:179 hands:7120 to 7160 of 180019
Processing group:180 hands:7160 to 7200 of 180019
Processing group:181 hands:7200 to 7240 of 180019
Processing group:182 hands:7240 to 7280 of 180019
Processing group:183 hands:7280 to 7320 of 180019
Processing group:184 hands:7320 to 7360 of 180019
Processing group:185 hands:7360 to 7400 of 180019
Processing group:186 hands:7400 to 7440 of 180019
Processing group:187 hands:7440 to 7480 of 180019
Processing group:188 hands:7480 to 7520 of 180019
Processing group:189 hands:7520 to 7560 of 180019
Processing group:190 hands:7560 to 7600 of 180019
Processing group:191 hands:7600 to 7640 of 180019
Processing group:192 hands:7640 to 7680 of 180019
Processing group:193 hands:7680 to 7720 of 180019
Processing group:194 hands:7720 to 7760 of 180019
Processing group:195 hands:7760 to 7800 of 180019
Processing group:196 hands:7800 to 7840 of 180019
Processing group:197 hands:7840 to 7880 of 180019
Processing group:198 hands:7880 to 7920 of 180019
Processing group:199 hands:7920 to 7960 of 180019
Processing group:200 hands:7960 to 8000 of 180019
Processing group:201 hands:8000 to 8040 of 180019
Processing group:202 hands:8040 to 8080 of 180019
Processing group:203 hands:8080 to 8120 of 180019
Processing group:204 hands:8120 to 8160 of 180019
Processing group:205 hands:8160 to 8200 of 180019
Processing group:206 hands:8200 to 8240 of 180019
Processing group:207 hands:8240 to 8280 of 180019
Processing group:208 hands:8280 to 8320 of 180019
Processing group:209 hands:8320 to 8360 of 180019
Processing group:210 hands:8360 to 8400 of 180019
Processing group:211 hands:8400 to 8440 of 180019
Processing group:212 hands:8440 to 8480 of 180019
Processing group:213 hands:8480 to 8520 of 180019
Processing group:214 hands:8520 to 8560 of 180019
Processing group:215 hands:8560 to 8600 of 180019
Processing group:216 hands:8600 to 8640 of 180019
Processing group:217 hands:8640 to 8680 of 180019
Processing group:218 hands:8680 to 8720 of 180019
Processing group:219 hands:8720 to 8760 of 180019
Processing group:220 hands:8760 to 8800 of 180019
Processing group:221 hands:8800 to 8840 of 180019
Processing group:222 hands:8840 to 8880 of 180019
Processing group:223 hands:8880 to 8920 of 180019
Processing group:224 hands:8920 to 8960 of 180019
Processing group:225 hands:8960 to 9000 of 180019
Processing group:226 hands:9000 to 9040 of 180019
Processing group:227 hands:9040 to 9080 of 180019
Processing group:228 hands:9080 to 9120 of 180019
Processing group:229 hands:9120 to 9160 of 180019
Processing group:230 hands:9160 to 9200 of 180019
Processing group:231 hands:9200 to 9240 of 180019
Processing group:232 hands:9240 to 9280 of 180019
Processing group:233 hands:9280 to 9320 of 180019
Processing group:234 hands:9320 to 9360 of 180019
Processing group:235 hands:9360 to 9400 of 180019
Processing group:236 hands:9400 to 9440 of 180019
Processing group:237 hands:9440 to 9480 of 180019
Processing group:238 hands:9480 to 9520 of 180019
Processing group:239 hands:9520 to 9560 of 180019
Processing group:240 hands:9560 to 9600 of 180019
Processing group:241 hands:9600 to 9640 of 180019
Processing group:242 hands:9640 to 9680 of 180019
Processing group:243 hands:9680 to 9720 of 180019
Processing group:244 hands:9720 to 9760 of 180019
Processing group:245 hands:9760 to 9800 of 180019
Processing group:246 hands:9800 to 9840 of 180019
Processing group:247 hands:9840 to 9880 of 180019
Processing group:248 hands:9880 to 9920 of 180019
Processing group:249 hands:9920 to 9960 of 180019
Processing group:250 hands:9960 to 10000 of 180019
Processing group:251 hands:10000 to 10040 of 180019
Processing group:252 hands:10040 to 10080 of 180019
Processing group:253 hands:10080 to 10120 of 180019
Processing group:254 hands:10120 to 10160 of 180019
Processing group:255 hands:10160 to 10200 of 180019
Processing group:256 hands:10200 to 10240 of 180019
Processing group:257 hands:10240 to 10280 of 180019
Processing group:258 hands:10280 to 10320 of 180019
Processing group:259 hands:10320 to 10360 of 180019
Processing group:260 hands:10360 to 10400 of 180019
Processing group:261 hands:10400 to 10440 of 180019
Processing group:262 hands:10440 to 10480 of 180019
Processing group:263 hands:10480 to 10520 of 180019
Processing group:264 hands:10520 to 10560 of 180019
Processing group:265 hands:10560 to 10600 of 180019
Processing group:266 hands:10600 to 10640 of 180019
Processing group:267 hands:10640 to 10680 of 180019
Processing group:268 hands:10680 to 10720 of 180019
Processing group:269 hands:10720 to 10760 of 180019
Processing group:270 hands:10760 to 10800 of 180019
Processing group:271 hands:10800 to 10840 of 180019
Processing group:272 hands:10840 to 10880 of 180019
Processing group:273 hands:10880 to 10920 of 180019
Processing group:274 hands:10920 to 10960 of 180019
Processing group:275 hands:10960 to 11000 of 180019
Processing group:276 hands:11000 to 11040 of 180019
Processing group:277 hands:11040 to 11080 of 180019
Processing group:278 hands:11080 to 11120 of 180019
Processing group:279 hands:11120 to 11160 of 180019
Processing group:280 hands:11160 to 11200 of 180019
Processing group:281 hands:11200 to 11240 of 180019
Processing group:282 hands:11240 to 11280 of 180019
Processing group:283 hands:11280 to 11320 of 180019
Processing group:284 hands:11320 to 11360 of 180019
Processing group:285 hands:11360 to 11400 of 180019
Processing group:286 hands:11400 to 11440 of 180019
Processing group:287 hands:11440 to 11480 of 180019
Processing group:288 hands:11480 to 11520 of 180019
Processing group:289 hands:11520 to 11560 of 180019
Processing group:290 hands:11560 to 11600 of 180019
Processing group:291 hands:11600 to 11640 of 180019
Processing group:292 hands:11640 to 11680 of 180019
Processing group:293 hands:11680 to 11720 of 180019

KeyboardInterrupt:

In [68]:
grp_start,handno

(0, 0)

In [89]:
type(r.name)

numpy.int64

In [93]:
stdhrs.at[221]

TypeError: _get_value() missing 1 required positional argument: 'col'

In [70]:
df.iloc[grp_start+handno:grp_start+handno+1].index

Int64Index([221], dtype='int64')

In [ ]:
# takes 40s
acbl_hand_records_dd_experiments_df = acblPath.joinpath('acbl_hand_records_dd_nwse_experiments.pkl')
stdhrs.to_pickle(acbl_hand_records_dd_experiments_df)

In [ ]:
error

In [ ]:
df2 = pd.DataFrame({'A':[0]})
df2.iat[0,0] = (0,[0])

In [ ]:
df2 = pd.DataFrame({'A':[tuple((1,[1]))]})
print(type(df2.iat[0,0]),df2.iat[0,0])
df2.iat[0,0] = tuple((2,[2]))
print(type(df2.iat[0,0]),df2.iat[0,0])

In [ ]:
df2 = pd.DataFrame({'A':[0]})
x = np.zeros(1, dtype = object)
x[0] = tuple((0,[0]))
df2.iat[0,0] = *x
df2